USE [db-au-atlas]
GO
/****** Object:  Table [atlas].[CaseContacts]    Script Date: 21/02/2025 11:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [atlas].[CaseContacts](
	[Id] [varchar](25) NOT NULL,
	[IsDeleted] [bit] NULL,
	[Currency_ISOCode] [varchar](10) NULL,
	[CreatedById] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedDate] [datetime] NULL,
	[LastModifiedById] [varchar](20) NULL,
	[LastReferencedDate] [datetime] NULL,
	[LastViewedDate] [datetime] NULL,
	[SystemModstamp] [datetime] NULL,
	[CaseContact_c] [varchar](25) NULL,
	[CaseRole_c] [varchar](50) NULL,
	[Case_c] [varchar](25) NULL,
	[Comments_c] [varchar](255) NULL,
	[ConsentProvidedToShareCaseDetails_c] [bit] NULL,
	[Name] [varchar](50) NULL,
	[RelationshipDetails_c] [varchar](255) NULL,
	[Relationship_c] [nvarchar](50) NULL,
	[SysStartTime] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[SysEndTime] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
 CONSTRAINT [PK_CaseContacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([SysStartTime], [SysEndTime])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON (HISTORY_TABLE = [atlas].[CaseContacts_Hist])
)
GO
ALTER TABLE [atlas].[CaseContacts]  WITH CHECK ADD  CONSTRAINT [FK_CaseContacts] FOREIGN KEY([Case_c])
REFERENCES [atlas].[Case] ([Id])
GO
ALTER TABLE [atlas].[CaseContacts] CHECK CONSTRAINT [FK_CaseContacts]
GO
ALTER TABLE [atlas].[CaseContacts]  WITH CHECK ADD  CONSTRAINT [FK_CaseContacts_Account] FOREIGN KEY([CaseContact_c])
REFERENCES [atlas].[Account] ([Id])
GO
ALTER TABLE [atlas].[CaseContacts] CHECK CONSTRAINT [FK_CaseContacts_Account]
GO
