USE [db-au-atlas]
GO
/****** Object:  Table [atlas].[Account]    Script Date: 21/02/2025 11:28:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [atlas].[Account](
	[Id] [varchar](25) NOT NULL,
	[IsDeleted] [bit] NULL,
	[Currency_ISOCode] [varchar](10) NULL,
	[CreatedById] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[LastModifiedDate] [datetime] NULL,
	[LastModifiedById] [varchar](20) NULL,
	[LastReferencedDate] [datetime] NULL,
	[LastViewedDate] [datetime] NULL,
	[Name] [varchar](255) NULL,
	[AccountNumber] [varchar](40) NULL,
	[Description] [varchar](8000) NULL,
	[OwnerId] [varchar](50) NULL,
	[BillingStreet] [varchar](255) NULL,
	[BillingCity] [varchar](40) NULL,
	[BillingCountry] [varchar](80) NULL,
	[BillingState] [varchar](80) NULL,
	[BillingPostalCode] [varchar](20) NULL,
	[BillingLatitude] [varchar](50) NULL,
	[BillingLongtitude] [varchar](50) NULL,
	[Fax] [varchar](25) NULL,
	[ParentId] [nvarchar](50) NULL,
	[Phone] [varchar](25) NULL,
	[ShippingStreet] [varchar](255) NULL,
	[ShippingCity] [varchar](40) NULL,
	[ShippingState] [varchar](80) NULL,
	[ShippingPostalCode] [varchar](20) NULL,
	[ShippingCountry] [varchar](80) NULL,
	[ShippingLatitude] [varchar](50) NULL,
	[ShippingLongtitude] [varchar](50) NULL,
	[LargeLossLimit_c] [money] NULL,
	[UnderwriterThreshold_c] [money] NULL,
	[PortalEnabled_c] [bit] NULL,
	[VOB_c] [varchar](50) NULL,
	[RecordTypeId] [varchar](50) NULL,
	[WTP_Care_Classification__c] [nvarchar](50) NULL,
	[WTP_DD_Form_Link_c] [varchar](8000) NULL,
	[WTP_Contract_Status_c] [nvarchar](50) NULL,
	[WTP_Country_Dialing_Code_c] [nvarchar](50) NULL,
	[IsCustomerPortal] [varchar](25) NULL,
	[PersonDoNotCall] [varchar](25) NULL,
	[WTP_Exclude_From_Search_c] [varchar](25) NULL,
	[WTP_Form_Type_c] [nvarchar](4000) NULL,
	[WTP_FormStatus_c] [varchar](8000) NULL,
	[Geocodes_c] [nvarchar](4000) NULL,
	[WTP_Guarantee_of_Payment_Accepted_c] [bit] NULL,
	[WTP_Languages_Spoken_c] [nvarchar](255) NULL,
	[WTP_Licence_Number_c] [varchar](100) NULL,
	[WTP_Accreditation_Type_c] [nvarchar](50) NULL,
	[WTP_Preferred_Provider_c] [bit] NULL,
	[WTP_Provider_Classification_c] [nvarchar](50) NULL,
	[WTP_Provider_Status_Icon_c] [varchar](8000) NULL,
	[WTP_Provider_Scoring_c] [varchar](8000) NULL,
	[Provider_Locale_c] [varchar](100) NULL,
	[WTP_DD_Form_Recipient_c] [varchar](255) NULL,
	[WTP_Provider_Ref_Number_c] [varchar](40) NULL,
	[WTP_Provider_Status_c] [nvarchar](50) NULL,
	[WTP_Provider_TimeZone_c] [nvarchar](255) NULL,
	[Provider_TimeZone_c] [varchar](100) NULL,
	[WTP_Provider_Type_c] [nvarchar](50) NULL,
	[WTP_Company_Registration_Number_c] [varchar](50) NULL,
	[WTP_Send_DD_Form_After_EOI_c] [bit] NULL,
	[WTP_Send_DD_Forms_c] [bit] NULL,
	[WTP_Audit_Completed_c] [nvarchar](50) NULL,
	[User_Responsibility_c] [bit] NULL,
	[UWRegion_c] [nvarchar](50) NULL,
	[DebtorCode_c] [varchar](255) NULL,
	[WTP_Operates_24_7_c] [bit] NULL,
	[PotentialFraudulent_c] [bit] NULL,
	[PotentialFraudReason_c] [varchar](8000) NULL,
	[SysStartTime] [datetime2](7) GENERATED ALWAYS AS ROW START NOT NULL,
	[SysEndTime] [datetime2](7) GENERATED ALWAYS AS ROW END NOT NULL,
	[LastReferenceDate] [datetime] NULL,
	[SystemModstamp] [datetime] NULL,
	[DeveloperName] [varchar](255) NULL,
	[MasterRecordId] [varchar](20) NULL,
	[ProgramCategory_c] [nvarchar](255) NULL,
 CONSTRAINT [PK_STG_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([SysStartTime], [SysEndTime])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON (HISTORY_TABLE = [atlas].[Account_Hist])
)
GO
