USE [db-au-cba]
GO
/****** Object:  View [dbo].[e5WorkProperties]    Script Date: 20/02/2025 10:13:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[e5WorkProperties] as select * from e5WorkProperties_v3;

GO
