USE [db-au-actuary]
GO
/****** Object:  Table [cng].[Policy_Month_Summary_Exposure_Table]    Script Date: 18/02/2025 12:14:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cng].[Policy_Month_Summary_Exposure_Table](
	[Date Type] [varchar](8) NOT NULL,
	[Domain Country] [varchar](2) NULL,
	[Policy Status] [varchar](50) NULL,
	[Policy Status Detailed] [varchar](32) NOT NULL,
	[UW Policy Status] [nvarchar](50) NULL,
	[UW Rating Group] [nvarchar](50) NULL,
	[JV Description] [nvarchar](100) NULL,
	[Outlet Channel] [nvarchar](100) NULL,
	[Product Code] [nvarchar](50) NULL,
	[Plan Code] [nvarchar](50) NULL,
	[Product Plan] [nvarchar](100) NULL,
	[Product Group] [nvarchar](100) NULL,
	[Policy Type] [nvarchar](50) NULL,
	[Plan Type] [nvarchar](50) NULL,
	[Trip Type] [nvarchar](50) NULL,
	[CFAR Flag] [varchar](3) NOT NULL,
	[Month] [datetime] NULL,
	[Year] [int] NULL,
	[Policy MED] [numeric](38, 13) NULL,
	[Policy CAN] [numeric](38, 13) NULL,
	[Policy ADD] [numeric](38, 13) NULL,
	[Policy LUG] [numeric](38, 13) NULL,
	[Policy MIS] [numeric](38, 13) NULL,
	[Policy] [numeric](38, 13) NULL,
	[Policy MED - Active] [numeric](38, 13) NULL,
	[Policy CAN - Active] [numeric](38, 13) NULL,
	[Policy ADD - Active] [numeric](38, 13) NULL,
	[Policy LUG - Active] [numeric](38, 13) NULL,
	[Policy MIS - Active] [numeric](38, 13) NULL,
	[Policy - Active] [numeric](38, 13) NULL,
	[Policy MED - Cancelled] [numeric](38, 13) NULL,
	[Policy CAN - Cancelled] [numeric](38, 13) NULL,
	[Policy ADD - Cancelled] [numeric](38, 13) NULL,
	[Policy LUG - Cancelled] [numeric](38, 13) NULL,
	[Policy MIS - Cancelled] [numeric](38, 13) NULL,
	[Policy - Cancelled] [numeric](38, 13) NULL,
	[Sell Price - Refund] [float] NULL,
	[Sell Price - Active] [float] NULL,
	[Sell Price - Cancelled] [numeric](38, 6) NULL,
	[Sell Price] [float] NULL,
	[Premium - Active] [float] NULL,
	[Premium - Cancelled] [numeric](38, 6) NULL,
	[Premium] [float] NULL,
	[Commission] [numeric](38, 6) NULL,
	[NAP] [numeric](38, 6) NULL,
	[GST on Sell Price] [float] NULL,
	[GST on Agency Commission] [numeric](38, 6) NULL,
	[Stamp Duty on Sell Price] [float] NULL,
	[Stamp Duty on Agency Commission] [numeric](38, 6) NULL,
	[UW Premium MED] [float] NULL,
	[UW Premium CAN] [float] NULL,
	[UW Premium ADD] [float] NULL,
	[UW Premium LUG] [float] NULL,
	[UW Premium MIS] [float] NULL,
	[UW Premium UDL] [float] NULL,
	[UW Premium CAT] [float] NULL,
	[UW Premium COV] [float] NULL,
	[UW Premium] [float] NULL,
	[Target Cost MED] [float] NULL,
	[Target Cost CAN] [float] NULL,
	[Target Cost ADD] [float] NULL,
	[Target Cost LUG] [float] NULL,
	[Target Cost MIS] [float] NULL,
	[Target Cost UDL] [float] NULL,
	[Target Cost CAT] [float] NULL,
	[Target Cost COV] [float] NULL,
	[Target Cost] [float] NULL,
	[GLM Freq MED] [float] NULL,
	[GLM Freq CAN] [float] NULL,
	[GLM Freq ADD] [float] NULL,
	[GLM Freq LUG] [float] NULL,
	[GLM Freq MIS] [float] NULL,
	[GLM Freq UDL] [float] NULL,
	[GLM Freq] [float] NULL,
	[GLM CPP MED] [float] NULL,
	[GLM CPP LGE] [float] NULL,
	[GLM CPP MED+LGE] [float] NULL,
	[GLM CPP CAN] [float] NULL,
	[GLM CPP ADD] [float] NULL,
	[GLM CPP LUG] [float] NULL,
	[GLM CPP MIS] [float] NULL,
	[GLM CPP UDL] [float] NULL,
	[GLM CPP CAT] [float] NULL,
	[GLM CPP] [float] NULL,
	[GLM UWP MED] [float] NULL,
	[GLM UWP LGE] [float] NULL,
	[GLM UWP MED+LGE] [float] NULL,
	[GLM UWP CAN] [float] NULL,
	[GLM UWP ADD] [float] NULL,
	[GLM UWP LUG] [float] NULL,
	[GLM UWP MIS] [float] NULL,
	[GLM UWP UDL] [float] NULL,
	[GLM UWP CAT] [float] NULL,
	[GLM UWP] [float] NULL,
	[Claims] [int] NULL,
	[Sections MED] [int] NULL,
	[Sections MED_LGE] [int] NULL,
	[Sections CAN] [int] NULL,
	[Sections CAN_LGE] [int] NULL,
	[Sections ADD] [int] NULL,
	[Sections ADD_LGE] [int] NULL,
	[Sections LUG] [int] NULL,
	[Sections LUG_LGE] [int] NULL,
	[Sections MIS] [int] NULL,
	[Sections MIS_LGE] [int] NULL,
	[Sections UDL] [int] NULL,
	[Sections UDL_LGE] [int] NULL,
	[Sections CAT] [int] NULL,
	[Sections COV] [int] NULL,
	[Sections OTH] [int] NULL,
	[Sections] [int] NULL,
	[Sections Non-Nil MED] [int] NULL,
	[Sections Non-Nil MED_LGE] [int] NULL,
	[Sections Non-Nil CAN] [int] NULL,
	[Sections Non-Nil CAN_LGE] [int] NULL,
	[Sections Non-Nil ADD] [int] NULL,
	[Sections Non-Nil ADD_LGE] [int] NULL,
	[Sections Non-Nil LUG] [int] NULL,
	[Sections Non-Nil LUG_LGE] [int] NULL,
	[Sections Non-Nil MIS] [int] NULL,
	[Sections Non-Nil MIS_LGE] [int] NULL,
	[Sections Non-Nil UDL] [int] NULL,
	[Sections Non-Nil UDL_LGE] [int] NULL,
	[Sections Non-Nil CAT] [int] NULL,
	[Sections Non-Nil COV] [int] NULL,
	[Sections Non-Nil OTH] [int] NULL,
	[Sections Non-Nil] [int] NULL,
	[Payments MED] [numeric](38, 6) NULL,
	[Payments MED_LGE] [numeric](38, 6) NULL,
	[Payments CAN] [numeric](38, 6) NULL,
	[Payments CAN_LGE] [numeric](38, 6) NULL,
	[Payments ADD] [numeric](38, 6) NULL,
	[Payments ADD_LGE] [numeric](38, 6) NULL,
	[Payments LUG] [numeric](38, 6) NULL,
	[Payments LUG_LGE] [numeric](38, 6) NULL,
	[Payments MIS] [numeric](38, 6) NULL,
	[Payments MIS_LGE] [numeric](38, 6) NULL,
	[Payments UDL] [numeric](38, 6) NULL,
	[Payments UDL_LGE] [numeric](38, 6) NULL,
	[Payments CAT] [numeric](38, 6) NULL,
	[Payments COV] [numeric](38, 6) NULL,
	[Payments OTH] [numeric](38, 6) NULL,
	[Payments] [numeric](38, 6) NULL,
	[Incurred MED] [numeric](38, 6) NULL,
	[Incurred MED_LGE] [numeric](38, 6) NULL,
	[Incurred CAN] [numeric](38, 6) NULL,
	[Incurred CAN_LGE] [numeric](38, 6) NULL,
	[Incurred ADD] [numeric](38, 6) NULL,
	[Incurred ADD_LGE] [numeric](38, 6) NULL,
	[Incurred LUG] [numeric](38, 6) NULL,
	[Incurred LUG_LGE] [numeric](38, 6) NULL,
	[Incurred MIS] [numeric](38, 6) NULL,
	[Incurred MIS_LGE] [numeric](38, 6) NULL,
	[Incurred UDL] [numeric](38, 6) NULL,
	[Incurred UDL_LGE] [numeric](38, 6) NULL,
	[Incurred CAT] [numeric](38, 6) NULL,
	[Incurred COV] [numeric](38, 6) NULL,
	[Incurred OTH] [numeric](38, 6) NULL,
	[Incurred] [numeric](38, 6) NULL
) ON [PRIMARY]
GO
