USE [db-au-actuary]
GO
/****** Object:  Table [cng].[Destination_Fix]    Script Date: 18/02/2025 12:14:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [cng].[Destination_Fix](
	[Destination] [nvarchar](100) NULL,
	[Fix] [nvarchar](50) NULL
) ON [PRIMARY]
GO
