USE [db-au-actuary]
GO
/****** Object:  Table [dbo].[CustomerData_policyNo_2019_allTrans_1]    Script Date: 18/02/2025 12:14:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerData_policyNo_2019_allTrans_1](
	[custKey0] [nvarchar](290) NULL,
	[Base Policy No] [varchar](50) NULL,
	[Issue Date] [datetime] NULL,
	[PolicyKey] [varchar](41) NULL,
	[JV description] [nvarchar](100) NULL
) ON [PRIMARY]
GO
