USE [db-au-actuary]
GO
/****** Object:  Table [DR].[NoClaimBonus20210427]    Script Date: 18/02/2025 12:14:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DR].[NoClaimBonus20210427](
	[PolicyNo] [varchar](50) NULL,
	[noClaimBonus] [varchar](50) NULL
) ON [PRIMARY]
GO
