USE [db-au-actuary]
GO
/****** Object:  Table [DR].[padding_out_depQtr_cardType_sectionType]    Script Date: 18/02/2025 12:14:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DR].[padding_out_depQtr_cardType_sectionType](
	[Dep_qtr] [varchar](50) NULL,
	[Card_type] [varchar](50) NULL,
	[Section_type] [varchar](50) NULL
) ON [PRIMARY]
GO
