USE [db-au-actuary]
GO
/****** Object:  Table [DR].[processTypeClaims]    Script Date: 18/02/2025 12:14:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DR].[processTypeClaims](
	[claimno] [varchar](50) NULL,
	[ProcessType] [varchar](50) NULL
) ON [PRIMARY]
GO
