USE [db-au-actuary]
GO
/****** Object:  Table [SHL].[Policy_Header_Retail_Radar_scored]    Script Date: 18/02/2025 12:14:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SHL].[Policy_Header_Retail_Radar_scored](
	[Addon_Count_Adventure_Activities] [int] NULL,
	[Addon_Count_Aged_Cover] [int] NULL,
	[Addon_Count_Ancillary_Products] [int] NULL,
	[Addon_Count_Cancel_For_Any_Reason] [int] NULL,
	[Addon_Count_Cancellation] [int] NULL,
	[Addon_Count_COVID_19] [int] NULL,
	[Addon_Count_Cruise] [int] NULL,
	[Addon_Count_Electronics] [int] NULL,
	[Addon_Count_Freely_Packs] [int] NULL,
	[Addon_Count_Luggage] [int] NULL,
	[Addon_Count_Motorcycle] [int] NULL,
	[Addon_Count_Rental_Car] [int] NULL,
	[Addon_Count_Ticket] [int] NULL,
	[Addon_Count_Winter_Sport] [int] NULL,
	[Adult_Traveller_Count] [int] NULL,
	[Base_Policy_No] [nvarchar](400) NULL,
	[Cancellation_Group] [nvarchar](400) NULL,
	[Charged_Traveller_1_Age] [int] NULL,
	[Charged_Traveller_10_Age] [int] NULL,
	[Charged_Traveller_2_Age] [int] NULL,
	[Charged_Traveller_3_Age] [int] NULL,
	[Charged_Traveller_4_Age] [int] NULL,
	[Charged_Traveller_5_Age] [int] NULL,
	[Charged_Traveller_6_Age] [int] NULL,
	[Charged_Traveller_7_Age] [int] NULL,
	[Charged_Traveller_8_Age] [int] NULL,
	[Charged_Traveller_9_Age] [int] NULL,
	[Charged_Traveller_Count] [int] NULL,
	[ClaimCount] [int] NULL,
	[Country_or_Area] [nvarchar](400) NULL,
	[Customer_State] [nvarchar](400) NULL,
	[Departure_Date] [datetime2](7) NULL,
	[Departure_Month] [int] NULL,
	[Departure_Quarter] [int] NULL,
	[Departure_Year] [int] NULL,
	[Departure_Year_Month] [nvarchar](400) NULL,
	[Destination] [nvarchar](400) NULL,
	[Domain_Country] [nvarchar](400) NULL,
	[Domain_Country_JV_Description] [nvarchar](400) NULL,
	[EMC_Traveller_Count] [int] NULL,
	[Excess] [int] NULL,
	[GLM_Region_2024] [nvarchar](400) NULL,
	[GLM_Region_2024_banded] [nvarchar](400) NULL,
	[Has_EMC] [nvarchar](400) NULL,
	[Has_Manual_EMC] [nvarchar](400) NULL,
	[Highest_EMC_banded] [nvarchar](400) NULL,
	[Highest_EMC_Score_rounded] [int] NULL,
	[Incurred_ADD] [float] NULL,
	[Incurred_ADD_LGE] [float] NULL,
	[Incurred_ADD_ON_CAN] [float] NULL,
	[Incurred_ADD_ON_CAN_LGE] [float] NULL,
	[Incurred_CAN] [float] NULL,
	[Incurred_CAN_LGE] [float] NULL,
	[Incurred_CAT] [float] NULL,
	[Incurred_COV] [float] NULL,
	[Incurred_LUG] [float] NULL,
	[Incurred_LUG_LGE] [float] NULL,
	[Incurred_MED] [float] NULL,
	[Incurred_MED_LGE] [float] NULL,
	[Incurred_MIS] [float] NULL,
	[Incurred_MIS_LGE] [float] NULL,
	[Incurred_ON_CAN] [float] NULL,
	[Incurred_ON_CAN_LGE] [float] NULL,
	[Incurred_OTH] [float] NULL,
	[Incurred_OTH_LGE] [float] NULL,
	[Incurred_PRE_CAN] [float] NULL,
	[Incurred_PRE_CAN_LGE] [float] NULL,
	[Intermediate_Region_Name] [nvarchar](400) NULL,
	[Issue_Date] [datetime2](7) NULL,
	[Issue_Month] [int] NULL,
	[Issue_Quarter] [int] NULL,
	[Issue_Year] [int] NULL,
	[Issue_Year_Month] [int] NULL,
	[JV_Description] [nvarchar](400) NULL,
	[Lead_Time] [float] NULL,
	[Luggage_Increase] [float] NULL,
	[Maximum_Trip_Length] [int] NULL,
	[MultiDestinationFlag] [nvarchar](400) NULL,
	[NetIncurredMovement_FX] [float] NULL,
	[NetPaymentMovement_FX] [float] NULL,
	[Oldest_Charged_Age] [int] NULL,
	[Outlet_Channel] [nvarchar](400) NULL,
	[Outlet_Group_Name] [nvarchar](400) NULL,
	[Outlet_Sub_Group_Name] [nvarchar](400) NULL,
	[Outlet_Super_Group] [nvarchar](400) NULL,
	[Payments_ADD] [float] NULL,
	[Payments_ADD_LGE] [float] NULL,
	[Payments_ADD_ON_CAN] [float] NULL,
	[Payments_ADD_ON_CAN_LGE] [float] NULL,
	[Payments_CAN] [float] NULL,
	[Payments_CAN_LGE] [float] NULL,
	[Payments_CAT] [float] NULL,
	[Payments_COV] [float] NULL,
	[Payments_LUG] [float] NULL,
	[Payments_LUG_LGE] [float] NULL,
	[Payments_MED] [float] NULL,
	[Payments_MED_LGE] [float] NULL,
	[Payments_MIS] [float] NULL,
	[Payments_MIS_LGE] [float] NULL,
	[Payments_ON_CAN] [float] NULL,
	[Payments_ON_CAN_LGE] [float] NULL,
	[Payments_OTH] [float] NULL,
	[Payments_OTH_LGE] [float] NULL,
	[Payments_PRE_CAN] [float] NULL,
	[Payments_PRE_CAN_LGE] [float] NULL,
	[Period] [nvarchar](400) NULL,
	[Plan_Tier_grouped] [nvarchar](400) NULL,
	[Plan_Type] [nvarchar](400) NULL,
	[Policy_Count] [int] NULL,
	[Policy_Type] [nvarchar](400) NULL,
	[PolicyKey] [nvarchar](400) NULL,
	[Premium] [float] NULL,
	[Product_Classification] [nvarchar](400) NULL,
	[Product_Code] [nvarchar](400) NULL,
	[Product_Plan] [nvarchar](400) NULL,
	[Purchase_Path] [nvarchar](400) NULL,
	[Region_Name] [nvarchar](400) NULL,
	[Rental_Car_Increase] [float] NULL,
	[Return_Date] [datetime2](7) NULL,
	[Return_Month] [int] NULL,
	[Return_Quarter] [int] NULL,
	[Return_Year] [int] NULL,
	[Return_Year_Month] [nvarchar](400) NULL,
	[SectionCount] [int] NULL,
	[Sections_ADD] [int] NULL,
	[Sections_ADD_LGE] [int] NULL,
	[Sections_ADD_ON_CAN] [int] NULL,
	[Sections_ADD_ON_CAN_LGE] [int] NULL,
	[Sections_CAN] [int] NULL,
	[Sections_CAN_LGE] [int] NULL,
	[Sections_CAT] [int] NULL,
	[Sections_COV] [int] NULL,
	[Sections_LUG] [int] NULL,
	[Sections_LUG_LGE] [int] NULL,
	[Sections_MED] [int] NULL,
	[Sections_MED_LGE] [int] NULL,
	[Sections_MIS] [int] NULL,
	[Sections_MIS_LGE] [int] NULL,
	[Sections_ON_CAN] [int] NULL,
	[Sections_ON_CAN_LGE] [int] NULL,
	[Sections_OTH] [int] NULL,
	[Sections_OTH_LGE] [int] NULL,
	[Sections_PRE_CAN] [int] NULL,
	[Sections_PRE_CAN_LGE] [int] NULL,
	[Selectable_Cancellation_Flag] [nvarchar](400) NULL,
	[Single_Family] [nvarchar](400) NULL,
	[Traveller_Count] [int] NULL,
	[Trip_Cost] [int] NULL,
	[Trip_Cost_Adj] [int] NULL,
	[Trip_Duration] [float] NULL,
	[Trip_Type] [nvarchar](400) NULL,
	[UW_EMC_Band] [nvarchar](400) NULL,
	[UW_EMC_Multiplier] [float] NULL,
	[value] [int] NULL,
	[add_and_on_trip_Can_freq_u] [float] NULL,
	[Add_and_On_Trip_can_pred_u] [float] NULL,
	[Add_and_on_trip_Can_Sev_u] [float] NULL,
	[can_Freq_u] [float] NULL,
	[Can_Pred_u] [float] NULL,
	[Can_Sev_u] [float] NULL,
	[Lug_Freq_u] [float] NULL,
	[Lug_Pred_u] [float] NULL,
	[Lug_Sev_u] [float] NULL,
	[Med_Freq_u] [float] NULL,
	[Med_pred_l] [float] NULL,
	[Med_Pred_u] [float] NULL,
	[Med_Sev_u] [float] NULL,
	[Oth_Freq_u] [float] NULL,
	[Oth_Pred_u] [float] NULL,
	[Oth_Sev_u] [float] NULL,
	[Pred_l] [float] NULL,
	[Pred_u] [float] NULL,
	[Gross_Premium_Adventure_Activities] [float] NULL,
	[Gross_Premium_Cruise] [float] NULL,
	[Gross_Premium_Cancellation] [float] NULL,
	[Gross_Premium_Luggage] [float] NULL,
	[Gross_Premium_Medical] [float] NULL,
	[Gross_Premium_Rental_Car] [float] NULL,
	[Gross_Premium_Motorcycle] [float] NULL,
	[Gross_Premium_Winter_Sport] [float] NULL
) ON [PRIMARY]
GO
