USE [db-au-actuary]
GO
/****** Object:  Table [SHL].[Policy_Header_Retail_Radar_CPC_CBI_20240429]    Script Date: 18/02/2025 12:14:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SHL].[Policy_Header_Retail_Radar_CPC_CBI_20240429](
	[Domain Country] [varchar](2) NULL,
	[PolicyKey] [varchar](41) NULL,
	[Base Policy No] [varchar](50) NULL,
	[Issue Date] [datetime] NULL,
	[Issue Year-Month] [nvarchar](4000) NULL,
	[Issue Month] [int] NULL,
	[Issue Quarter] [int] NULL,
	[Issue Year] [int] NULL,
	[Departure Date] [datetime] NULL,
	[Departure Year-Month] [nvarchar](4000) NULL,
	[Departure Month] [int] NULL,
	[Departure Quarter] [int] NULL,
	[Departure Year] [int] NULL,
	[Return Date] [datetime] NULL,
	[Return Year-Month] [nvarchar](4000) NULL,
	[Return Month] [int] NULL,
	[Return Quarter] [int] NULL,
	[Return Year] [int] NULL,
	[Lead Time] [numeric](22, 0) NULL,
	[Trip Duration] [numeric](22, 0) NULL,
	[Trip Duration 2] [numeric](22, 0) NULL,
	[Trip Duration 3] [numeric](22, 0) NULL,
	[Trip Duration 4] [numeric](28, 6) NULL,
	[Maximum Trip Length] [int] NULL,
	[Destination] [nvarchar](max) NULL,
	[GLM_Region_2024] [nvarchar](50) NULL,
	[GLM_Region_2024_banded] [nvarchar](50) NULL,
	[MultiDestinationFlag] [varchar](1) NOT NULL,
	[Country or Area] [nvarchar](255) NULL,
	[Intermediate Region Name] [nvarchar](255) NULL,
	[Region Name] [nvarchar](255) NULL,
	[Excess] [int] NULL,
	[Trip Cost] [int] NULL,
	[Single/Family] [nvarchar](1) NULL,
	[Purchase Path] [nvarchar](50) NULL,
	[Product Code] [nvarchar](50) NULL,
	[Product Plan] [nvarchar](100) NULL,
	[Policy Type] [nvarchar](50) NULL,
	[Plan Type] [nvarchar](50) NULL,
	[Trip Type] [nvarchar](50) NULL,
	[Product Classification] [nvarchar](100) NULL,
	[Plan Tier grouped] [varchar](16) NOT NULL,
	[Period] [varchar](7) NOT NULL,
	[Trip Cost Adj] [int] NULL,
	[Cancellation Group] [varchar](7) NOT NULL,
	[value] [int] NULL,
	[Selectable Cancellation Flag] [varchar](1) NOT NULL,
	[Customer State] [nvarchar](255) NULL,
	[Traveller Count] [int] NULL,
	[Charged Traveller Count] [int] NULL,
	[Adult Traveller Count] [int] NULL,
	[Oldest Charged Age] [int] NULL,
	[EMC Traveller Count] [int] NULL,
	[Highest EMC Score rounded] [int] NULL,
	[UW EMC Multiplier] [numeric](2, 1) NULL,
	[Highest EMC banded] [varchar](17) NOT NULL,
	[Has EMC] [varchar](1) NULL,
	[Has Manual EMC] [varchar](1) NULL,
	[UW EMC Band] [varchar](30) NULL,
	[Gender] [varchar](2) NULL,
	[Charged Traveller 1 Age] [int] NULL,
	[Charged Traveller 2 Age] [int] NULL,
	[Charged Traveller 3 Age] [int] NULL,
	[Charged Traveller 4 Age] [int] NULL,
	[Charged Traveller 5 Age] [int] NULL,
	[Charged Traveller 6 Age] [int] NULL,
	[Charged Traveller 7 Age] [int] NULL,
	[Charged Traveller 8 Age] [int] NULL,
	[Charged Traveller 9 Age] [int] NULL,
	[Charged Traveller 10 Age] [int] NULL,
	[Outlet Sub Group Name] [nvarchar](50) NULL,
	[Outlet Group Name] [nvarchar](50) NULL,
	[Outlet Super Group] [nvarchar](255) NULL,
	[JV Description] [nvarchar](100) NULL,
	[Domain Country JV Description] [nvarchar](105) NULL,
	[Outlet Channel] [nvarchar](100) NULL,
	[Addon Count Adventure Activities] [int] NULL,
	[Addon Count Aged Cover] [int] NULL,
	[Addon Count Ancillary Products] [int] NULL,
	[Addon Count Cancel For Any Reason] [int] NULL,
	[Addon Count Cancellation] [int] NULL,
	[Addon Count COVID-19] [int] NULL,
	[Addon Count Cruise] [int] NULL,
	[Addon Count Electronics] [int] NULL,
	[Addon Count Freely Packs] [int] NULL,
	[Addon Count Luggage] [int] NULL,
	[Luggage Increase] [money] NULL,
	[Addon Count Motorcycle] [int] NULL,
	[Addon Count Rental Car] [int] NULL,
	[Rental Car Increase] [money] NULL,
	[Addon Count Ticket] [int] NULL,
	[Addon Count Winter Sport] [int] NULL,
	[Policy Count] [int] NULL,
	[Premium] [float] NULL,
	[ClaimCount] [int] NULL,
	[SectionCount] [int] NULL,
	[NetPaymentMovement_FX] [numeric](38, 6) NULL,
	[NetIncurredMovement_FX] [numeric](38, 6) NULL,
	[Sections MED] [int] NULL,
	[Payments MED] [numeric](38, 6) NULL,
	[Incurred MED] [numeric](38, 6) NULL,
	[Sections MED_LGE] [int] NULL,
	[Payments MED_LGE] [numeric](38, 6) NULL,
	[Incurred MED_LGE] [numeric](38, 6) NULL,
	[Sections CAN] [int] NULL,
	[Payments CAN] [numeric](38, 6) NULL,
	[Incurred CAN] [numeric](38, 6) NULL,
	[Sections CAN_LGE] [int] NULL,
	[Payments CAN_LGE] [numeric](38, 6) NULL,
	[Incurred CAN_LGE] [numeric](38, 6) NULL,
	[Sections PRE_CAN] [int] NULL,
	[Payments PRE_CAN] [numeric](38, 6) NULL,
	[Incurred PRE_CAN] [numeric](38, 6) NULL,
	[Sections PRE_CAN_LGE] [int] NULL,
	[Payments PRE_CAN_LGE] [numeric](38, 6) NULL,
	[Incurred PRE_CAN_LGE] [numeric](38, 6) NULL,
	[Sections ON_CAN] [int] NULL,
	[Payments ON_CAN] [numeric](38, 6) NULL,
	[Incurred ON_CAN] [numeric](38, 6) NULL,
	[Sections ON_CAN_LGE] [int] NULL,
	[Payments ON_CAN_LGE] [numeric](38, 6) NULL,
	[Incurred ON_CAN_LGE] [numeric](38, 6) NULL,
	[Sections ADD_ON_CAN] [int] NULL,
	[Payments ADD_ON_CAN] [numeric](38, 6) NULL,
	[Incurred ADD_ON_CAN] [numeric](38, 6) NULL,
	[Sections ADD_ON_CAN_LGE] [int] NULL,
	[Payments ADD_ON_CAN_LGE] [numeric](38, 6) NULL,
	[Incurred ADD_ON_CAN_LGE] [numeric](38, 6) NULL,
	[Sections ADD] [int] NULL,
	[Payments ADD] [numeric](38, 6) NULL,
	[Incurred ADD] [numeric](38, 6) NULL,
	[Sections ADD_LGE] [int] NULL,
	[Payments ADD_LGE] [numeric](38, 6) NULL,
	[Incurred ADD_LGE] [numeric](38, 6) NULL,
	[Sections MIS] [int] NULL,
	[Payments MIS] [numeric](38, 6) NULL,
	[Incurred MIS] [numeric](38, 6) NULL,
	[Sections MIS_LGE] [int] NULL,
	[Payments MIS_LGE] [numeric](38, 6) NULL,
	[Incurred MIS_LGE] [numeric](38, 6) NULL,
	[Sections LUG] [int] NULL,
	[Payments LUG] [numeric](38, 6) NULL,
	[Incurred LUG] [numeric](38, 6) NULL,
	[Sections LUG_LGE] [int] NULL,
	[Payments LUG_LGE] [numeric](38, 6) NULL,
	[Incurred LUG_LGE] [numeric](38, 6) NULL,
	[Sections OTH] [int] NULL,
	[Payments OTH] [numeric](38, 6) NULL,
	[Incurred OTH] [numeric](38, 6) NULL,
	[Sections OTH_LGE] [int] NULL,
	[Payments OTH_LGE] [numeric](38, 6) NULL,
	[Incurred OTH_LGE] [numeric](38, 6) NULL,
	[Sections CAT] [int] NULL,
	[Payments CAT] [numeric](38, 6) NULL,
	[Incurred CAT] [numeric](38, 6) NULL,
	[Sections COV] [int] NULL,
	[Payments COV] [numeric](38, 6) NULL,
	[Incurred COV] [numeric](38, 6) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
