USE [db-au-actuary]
GO
/****** Object:  Table [ws].[FinesseTravelDataAUSSep24dom-st_scored_ALL_3k]    Script Date: 18/02/2025 12:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ws].[FinesseTravelDataAUSSep24dom-st_scored_ALL_3k](
	[Period] [varchar](50) NULL,
	[Sample Number] [varchar](50) NULL,
	[Factor] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Destination] [varchar](50) NULL,
	[International Domestic] [varchar](50) NULL,
	[Number of Travellers] [varchar](50) NULL,
	[Travel Group] [varchar](50) NULL,
	[Number of Adults] [varchar](50) NULL,
	[Number of Children] [varchar](50) NULL,
	[Age of oldest adult] [varchar](50) NULL,
	[Age of second oldest adult] [varchar](50) NULL,
	[Age of oldest dependent] [varchar](50) NULL,
	[Age of second oldest dependent] [varchar](50) NULL,
	[Age of third oldest dependent] [varchar](50) NULL,
	[age0order] [varchar](50) NULL,
	[age1order] [varchar](50) NULL,
	[age2order] [varchar](50) NULL,
	[age3order] [varchar](50) NULL,
	[age4order] [varchar](50) NULL,
	[Travel Duration] [varchar](50) NULL,
	[Destination Region] [varchar](50) NULL,
	[Lead Time] [varchar](50) NULL,
	[Profile] [varchar](50) NULL,
	[Travel Group Detailed] [varchar](50) NULL,
	[Age of oldest adult - Band] [varchar](50) NULL,
	[Age of second oldest adult - Band] [varchar](50) NULL,
	[Age of oldest dependent - Band] [varchar](50) NULL,
	[Age of second oldest dependent - Band] [varchar](50) NULL,
	[Age of third oldest dependent - Band] [varchar](50) NULL,
	[Travel Duration - Band] [varchar](50) NULL,
	[Lead time - Band] [varchar](50) NULL,
	[Single Multi Trip - Band] [varchar](50) NULL,
	[Age of oldest adult (Detailed) - Band] [varchar](50) NULL,
	[Age of second oldest adult (Detailed) - Band] [varchar](50) NULL,
	[Travel Duration (Detailed) - Band] [varchar](50) NULL,
	[FYP_BaseSP] [varchar](50) NULL,
	[FYP_CanxSP] [varchar](50) NULL,
	[FYP_SP] [varchar](50) NULL,
	[ICC_BaseSP] [varchar](50) NULL,
	[ICC_CanxSP] [varchar](50) NULL,
	[ICC_SP] [varchar](50) NULL,
	[CPPm_BaseSP] [varchar](50) NULL,
	[CPPm_CanxSP] [varchar](50) NULL,
	[CPPm_SP] [varchar](50) NULL,
	[CPPp_BaseSP] [varchar](50) NULL,
	[CPPp_CanxSP] [varchar](50) NULL,
	[CPPp_SP] [varchar](50) NULL,
	[MBC_BaseSP] [varchar](50) NULL,
	[MBC_CanxSP] [varchar](50) NULL,
	[MBC_SP] [varchar](50) NULL,
	[AHM_BaseSP] [varchar](50) NULL,
	[AHM_CanxSP] [varchar](50) NULL,
	[AHM_SP] [varchar](50) NULL,
	[APC_BaseSP] [varchar](50) NULL,
	[APC_CanxSP] [varchar](50) NULL,
	[APC_SP] [varchar](50) NULL,
	[CBT_BaseSP] [varchar](50) NULL,
	[CBT_CanxSP] [varchar](50) NULL,
	[CBT_SP] [varchar](50) NULL,
	[NRI_BaseSP] [varchar](50) NULL,
	[NRI_CanxSP] [varchar](50) NULL,
	[NRI_SP] [varchar](50) NULL,
	[MTPb_BaseSP] [varchar](50) NULL,
	[MTPb_CanxSP] [varchar](50) NULL,
	[MTPb_SP] [varchar](50) NULL,
	[BDB_BaseSP] [varchar](50) NULL,
	[BDB_CanxSP] [varchar](50) NULL,
	[BDB_SP] [varchar](50) NULL,
	[1Cover DST (Comprehensive) Premium] [varchar](50) NULL,
	[ahm DST (Domestic Single Trip) Premium] [varchar](50) NULL,
	[Allianz DST (Domestic) Premium] [varchar](50) NULL,
	[AusPost DST (Comprehensive) Premium] [varchar](50) NULL,
	[Budget Direct DST (Domestic) Premium] [varchar](50) NULL,
	[Bupa DST (Domestic) Premium] [varchar](50) NULL,
	[CBA DST (Domestic) Premium] [varchar](50) NULL,
	[Chubb DST (Domestic) Premium] [varchar](50) NULL,
	[COTA DST (Australian Travel) Premium] [varchar](50) NULL,
	[COTA DST (Cancellation and Additional Expenses) Premium] [varchar](50) NULL,
	[Cover-More DST (Domestic Basic) Premium] [varchar](50) NULL,
	[Cover-More DST (Domestic Comprehensive +) Premium] [varchar](50) NULL,
	[Cover-More DST (Domestic Comprehensive) Premium] [varchar](50) NULL,
	[Flight Centre DST (YourCover Plus) Premium] [varchar](50) NULL,
	[Freely DST (Domestic Explorer) Premium] [varchar](50) NULL,
	[Go Insurance DST (Go Basic) Premium] [varchar](50) NULL,
	[Go Insurance DST (Go Plus) Premium] [varchar](50) NULL,
	[HCF DST (Domestic) Premium] [varchar](50) NULL,
	[Insure and Go DST (Bare Essentials Domestic) Premium] [varchar](50) NULL,
	[Insure and Go DST (Gold Domestic) Premium] [varchar](50) NULL,
	[Insure and Go DST (Silver Domestic) Premium] [varchar](50) NULL,
	[Medibank DST (Domestic Single Trip) Premium] [varchar](50) NULL,
	[National Seniors DST (Australian Travel) Premium] [varchar](50) NULL,
	[National Seniors DST (Cancellation and Additional Expenses) Premium] [varchar](50) NULL,
	[nib DST (Australian Travel) Premium] [varchar](50) NULL,
	[nib DST (Cancellation and Additional Expenses) Premium] [varchar](50) NULL,
	[NRMA DST (Comprehensive Single Trip) Premium] [varchar](50) NULL,
	[NRMA DST (Essentials Single Trip) Premium] [varchar](50) NULL,
	[PassportCard DST (Comprehensive Domestic) Premium] [varchar](50) NULL,
	[Qantas DST (Australian Comprehensive) Premium] [varchar](50) NULL,
	[RAA DST (Domestic Cancellation) Premium] [varchar](50) NULL,
	[RAA DST (Domestic) Premium] [varchar](50) NULL,
	[RAA DST (Rental Car Excess) Premium] [varchar](50) NULL,
	[RAC DST (Comprehensive Domestic) Premium] [varchar](50) NULL,
	[RAC DST (Domestic Cancellation) Premium] [varchar](50) NULL,
	[RAC DST (Rental Car Excess) Premium] [varchar](50) NULL,
	[RACQ DST (Domestic Cancellation) Premium] [varchar](50) NULL,
	[RACQ DST (Domestic) Premium] [varchar](50) NULL,
	[RACQ DST (Rental Car Excess) Premium] [varchar](50) NULL,
	[RACT DST (Domestic Cancellation) Premium] [varchar](50) NULL,
	[RACT DST (Domestic) Premium] [varchar](50) NULL,
	[RACT DST (Rental Car Excess) Premium] [varchar](50) NULL,
	[RACV DST (Domestic Cancellation) Premium] [varchar](50) NULL,
	[RACV DST (Domestic) Premium] [varchar](50) NULL,
	[RACV DST (Rental Car Excess) Premium] [varchar](50) NULL,
	[Ski Insurance DST (Ski Plus Domestic) Premium] [varchar](50) NULL,
	[Southern Cross DST (Holiday in Australia) Premium] [varchar](50) NULL,
	[Teachers Health DST (Domestic) Premium] [varchar](50) NULL,
	[Tick DST (Basic Domestic) Premium] [varchar](50) NULL,
	[Tick DST (Standard Domestic) Premium] [varchar](50) NULL,
	[Tick DST (Top Domestic) Premium] [varchar](50) NULL,
	[TID DST (Domestic) Premium] [varchar](50) NULL,
	[Travel Insurance Saver DST (Australian Travel) Premium] [varchar](50) NULL,
	[Travel Insurance Saver DST (Cancellation and Additional Expenses) Premium] [varchar](50) NULL,
	[Virgin Australia DST (Travel Safe Plus Domestic) Premium] [varchar](50) NULL,
	[Webjet DST (Travel Safe Plus Domestic Cancellation) Premium] [varchar](50) NULL,
	[Webjet DST (Travel Safe Plus Domestic) Premium] [varchar](50) NULL,
	[World2Cover DST (Domestic) Premium] [varchar](50) NULL,
	[Worldcare DST (Domestic) Premium] [varchar](50) NULL
) ON [PRIMARY]
GO
