USE [db-au-actuary]
GO
/****** Object:  Table [ws].[FinesseTravelDataAUSMar23int-st_CM_FYP_NPP_ICC]    Script Date: 18/02/2025 12:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ws].[FinesseTravelDataAUSMar23int-st_CM_FYP_NPP_ICC](
	[Period] [varchar](50) NULL,
	[Sample Number] [varchar](50) NULL,
	[Factor] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Destination] [varchar](50) NULL,
	[GeoZone] [varchar](50) NULL,
	[International Domestic] [varchar](50) NULL,
	[Number of Travellers] [varchar](50) NULL,
	[Travel Group] [varchar](50) NULL,
	[Number of Adults] [varchar](50) NULL,
	[Number of Children] [varchar](50) NULL,
	[Age of oldest adult] [varchar](50) NULL,
	[Age of second oldest adult] [varchar](50) NULL,
	[Age of oldest dependent] [varchar](50) NULL,
	[Age of second oldest dependent] [varchar](50) NULL,
	[Age of third oldest dependent] [varchar](50) NULL,
	[age0order] [varchar](50) NULL,
	[age1order] [varchar](50) NULL,
	[age2order] [varchar](50) NULL,
	[age3order] [varchar](50) NULL,
	[age4order] [varchar](50) NULL,
	[Travel Duration] [varchar](50) NULL,
	[Destination Region] [varchar](50) NULL,
	[Lead Time] [varchar](50) NULL,
	[Profile] [varchar](50) NULL,
	[Travel Group Detailed] [varchar](50) NULL,
	[Age of oldest adult - Band] [varchar](50) NULL,
	[Age of second oldest adult - Band] [varchar](50) NULL,
	[Age of oldest dependent - Band] [varchar](50) NULL,
	[Age of second oldest dependent - Band] [varchar](50) NULL,
	[Age of third oldest dependent - Band] [varchar](50) NULL,
	[Travel Duration - Band] [varchar](50) NULL,
	[Lead time - Band] [varchar](50) NULL,
	[Single Multi Trip - Band] [varchar](50) NULL,
	[Age of oldest adult (Detailed) - Band] [varchar](50) NULL,
	[Age of second oldest adult (Detailed) - Band] [varchar](50) NULL,
	[Travel Duration (Detailed) - Band] [varchar](50) NULL,
	[ExcessFYP] [varchar](50) NULL,
	[ExcessNPP] [varchar](50) NULL,
	[ExcessICC] [varchar](50) NULL,
	[ExcessCPCp] [varchar](50) NULL,
	[ExcessCPCm] [varchar](50) NULL,
	[CanxInt_STFYP] [varchar](50) NULL,
	[CanxInt_STNPP] [varchar](50) NULL,
	[CanxInt_STICC] [varchar](50) NULL,
	[CanxInt_STCPCp] [varchar](50) NULL,
	[CanxInt_STCPCm] [varchar](50) NULL,
	[FYP_BaseSP] [varchar](50) NULL,
	[FYP_CanxSP] [varchar](50) NULL,
	[FYP_SP] [varchar](50) NULL,
	[NPP_BaseSP] [varchar](50) NULL,
	[NPP_CanxSP] [varchar](50) NULL,
	[NPP_SP] [varchar](50) NULL,
	[ICC_BaseSP] [varchar](50) NULL,
	[ICC_CanxSP] [varchar](50) NULL,
	[ICC_SP] [varchar](50) NULL,
	[CPCp_BaseSP] [varchar](50) NULL,
	[CPCp_CanxSP] [varchar](50) NULL,
	[CPCp_SP] [varchar](50) NULL,
	[CPCm_BaseSP] [varchar](50) NULL,
	[CPCm_CanxSP] [varchar](50) NULL,
	[CPCm_SP] [varchar](50) NULL
) ON [PRIMARY]
GO
