USE [db-au-actuary]
GO
/****** Object:  Table [ws].[FinesseTravelDataAUSJun24int-ST_APC_updated]    Script Date: 18/02/2025 12:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ws].[FinesseTravelDataAUSJun24int-ST_APC_updated](
	[Sample Number] [varchar](50) NULL,
	[APC_SP] [varchar](50) NULL
) ON [PRIMARY]
GO
