USE [db-au-actuary]
GO
/****** Object:  Table [ws].[FinesseTravelDataAUSJun24int-ST_Blue5k-200]    Script Date: 18/02/2025 12:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ws].[FinesseTravelDataAUSJun24int-ST_Blue5k-200](
	[Sample Number] [varchar](50) NULL,
	[BTP_SP200] [varchar](50) NULL,
	[BTE_SP200] [varchar](50) NULL
) ON [PRIMARY]
GO
