USE [db-au-actuary]
GO
/****** Object:  Table [ws].[FinesseTravelDataAUSMar24int-st_rescored]    Script Date: 18/02/2025 12:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ws].[FinesseTravelDataAUSMar24int-st_rescored](
	[Period] [varchar](50) NULL,
	[Sample Number] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Destination] [varchar](50) NULL,
	[GeoZone] [varchar](50) NULL,
	[International Domestic] [varchar](50) NULL,
	[Number_of_Travellers] [varchar](50) NULL,
	[Travel_Group] [varchar](50) NULL,
	[Number_of_Adults] [varchar](50) NULL,
	[Number_of_Children] [varchar](50) NULL,
	[Age_of_oldest_adult] [varchar](50) NULL,
	[Age_of_second_oldest_adult] [varchar](50) NULL,
	[Age_of_oldest_dependent] [varchar](50) NULL,
	[Age_of_second_oldest_dependent] [varchar](50) NULL,
	[Age_of_third_oldest_dependent] [varchar](50) NULL,
	[age0order] [varchar](50) NULL,
	[age1order] [varchar](50) NULL,
	[age2order] [varchar](50) NULL,
	[age3order] [varchar](50) NULL,
	[age4order] [varchar](50) NULL,
	[Travel_Duration] [varchar](50) NULL,
	[Destination_Region] [varchar](50) NULL,
	[Lead_Time] [varchar](50) NULL,
	[Profile] [varchar](50) NULL,
	[Travel Duration - Band] [varchar](50) NULL,
	[Lead time - Band] [varchar](50) NULL,
	[Single Multi Trip - Band] [varchar](50) NULL,
	[BDC_BaseSP] [varchar](50) NULL,
	[BDC_CanxSP] [varchar](50) NULL,
	[BDC_SP] [varchar](50) NULL,
	[BDCe_BaseSP] [varchar](50) NULL,
	[BDCe_CanxSP] [varchar](50) NULL,
	[BDCeE_SP] [varchar](50) NULL,
	[FYP_BaseSP] [varchar](50) NULL,
	[FYP_CanxSP] [varchar](50) NULL,
	[FYP_SP] [varchar](50) NULL,
	[FYE_BaseSP] [varchar](50) NULL,
	[FYE_CanxSP] [varchar](50) NULL,
	[FYE_SP] [varchar](50) NULL,
	[ICC_BaseSP] [varchar](50) NULL,
	[ICC_CanxSP] [varchar](50) NULL,
	[ICC_SP] [varchar](50) NULL,
	[IEC_BaseSP] [varchar](50) NULL,
	[IEC_CanxSP] [varchar](50) NULL,
	[IEC_SP] [varchar](50) NULL,
	[CBI_BaseSP] [varchar](50) NULL,
	[CBI_CanxSP] [varchar](50) NULL,
	[CBI_SP] [varchar](50) NULL,
	[CPCm_BaseSP] [varchar](50) NULL,
	[CPCm_CanxSP] [varchar](50) NULL,
	[CPCm_SP] [varchar](50) NULL,
	[CPCp_BaseSP] [varchar](50) NULL,
	[CPCp_CanxSP] [varchar](50) NULL,
	[CPCp_SP] [varchar](50) NULL,
	[MBC_BaseSP] [varchar](50) NULL,
	[MBC_CanxSP] [varchar](50) NULL,
	[MBC_SP] [varchar](50) NULL,
	[AHM_BaseSP] [varchar](50) NULL,
	[AHM_CanxSP] [varchar](50) NULL,
	[AHM_SP] [varchar](50) NULL,
	[APC_BaseSP] [varchar](50) NULL,
	[APC_CanxSP] [varchar](50) NULL,
	[APC_SP] [varchar](50) NULL,
	[CBT_BaseSP] [varchar](50) NULL,
	[CBT_CanxSP] [varchar](50) NULL,
	[CBT_SP] [varchar](50) NULL,
	[CBTe_BaseSP] [varchar](50) NULL,
	[CBTe_CanxSP] [varchar](50) NULL,
	[CBTe_SP] [varchar](50) NULL,
	[NRI_BaseSP] [varchar](50) NULL,
	[NRI_CanxSP] [varchar](50) NULL,
	[NRI_SP] [varchar](50) NULL,
	[NRIe_BaseSP] [varchar](50) NULL,
	[NRIe_CanxSP] [varchar](50) NULL,
	[NRIe_SP] [varchar](50) NULL,
	[WJP_BaseSP] [varchar](50) NULL,
	[WJP_CanxSP] [varchar](50) NULL,
	[WJP_SP] [varchar](50) NULL,
	[NPP_BaseSP] [varchar](50) NULL,
	[NPP_CanxSP] [varchar](50) NULL,
	[NPP_SP] [varchar](50) NULL,
	[NPG_BaseSP] [varchar](50) NULL,
	[NPG_CanxSP] [varchar](50) NULL,
	[NPG_SP] [varchar](50) NULL,
	[MTP_BaseSP] [varchar](50) NULL,
	[MTP_CanxSP] [varchar](50) NULL,
	[MTP_SP] [varchar](50) NULL,
	[MTE_BaseSP] [varchar](50) NULL,
	[MTE_CanxSP] [varchar](50) NULL,
	[MTE_SP] [varchar](50) NULL
) ON [PRIMARY]
GO
