USE [db-au-cmdwh]
GO
/****** Object:  DdlTrigger [NO_DROP_TABLE]    Script Date: 24/02/2025 12:39:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [NO_DROP_TABLE]
ON DATABASE
FOR DROP_TABLE
AS
PRINT 'Dropping tables are not allowed'
ROLLBACK
GO
DISABLE TRIGGER [NO_DROP_TABLE] ON DATABASE
GO
