USE [db-au-stage]
GO
/****** Object:  Table [dbo].[carebase_tblAddressKeys_aucm]    Script Date: 20/02/2025 10:25:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carebase_tblAddressKeys_aucm](
	[Key_ID] [int] NOT NULL,
	[Description] [nvarchar](500) NOT NULL
) ON [PRIMARY]
GO
