USE [db-au-stage]
GO
/****** Object:  Table [dbo].[etl_penQuoteCompetitor]    Script Date: 20/02/2025 10:25:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etl_penQuoteCompetitor](
	[CountryKey] [varchar](2) NULL,
	[CompanyKey] [varchar](5) NULL,
	[DomainKey] [varchar](41) NULL,
	[QuoteKey] [varchar](71) NULL,
	[CreateDateTime] [datetime] NULL,
	[UpdateDateTime] [datetime] NULL,
	[CreateDateTimeUTC] [datetime] NOT NULL,
	[UpdateDateTimeUTC] [datetime] NOT NULL,
	[QuoteID] [int] NOT NULL,
	[CompetitorID] [int] NOT NULL,
	[CompetitorName] [nvarchar](50) NULL,
	[CompetitorPrice] [money] NOT NULL
) ON [PRIMARY]
GO
