USE [db-au-stage]
GO
/****** Object:  Table [dbo].[carebase_tblRiskLevels_aucm]    Script Date: 20/02/2025 10:25:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carebase_tblRiskLevels_aucm](
	[RISKLEVEL_ID] [int] NOT NULL,
	[DESCRIPTION] [nvarchar](50) NULL
) ON [PRIMARY]
GO
