USE [db-au-stage]
GO
/****** Object:  Table [dbo].[claims_tblOnlineClaimEventSections_au]    Script Date: 20/02/2025 10:25:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[claims_tblOnlineClaimEventSections_au](
	[EventSectionId] [int] NOT NULL,
	[SelectedSections] [varchar](50) NOT NULL,
	[CauseId] [int] NOT NULL,
	[SectionDetails] [ntext] NOT NULL,
	[SelectedSectionsOrder] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [idx_claims_tblOnlineClaimEventSections_au_id]    Script Date: 20/02/2025 10:25:21 AM ******/
CREATE CLUSTERED INDEX [idx_claims_tblOnlineClaimEventSections_au_id] ON [dbo].[claims_tblOnlineClaimEventSections_au]
(
	[CauseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
