USE [db-au-stage]
GO
/****** Object:  Table [dbo].[carebase_ADM_USER_aucm]    Script Date: 20/02/2025 10:25:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carebase_ADM_USER_aucm](
	[USERID] [varchar](30) NOT NULL,
	[SURNAME] [varchar](30) NULL,
	[PREF_NAME] [varchar](20) NULL,
	[SEC_GROUP] [varchar](10) NULL,
	[PASSWD] [varchar](30) NULL,
	[Display] [int] NULL
) ON [PRIMARY]
GO
