USE [db-au-stage]
GO
/****** Object:  Table [dbo].[carebase_tblFinanceGroup_Clients_aucm]    Script Date: 20/02/2025 10:25:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carebase_tblFinanceGroup_Clients_aucm](
	[CLI_CODE] [varchar](2) NULL,
	[FinanceGroupID] [int] NULL
) ON [PRIMARY]
GO
