USE [db-au-stage]
GO
/****** Object:  Table [dbo].[penguin_tblPaymentRegister_aucm]    Script Date: 20/02/2025 10:25:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penguin_tblPaymentRegister_aucm](
	[PaymentRegisterId] [int] NOT NULL,
	[OutletId] [int] NULL,
	[CRMUserId] [int] NOT NULL,
	[DomainId] [int] NOT NULL,
	[Status] [varchar](15) NOT NULL,
	[PaymentTypeId] [int] NOT NULL,
	[BankAccountId] [tinyint] NOT NULL,
	[Source] [varchar](50) NOT NULL,
	[Comment] [varchar](500) NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[UpdateDateTime] [datetime] NOT NULL
) ON [PRIMARY]
GO
