USE [db-au-stage]
GO
/****** Object:  Table [dbo].[etl_clmClaimPaymentMovement]    Script Date: 20/02/2025 10:25:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etl_clmClaimPaymentMovement](
	[ClaimKey] [varchar](40) NULL
) ON [PRIMARY]
GO
