USE [db-au-stage]
GO
/****** Object:  Table [dbo].[carebase_EMOTIONS_aucm]    Script Date: 20/02/2025 10:25:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carebase_EMOTIONS_aucm](
	[EM_ID] [int] NOT NULL,
	[EM_DESC] [nvarchar](50) NULL
) ON [PRIMARY]
GO
