USE [db-au-stage]
GO
/****** Object:  Table [dbo].[carebase_UAC_ACTYPE_aucm]    Script Date: 20/02/2025 10:25:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carebase_UAC_ACTYPE_aucm](
	[AC_CODE] [varchar](5) NOT NULL,
	[AC_DESCRIPTION] [nvarchar](30) NULL
) ON [PRIMARY]
GO
