USE [DB-AU-LOG]
GO
/****** Object:  Table [dbo].[lnkSourceToTargetTable]    Script Date: 18/02/2025 12:59:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lnkSourceToTargetTable](
	[lnkSTID] [int] IDENTITY(0,1) NOT NULL,
	[srcID] [int] NULL,
	[targetTableID] [int] NULL
) ON [PRIMARY]
GO
