USE [db-au-cmdwh]
GO
/****** Object:  Table [COVERMORE\asad.qamar].[IAL_Transaction1]    Script Date: 24/02/2025 12:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COVERMORE\asad.qamar].[IAL_Transaction1](
	["RowType"] [varchar](50) NULL,
	["GroupName"] [varchar](50) NULL,
	["SubGroupName"] [varchar](50) NULL,
	["AlphaCode"] [varchar](50) NULL,
	["OutletName"] [varchar](50) NULL,
	["OutletType"] [varchar](50) NULL,
	["Branch"] [varchar](50) NULL,
	["State"] [varchar](50) NULL,
	["QuoteID"] [varchar](50) NULL,
	["SessionID"] [varchar](50) NULL,
	["PolicyID"] [varchar](50) NULL,
	["PolicyNumber"] [varchar](50) NULL,
	["IssueDate"] [varchar](50) NULL,
	["QuoteDate"] [varchar](50) NULL,
	["QuoteTime"] [varchar](50) NULL,
	["isSelected"] [varchar](50) NULL,
	["isSaved"] [varchar](50) NULL,
	["QuoteSaveDate"] [varchar](50) NULL,
	["PolicyStatus"] [varchar](50) NULL,
	["CancelledDate"] [varchar](50) NULL,
	["ProductCode"] [varchar](50) NULL,
	["ProductDisplayName"] [varchar](50) NULL,
	["PlanName"] [varchar](50) NULL,
	["AreaType"] [varchar](50) NULL,
	["Area"] [varchar](50) NULL,
	["Destination"] [varchar](50) NULL,
	["TripStart"] [varchar](50) NULL,
	["TripEnd"] [varchar](50) NULL,
	["Excess"] [varchar](50) NULL,
	["DaysCovered"] [varchar](50) NULL,
	["TripType"] [varchar](50) NULL,
	["EmailConsent"] [varchar](50) NULL,
	["PolicyTransactionID"] [varchar](50) NULL,
	["TransactionNumber"] [varchar](50) NULL,
	["TransactionDate"] [varchar](50) NULL,
	["TransactionType"] [varchar](50) NULL,
	["TransactionStatus"] [varchar](50) NULL,
	["UserName"] [varchar](50) NULL,
	["ConsultantName"] [varchar](50) NULL,
	["CoverMoreCSR"] [varchar](50) NULL,
	["TaxAmountSD"] [varchar](50) NULL,
	["TaxOnAgentCommissionSD"] [varchar](50) NULL,
	["TaxAmountGST"] [varchar](50) NULL,
	["TaxOnAgentCommissionGST"] [varchar](50) NULL,
	["QuotePrice"] [varchar](50) NULL,
	["SellPrice"] [varchar](50) NULL,
	["AgencyCommission"] [varchar](50) NULL,
	["NetPrice"] [varchar](50) NULL,
	["BasePolicyCount"] [varchar](50) NULL,
	["QuoteCount"] [varchar](50) NULL,
	["AddonPolicyCount"] [varchar](50) NULL,
	["ExtensionPolicyCount"] [varchar](50) NULL,
	["TravellerCount"] [varchar](50) NULL,
	["AdultCount"] [varchar](50) NULL,
	["ChildCount"] [varchar](50) NULL,
	["ChargedAdultCount"] [varchar](50) NULL,
	["LuggageCount"] [varchar](50) NULL,
	["MedicalCount"] [varchar](50) NULL,
	["MotorcycleCount"] [varchar](50) NULL,
	["RentalCarCount"] [varchar](50) NULL,
	["WintersportCount"] [varchar](50) NULL,
	["EMCCount"] [varchar](50) NULL,
	["PromoCode"] [varchar](50) NULL,
	["PromoName"] [varchar](50) NULL,
	["PromoType"] [varchar](50) NULL,
	["PromoDiscount"] [varchar](50) NULL,
	["GoBelowNet"] [varchar](50) NULL
) ON [PRIMARY]
GO
