USE [db-au-cmdwh]
GO
/****** Object:  Table [dbo].[tmp_penPolicy_exclude_20240820]    Script Date: 24/02/2025 12:39:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_penPolicy_exclude_20240820](
	[PolicyID] [int] NOT NULL,
	[PolicyNumber] [varchar](50) NULL
) ON [PRIMARY]
GO
