USE [db-au-cmdwh]
GO
/****** Object:  Table [dbo].[Quote_PolicyTransactionKey]    Script Date: 24/02/2025 12:39:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quote_PolicyTransactionKey](
	[PolicyTransactionKey] [varchar](41) NOT NULL
) ON [PRIMARY]
GO
