USE [db-au-cmdwh]
GO
/****** Object:  Table [dbo].[Agency]    Script Date: 24/02/2025 12:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agency](
	[AgencySKey] [bigint] NOT NULL,
	[AgencyStatus] [varchar](20) NOT NULL,
	[AgencyStartDate] [datetime] NULL,
	[AgencyEndDate] [datetime] NULL,
	[AgencyHashKey] [varchar](500) NULL,
	[CountryKey] [varchar](2) NOT NULL,
	[AgencyKey] [varchar](10) NOT NULL,
	[AgencySuperGroupName] [varchar](25) NULL,
	[AgencyGroupCode] [varchar](2) NULL,
	[AgencyGroupName] [varchar](25) NULL,
	[AgencySubGroupCode] [varchar](2) NULL,
	[AgencySubGroupName] [varchar](50) NULL,
	[AgencyCode] [varchar](7) NULL,
	[AgencyName] [varchar](50) NULL,
	[Branch] [varchar](60) NULL,
	[FLCountryCode] [varchar](30) NULL,
	[FLCountryName] [varchar](30) NULL,
	[FLNationCode] [tinyint] NULL,
	[FLNationName] [varchar](20) NULL,
	[Phone] [varchar](12) NULL,
	[Fax] [varchar](12) NULL,
	[AgencyGroupState] [varchar](20) NULL,
	[CustomerServiceInitial] [varchar](3) NULL,
	[ContactTitle] [varchar](4) NULL,
	[ContactFirstName] [varchar](25) NULL,
	[ContactMiddleInitial] [varchar](4) NULL,
	[ContactLastName] [varchar](25) NULL,
	[ContactEmail] [varchar](60) NULL,
	[AgencyComment] [varchar](100) NULL,
	[AgencyStatusCode] [varchar](2) NULL,
	[AgencyStatusName] [varchar](50) NULL,
	[BDMCode] [varchar](30) NULL,
	[BDMName] [varchar](20) NULL,
	[AccountMgrCode] [int] NULL,
	[AccountMgrName] [varchar](100) NULL,
	[AgreementDate] [datetime] NULL,
	[DateASICChecked] [datetime] NULL,
	[FSRType] [varchar](4) NULL,
	[ASICNumber] [nvarchar](50) NULL,
	[LegalEntity] [varchar](100) NULL,
	[ABN] [varchar](24) NULL,
	[CommissionPayTypeID] [int] NULL,
	[FSGMinimumCommission] [float] NULL,
	[FSGMaxCommission] [float] NULL,
	[LastModifiedDate] [datetime] NULL,
	[ModifiedByInitial] [varchar](2) NULL,
	[AddressStreet] [varchar](75) NULL,
	[AddressSuburb] [varchar](25) NULL,
	[AddressState] [varchar](3) NULL,
	[AddressPostCode] [varchar](30) NULL,
	[AgencyClosedDate] [datetime] NULL,
	[AgencyPreviousAlpha] [varchar](7) NULL,
	[CallFrequency] [varchar](3) NULL,
	[SalesSegment] [varchar](50) NULL,
	[PotentialSales] [money] NULL,
	[AccountMgrCallFrequency] [varchar](3) NULL,
	[SalesTier] [varchar](50) NULL,
	[CCOnly] [bit] NULL,
	[STARegion] [varchar](50) NULL,
	[ExternalBDMName] [varchar](40) NULL,
	[ExternalAgencyCode] [varchar](20) NULL
) ON [PRIMARY]
GO
