USE [db-au-cmdwh]
GO
/****** Object:  Table [dbo].[usrOfficeVibesCompany]    Script Date: 24/02/2025 12:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usrOfficeVibesCompany](
	[Company] [varchar](200) NULL,
	[Division] [varchar](200) NULL,
	[Department] [varchar](200) NULL,
	[SubDepartment] [varchar](200) NULL,
	[Team] [varchar](200) NULL
) ON [PRIMARY]
GO
