USE [db-au-cmdwh]
GO
/****** Object:  Table [dbo].[cdgQuote]    Script Date: 24/02/2025 12:39:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cdgQuote](
	[BIRowID] [bigint] IDENTITY(1,1) NOT NULL,
	[AnalyticsSessionID] [bigint] NOT NULL,
	[TransactionTime] [datetime] NULL,
	[CampaignID] [varchar](max) NULL,
	[Campaign] [nvarchar](255) NULL,
	[CampaignSessionID] [varchar](255) NULL,
	[BusinessUnitID] [int] NULL,
	[Domain] [nvarchar](255) NULL,
	[BusinessUnit] [nvarchar](255) NULL,
	[ChannelID] [int] NULL,
	[Channel] [nvarchar](255) NULL,
	[Currency] [nvarchar](3) NULL,
	[TravellerID] [varchar](max) NULL,
	[ImpressionID] [varchar](100) NULL,
	[TransactionType] [nvarchar](1) NULL,
	[PathType] [nvarchar](1) NULL,
	[ConstructID] [int] NULL,
	[Construct] [nvarchar](255) NULL,
	[OfferID] [int] NULL,
	[Offer] [nvarchar](255) NULL,
	[ProductID] [int] NULL,
	[Product] [nvarchar](100) NULL,
	[ProductCode] [nvarchar](255) NULL,
	[PlanCode] [nvarchar](255) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[RegionID] [int] NULL,
	[Region] [nvarchar](4000) NULL,
	[DestinationType] [nvarchar](1) NULL,
	[DestinationCountryID] [int] NULL,
	[DestinationCountryCode] [nvarchar](3) NULL,
	[DestinationCountry] [nvarchar](50) NULL,
	[TripType] [nvarchar](1) NULL,
	[IsSessionClosed] [bit] NULL,
	[IsOfferPurchased] [bit] NULL,
	[PoliciesPerTrip] [int] NULL,
	[PolicyCurrency] [nvarchar](3) NULL,
	[GrossIncludingTax] [numeric](19, 5) NULL,
	[GrossExcludingTax] [numeric](19, 5) NULL,
	[NumAdults] [int] NULL,
	[NumChildren] [int] NULL,
	[TravellerAge] [int] NULL,
	[IsAdult] [bit] NULL,
	[TravellerGender] [nvarchar](1) NULL,
	[IsPrimaryTraveller] [bit] NULL,
	[AlphaCode] [nvarchar](20) NULL,
	[PolicyNumber] [varchar](max) NULL,
	[PolicyID] [varchar](max) NULL,
	[TripCost] [numeric](8, 2) NULL,
	[DepartureAirport] [nvarchar](max) NULL,
	[DestinationAirport] [nvarchar](max) NULL,
	[CreateBatchID] [int] NULL,
	[UpdateBatchID] [int] NULL,
	[isDeleted] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
