USE [db-au-cmdwh]
GO
/****** Object:  View [dbo].[e5WorkItems]    Script Date: 24/02/2025 12:39:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[e5WorkItems] as select * from e5WorkItems_v3; 
GO
