USE [db-au-cmdwh]
GO
/****** Object:  Table [dbo].[usrFCUSMapping]    Script Date: 24/02/2025 12:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usrFCUSMapping](
	[BIRowID] [bigint] IDENTITY(1,1) NOT NULL,
	[AlphaCode] [varchar](50) NULL,
	[BDMName] [varchar](100) NULL,
	[Region] [varchar](100) NULL,
	[Brand] [varchar](100) NULL,
	[TeamName] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [ucidx_usrFCUSMapping]    Script Date: 24/02/2025 12:39:37 PM ******/
CREATE UNIQUE CLUSTERED INDEX [ucidx_usrFCUSMapping] ON [dbo].[usrFCUSMapping]
(
	[BIRowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
