USE [db-au-cmdwh]
GO
/****** Object:  Table [dbo].[Quote_Tbl_Historical]    Script Date: 24/02/2025 12:39:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quote_Tbl_Historical](
	[quote_id] [int] NULL,
	[created_datetime] [datetime] NULL,
	[policy_holder.first_name] [varchar](500) NULL,
	[policy_holder.last_name] [varchar](500) NULL,
	[policy_holder.email] [nvarchar](255) NULL,
	[policy_holder.mobile] [varchar](50) NULL,
	[policy_holder.dob] [datetime] NULL,
	[id] [nvarchar](255) NULL,
	[Trans_date] [datetime] NULL,
	[partner] [varchar](4) NULL,
	[underwriter] [varchar](10) NULL,
	[quote_slug] [nvarchar](255) NULL,
	[quote_status] [varchar](1) NULL,
	[updated_datetime] [varchar](1) NULL,
	[product_class] [varchar](6) NULL,
	[product_slug] [nvarchar](100) NULL,
	[product_type] [nvarchar](100) NULL,
	[payment_freq] [varchar](1) NULL,
	[premium.retail_premium_taxes] [numeric](19, 4) NULL,
	[premium.retail_premium_incl_taxes] [varchar](1) NULL,
	[commencement_date] [datetime] NULL,
	[expiry_date] [datetime] NULL,
	[risk_address.gnaf] [nvarchar](256) NULL,
	[risk_address.state] [nvarchar](4000) NULL,
	[risk_address.suburb] [nvarchar](4000) NULL,
	[risk_address.country] [varchar](1) NULL,
	[risk_address.postcode] [nvarchar](50) NULL,
	[risk_address.street_name] [nvarchar](4000) NULL,
	[risk_address.street_type] [nvarchar](4000) NULL,
	[risk_address.unit_number] [nvarchar](4000) NULL,
	[risk_address.street_number] [nvarchar](4000) NULL,
	[risk_address.full] [nvarchar](4000) NULL,
	[postal_address] [nvarchar](4000) NULL,
	[open_customer_ref] [varchar](1) NULL,
	[bupa_customer_ref_ref] [varchar](1) NULL,
	[channel] [varchar](11) NULL,
	[sum_insured.travel] [varchar](300) NULL,
	[excess.travel] [numeric](10, 4) NULL,
	[promo_code] [nvarchar](max) NULL,
	[additional_info.bupa_id] [varchar](1) NULL,
	[additional_info.agent_id] [varchar](1) NULL,
	[additional_info.agent_name] [varchar](1) NULL,
	[additional_info.HI_product] [varchar](1) NULL,
	[additional_info.employee_num] [varchar](1) NULL,
	[additional_info.cgu_policy_no] [varchar](1) NULL,
	[additional_info.HI_member_type] [varchar](1) NULL,
	[additional_info.employee_group] [varchar](1) NULL,
	[additional_info.HI_membership_num] [nvarchar](25) NULL,
	[additional_info.HI_member_discount] [varchar](1) NULL,
	[additional_info.employee_validated] [varchar](1) NULL,
	[additional_info.HI_member_validated] [varchar](3) NULL,
	[additional_info.HI_member_num_suffix] [nvarchar](25) NULL,
	[additional_info.cgu_policy_inception_date] [varchar](1) NULL,
	[CreatedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
