USE [db-au-cmdwh]
GO
/****** Object:  Table [dbo].[usrRPT0780]    Script Date: 24/02/2025 12:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usrRPT0780](
	[Product ID] [int] NULL,
	[Product] [nvarchar](50) NULL,
	[Region] [nvarchar](50) NULL,
	[Platform] [nvarchar](50) NULL
) ON [PRIMARY]
GO
