USE [db-au-cmdwh]
GO
/****** Object:  Table [dbo].[usrRPT0385_old]    Script Date: 24/02/2025 12:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usrRPT0385_old](
	[DATA_FILENAME] [char](9) NULL,
	[DATA_DATE] [datetime] NULL,
	[POSTING_DATE] [datetime] NULL,
	[TRANSACTION_TYPE] [char](2) NULL,
	[IS_FN2_LOADED_DATE] [char](10) NULL,
	[TRANSACTION_DATE] [char](10) NULL,
	[STAMP] [varchar](5) NULL,
	[GWP] [varchar](11) NULL,
	[PARTNER] [char](3) NULL,
	[SALES_PERSON] [char](20) NULL,
	[BU_CODE] [char](2) NULL,
	[SALES_TYPE_ORIGIN] [char](2) NULL,
	[CUSTOMER_CONTRACT_NUMBER] [char](25) NULL,
	[POLICY_ISSUE_DATE] [char](10) NULL,
	[PRODUCT_ID] [char](10) NULL,
	[BASE_PREMIUM] [varchar](11) NULL,
	[CURRENCY_CODE] [char](3) NULL,
	[TRAVEL_START_DATE] [char](10) NULL,
	[TRAVEL_END_DATE] [char](10) NULL,
	[TRAVEL_ORIGIN_COUNTRY] [char](2) NULL,
	[TRAVEL_ORIGIN_COUNTY] [char](2) NULL,
	[TRAVEL_ORIGIN_AIRPORT] [char](2) NULL,
	[TRAVEL_DESTINATION_COUNTRY] [varchar](2) NULL,
	[TRAVEL_DESTINATION_COUNTY] [char](2) NULL,
	[TRAVEL_DESTINATION_AIRPORT] [char](2) NULL,
	[TOTAL_TRAVEL_PRICE] [varchar](11) NULL,
	[POLICY_START_COVER] [char](10) NULL,
	[POLICY_END_COVER] [char](10) NULL,
	[HOLDER_EMAIL] [char](50) NULL,
	[HOLDER_ADD_LINE1] [char](90) NULL,
	[HOLDER_ADD_LINE2] [char](30) NULL,
	[HOLDER_ADD_LINE3] [char](30) NULL,
	[HOLDER_ZIP] [char](10) NULL,
	[HOLDER_TOWN] [char](30) NULL,
	[HOLDER_STATE] [char](15) NULL,
	[HOLDER_COUNTRY] [char](15) NULL,
	[HOLDER_HOME_PHONE] [char](16) NULL,
	[HOLDER_OFFICE_PHONE] [char](16) NULL,
	[HOLDER_MOBILE_PHONE] [char](16) NULL,
	[Filler01] [char](10) NULL,
	[Filler02] [char](10) NULL,
	[Filler03] [char](10) NULL,
	[Filler04] [char](10) NULL,
	[Filler05] [char](10) NULL,
	[Filler06] [char](10) NULL,
	[Filler07] [char](10) NULL,
	[Filler08] [char](10) NULL,
	[Filler09] [char](10) NULL,
	[Filler10] [char](10) NULL,
	[Filler11] [char](10) NULL,
	[Filler12] [char](10) NULL,
	[Filler13] [char](10) NULL,
	[TRANSACTION_ID] [varchar](10) NULL,
	[POLICY_PARTNER_REFERENCE] [varchar](11) NULL,
	[NUMBER_TRAVELLER] [varchar](4) NULL,
	[X1_PAX_TITLE] [varchar](8) NULL,
	[X1_PAX_FIRSTNAME] [varchar](30) NULL,
	[X1_PAX_LASTNAME] [varchar](20) NULL,
	[X1_PAX_DOB] [varchar](10) NULL,
	[X1_PAX_SECONDNAME] [char](20) NULL,
	[X1_PAX_CARDID] [varchar](15) NULL,
	[X1_PAX_SOCIALID] [varchar](15) NULL,
	[X1_PAX_LOCALNAME] [char](15) NULL,
	[X2_PAX_TITLE] [varchar](8) NULL,
	[X2_PAX_FIRSTNAME] [varchar](30) NULL,
	[X2_PAX_LASTNAME] [varchar](20) NULL,
	[X2_PAX_DOB] [varchar](10) NULL,
	[X2_PAX_SECONDNAME] [char](20) NULL,
	[X2_PAX_CARDID] [varchar](15) NULL,
	[X2_PAX_SOCIALID] [varchar](15) NULL,
	[X2_PAX_LOCALNAME] [char](15) NULL,
	[X3_PAX_TITLE] [varchar](8) NULL,
	[X3_PAX_FIRSTNAME] [varchar](30) NULL,
	[X3_PAX_LASTNAME] [varchar](20) NULL,
	[X3_PAX_DOB] [varchar](10) NULL,
	[X3_PAX_SECONDNAME] [char](20) NULL,
	[X3_PAX_CARDID] [varchar](15) NULL,
	[X3_PAX_SOCIALID] [varchar](15) NULL,
	[X3_PAX_LOCALNAME] [char](15) NULL,
	[X4_PAX_TITLE] [varchar](8) NULL,
	[X4_PAX_FIRSTNAME] [varchar](30) NULL,
	[X4_PAX_LASTNAME] [varchar](20) NULL,
	[X4_PAX_DOB] [varchar](10) NULL,
	[X4_PAX_SECONDNAME] [char](20) NULL,
	[X4_PAX_CARDID] [varchar](15) NULL,
	[X4_PAX_SOCIALID] [varchar](15) NULL,
	[X4_PAX_LOCALNAME] [char](15) NULL,
	[X5_PAX_TITLE] [varchar](8) NULL,
	[X5_PAX_FIRSTNAME] [varchar](30) NULL,
	[X5_PAX_LASTNAME] [varchar](20) NULL,
	[X5_PAX_DOB] [varchar](10) NULL,
	[X5_PAX_SECONDNAME] [char](20) NULL,
	[X5_PAX_CARDID] [varchar](15) NULL,
	[X5_PAX_SOCIALID] [varchar](15) NULL,
	[X5_PAX_LOCALNAME] [char](15) NULL,
	[X6_PAX_TITLE] [varchar](8) NULL,
	[X6_PAX_FIRSTNAME] [varchar](30) NULL,
	[X6_PAX_LASTNAME] [varchar](20) NULL,
	[X6_PAX_DOB] [varchar](10) NULL,
	[X6_PAX_SECONDNAME] [char](20) NULL,
	[X6_PAX_CARDID] [varchar](15) NULL,
	[X6_PAX_SOCIALID] [varchar](15) NULL,
	[X6_PAX_LOCALNAME] [char](15) NULL,
	[X7_PAX_TITLE] [varchar](8) NULL,
	[X7_PAX_FIRSTNAME] [varchar](30) NULL,
	[X7_PAX_LASTNAME] [varchar](20) NULL,
	[X7_PAX_DOB] [varchar](10) NULL,
	[X7_PAX_SECONDNAME] [char](20) NULL,
	[X7_PAX_CARDID] [varchar](15) NULL,
	[X7_PAX_SOCIALID] [varchar](15) NULL,
	[X7_PAX_LOCALNAME] [char](15) NULL,
	[X8_PAX_TITLE] [varchar](8) NULL,
	[X8_PAX_FIRSTNAME] [varchar](30) NULL,
	[X8_PAX_LASTNAME] [varchar](20) NULL,
	[X8_PAX_DOB] [varchar](10) NULL,
	[X8_PAX_SECONDNAME] [char](20) NULL,
	[X8_PAX_CARDID] [varchar](15) NULL,
	[X8_PAX_SOCIALID] [varchar](15) NULL,
	[X8_PAX_LOCALNAME] [char](15) NULL,
	[X9_PAX_TITLE] [varchar](8) NULL,
	[X9_PAX_FIRSTNAME] [varchar](30) NULL,
	[X9_PAX_LASTNAME] [varchar](20) NULL,
	[X9_PAX_DOB] [varchar](10) NULL,
	[X9_PAX_SECONDNAME] [char](20) NULL,
	[X9_PAX_CARDID] [varchar](15) NULL,
	[X9_PAX_SOCIALID] [varchar](15) NULL,
	[X9_PAX_LOCALNAME] [char](15) NULL,
	[X10_PAX_TITLE] [varchar](8) NULL,
	[X10_PAX_FIRSTNAME] [varchar](30) NULL,
	[X10_PAX_LASTNAME] [varchar](20) NULL,
	[X10_PAX_DOB] [varchar](10) NULL,
	[X10_PAX_SECONDNAME] [char](20) NULL,
	[X10_PAX_CARDID] [varchar](15) NULL,
	[X10_PAX_SOCIALID] [varchar](15) NULL,
	[X10_PAX_LOCALNAME] [char](15) NULL,
	[X11_PAX_TITLE] [varchar](8) NULL,
	[X11_PAX_FIRSTNAME] [varchar](30) NULL,
	[X11_PAX_LASTNAME] [varchar](20) NULL,
	[X11_PAX_DOB] [varchar](10) NULL,
	[X11_PAX_SECONDNAME] [char](20) NULL,
	[X11_PAX_CARDID] [varchar](15) NULL,
	[X11_PAX_SOCIALID] [varchar](15) NULL,
	[X11_PAX_LOCALNAME] [char](15) NULL,
	[X12_PAX_TITLE] [varchar](8) NULL,
	[X12_PAX_FIRSTNAME] [varchar](30) NULL,
	[X12_PAX_LASTNAME] [varchar](20) NULL,
	[X12_PAX_DOB] [varchar](10) NULL,
	[X12_PAX_SECONDNAME] [char](20) NULL,
	[X12_PAX_CARDID] [varchar](15) NULL,
	[X12_PAX_SOCIALID] [varchar](15) NULL,
	[X12_PAX_LOCALNAME] [char](15) NULL,
	[X13_PAX_TITLE] [varchar](8) NULL,
	[X13_PAX_FIRSTNAME] [varchar](30) NULL,
	[X13_PAX_LASTNAME] [varchar](20) NULL,
	[X13_PAX_DOB] [varchar](10) NULL,
	[X13_PAX_SECONDNAME] [char](20) NULL,
	[X13_PAX_CARDID] [varchar](15) NULL,
	[X13_PAX_SOCIALID] [varchar](15) NULL,
	[X13_PAX_LOCALNAME] [char](15) NULL,
	[X14_PAX_TITLE] [varchar](8) NULL,
	[X14_PAX_FIRSTNAME] [varchar](30) NULL,
	[X14_PAX_LASTNAME] [varchar](20) NULL,
	[X14_PAX_DOB] [varchar](10) NULL,
	[X14_PAX_SECONDNAME] [char](20) NULL,
	[X14_PAX_CARDID] [varchar](15) NULL,
	[X14_PAX_SOCIALID] [varchar](15) NULL,
	[X14_PAX_LOCALNAME] [char](15) NULL,
	[X15_PAX_TITLE] [varchar](8) NULL,
	[X15_PAX_FIRSTNAME] [varchar](30) NULL,
	[X15_PAX_LASTNAME] [varchar](20) NULL,
	[X15_PAX_DOB] [varchar](10) NULL,
	[X15_PAX_SECONDNAME] [char](20) NULL,
	[X15_PAX_CARDID] [varchar](15) NULL,
	[X15_PAX_SOCIALID] [varchar](15) NULL,
	[X15_PAX_LOCALNAME] [char](15) NULL,
	[X16_PAX_TITLE] [varchar](8) NULL,
	[X16_PAX_FIRSTNAME] [varchar](30) NULL,
	[X16_PAX_LASTNAME] [varchar](20) NULL,
	[X16_PAX_DOB] [varchar](10) NULL,
	[X16_PAX_SECONDNAME] [char](20) NULL,
	[X16_PAX_CARDID] [varchar](15) NULL,
	[X16_PAX_SOCIALID] [varchar](15) NULL,
	[X16_PAX_LOCALNAME] [char](15) NULL,
	[X17_PAX_TITLE] [varchar](8) NULL,
	[X17_PAX_FIRSTNAME] [varchar](30) NULL,
	[X17_PAX_LASTNAME] [varchar](20) NULL,
	[X17_PAX_DOB] [varchar](10) NULL,
	[X17_PAX_SECONDNAME] [char](20) NULL,
	[X17_PAX_CARDID] [varchar](15) NULL,
	[X17_PAX_SOCIALID] [varchar](15) NULL,
	[X17_PAX_LOCALNAME] [char](15) NULL,
	[X18_PAX_TITLE] [varchar](8) NULL,
	[X18_PAX_FIRSTNAME] [varchar](30) NULL,
	[X18_PAX_LASTNAME] [varchar](20) NULL,
	[X18_PAX_DOB] [varchar](10) NULL,
	[X18_PAX_SECONDNAME] [char](20) NULL,
	[X18_PAX_CARDID] [varchar](15) NULL,
	[X18_PAX_SOCIALID] [varchar](15) NULL,
	[X18_PAX_LOCALNAME] [char](15) NULL,
	[X19_PAX_TITLE] [varchar](8) NULL,
	[X19_PAX_FIRSTNAME] [varchar](30) NULL,
	[X19_PAX_LASTNAME] [varchar](20) NULL,
	[X19_PAX_DOB] [varchar](10) NULL,
	[X19_PAX_SECONDNAME] [char](20) NULL,
	[X19_PAX_CARDID] [varchar](15) NULL,
	[X19_PAX_SOCIALID] [varchar](15) NULL,
	[X19_PAX_LOCALNAME] [char](15) NULL,
	[X20_PAX_TITLE] [varchar](8) NULL,
	[X20_PAX_FIRSTNAME] [varchar](30) NULL,
	[X20_PAX_LASTNAME] [varchar](20) NULL,
	[X20_PAX_DOB] [varchar](10) NULL,
	[X20_PAX_SECONDNAME] [char](20) NULL,
	[X20_PAX_CARDID] [varchar](15) NULL,
	[X20_PAX_SOCIALID] [varchar](15) NULL,
	[X20_PAX_LOCALNAME] [char](15) NULL,
	[X21_PAX_TITLE] [varchar](8) NULL,
	[X21_PAX_FIRSTNAME] [varchar](30) NULL,
	[X21_PAX_LASTNAME] [varchar](20) NULL,
	[X21_PAX_DOB] [varchar](10) NULL,
	[X21_PAX_SECONDNAME] [char](20) NULL,
	[X21_PAX_CARDID] [varchar](15) NULL,
	[X21_PAX_SOCIALID] [varchar](15) NULL,
	[X21_PAX_LOCALNAME] [char](15) NULL,
	[X22_PAX_TITLE] [varchar](8) NULL,
	[X22_PAX_FIRSTNAME] [varchar](30) NULL,
	[X22_PAX_LASTNAME] [varchar](20) NULL,
	[X22_PAX_DOB] [varchar](10) NULL,
	[X22_PAX_SECONDNAME] [char](20) NULL,
	[X22_PAX_CARDID] [varchar](15) NULL,
	[X22_PAX_SOCIALID] [varchar](15) NULL,
	[X22_PAX_LOCALNAME] [char](15) NULL,
	[X23_PAX_TITLE] [varchar](8) NULL,
	[X23_PAX_FIRSTNAME] [varchar](30) NULL,
	[X23_PAX_LASTNAME] [varchar](20) NULL,
	[X23_PAX_DOB] [varchar](10) NULL,
	[X23_PAX_SECONDNAME] [char](20) NULL,
	[X23_PAX_CARDID] [varchar](15) NULL,
	[X23_PAX_SOCIALID] [varchar](15) NULL,
	[X23_PAX_LOCALNAME] [char](15) NULL,
	[X24_PAX_TITLE] [varchar](8) NULL,
	[X24_PAX_FIRSTNAME] [varchar](30) NULL,
	[X24_PAX_LASTNAME] [varchar](20) NULL,
	[X24_PAX_DOB] [varchar](10) NULL,
	[X24_PAX_SECONDNAME] [char](20) NULL,
	[X24_PAX_CARDID] [varchar](15) NULL,
	[X24_PAX_SOCIALID] [varchar](15) NULL,
	[X24_PAX_LOCALNAME] [char](15) NULL,
	[X25_PAX_TITLE] [varchar](8) NULL,
	[X25_PAX_FIRSTNAME] [varchar](30) NULL,
	[X25_PAX_LASTNAME] [varchar](20) NULL,
	[X25_PAX_DOB] [varchar](10) NULL,
	[X25_PAX_SECONDNAME] [char](20) NULL,
	[X25_PAX_CARDID] [varchar](15) NULL,
	[X25_PAX_SOCIALID] [varchar](15) NULL,
	[X25_PAX_LOCALNAME] [char](15) NULL,
	[DATA_STATUS] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_usrRPT0385_BU_CODE]    Script Date: 24/02/2025 12:39:37 PM ******/
CREATE NONCLUSTERED INDEX [idx_usrRPT0385_BU_CODE] ON [dbo].[usrRPT0385_old]
(
	[BU_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_usrRPT0385_Data_Date]    Script Date: 24/02/2025 12:39:37 PM ******/
CREATE NONCLUSTERED INDEX [idx_usrRPT0385_Data_Date] ON [dbo].[usrRPT0385_old]
(
	[DATA_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_usrRPT0385_Data_Filename]    Script Date: 24/02/2025 12:39:37 PM ******/
CREATE NONCLUSTERED INDEX [idx_usrRPT0385_Data_Filename] ON [dbo].[usrRPT0385_old]
(
	[DATA_FILENAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_usrRPT0385_PolicyPartnerReference]    Script Date: 24/02/2025 12:39:37 PM ******/
CREATE NONCLUSTERED INDEX [idx_usrRPT0385_PolicyPartnerReference] ON [dbo].[usrRPT0385_old]
(
	[POLICY_PARTNER_REFERENCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [idx_usrRPT0385_Posting_Date]    Script Date: 24/02/2025 12:39:37 PM ******/
CREATE NONCLUSTERED INDEX [idx_usrRPT0385_Posting_Date] ON [dbo].[usrRPT0385_old]
(
	[POSTING_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_usrRPT0385_TransactionID]    Script Date: 24/02/2025 12:39:37 PM ******/
CREATE NONCLUSTERED INDEX [idx_usrRPT0385_TransactionID] ON [dbo].[usrRPT0385_old]
(
	[TRANSACTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
