USE [db-au-cmdwh]
GO
/****** Object:  Table [dbo].[usrFCT3Mapping]    Script Date: 24/02/2025 12:39:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usrFCT3Mapping](
	[BIRowID] [bigint] IDENTITY(1,1) NOT NULL,
	[Country] [varchar](5) NULL,
	[T3Code] [varchar](50) NULL,
	[AlphaCode] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Index [cidx]    Script Date: 24/02/2025 12:39:37 PM ******/
CREATE UNIQUE CLUSTERED INDEX [cidx] ON [dbo].[usrFCT3Mapping]
(
	[BIRowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx]    Script Date: 24/02/2025 12:39:37 PM ******/
CREATE NONCLUSTERED INDEX [idx] ON [dbo].[usrFCT3Mapping]
(
	[T3Code] ASC,
	[Country] ASC
)
INCLUDE([AlphaCode]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
