USE [db-au-cmdwh]
GO
/****** Object:  StoredProcedure [dbo].[Quote_Data_Proc_ALLJV]    Script Date: 24/02/2025 12:39:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
                                                                                               
CREATE PROCEDURE [dbo].[Quote_Data_Proc_ALLJV]  --'2024-11-20','2025-01-12'   
  
                                                                                            
@StartDate datetime,    
@EndDate datetime   
  
  
  
AS                            
BEGIN  
                                                        
/************************************************************************************************************************************                                                          
Author:         Abhilash Yelmelwar                                                        
Date:           20252001                                                          
Prerequisite:   Requires ETL021 Penguin Data Model and ETL043_CDG_Quote_A&G successfully run.                                                          
Description:    This proc being developed for to capture all Impulse quotes and Policy information in single table                                                       
Change History:                                        
Date:20-01-2025     NAME :Abhilash Y CHG0040323  to copy quote and policy information from Impulse System                              
    
         
                                                                        
*************************************************************************************************************************************/    
                          
                              
if object_id('Temp111') is not null                              
        drop table Temp111                              
  --go                              
    if object_id('Temp121') is not null                              
        drop table Temp121                              
                              
SELECT * INTO Temp111 FROM (                                                                                                                        
select distinct                                                                             
m.PolicyNumber as [Policy_Number],                                                                            
Quote_Date,                             
CASE WHEN M.PolicyNumber IS NOT NULL THEN  ISNULL(M.ExternalReference3,'') ELSE  ISNULL(Quote_Reference_ID,'') COLLATE DATABASE_DEFAULT END as Quote_Reference_ID,                            
CASE WHEN M.PolicyNumber IS NOT NULL THEN ISNULL(M.ExternalReference2,'') ELSE   ISNULL(Quote_Transaction_ID,'') COLLATE DATABASE_DEFAULT END as Quote_Transaction_ID,                                                                                                              
a.SESSIONID as Lead_Number,                                                                                                                                                                    
ISNULL(gclid,'') as GCLID,                                                                                                                                                                    
ISNULL(GA_Client_ID,'') as GA_Client_ID,                                                                                                                                                                    
 CONVERT(varchar(500),Yz.Link_ID collate SQL_Latin1_General_CP1_CI_AS)   as Link_ID,                                                                                                                                                                    
'' as [Marketing_Opt_Out],                                                                                                                                                                      
                                                                                                                                                                                  
replace(Country_list,',',';') as [Travel_Countries_List],                                                                                                                                  
'' as [Primary_Country],                                                                                               
len(Country_list) - len(replace(Country_list, ',', '')) +1 as Number_of_Countries,                      
replace(Region_List,',','') as  Region_List,                               
Departure_Date,                                                                                    
Return_Date,                           
datediff(DAY,Departure_Date,Return_Date)+1 AS Trip_Duration,                                                   
cast(ISNULL(m.Excess,'') as decimal(10,4))   AS Excess_Amount,                                  
I.ProductName AS [Plan_Type_Name],                                                                                                                                                                    
CASE                                                                                                                                                 
WHEN ProductName='Comprehensive' AND convert(VARCHAR(300),CANXCoverageAmount)='1.00' THEN '10000'                                                                                                                                                 
WHEN ProductName='Essential' AND convert(VARCHAR(300),CANXCoverageAmount)='1.00' THEN '5000'                                                                                                                                                
WHEN  convert(VARCHAR(300),CANXCoverageAmount)='-1.00' THEN 'Unlimited' else  convert(varchar(50),CANXCoverageAmount)  end                                                                       
AS  Cancellation_Sum_Insured,                                                             
case when HasCRS=1 then 'Yes' else 'No' END as Cruise_Flag,                                                                
                                                           
--case                                                          
--when HasADVACT=1 then 'Adventure Activities'                                                                                                    
--when HasADVACT2=1 then 'Adventure Activities +'                                                                
--when HasADVACT=0 and HasADVACT2=0 then 'No'                                                                                       
--end as Adventure_Activities_Flag,                                                                            
                                                                                
case when m.PolicyNumber is not null then ISNULL([AdventureActivities_Flag],'No') else                                                                                 
case                                                                                                    
when HasADVACT=1 then 'Adventure'                                                                                                    
when HasADVACT2=1 then 'Adventure+'                                                                                                    
when HasADVACT=0 and HasADVACT2=0 then 'No'                                                                          
end end as Adventure_Activities_Flag,                                                                                
case                                                                                  
when HasMTCL=1 then 'Motorcycle / Moped Riding'                                                                             
when HasMTCLTWO=1 then 'Motorcycle / Moped Riding +'                                                                                
when HasMTCL=0 and HasMTCLTWO=0 then 'No' end                                                                                                    
as Motorbike_Flag,                                                                                                            
case                                                                                                     
when HasSNSPRTS=1 then 'Snow Sports'                                                                                                    
when HasSNSPRTS2=1 then 'Snow Sports +'                                                                                               
when HasSNSPRTS=0 and HasSNSPRTS2=0 then 'No' end as Snow_Sports_Flag,                                                                                                                                
case                                                                     
when HasLUGG=1 then 'Yes'                                              
when HasLUGG=0 then 'No' end                                                              
as Luggage_Flag,                          
case when                                                               
HasEMC=1 then 'Yes' else 'No' ENd as PEMC_Flag,                                        
case when COVCANX.Covid_Premium is not null then 'Yes' else 'No' end as Covid_Flag,                                                                                                 
case when m.PolicyNumber is not null then cast(ISNULL(z22.GrossPremium,'') as decimal(10,4)) else                                      
cast(ISNULL(BASE.BASE_Premium,0) as decimal(10,4)) end AS Quoted_Base_Premium,                               
                              
case when m.PolicyNumber is not null then cast(ISNULL(O1.Cancellation_Premium,'') as decimal(10,4)) else                                      
cast(ISNULL(CANX.Cancellation_Premium,0) as decimal(10,4)) END   AS Quoted_Cancellation_Premium,                                                                                                     
case when m.PolicyNumber is not null then cast(ISNULL(o4.SnowSports_Premium,'') as decimal(10,4)) else                                      
cast(ISNULL(SNSPRTS.Snow_Sports_Premium,0) as decimal(10,4)) END  AS Quoted_Snow_Sports_Premium,                                 
                              
                              
                              
case when m.PolicyNumber is not null then cast(ISNULL(s.AdventureActivities_Premium,'')as decimal(10,4)) else                                      
cast(ISNULL(ADVC.Adventure_Premium,0) as decimal(10,4)) END  AS Quoted_Adventure_Activities_Premium,                                
                              
                              
case when m.PolicyNumber is not null then cast(ISNULL(s1.Motorcycle_Premium,'')as decimal(10,4)) else                                      
cast(ISNULL(MTCL.MotorCYcle_Premium,0) as decimal(10,4)) END  AS Quoted_Motorcycle_Premium,                                  
                              
                              
                              
                              
case when m.PolicyNumber is not null then  cast(ISNULL(o3.Luggage_Premium,'')as decimal(10,4)) else                                      
cast(ISNULL(LUGG.Luggage_Premium,0) as decimal(10,4)) END  AS Quoted_Luggage_Premium,                               
                              
                              
case when m.PolicyNumber is not null then cast(ISNULL(O5.PEMC_Premium,'')as decimal(10,4)) else                                      
cast(ISNULL(EMC.PEMC_Premium,0) as decimal(10,4)) END  AS Quoted_PEMC_Premium,                                
                              
                              
                              
case when m.PolicyNumber is not null then cast(ISNULL(O2.Covid_Premium,'')as decimal(10,4)) else              
cast(ISNULL(COVCANX.Covid_Premium,0) as decimal(10,4)) END AS   Quoted_Covid_Premium,                              
                              
                              
                              
                              
case when m.PolicyNumber is not null then cast(ISNULL(u.Cruise_Premium,'')as decimal(10,4)) else                                      
cast(ISNULL(CRS.Cruise_Premium,0) as decimal(10,4)) END  AS Quoted_Cruise_Premium,                                 
                              
     
                              
                              
case when m.PolicyNumber is not null then cast(ISNULL(q.Total_Premium,'')as decimal(10,4)) else                                      
cast(ISNULL(A.TotalGrossPremium,0) as decimal(10,4)) END          
 AS Total_Quoted_Premium,                                 
                               
CASE WHEN m.PolicyNumber IS NULL THEN cast(ISNULL(A.TotalAdjustedGrossPremium,0) as decimal(10,4)) ELSE                                                            
cast(ISNULL(n.Total_Gross_Premium,'')as decimal(10,4)) END AS Total_Quoted_Gross_Premium,                                                                                                                                                        
q.NAP AS NAP,                                                                                        
convert(varchar(500),replace(o.Title,',',' ')) AS Policy_Holder_Title,                                                                                                                                                           
convert(varchar(500),replace(o.FirstName,',',' ')) AS Policy_Holder_First_Name,                                   
convert(varchar(500),replace(o.LastName,',',' ')) AS  Policy_Holder_Surname,                                                                                                                                               
o.EmailAddress AS  Policy_Holder_Email,                                                                      
o.MobilePhone AS  Policy_Holder_Mobile_Phone,                                                                                                                                                   
replace(o.PolicyHolder_Address,',','') AS   Policy_Holder_Address,                                                                                   
o.DOB as Policy_Holder_DOB,                                                                                                                                             
o.Age as Policy_Holder_Age,                                                                                                                                                                    
o.State AS Policy_Holder_State,                                                                                                                                                              
OldestTraveller_DOB AS Oldest_Traveller_DOB,                                                                                                   
OldestTraveller_Age AS Oldest_Traveller_Age,                                                                                                                                        
f2.AffiliateCode AS Agency_Code,                                                                                                                      
Groupname as  Agency_Name,                                                                                                                                                                    
Groupname as Brand,                                                                                                                                                                    
Channel as Channel_Type,                                                                                    
                                                                                                
                                                                                       
isnull(Prmocode_list,'') AS Promotional_Code,                                                                   
                                  
                                  
isnull(case when A.PromoCodeListID!='-1' then                                       
 convert(varchar(50),convert(decimal(5,2),isnull(convert(varchar(30),case when A.PromoCodeListID!='-1'                                         
then (TotalGrossPremium-TotalAdjustedGrossPremium)/TotalGrossPremium*100 end),'')))+' % Discount' end,'')                                       
AS Promotional_Factor ,                                    
                                  
                        
                                  
                                  
convert(varchar(150),E.SessionToken) AS [Session_Token]                                                                                               
                                                
                                                                                                                                
FROM(                                          
SELECT convert(date,[db-au-cmdwh].dbo.[xfn_ConvertUTCtoLocal](b.Date+''+c.StandardTime,'E. Australia Standard TIme'),103) as Quote_Date,* from                               
[db-au-stage].dbo.cdg_factQuote_AU_AG AS A1 with(nolock) inner join [db-au-stage].dbo.cdg_dimdate_au_AG                                                    
as b with(nolock) on A1.QuoteTransactionDateID=b.DimDateID inner join  [db-au-stage].dbo.cdg_dimTime_AU as c with(nolock) on a1.QuoteTransactionTimeID=c.DimTimeID                                                        
WHERE  convert(date,[db-au-cmdwh].dbo.[xfn_ConvertUTCtoLocal](b.Date+''+c.StandardTime,'E. Australia Standard TIme'),103)    
between convert(date,@StartDate,103) and convert(date,@EndDate,103)                          
and A1.Sessionid not in (SELECT SessionID from                               
[db-au-stage].dbo.cdg_factQuote_AU_AG AS A1 with(nolock) inner join [db-au-stage].dbo.cdg_dimdate_au_AG                                                    
as b with(nolock) on A1.QuoteTransactionDateID=b.DimDateID inner join  [db-au-stage].dbo.cdg_dimTime_AU as c with(nolock) on a1.QuoteTransactionTimeID=c.DimTimeID                                                        
WHERE  convert(date,[db-au-cmdwh].dbo.[xfn_ConvertUTCtoLocal](b.Date+''+c.StandardTime,'E. Australia Standard TIme'),103)    
between convert(date,@StartDate,103) and convert(date,@EndDate,103)                   and ProductID='-1')                                                                                      
--and quotetransactiondateid in (                                                          
--select dimdateid  from  [db-au-stage].dbo.cdg_dimdate_au_AG                                                           
--where convert(date,date,103)=convert(date,@StartDate,103))                                                         
                                                    
                                                          
                                                          
) AS A                                                                                                                                                                 
OUTER APPLY                                                                                                                
(SELECT B1.Date AS Departure_Date FROM  [db-au-stage].dbo.cdg_dimdate_au_AG AS B1 with(nolock)                                                               
WHERE  A.TripStartDateID=B1.DimDateID ) AS B                                                                                                                                                                     
OUTER APPLY (SELECT C1.Date as Return_Date FROM  [db-au-stage].dbo.cdg_dimdate_au_AG AS C1   with(nolock)                                           WHERE  A.TripEndDateID=C1.DimDateID ) AS C                                                  
    
      
                                                      
OUTER APPLY                                                                                                                                                                    
(SELECT D1.Date AS QuotedDate FROM  [db-au-stage].dbo.cdg_dimDate_AU_AG AS D1  with(nolock)          
WHERE  A.QuoteTransactionDateID=D1.DimDateID) AS D                    
OUTER APPLY                                                        
(SELECT SessionID,SessionToken,AffiliateCodeID FROM [db-au-stage].dbo.cdg_factSession_AU_AG AS E1    with(nolock)                                                                                                                                             
  
    
WHERE SessionID=FactSessionID ) AS E                                   
OUTER APPLY(SELECT DimCampaignID,CampaignName,DefaultAffiliateCode,DefaultCultureCode FROM [db-au-stage].dbo.cdg_DimCampaign_AU_AG as F1 with(nolock)                                                                                         
where CampaignID=f1.DimCampaignID ) as F                              
OUTER APPLY                          
(                          
SELECT AffiliateCode FROM [db-au-stage].dbo.cdg_dimAffiliateCode_AU_AG as F1 with(nolock) WHERE F1.DimAffiliateCodeID=AffiliateCodeID                          
) AS F2                          
                          
                          
OUTER APPLY                                                                         
(select  RegionName as Region_List from  [db-au-stage].dbo.cdg_DimRegion_AU_AG as G1                                                                                                                                                                     
where RegionID =g1.DimRegionID) as G                                                                                                                                                        
OUTER APPLY                                              
(                                                                                    
SELECT * FROM (                                                                                        
SELECT B.DimCovermoreCountryListID,b.SessionID,b.FactQuoteID,                                            
STUFF((select ','+CONVERT(VARCHAR(30),CovermoreCountryName) from (                                                                                                      
SELECT SessionID,FactQuoteID,DimCovermoreCountryListID,COUNTRYID,CovermoreCountryName FROM (                                                                              
SELECT  SessionID,FactQuoteID,DimCovermoreCountryListID,CMCountryID1,CMCountryID2,CMCountryID3,CMCountryID4,CMCountryID5,CMCountryID6,CMCountryID7,                                                                                    
CMCountryID8,CMCountryID9,CMCountryID10 FROM  [db-au-stage].dbo.cdg_factQuote_AU_AG                                                                
AS A with(nolock) INNER JOIN [db-au-stage].dbo.cdg_dimCovermoreCountryList_AU_AG AS B with(nolock) ON A.DestCovermoreCountryListID=B.DimCovermoreCountryListID) AS A                                                                                           
  
    
                          
UNPIVOT                                                      
(                                                                                                                      
COUNTRYID FOR                                                                                                                                                                    
COUNTRY IN (CMCountryID1,CMCountryID2,CMCountryID3,CMCountryID4,CMCountryID5,CMCountryID6,CMCountryID7,CMCountryID8,CMCountryID9,CMCountryID10)                                                                
) AS A INNER JOIN [db-au-stage].dbo.cdg_dimCovermoreCountry_AU_AG AS B ON COUNTRYID=B.DimCovermoreCountryID                                                                                              
WHERE COUNTRYID<>'-1') AS A WHERE A.DimCovermoreCountryListID=B.DimCovermoreCountryListID              
and  a.SessionID=b.SessionID and a.FactQuoteID=b.FactQuoteID  FOR XML PATH('')),1,1,'') AS Country_list                                                                                                                                                
FROM                                                        
(                                                                                            
SELECT SessionID,FactQuoteID,DimCovermoreCountryListID,COUNTRYID,CovermoreCountryName FROM (                                                                                                                                                                   
 
SELECT  SessionID,FactQuoteID,DimCovermoreCountryListID,CMCountryID1,CMCountryID2,CMCountryID3,CMCountryID4,CMCountryID5,CMCountryID6,                         
                            
CMCountryID7,                                                                                                                       
CMCountryID8,CMCountryID9,CMCountryID10 FROM  [db-au-stage].dbo.cdg_factQuote_AU_AG                         
AS A INNER JOIN [db-au-stage].dbo.cdg_dimCovermoreCountryList_AU_AG AS B ON A.DestCovermoreCountryListID=B.DimCovermoreCountryListID) AS A                                                                
                                               
UNPIVOT                                                  
(                                                                                                                                                               
COUNTRYID FOR                                                         
COUNTRY IN (CMCountryID1,CMCountryID2,CMCountryID3,CMCountryID4,CMCountryID5,CMCountryID6,CMCountryID7,CMCountryID8,CMCountryID9,                                                                     
CMCountryID10)                                                                                                                                                
) AS A INNER JOIN [db-au-stage].dbo.cdg_dimCovermoreCountry_AU_AG AS B ON COUNTRYID=B.DimCovermoreCountryID                                                                            
WHERE COUNTRYID<>'-1'                                                                                                                                                                    
) AS B GROUP BY B.DimCovermoreCountryListID,b.SessionID,b.FactQuoteID) AS H1                                                                                                                                                                    
WHERE H1.SessionID=A.SessionID AND H1.FactQuoteID=A.FactQuoteID ) AS H                                                                                 
OUTER APPLY                                                                                                                    
(                                                                                             
SELECT DimProductID,ProductCode,PlanCode,ProductName,TripFrequency FROM [db-au-stage].dbo.cdg_DimProduct_AU_AG AS I1                                                           
WHERE A.ProductID=I1.DimProductID                                                                                                                                                                    
) I                                                                                                                                                                    
OUTER APPLY                                                                                                                        
                                                  
(                                          
SELECT * FROM (                                                                        
SELECT B.PromoCodeListID,b.SessionID,b.FactQuoteID,STUFF((select ','+CONVERT(VARCHAR(30),Code) from (                                                                                                                              
SELECT SessionID,FactQuoteID,PromoCodeListID,PromoCodeID,PromoCode,Code,Type,CampaignID FROM (                                                                                                     
SELECT SessionID,FactQuoteID,PromoCodeListID,PromoCodeID1,PromoCodeID2,PromoCodeID3,PromoCodeID4 FROM                                                                                
[db-au-stage].dbo.cdg_factQuote_AU_AG                                                                                                                                           
AS A INNER JOIN [db-au-stage].dbo.cdg_dimPromoCodeList_AU_AG AS B ON A.PromoCodeListID=B.DimPromoCodeListID) AS A                                                             
UNPIVOT                                                                                                              
(                                                    
PromoCodeID FOR                                                                                                                                       
PromoCode IN (PromoCodeID1,PromoCodeID2,PromoCodeID3,PromoCodeID4)                                                                                        
) AS A INNER JOIN [db-au-stage].dbo.cdg_dimPromocode_AU_AG AS B ON PromoCodeID=B.DimPromoCodeID                                                                                                                               
WHERE PromoCodeID<>'-1') AS A WHERE A.PromoCodeListID=B.PromoCodeListID                                                                                                
and  a.SessionID=b.SessionID and a.FactQuoteID=b.FactQuoteID  FOR XML PATH('')),1,1,'') AS Prmocode_list                                                                                                                                                       
 
    
      
       
FROM                                                    
(                                                                                                       
SELECT SessionID,FactQuoteID,PromoCodeListID,PromoCodeID,PromoCode,Code,Type,CampaignID FROM (                                                                                                                                                                 
  
   
SELECT  SessionID,FactQuoteID,PromoCodeListID,PromoCodeID1,PromoCodeID2,PromoCodeID3,PromoCodeID4 FROM                                                                                                       
[db-au-stage].dbo.cdg_factQuote_AU_AG                                                                                                                                                                
AS A INNER JOIN [db-au-stage].dbo.cdg_dimPromoCodeList_AU_AG AS B ON A.PromoCodeListID=B.DimPromoCodeListID ) AS A                                                                                                                          
UNPIVOT                                                                                                                                                              
(                                                                                                                                    
PromoCodeID FOR                                                                                                                                                                    
PromoCode IN (PromoCodeID1,PromoCodeID2,PromoCodeID3,PromoCodeID4)                                
) AS A INNER JOIN [db-au-stage].dbo.cdg_dimPromocode_AU_AG AS B ON PromoCodeID=B.DimPromoCodeID                                                                                                                                                          
WHERE PromoCodeID<>'-1'                                                                                                                            
) AS B GROUP BY B.PromoCodeListID,b.SessionID,b.FactQuoteID) AS J1              
WHERE J1.SessionID=A.SessionID AND J1.FactQuoteID=A.FactQuoteID                                                                                      
)J                                                                                                                                                            
                                                                                                                          
OUTER APPLY                                                       
(                                                                                
select k1.factpolicyid,k1.policynumber,k1.sessionid,k1.contactid,HasEMC from [db-au-stage].dbo.cdg_factPolicy_AU_AG as k1                                                                                                          
where a.sessionid=k1.sessionid                                             
) k                                                                                                                                         
                                                                                                                                                          
OUTER APPLY                                                                                                    
(                                                                                                                                    
SELECT DimGroupTypeID,GroupTypeName,GroupTypeNameShort FROM [db-au-stage].dbo.cdg_dimGroupType_AU_AG AS Y1X                                                                                                                            
WHERE Y1X.DimGroupTypeID=A.GroupTypeID                                                                                                                            
)  AS YX                           
                                                              
OUTER APPLY                                                              
(                                          
            
            
select distinct              
Link_ID,            
GCLID,            
GA_Client_ID,            
Quote_Reference_ID,            
Quote_Transaction_ID            
            
            
from  [db-au-stage].dbo.cdg_Quote_Addon_Premium_AU_AG as z where z.sessiontoken=e.SessionToken            
            
                                                         
) AS YZ                               
                              
OUTER APPLY                                      
(                                      
select SessionID,LineTitle,LineCategoryCode,LineGrossPrice AS Adventure_Premium from [db-au-stage].[dbo].[cdg_Quote_Addon_Premium_AU_AG] AS ABC                              
with(nolock)  where ABC.SESSIONID=A.SessionID AND linecategorycode like '%advact%'                                      
) ADVC                                      
                                      
OUTER APPLY                                      
(                                      
select SessionID,LineTitle,LineCategoryCode,LineGrossPrice AS BASE_Premium from [db-au-stage].[dbo].[cdg_Quote_Addon_Premium_AU_AG] AS DEF                              
with(nolock)  where DEF.SESSIONID=A.SessionID AND linecategorycode like '%BASE%'                                      
) BASE                                                                
                                      
OUTER APPLY                                      
(                        
select SessionID,LineTitle,LineCategoryCode,LineGrossPrice AS Cancellation_Premium from [db-au-stage].[dbo].[cdg_Quote_Addon_Premium_AU_AG] AS ABC  with(nolock)                              
where ABC.SESSIONID=A.SessionID AND linecategorycode='CANX'                                     
) CANX                                      
                                      
OUTER APPLY                             
(                               
select SessionID,LineTitle,LineCategoryCode,LineGrossPrice AS Cruise_Premium from [db-au-stage].[dbo].[cdg_Quote_Addon_Premium_AU_AG] AS ABC                               
with(nolock) where ABC.SESSIONID=A.SessionID AND linecategorycode like '%CRS%'                              
) CRS                               
                                      
OUTER APPLY                                      
(                                      
select SessionID,LineTitle,LineCategoryCode,LineGrossPrice AS PEMC_Premium from [db-au-stage].[dbo].[cdg_Quote_Addon_Premium_AU_AG] AS ABC                              
with(nolock)  where ABC.SESSIONID=A.SessionID AND linecategorycode like '%EMC%'                                      
) EMC                                      
                                      
OUTER APPLY                                      
(                                      
select SessionID,LineTitle,LineCategoryCode,LineGrossPrice AS Luggage_Premium from [db-au-stage].[dbo].[cdg_Quote_Addon_Premium_AU_AG] AS ABC                               
with(nolock) where ABC.SESSIONID=A.SessionID                                   
AND linecategorycode like '%LUGG%'                                  
) LUGG                                      
                                      
                                      
                                      
OUTER APPLY                                      
(                                      
select SessionID,LineTitle,LineCategoryCode,LineGrossPrice AS MotorCYcle_Premium from [db-au-stage].[dbo].[cdg_Quote_Addon_Premium_AU_AG] AS ABC with(nolock)  where ABC.SESSIONID=A.SessionID AND linecategorycode like '%MTCL%'                        
  
     
     
        
          
            
              
) MTCL                               
                                      
                                      
OUTER APPLY                                      
(                                      
select SessionID,LineTitle,LineCategoryCode,LineGrossPrice AS Snow_Sports_Premium from [db-au-stage].[dbo].[cdg_Quote_Addon_Premium_AU_AG] AS ABC with(nolock) where ABC.SESSIONID=A.SessionID AND linecategorycode like '%SNSPRTS%'                  
) SNSPRTS                                      
                                      
                                      
OUTER APPLY                              
(                                      
select SessionID,LineTitle,LineCategoryCode,LineGrossPrice AS Covid_Premium from [db-au-stage].[dbo].[cdg_Quote_Addon_Premium_AU_AG] AS ABC                               
with(nolock)                               
where ABC.SESSIONID=A.SessionID AND linecategorycode='COVCANX'                                      
) COVCANX                                 
                              
                                                                                                                                                         
OUTER APPLY                                                                                                                                     
(select distinct CompanyKey,countrykey,PolicyNumber,PolicyID,PolicyKey,OutletAlphaKey,OutletSKey,IssueDate,PrimaryCountry as Destination,        Area,Excess,TripCost,PlanName,AreaCode,AreaName,AreaNumber,AreaType,TripStart,TripEnd,                        
  
    
      
        
                                                             
datediff(day,TripStart,TripEnd)+1 as Trip_Duration,TripType,PlanCode,datediff(day,IssueDate,TripStart)  as [Days_To_Departure] ,replace(MultiDestination,',','') as MultiDestination,CancellationCover,ExternalReference1,ExternalReference2,ExternalReference3
  
    
      
 from [db-au-cmdwh].[dbo].penPolicy as M1  with (nolock)                                             
                                            
                     
where                                  
  k.PolicyNumber collate SQL_Latin1_General_CP1_CI_AS =m1.PolicyNumber                                                
                                                                          
 )m                                                                                                                                
                                                                                                                              
                               
outer apply (                                                                        
    select distinct n1.commission,n1.newpolicycount,n1.BasePremium,n1.SingleFamilyFlag,n1.AdultsCount,n1.ChildrenCount,           n1.TravellersCount,PostingDate,PolicyTransactionKey,n1.PolicyKey,                                        
 isnull(GrossPremium-TaxAmountGST-TaxAmountSD,'') as Total_Gross_Premium ,GrossPremium,TaxAmountGST,TaxAmountSD                                                                
                                                                 
                                                                 
 from [db-au-cmdwh].[dbo].penPolicyTransSummary                 
                                                                  
                                                                    
                                                                                         
  n1  with (nolock)                                                                                                               
 where m.PolicyKey=n1.PolicyKey and TransactionType='Base' and  TransactionStatus='Active')n                                                                                              
                                                                                             
 outer apply                                                                                            
 (                                                                                            
 select PolicyKey,GrossPremium,BasePremium from(                                                                                  
  select tptx.PolicyKey,sum(tpp.GrossPremium) as GrossPremium,sum(BasePremium) as BasePremium  FROM   [db-au-cmdwh].[dbo].penPolicyPrice   tpp  with (nolock)                                                                                             
      INNER JOIN [db-au-cmdwh].[dbo].penPolicyTravellerTransaction  tptt with (nolock) ON   tptt.PolicyTravellerTransactionID = tpp.ComponentID                                                                                                
   and tpp.CountryKey=tptt.CountryKey and tpp.CompanyKey=tptt.CompanyKey                                                     
       INNER JOIN [db-au-cmdwh].[dbo].penPolicyTraveller tpt with (nolock) ON   tpt.PolicyTravellerkey = tptt.PolicyTravellerkey                                            
    and tptt.CountryKey=tpt.CountryKey and tptt.CompanyKey=tpt.CompanyKey                                                                                                
       INNER JOIN [db-au-cmdwh].[dbo].penPolicyTransaction tptx with (nolock) ON   tptx.policytransactionkey = tptt.policytransactionkey                                                                                                
    and tpt.CountryKey=tptx.CountryKey and tpt.CompanyKey=tptx.CompanyKey                                                                                    
       WHERE     tpp.groupid=2 and isPOSDiscount=1 and tpp.CompanyKey='TIP'                                           
    group by tptx.PolicyKey) as z11 where z11.PolicyKey=m.PolicyKey                                                                         
  ) z22                                                                                             
                                                                                          
                                                                                                                                         
outer apply (                                                                                                                                                                
  select distinct o1.policytravellerkey,o1.Title,o1.FirstName,o1.LastName,o1.EmailAddress,o1.MobilePhone,o1.State,o1.DOB,o1.Age,PostCode,      
  o1.PolicyKey,   o1.AddressLine1+' '+o1.AddressLine2+' '+o1.Suburb AS PolicyHolder_Address,                                  
                                                                                                                                                                 
(select min(DOB) as OldestTraveller_DOB from [db-au-cmdwh].[dbo].penPolicyTraveller as c with (nolock) where c.PolicyKey=o1.PolicyKey and CountryKey='AU'     and CompanyKey='TIP' group by PolicyID)                                                         
   
   
       
                                                                                                               
  as OldestTraveller_DOB ,                                                                                
  (select max(AGE) as OldestTraveller_AGE from [db-au-cmdwh].[dbo].penPolicyTraveller as c with (nolock) where c.PolicyKey=o1.PolicyKey and CountryKey='AU'                                                                                                    
  
   
  and CompanyKey='TIP' group by PolicyID)                                                                                                                                         
  as OldestTraveller_Age                                                                                                                        
  from [db-au-cmdwh].[dbo].penPolicyTraveller o1  with (nolock)                                                                                                                                                                                                
  
    
      
       
           
  where m.PolicyKey=o1.PolicyKey and isPrimary='1' )o                                               
                                                                                                             
  outer apply (                                                  
    select distinct p1.PolicyTransactionID ,p1.TransactionType,p1.PolicyTransactionKey,p1.TransactionStatus,p1.TransactionDateTime,p1.PolicyKey                        
 from [db-au-cmdwh].[dbo].penPolicyTransaction p1  with (nolock)                                                                                                                                                                             
  where m.PolicyKey=p1.PolicyKey and n.PolicyTransactionKey=p1.PolicyTransactionKey)p                                                                                         
                                                                                                             
  outer apply (                                                                                                                                             
   select distinct y1.AlphaCode,y1.OutletName,y1.Channel, y1.GroupName,y1.subgroupname     from  [db-au-cmdwh].[dbo].penOutlet y1  with (nolock)                                               
                                                                                                                         
  where y1.AlphaCode=f2.AffiliateCode  )y                       
  outer apply (                                  
                                                                    
                                 
    select distinct t1.PromoCode,t1.Discount,t1.PromoName,t1.PromoType,t1.PolicyTransactionKey                                                                                                            
    from [db-au-cmdwh].[dbo].penPolicyTransactionPromo t1  with (nolock)                                                                                      
  where t1.PolicyNumber=m.PolicyNumber and t1.CountryKey = 'AU' AND t1.CompanyKey = 'TIP')t                                                                                                                                                                   
  
                                  
                                   
                                                                                                                 
  outer apply ( select sum(ppp.GrossPremium) 'AdventureActivities_Premium',pao.AddonValueDesc,                                                                                                        
  CASE WHEN pao.AddOnCode='ADVACT' then pao.AddonValueDesc else 'No' End as AdventureActivities_Flag                                            
               
 from [db-au-cmdwh].[dbo].penPolicyPrice ppp with (nolock) join [db-au-cmdwh].[dbo].penPolicyAddOn pao with (nolock) on ppp.ComponentID = pao.PolicyAddOnID                                                                                                    
  
    
                                                          
 join [db-au-cmdwh].[dbo].penPolicyTransaction ppt with (nolock) on pao.PolicyTransactionKey = ppt.PolicyTransactionKey                                                                          
 where ppt.PolicyTransactionKey = n.PolicyTransactionKey and ppp.GroupID = 4 and ppp.isPOSDiscount = 1 and ppp.CountryKey = 'AU' AND ppp.CompanyKey = 'TIP' and pao.AddOnCode in ('ADVACT','ADVACT2','ADVACT3','ADVACT4')                                      
  
    
      
        
                                                                                                                 
 group by pao.AddonValueDesc,pao.AddOnCode)s                                                                       
                                                                                                                                                                                 
   outer apply ( select sum(ppp.GrossPremium) 'Motorcycle_Premium',pao.DisplayName,                                                                                      
   CASE WHEN pao.AddOnCode in ('MTCLTWO','MTCL') then pao.DisplayName else 'No' End as Motorbike_Flag                                                                                                     
 from [db-au-cmdwh].[dbo].penPolicyPrice ppp with (nolock) join [db-au-cmdwh].[dbo].penPolicyAddOn pao with (nolock) on ppp.ComponentID = pao.PolicyAddOnID                                                
 join [db-au-cmdwh].[dbo].penPolicyTransaction ppt with (nolock) on pao.PolicyTransactionKey = ppt.PolicyTransactionKey                                                                                                 
 where ppt.PolicyTransactionKey = n.PolicyTransactionKey and ppp.GroupID = 4 and ppp.isPOSDiscount = 1 and ppp.CountryKey = 'AU' AND ppp.CompanyKey = 'TIP' and pao.AddOnCode in( 'MTCLTWO' ,'MTCL')                                                           
  
    
      
        
                                                                                                            
 group by pao.DisplayName,pao.AddOnCode)s1                                                                                                                                                                           
                                                       
  outer apply ( select sum(ppp.GrossPremium) 'Cruise_Premium',pao.DisplayName,CASE WHEN pao.AddOnCode='CRS' then 'Yes' else 'No' End as Cruise_Flag                                                                                                            
  
    
      
        
                                                           
 from [db-au-cmdwh].[dbo].penPolicyPrice ppp with (nolock) join [db-au-cmdwh].[dbo].penPolicyTravellerAddOn ppta with (nolock) on ppp.ComponentID = ppta.PolicyTravellerAddOnID                                               
                              
                                                                                          
 join [db-au-cmdwh].[dbo].penAddOn pao with (nolock) on pao.AddOnID = ppta.AddOnID and pao.CountryKey = 'AU' AND pao.CompanyKey = 'TIP'                                                              
                                         
                                                
 join [db-au-cmdwh].[dbo].penPolicyTravellerTransaction pptt with (nolock) on pptt.PolicyTravellerTransactionKey = ppta.PolicyTravellerTransactionKey                                         
                                                                                             
 where pptt.PolicyTransactionKey = n.PolicyTransactionKey and ppp.GroupID = 3 and ppp.isPOSDiscount = 1 and ppp.CountryKey = 'AU' AND ppp.CompanyKey = 'TIP' and pao.AddOnCode in( 'CRS','CRS','CRS2' )                                                        
 
     
      
        
         
             
              
                
                  
                    
                     
                         
                          
                            
                              
                                
                                  
                                   
                                       
                                   
                                          
                                            
                                              
               
                             
                                                    
                                                      
                                                        
                                
                                                            
                                                              
                                                               
 group by pao.DisplayName,pao.AddOnCode) u                                         
                                                      
 outer apply (  select sum(ppp.GrossPremium) 'Cancellation_Premium',pao.DisplayName,CASE WHEN pao.AddOnCode='CANX' then 'Yes' else 'No' End as Cancellation_Flag                                                                                               
  
    
      
        
          
            
              
                
                  
                    
                      
                        
                          
                            
                              
                                
                                  
                                    
                                     
                                         
                                          
                
                                              
                                                
                                                  
                                                    
                                                      
                                                        
                                     
                                                            
                                                                                      
                                                                  
                                                                    
                                                                      
                           
                                                                          
                                                                           
 from [db-au-cmdwh].[dbo].penPolicyPrice ppp with (nolock) join [db-au-cmdwh].[dbo].penPolicyTravellerAddOn ppta with (nolock) on ppp.ComponentID = ppta.PolicyTravellerAddOnID                   
                                                                                          
 join [db-au-cmdwh].[dbo].penAddOn pao with (nolock) on pao.AddOnID = ppta.AddOnID and pao.CountryKey = 'AU' AND pao.CompanyKey = 'TIP'                                                         
                             
                                 
                                  
                                    
                                      
                                        
                                          
                                            
                                              
                       
                                                  
 join [db-au-cmdwh].[dbo].penPolicyTravellerTransaction pptt with (nolock) on pptt.PolicyTravellerTransactionKey = ppta.PolicyTravellerTransactionKey                                    
                                    
                                      
 where pptt.PolicyTransactionKey = n.PolicyTransactionKey and ppp.GroupID = 3 and ppp.isPOSDiscount = 1 and ppp.CountryKey = 'AU' AND ppp.CompanyKey = 'TIP' and pao.AddOnCode = 'CANX'                                                                        
  
    
      
        
         
            
               
                
                  
                    
                      
                        
                         
                             
                              
                               
                                   
                                    
                                      
                                        
                                          
                                            
                          
                                                
                                                  
                                                    
                                                     
                                        
                                                          
                                                            
                 
                                                                
                                                                                                                           
 group by pao.DisplayName,pao.AddOnCode) o1                                                                                            
                                                                                                                   
 outer apply ( select sum(ppp.GrossPremium) 'Covid_Premium',pao.DisplayName,CASE WHEN pao.AddOnCode='COVCANX' then 'Yes' else 'No' End as Covid_Flag                                                                                                           
  
    
      
        
          
            
              
                
                  
                    
                     
                         
                          
                            
                              
                                
                              
                                    
                                      
                                        
                                          
                                           
                                              
 from [db-au-cmdwh].[dbo].penPolicyPrice ppp with (nolock) join [db-au-cmdwh].[dbo].penPolicyTravellerAddOn ppta with (nolock) on ppp.ComponentID = ppta.PolicyTravellerAddOnID                                                                                
  
    
      
     
          
            
              
                
                 
 join [db-au-cmdwh].[dbo].penAddOn pao with (nolock) on pao.AddOnID = ppta.AddOnID and pao.CountryKey = 'AU' AND pao.CompanyKey = 'TIP'                                                                                                                        
  
    
      
        
          
           
 join [db-au-cmdwh].[dbo].penPolicyTravellerTransaction pptt with (nolock) on pptt.PolicyTravellerTransactionKey = ppta.PolicyTravellerTransactionKey                                                                                                          
  
                                        
                                          
                                            
                                              
                                                
                                                  
                                                    
                                                      
                                                        
                            
                                                             
                                                             
                                                                 
 where pptt.PolicyTransactionKey = n.PolicyTransactionKey and ppp.GroupID = 3 and ppp.isPOSDiscount = 1 and ppp.CountryKey = 'AU' AND ppp.CompanyKey = 'TIP' and pao.AddOnCode = 'COVCANX'                                                                    
              
                
                  
                    
                      
                        
                          
                           
                               
                                
                                  
                                   
                                       
                                        
                                          
                                            
                                              
                                                
                                                  
                                                    
                                                      
                                                        
                                                          
                                                            
                                                              
                                                                
                                                                  
              
                                                                      
                                                                        
 group by pao.DisplayName,pao.AddOnCode) o2                                                                          
                                                           
 outer apply (  select sum(ppp.GrossPremium) 'Luggage_Premium',pao.AddonName,CASE WHEN pao.AddOnCode='LUGG' then 'Yes' else 'No' End as Luggage_Flag                                                               
 from [db-au-cmdwh].[dbo].penPolicyPrice ppp with (nolock) join [db-au-cmdwh].[dbo].penPolicyTravellerAddOn ppta with (nolock) on ppp.ComponentID = ppta.PolicyTravellerAddOnID                                                                                
  
    
      
        
         
             
             
                 
                  
                   
                       
                        
                          
                            
                             
                                 
                                  
                                    
                                     
                                         
                                          
                                            
                                              
      
                                                  
                                                    
                                                      
                                                        
                                                          
                                                            
                                                              
                                                                
                         
 join [db-au-cmdwh].[dbo].penAddOn pao with (nolock) on pao.AddOnID = ppta.AddOnID and pao.CountryKey = 'AU' AND pao.CompanyKey = 'TIP'                                        
 join [db-au-cmdwh].[dbo].penPolicyTravellerTransaction pptt with (nolock) on pptt.PolicyTravellerTransactionKey = ppta.PolicyTravellerTransactionKey                                                                                                          
  
    
      
        
          
            
              
               
 where pptt.PolicyTransactionKey = n.PolicyTransactionKey and ppp.GroupID = 3 and ppp.isPOSDiscount = 1 and ppp.CountryKey = 'AU' AND ppp.CompanyKey = 'TIP' and pao.AddOnCode = 'LUGG'                                                                        
  
    
      
        
          
            
              
               
                   
                    
                      
                        
                          
                            
                              
                                
                                  
           
                                      
                                        
                                          
                                            
                                              
                                                
                                                  
                                                   
                                                       
                                                        
                                                          
                                                            
                                                              
                                                                
                                  
                                                                    
                                                   
                                                                         
                           
                                      
                                                                        
                                                                                 
                                                                                  
                                                                                    
                                 
                                                                                        
                                                                                          
                                                                                         
                                                                                               
                                            
                                                                          
 group by pao.AddonName,pao.AddOnCode) o3                                                                                                                                
                                                                                                                                                                  
 outer apply ( select sum(ppp.GrossPremium) 'SnowSports_Premium',pao.AddonName,CASE WHEN pao.AddOnCode in ('SNSPRTS','SNSPRTS2','SNSPRTS3','WNTS') then pao.AddonName else 'No' End as SnowSports_Flag                                                         
  
    
      
   
          
            
              
                
                  
                    
                      
                        
                          
                            
                              
                             
                         
                                    
                                      
                                        
                                          
                                            
                                              
                                                
                                                  
                                                    
                                                      
                                                       
                                                           
                                                            
                                                              
                                                                
                                                     
                                                                    
                                                                      
                                                                        
                                                                          
                                 
                                                                              
                                                                                
                                                                                  
                      
                                                  
                                                                                        
                  
                                                                                         
                                                                                              
                                                                                               
                                                                                                 
 from [db-au-cmdwh].[dbo].penPolicyPrice ppp with (nolock) join [db-au-cmdwh].[dbo].penPolicyTravellerAddOn ppta with (nolock) on ppp.ComponentID = ppta.PolicyTravellerAddOnID                                                                              
                                                                              
                                                                                
                                                                                  
                                                                                    
                                                 
                                                                                        
                                                                                          
 join [db-au-cmdwh].[dbo].penAddOn pao with (nolock) on pao.AddOnID = ppta.AddOnID and pao.CountryKey = 'AU' AND pao.CompanyKey = 'TIP'                                                                                                                        
  
    
     
 join [db-au-cmdwh].[dbo].penPolicyTravellerTransaction pptt with (nolock) on pptt.PolicyTravellerTransactionKey = ppta.PolicyTravellerTransactionKey                                           
                      
                        
                          
                            
                              
                                
                 
                                    
                                      
                                        
                                          
                                            
                                              
                                                
                                                  
                           
                                                      
                                                        
                                                          
                                                     
                                                              
                                                                
 where pptt.PolicyTransactionKey = n.PolicyTransactionKey and ppp.GroupID = 3 and ppp.isPOSDiscount = 1 and ppp.CountryKey = 'AU' AND ppp.CompanyKey = 'TIP' and pao.AddOnCode  in ('SNSPRTS','SNSPRTS2','SNSPRTS3','WNTS')                                    
  
    
      
        
          
            
              
                
                 
                     
                      
                        
                          
                            
                              
                                
                                  
                                    
                                      
                                        
                                          
                                            
                                              
                                                
                                                  
                                                    
                                       
                                                        
                                                          
                                                            
                                
                                                      
                                                                  
                                                                    
                               
                                             
                                                                         
                                                                            
 group by pao.AddonName,pao.AddOnCode) o4                                                                                                                                                   
                                                                                                                                                         
 outer apply ( select sum(ppp.GrossPremium) 'PEMC_Premium',CASE WHEN pptt.HasEMC = 1 then 'Yes' else 'No' End as 'PEMC_Flag'                                                                                                                                   
  
    
     
from [db-au-cmdwh].[dbo].penPolicyPrice ppp join [db-au-cmdwh].[dbo].penPolicyEMC ppe on ppp.ComponentID = ppe.PolicyEMCID and ppp.CountryKey = 'AU' AND ppp.CompanyKey = 'TIP' and ppp.GroupID = 5 and ppp.isPOSDiscount = 1                                  
  
    
      
        
          
            
              
                
                  
                    
                      
                        
                    
                            
                              
                                
                                                                                                                            
 join [db-au-cmdwh].[dbo].penPolicyTravellerTransaction pptt on ppe.PolicyTravellerTransactionKey = pptt.PolicyTravellerTransactionKey and pptt.HasEMC = 1                                                                                     
 where pptt.PolicyTransactionKey = n.PolicyTransactionKey                                                                                                                                                                          
 group by pptt.HasEMC) o5                                                 
                                                              
 outer apply( select sum([Sell Price]) 'Total_Premium',sum([GST on Sell Price]) 'GST_on_Total_Premium',sum([Stamp Duty on Sell Price]) 'Stamp_Duty_on_Total_Premium',sum(NAP) 'NAP'                  
                                    
                                      
                                        
                                          
                                            
                                             
                                                 
                                                  
                                                    
                                                      
                                                        
                                                          
                                                            
                                                              
                                                                
                                                                  
                                                                   
                                                                       
                                           
                                                                          
                                                                            
                                                                              
                                                                               
                                                                                 
                                                                                    
                                                                            
 from [db-au-cmdwh].[dbo].vPenguinPolicyPremiums ppp with (nolock)                                                                                                                                                                        
  where ppp.PolicyTransactionKey=n.PolicyTransactionKey                                                                     
 ) q                                                                                                           
          
) as b                              
                              
                              
                              
 --SELECT * FROM Temp111                              
                        
                              
                          
                              
 END   
GO
