USE [db-au-stage]
GO
/****** Object:  Table [dbo].[etl_cdgfactQuote]    Script Date: 24/02/2025 5:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etl_cdgfactQuote](
	[factQuoteID] [int] NOT NULL,
	[SessionID] [int] NOT NULL,
	[RegionID] [int] NOT NULL,
	[CampaignID] [int] NOT NULL,
	[QuoteDate] [datetime] NULL,
	[QuoteTime] [char](8) NULL,
	[QuoteDateTime] [datetime] NULL,
	[AreaCode] [nvarchar](20) NULL,
	[AreaType] [varchar](16) NULL,
	[RiskRank] [int] NULL,
	[RegionName] [nvarchar](100) NULL,
	[ProductID] [int] NOT NULL,
	[ProductCode] [nvarchar](10) NULL,
	[PlanCode] [nvarchar](10) NULL,
	[ProductName] [nvarchar](100) NULL,
	[TripType] [varchar](17) NULL,
	[SingleFamilyDuo] [varchar](7) NULL,
	[PromoCode] [varchar](8000) NULL,
	[PromoType] [varchar](100) NULL,
	[CampaignName] [varchar](255) NULL,
	[BusinessUnitID] [int] NOT NULL,
	[Domain] [char](2) NULL,
	[BusinessUnitName] [varchar](100) NULL,
	[Partner] [varchar](50) NULL,
	[CurrencyCode] [char](3) NULL,
	[AffiliateCode] [varchar](100) NULL,
	[Destination] [varchar](50) NULL,
	[IsMultiDestination] [int] NULL,
	[MultiDestination] [varchar](8000) NULL,
	[TripStart] [datetime] NULL,
	[TripEnd] [datetime] NULL,
	[TotalGrossPremium] [numeric](9, 4) NOT NULL,
	[TotalAdjustedGrossPremium] [numeric](9, 4) NOT NULL,
	[TravellerCount] [int] NOT NULL,
	[Excess] [int] NOT NULL,
	[IsMostRecent] [int] NOT NULL,
	[AdultCount] [int] NULL,
	[ChildCount] [int] NULL,
	[InfantCount] [int] NULL,
	[HasCANX] [int] NOT NULL,
	[HasWNTS] [int] NOT NULL,
	[HasCRS] [int] NOT NULL,
	[HasRTCR] [int] NOT NULL,
	[CANXCoverageAmount] [numeric](18, 2) NOT NULL,
	[RTCRCoverageAmount] [numeric](18, 2) NOT NULL,
	[MaxPolicies] [int] NOT NULL,
	[ActualPoliciesSold] [int] NOT NULL,
	[DepartureCountry] [varchar](50) NULL,
	[AirportName] [nvarchar](50) NULL,
	[GroupType] [nvarchar](7) NULL,
	[QuoteSource] [nvarchar](30) NULL
) ON [PRIMARY]
GO
