USE [db-au-stage]
GO
/****** Object:  Table [dbo].[eFrontOfficeDW_timesheetGLdetailPenelope_audtc]    Script Date: 24/02/2025 5:08:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eFrontOfficeDW_timesheetGLdetailPenelope_audtc](
	[companyCode] [varchar](10) NOT NULL,
	[trx_ctrl_num] [varchar](30) NOT NULL,
	[projectCode] [varchar](50) NULL,
	[isDeleted] [bit] NULL,
	[transactionDate] [date] NULL,
	[invoiceDate] [date] NULL,
	[AppliedInvoiceDate] [date] NULL,
	[invoiceNumber] [varchar](16) NULL,
	[invoiceAmount] [money] NULL,
	[RCTIdate] [date] NULL,
	[RCTIlineNumber] [int] NULL,
	[RCTIid] [int] NULL,
	[VoucherId] [varchar](50) NULL,
	[RCTIAmount] [money] NULL,
	[RCTIExpected] [money] NULL,
	[StaffCostAmount] [money] NULL,
	[glApplyDate] [date] NULL,
	[glAppliedRevenue] [money] NULL,
	[glAppliedCost] [money] NULL,
	[costAccruedDate] [date] NULL,
	[costAccrued] [money] NULL,
	[revenueAccruedDate] [date] NULL,
	[revenueAccrued] [money] NULL,
	[resourceCode] [varchar](10) NULL,
	[resourceClass] [char](5) NULL,
	[normal_hrs] [money] NULL,
	[overtime_1] [money] NULL,
	[activity_code] [varchar](20) NULL,
	[staffFrontOfficeExternal] [bit] NULL,
	[directCostAccount] [char](4) NULL,
	[source] [varchar](50) NULL,
	[project_currency] [varchar](10) NULL,
	[resource_currency] [varchar](10) NULL,
	[timesheet_source] [varchar](50) NULL,
	[src_detail_id] [varchar](50) NULL,
	[invoice_status] [int] NULL,
	[RateOnlyLine] [int] NULL,
	[batch_ctrl_num] [varchar](32) NULL,
	[activityID] [int] NULL,
	[JobID] [int] NULL,
	[orggroupID] [int] NULL,
	[ServiceTypeID] [int] NULL,
	[internalExternal] [varchar](8) NULL,
	[nonchargable] [int] NULL,
	[ServiceFileID] [int] NULL,
	[ServiceEventID] [int] NULL,
	[ServiceEventActivityID] [int] NULL,
	[ServiceEventActivityInvID] [int] NULL,
	[UserID] [int] NULL,
	[PenelopeCompositeKey] [varchar](30) NULL,
	[EventStatus] [varchar](50) NULL,
	[ItemDeleted] [datetime] NULL,
	[BatchNo] [int] NULL,
	[BatchPosted] [bit] NULL,
	[BatchPostDate] [datetime] NULL,
	[CoverageID] [int] NULL
) ON [PRIMARY]
GO
