USE [db-au-stage]
GO
/****** Object:  Table [dbo].[penguin_tblExpoOutlet_uscm]    Script Date: 24/02/2025 5:08:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penguin_tblExpoOutlet_uscm](
	[ID] [int] NOT NULL,
	[ExpoID] [int] NOT NULL,
	[OutletID] [int] NOT NULL
) ON [PRIMARY]
GO
