USE [db-au-stage]
GO
/****** Object:  Table [dbo].[penguin_tblOTP_Product_autp]    Script Date: 24/02/2025 5:08:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penguin_tblOTP_Product_autp](
	[ID] [int] NOT NULL,
	[OTPId] [int] NOT NULL,
	[PurchasePathTypeID] [int] NOT NULL,
	[ProductCode] [varchar](50) NOT NULL,
	[DeclarationSetID] [int] NOT NULL,
	[IsDefault] [bit] NOT NULL,
	[IsCancellation] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [idx_penguin_tblOTP_Product_autp_OTPId]    Script Date: 24/02/2025 5:08:05 PM ******/
CREATE CLUSTERED INDEX [idx_penguin_tblOTP_Product_autp_OTPId] ON [dbo].[penguin_tblOTP_Product_autp]
(
	[OTPId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
