USE [db-au-stage]
GO
/****** Object:  Table [dbo].[tmp_penelope_prodtablelist]    Script Date: 24/02/2025 5:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_penelope_prodtablelist](
	[TABLE_CAT] [varchar](100) NULL,
	[TABLE_SCHEM] [varchar](100) NULL,
	[TABLE_NAME] [varchar](100) NULL,
	[TABLE_TYPE] [varchar](100) NULL,
	[REMARKS] [varchar](100) NULL
) ON [PRIMARY]
GO
