USE [db-au-stage]
GO
/****** Object:  Table [dbo].[etl_audit_claims_payment_firstoccur]    Script Date: 24/02/2025 5:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etl_audit_claims_payment_firstoccur](
	[AuditKey] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
