USE [db-au-stage]
GO
/****** Object:  Table [dbo].[trips_clreg_uk]    Script Date: 24/02/2025 5:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trips_clreg_uk](
	[CLDATE1] [datetime] NULL,
	[CLTIME] [varchar](8) NULL,
	[CLDATE2] [datetime] NULL,
	[CLCUST] [float] NULL,
	[CLALPHA] [varchar](7) NOT NULL,
	[CLCONAM] [varchar](50) NOT NULL,
	[CLBRAN] [varchar](60) NULL,
	[CLPOST] [varchar](10) NULL,
	[CLPHONE] [varchar](20) NULL,
	[CLFAX] [varchar](20) NULL,
	[CLCON1] [varchar](4) NULL,
	[CLCON2] [varchar](4) NULL,
	[CLCON3] [varchar](25) NULL,
	[CLCON4] [varchar](25) NULL,
	[CLDEFLT] [varchar](25) NULL,
	[CLCOMM] [varchar](100) NULL,
	[CLACOD1] [float] NULL,
	[CLACOD2] [float] NULL,
	[CLOTHER] [varchar](7) NULL,
	[CLTYPE] [float] NULL,
	[CLSCODE] [float] NULL,
	[CLSNAM] [varchar](20) NULL,
	[CLPROS] [varchar](2) NULL,
	[CLMAIL] [bit] NULL,
	[CLLABEL] [bit] NULL,
	[CLCRB] [float] NULL,
	[CLCRL] [float] NULL,
	[CLCRE] [float] NULL,
	[CLBR] [float] NULL,
	[CML] [bit] NULL,
	[CMB] [bit] NULL,
	[CME] [bit] NULL,
	[TSS] [bit] NULL,
	[WAL] [bit] NULL,
	[CLGROUP] [varchar](2) NULL,
	[CLGRSTATE] [varchar](1) NULL,
	[CLCUSTSERV] [varchar](3) NULL,
	[CLGROUP2] [varchar](3) NULL,
	[AUS] [bit] NULL,
	[AUSCOM] [float] NULL,
	[WALCOM] [float] NULL,
	[TSSCOM] [float] NULL,
	[HPI] [bit] NULL,
	[HPICOM] [float] NULL,
	[CMAA] [datetime] NULL,
	[TSSAA] [datetime] NULL,
	[FCCOUNTRY] [varchar](30) NULL,
	[FCVILLAGE] [varchar](3) NULL,
	[WEBSITE] [varchar](100) NULL,
	[EMAIL] [varchar](60) NULL,
	[TOVER_TRAVEL] [money] NULL,
	[TOVER_INSUR] [money] NULL,
	[BUSTYPE] [varchar](10) NULL,
	[PIDUE] [datetime] NULL,
	[BMX_CORP] [real] NULL,
	[BMX_HOLIDAY] [real] NULL,
	[BMX_WHOLESALE] [real] NULL,
	[BMX_INT] [real] NULL,
	[BMX_DOM] [real] NULL,
	[AGENCYSUBGROUP] [varchar](2) NULL,
	[PI_INSURER] [varchar](100) NULL,
	[TEMP_GRADE] [varchar](1) NULL,
	[OFF_INSURER] [varchar](50) NULL,
	[OFF_INS_DUE] [datetime] NULL,
	[CLDMOD] [datetime] NULL,
	[CLMODBY] [varchar](2) NULL,
	[COUNTER] [int] NULL,
	[CLADD1] [varchar](150) NULL,
	[CLADD2] [varchar](52) NULL,
	[CLADD3] [varchar](20) NULL,
	[CLCNTRY] [varchar](25) NULL,
	[CLCNTRYCODE] [varchar](2) NULL,
	[CLCLOSEDATE] [datetime] NULL,
	[CLPREVALPHA] [varchar](7) NULL,
	[CLWALSNAM] [varchar](20) NULL,
	[CLWALPROS] [varchar](1) NULL,
	[CLCALLFREQ] [varchar](3) NULL,
	[PREMIUMTABLENAME] [varchar](50) NULL,
	[GROSSNETFLAG] [varchar](20) NULL,
	[DISCOUNT] [float] NULL,
	[ENABLEDISABLEFLAG] [varchar](20) NULL,
	[FSRTYPE] [nvarchar](50) NULL,
	[FSGMINORIDE] [float] NULL,
	[FSGMAXORIDE] [float] NULL,
	[URL] [varchar](100) NULL,
	[FSGMINCOMMISSION] [float] NULL,
	[FSGMAXCOMMISSION] [float] NULL,
	[ASIC_NUMBER] [varchar](50) NULL,
	[LEGALENTITY] [varchar](100) NULL,
	[CLABN] [varchar](24) NULL,
	[CMC] [bit] NULL,
	[CMCCOM] [float] NULL,
	[CCCOMMPAYTYPEID] [tinyint] NULL,
	[TBLAGE] [varchar](30) NULL,
	[DEFXS] [tinyint] NULL,
	[DISPLAYPREMIUM] [bit] NULL,
	[CLACCOUNTMGRID] [int] NULL,
	[CorpClientRenewalLetterOK] [bit] NULL,
	[ExternalBDMId] [int] NULL,
	[SalesTier] [nvarchar](50) NULL,
	[PotentialSales] [money] NULL,
	[PotentialSalesExCoverMore] [money] NULL,
	[SalesSegment] [nvarchar](50) NULL,
	[WebSalesAlpha] [bit] NULL,
	[ExternalID] [varchar](20) NULL,
	[Style] [varchar](50) NULL,
	[ShowBudget] [int] NULL,
	[comm_ext] [varchar](10) NULL,
	[CConly] [bit] NULL,
	[MgrEmail] [varchar](100) NULL,
	[HideCommission] [tinyint] NULL,
	[POBox] [varchar](20) NULL,
	[POSuburb] [varchar](50) NULL,
	[POPost] [varchar](10) NULL,
	[AMCALLFREQ] [varchar](3) NULL,
	[APOTITLE] [varchar](10) NULL,
	[APOFIRST] [varchar](50) NULL,
	[APOLAST] [varchar](50) NULL,
	[APOEMAIL] [varchar](100) NULL,
	[STARegionid] [int] NULL,
	[FCLOC] [varchar](4) NULL,
	[ISIPT] [tinyint] NULL,
	[STANDARD_EXCESS] [varchar](100) NULL,
	[CANXFLAG] [char](1) NULL
) ON [PRIMARY]
GO
