USE [db-au-stage]
GO
/****** Object:  Table [dbo].[emc_EMC_tblConditionStatii_AU]    Script Date: 24/02/2025 5:08:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[emc_EMC_tblConditionStatii_AU](
	[Code] [char](2) NOT NULL,
	[Description] [varchar](25) NULL
) ON [PRIMARY]
GO
