USE [db-au-stage]
GO
/****** Object:  Table [dbo].[DTNSWDW_apvohdr_all_audtc]    Script Date: 24/02/2025 5:08:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTNSWDW_apvohdr_all_audtc](
	[timestamp] [binary](8) NULL,
	[trx_ctrl_num] [varchar](16) NULL,
	[doc_ctrl_num] [varchar](16) NULL,
	[apply_to_num] [varchar](16) NULL,
	[user_trx_type_code] [varchar](8) NULL,
	[batch_code] [varchar](16) NULL,
	[po_ctrl_num] [varchar](16) NULL,
	[vend_order_num] [varchar](20) NULL,
	[ticket_num] [varchar](20) NULL,
	[date_posted] [int] NULL,
	[date_applied] [int] NULL,
	[date_aging] [int] NULL,
	[date_due] [int] NULL,
	[date_doc] [int] NULL,
	[date_entered] [int] NULL,
	[date_received] [int] NULL,
	[date_required] [int] NULL,
	[date_paid] [int] NULL,
	[date_discount] [int] NULL,
	[posting_code] [varchar](8) NULL,
	[vendor_code] [varchar](12) NULL,
	[pay_to_code] [varchar](8) NULL,
	[branch_code] [varchar](8) NULL,
	[class_code] [varchar](8) NULL,
	[approval_code] [varchar](8) NULL,
	[comment_code] [varchar](8) NULL,
	[fob_code] [varchar](8) NULL,
	[terms_code] [varchar](8) NULL,
	[tax_code] [varchar](8) NULL,
	[recurring_code] [varchar](8) NULL,
	[payment_code] [varchar](8) NULL,
	[state_flag] [smallint] NULL,
	[paid_flag] [smallint] NULL,
	[recurring_flag] [smallint] NULL,
	[one_time_vend_flag] [smallint] NULL,
	[one_check_flag] [smallint] NULL,
	[accrual_flag] [smallint] NULL,
	[times_accrued] [smallint] NULL,
	[amt_gross] [float] NULL,
	[amt_discount] [float] NULL,
	[amt_freight] [float] NULL,
	[amt_tax] [float] NULL,
	[amt_misc] [float] NULL,
	[amt_net] [float] NULL,
	[amt_paid_to_date] [float] NULL,
	[amt_tax_included] [float] NULL,
	[frt_calc_tax] [float] NULL,
	[doc_desc] [varchar](40) NULL,
	[user_id] [smallint] NULL,
	[journal_ctrl_num] [varchar](16) NULL,
	[payment_hold_flag] [smallint] NULL,
	[intercompany_flag] [smallint] NULL,
	[process_ctrl_num] [varchar](16) NULL,
	[currency_code] [varchar](8) NULL,
	[rate_type_home] [varchar](8) NULL,
	[rate_type_oper] [varchar](8) NULL,
	[rate_home] [float] NULL,
	[rate_oper] [float] NULL,
	[net_original_amt] [float] NULL,
	[org_id] [varchar](30) NULL,
	[tax_freight_no_recoverable] [float] NULL,
	[companyId] [int] NULL
) ON [PRIMARY]
GO
