USE [db-au-stage]
GO
/****** Object:  Table [dbo].[ETL_trwPayments]    Script Date: 24/02/2025 5:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETL_trwPayments](
	[PaymentID] [numeric](18, 0) NULL,
	[PaymentNo] [numeric](18, 0) NULL,
	[PaymentDate] [datetime] NULL,
	[EntityID] [numeric](18, 0) NULL,
	[Amount] [numeric](18, 2) NULL,
	[Narration] [varchar](max) NULL,
	[DocumentID] [numeric](18, 0) NULL,
	[PaymentType] [nvarchar](50) NULL,
	[Drawnon] [datetime] NULL,
	[ChequeDate] [datetime] NULL,
	[BankAndBranch] [nvarchar](500) NULL,
	[Status] [varchar](50) NULL,
	[BranchID] [numeric](18, 0) NULL,
	[ByName] [varchar](50) NULL,
	[ByAddress1] [varchar](500) NULL,
	[ByAddress2] [varchar](500) NULL,
	[ByCity] [varchar](50) NULL,
	[ByDistrict] [varchar](50) NULL,
	[ByState] [varchar](50) NULL,
	[ByPinCode] [varchar](10) NULL,
	[ByCountry] [varchar](100) NULL,
	[AgentID] [numeric](18, 0) NULL,
	[ToCompanyName] [varchar](500) NULL,
	[ToContactPerson] [varchar](50) NULL,
	[ToAddress1] [varchar](500) NULL,
	[ToAddress2] [varchar](500) NULL,
	[ToCity] [varchar](50) NULL,
	[ToDistrict] [varchar](50) NULL,
	[ToState] [varchar](50) NULL,
	[ToPinCode] [varchar](10) NULL,
	[ToCountry] [varchar](100) NULL,
	[ToPhoneNo] [varchar](50) NULL,
	[ToMobileNo] [varchar](50) NULL,
	[ToEmailAddress] [varchar](50) NULL,
	[ReferenceType] [nvarchar](50) NULL,
	[ReferenceNo] [numeric](18, 0) NULL,
	[TemplateId] [numeric](18, 0) NULL,
	[CollectionEmployeeID] [numeric](18, 0) NULL,
	[DepositBY] [nvarchar](100) NULL,
	[DepositDate] [datetime] NULL,
	[ClearedBy] [nvarchar](100) NULL,
	[ClearedDate] [datetime] NULL,
	[BankID] [numeric](18, 0) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](256) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [varchar](256) NULL,
	[IP] [varchar](50) NULL,
	[Session] [varchar](500) NULL,
	[RowID] [uniqueidentifier] NULL,
	[checkno] [varchar](200) NULL,
	[Agentbranchid] [numeric](18, 0) NULL,
	[HashKey] [varbinary](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
