USE [db-au-stage]
GO
/****** Object:  Table [dbo].[carebase_tblFinanceChannels_aucm]    Script Date: 24/02/2025 5:08:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carebase_tblFinanceChannels_aucm](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](250) NULL
) ON [PRIMARY]
GO
