USE [db-au-stage]
GO
/****** Object:  Table [dbo].[etl_UpdatedClaim_1]    Script Date: 24/02/2025 5:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etl_UpdatedClaim_1](
	[ClaimKey] [varchar](40) NULL
) ON [PRIMARY]
GO
