USE [db-au-stage]
GO
/****** Object:  Table [dbo].[ETL_trwAgents]    Script Date: 24/02/2025 5:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETL_trwAgents](
	[AgentID] [numeric](18, 0) NULL,
	[Name] [varchar](500) NULL,
	[CompanyName] [varchar](250) NULL,
	[PanDetailID] [numeric](18, 0) NULL,
	[ContactPerson] [varchar](50) NULL,
	[Address1] [varchar](500) NULL,
	[Address2] [varchar](500) NULL,
	[City] [varchar](50) NULL,
	[District] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[PinCode] [varchar](10) NULL,
	[Country] [varchar](100) NULL,
	[PhoneNo] [varchar](50) NULL,
	[MobileNo] [varchar](50) NULL,
	[EmailAddress] [varchar](50) NULL,
	[CentralisedInvoicing] [bit] NULL,
	[CommissionType] [varchar](50) NULL,
	[AgentTypeID] [numeric](18, 0) NULL,
	[BankName] [varchar](500) NULL,
	[BankAddress] [varchar](1000) NULL,
	[BankAccountType] [varchar](50) NULL,
	[BankAccountNo] [varchar](50) NULL,
	[BankMICR] [varchar](50) NULL,
	[BankIFSCCode] [varchar](50) NULL,
	[DateofBirth] [datetime] NULL,
	[AnniversaryDate] [datetime] NULL,
	[MarketingExecutiveEmployeeID] [numeric](18, 0) NULL,
	[DateofCreation] [datetime] NULL,
	[AgentEmployeeID] [numeric](18, 0) NULL,
	[EntityID] [numeric](18, 0) NULL,
	[MasterNumber] [varchar](50) NULL,
	[SpouseName] [varchar](50) NULL,
	[SpouseDOB] [datetime] NULL,
	[Kid1] [varchar](250) NULL,
	[Kid1DOB] [datetime] NULL,
	[Kid2] [nvarchar](250) NULL,
	[Kid2DOB] [datetime] NULL,
	[Status] [varchar](50) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [varchar](256) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [varchar](256) NULL,
	[IP] [varchar](50) NULL,
	[Session] [varchar](500) NULL,
	[RowID] [uniqueidentifier] NULL,
	[ExtraComments] [nvarchar](max) NULL,
	[NoPANAgent] [bit] NULL,
	[Reference] [nvarchar](500) NULL,
	[TypeOfAgent] [nvarchar](50) NULL,
	[CreditAmount] [numeric](18, 2) NULL,
	[LogoPath] [nvarchar](1000) NULL,
	[HashKey] [varbinary](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
