USE [db-au-stage]
GO
/****** Object:  Table [dbo].[cdg_factPolicy_AU_AG_TEMP]    Script Date: 24/02/2025 5:08:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cdg_factPolicy_AU_AG_TEMP](
	[FactPolicyID] [int] NOT NULL,
	[PolicyNumber] [nvarchar](40) NOT NULL,
	[SessionID] [int] NOT NULL,
	[RegionID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ContactID] [int] NULL,
	[CampaignID] [int] NOT NULL,
	[BusinessUnitID] [int] NOT NULL,
	[PolicyIssuedDateID] [int] NOT NULL,
	[PolicyIssuedTimeID] [int] NOT NULL,
	[TripStartDateID] [int] NOT NULL,
	[TripStartTimeID] [int] NOT NULL,
	[TripEndDateID] [int] NULL,
	[TripEndTimeID] [int] NULL,
	[DestCovermoreCountryListID] [int] NOT NULL,
	[DestISOCountryListID] [int] NOT NULL,
	[DestAirportsListID] [int] NULL,
	[PaymentTypeID] [int] NULL,
	[TripTypeID] [int] NULL,
	[ConstructID] [int] NULL,
	[ImpulseOfferID] [int] NULL,
	[ChargedCountryID] [int] NOT NULL,
	[PromoCodeListID] [int] NULL,
	[Excess] [int] NOT NULL,
	[MemberPointsAwarded] [int] NOT NULL,
	[HasCANX] [int] NOT NULL,
	[HasWNTS] [int] NOT NULL,
	[HasCRS] [int] NOT NULL,
	[HasLUGG] [int] NOT NULL,
	[HasRTCR] [int] NOT NULL,
	[HasEMC] [int] NOT NULL,
	[IsDiscounted] [int] NOT NULL,
	[TotalGrossPremium] [numeric](18, 2) NULL,
	[TotalDiscountedGrossPremium] [numeric](18, 2) NULL,
	[CANXCoverageAmount] [numeric](18, 2) NULL,
	[RTCRCoverageAmount] [numeric](18, 2) NULL,
	[PartnerTransactionID] [nvarchar](50) NULL,
	[ActualPaymentType] [nvarchar](10) NULL,
	[PaymentReferenceNumber] [nvarchar](50) NULL,
	[TripDuration] [int] NOT NULL,
	[DepartureCountryID] [int] NULL,
	[DepartureAirportID] [int] NULL,
	[CurrencyID] [int] NULL,
	[HasMTCL] [int] NOT NULL,
	[HasADVACT] [int] NOT NULL,
	[HasCANXANY] [int] NOT NULL,
	[HasFPCAP] [int] NOT NULL,
	[HasLUGGDOC] [int] NOT NULL,
	[HasMTCLTWO] [int] NOT NULL,
	[HasNEWFOROLD] [int] NOT NULL,
	[HasSNSPRTS] [int] NOT NULL,
	[HasSNSPRTS2] [int] NOT NULL,
	[HasSSB] [int] NOT NULL,
	[HasINDCOMP] [int] NOT NULL,
	[HasINDMUGG] [int] NOT NULL,
	[HasINDTRVINC] [int] NOT NULL,
	[HasINDCRS] [int] NOT NULL,
	[HasINDGOLF] [int] NOT NULL,
	[HasINDPET] [int] NOT NULL,
	[HasINDCCFRD] [int] NOT NULL,
	[HasINDLAPTOP] [int] NOT NULL,
	[HasINDTRVLN] [int] NOT NULL,
	[HasINDMEDSUB] [int] NOT NULL,
	[HasINDCANX] [int] NOT NULL,
	[HasINDADSPRT] [int] NOT NULL,
	[HasDUTY] [int] NOT NULL,
	[HasADVACT2] [int] NOT NULL,
	[HasADVACT3] [int] NOT NULL,
	[HasSNSPRTS3] [int] NOT NULL,
	[HasCRS2] [int] NOT NULL,
	[HasAGECBA] [int] NOT NULL,
	[HasELEC] [int] NOT NULL
) ON [PRIMARY]
GO
