USE [db-au-stage]
GO
/****** Object:  Table [dbo].[ent_vC_PARTY_XREF_aucm]    Script Date: 24/02/2025 5:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ent_vC_PARTY_XREF_aucm](
	[ROWID_XREF] [bigint] NOT NULL,
	[ROWID_OBJECT] [nchar](14) NOT NULL,
	[ORIG_ROWID_OBJECT] [nchar](14) NOT NULL,
	[LAST_UPDATE_DATE] [datetime2](7) NULL,
	[CREATE_DATE] [datetime2](7) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_ent_vC_PARTY_XREF_aucm]    Script Date: 24/02/2025 5:08:07 PM ******/
CREATE NONCLUSTERED INDEX [idx_ent_vC_PARTY_XREF_aucm] ON [dbo].[ent_vC_PARTY_XREF_aucm]
(
	[ORIG_ROWID_OBJECT] ASC
)
INCLUDE([ROWID_OBJECT]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
