USE [db-au-stage]
GO
/****** Object:  Table [dbo].[trips_CRMCallCategory_uk]    Script Date: 24/02/2025 5:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trips_CRMCallCategory_uk](
	[Dep] [varchar](50) NULL,
	[Category] [varchar](250) NULL
) ON [PRIMARY]
GO
