USE [db-au-stage]
GO
/****** Object:  Table [dbo].[penelope_wruserschedovr_audtc]    Script Date: 24/02/2025 5:08:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penelope_wruserschedovr_audtc](
	[kuserschedovrid] [int] NOT NULL,
	[kuserid] [int] NOT NULL,
	[ksiteid] [int] NOT NULL,
	[uscheddate] [date] NOT NULL,
	[uschedin] [time](0) NOT NULL,
	[uschedout] [time](0) NOT NULL,
	[kuseravailtypeid] [int] NOT NULL,
	[slogin] [datetime2](7) NULL,
	[slogmod] [datetime2](7) NULL
) ON [PRIMARY]
GO
