USE [db-au-stage]
GO
/****** Object:  Table [dbo].[penguin_tblCalculationRule_uscm]    Script Date: 24/02/2025 5:08:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penguin_tblCalculationRule_uscm](
	[CalculationRuleId] [int] NOT NULL,
	[CalculationRule] [nvarchar](50) NULL
) ON [PRIMARY]
GO
