USE [db-au-stage]
GO
/****** Object:  Table [dbo].[penguin_tblCRMUserRole_ukcm]    Script Date: 24/02/2025 5:08:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penguin_tblCRMUserRole_ukcm](
	[CRMUserID] [int] NULL,
	[RoleID] [int] NULL
) ON [PRIMARY]
GO
