USE [db-au-stage]
GO
/****** Object:  Table [dbo].[penelope_nruoms_audtc]    Script Date: 24/02/2025 5:08:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penelope_nruoms_audtc](
	[kuomsid] [int] NOT NULL,
	[uomschedule] [nvarchar](30) NOT NULL,
	[slogin] [datetime2](7) NOT NULL,
	[slogmod] [datetime2](7) NOT NULL,
	[kuomclassid] [int] NOT NULL
) ON [PRIMARY]
GO
