USE [db-au-stage]
GO
/****** Object:  Table [dbo].[penelope_lustatedept_audtc]    Script Date: 24/02/2025 5:08:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penelope_lustatedept_audtc](
	[lustatedeptid] [int] NOT NULL,
	[state] [nvarchar](25) NOT NULL
) ON [PRIMARY]
GO
