USE [db-au-stage]
GO
/****** Object:  Table [dbo].[etl_audit_claims]    Script Date: 24/02/2025 5:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etl_audit_claims](
	[CountryKey] [varchar](2) NULL,
	[AuditKey] [varchar](8000) NULL,
	[ClaimKey] [varchar](33) NULL,
	[AuditUserName] [varchar](255) NULL,
	[AuditAction] [varchar](10) NULL,
	[AuditDateTime] [datetime] NULL,
	[CreateDate] [datetime] NULL,
	[ReceivedDate] [datetime] NULL,
	[ActionDate] [datetime] NULL,
	[FinalisedDate] [datetime] NULL,
	[AuditDateTimeUTC] [datetime] NULL,
	[CreateDateTimeUTC] [datetime] NULL,
	[ReceivedDateTimeUTC] [datetime] NULL,
	[ActionDateTimeUTC] [datetime] NULL,
	[FinalisedDateTimeUTC] [datetime] NULL,
	[ClaimNo] [int] NULL,
	[CreatedBy] [varchar](30) NULL,
	[OfficerName] [varchar](30) NULL,
	[StatusCode] [varchar](4) NULL,
	[StatusDesc] [varchar](50) NULL,
	[Authorisation] [varchar](1) NULL,
	[ActionCode] [int] NULL,
	[ArchiveBox] [varchar](20) NULL,
	[PolicyID] [int] NULL,
	[PolicyNo] [varchar](25) NULL,
	[PolicyProduct] [varchar](4) NULL,
	[AgencyCode] [varchar](7) NULL,
	[PolicyPlanCode] [varchar](50) NULL,
	[IntDom] [varchar](3) NULL,
	[Excess] [money] NULL,
	[SingleFamily] [varchar](1) NULL,
	[PolicyIssuedDate] [date] NULL,
	[AccountingDate] [date] NULL,
	[DepartureDate] [date] NULL,
	[ArrivalDate] [date] NULL,
	[NumberOfDays] [int] NULL,
	[ITCPremium] [float] NULL,
	[EMCApprovalNo] [varchar](15) NULL,
	[GroupPolicy] [tinyint] NULL,
	[LuggageFlag] [tinyint] NULL,
	[HRisk] [tinyint] NULL,
	[CaseNo] [varchar](14) NULL,
	[Comment] [ntext] NULL,
	[ClaimProduct] [varchar](5) NULL,
	[ClaimPlan] [varchar](10) NULL,
	[RecoveryType] [tinyint] NULL,
	[RecoveryTypeDesc] [int] NULL,
	[RecoveryOutcome] [int] NULL,
	[RecoveryOutcomeDesc] [varchar](50) NULL,
	[CultureCode] [nvarchar](10) NULL,
	[DomainID] [int] NULL,
	[KLPolicyOffline] [int] NULL,
	[KLMASTERPOLICYNUMBER] [int] NULL,
	[KLGroupName] [int] NULL,
	[KLAgencyName] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
