USE [db-au-stage]
GO
/****** Object:  Table [dbo].[etl_cdgQuote_Impulse2]    Script Date: 24/02/2025 5:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etl_cdgQuote_Impulse2](
	[AnalyticsSessionID] [bigint] NOT NULL,
	[TransactionTime] [datetime2](7) NULL,
	[CampaignID] [smallint] NOT NULL,
	[Campaign] [nvarchar](255) NULL,
	[CampaignSessionID] [nvarchar](4000) NOT NULL,
	[BusinessUnitID] [smallint] NOT NULL,
	[Domain] [nvarchar](255) NULL,
	[BusinessUnit] [nvarchar](255) NULL,
	[ChannelID] [smallint] NOT NULL,
	[Channel] [nvarchar](255) NULL,
	[Currency] [nvarchar](3) NULL,
	[TravellerID] [nvarchar](4000) NOT NULL,
	[ImpressionID] [nvarchar](4000) NULL,
	[TransactionType] [int] NULL,
	[PathType] [int] NULL,
	[ConstructID] [nvarchar](4000) NULL,
	[Construct] [nvarchar](255) NULL,
	[OfferID] [nvarchar](4000) NULL,
	[Offer] [nvarchar](255) NULL,
	[ProductID] [smallint] NULL,
	[Product] [nvarchar](100) NULL,
	[ProductCode] [nvarchar](255) NULL,
	[PlanCode] [nvarchar](255) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[RegionID] [smallint] NULL,
	[Region] [nvarchar](4000) NULL,
	[DestinationType] [nchar](1) NULL,
	[DestinationCountryID] [int] NULL,
	[DestinationCountryCode] [nvarchar](3) NULL,
	[DestinationCountry] [nvarchar](50) NULL,
	[TripType] [nchar](1) NULL,
	[IsSessionClosed] [varchar](5) NULL,
	[IsOfferPurchased] [varchar](5) NULL,
	[PoliciesPerTrip] [smallint] NULL,
	[PolicyCurrency] [nchar](3) NULL,
	[GrossIncludingTax] [numeric](28, 6) NULL,
	[GrossExcludingTax] [numeric](28, 6) NULL,
	[NumAdults] [smallint] NOT NULL,
	[NumChildren] [smallint] NOT NULL,
	[TravellerAge] [smallint] NULL,
	[IsAdult] [varchar](5) NOT NULL,
	[TravellerGender] [nchar](1) NULL,
	[IsPrimaryTraveller] [varchar](5) NULL,
	[AlphaCode] [nvarchar](4000) NULL,
	[PolicyNumber] [nvarchar](4000) NULL,
	[PolicyID] [nvarchar](4000) NULL,
	[TripCost] [numeric](28, 6) NULL,
	[DepartureAirport] [nvarchar](4000) NULL,
	[DestinationAirport] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
