USE [db-au-stage]
GO
/****** Object:  Table [dbo].[etl_penPolicy]    Script Date: 24/02/2025 5:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etl_penPolicy](
	[CountryKey] [varchar](2) NULL,
	[CompanyKey] [varchar](5) NULL,
	[DomainKey] [varchar](41) NULL,
	[OutletAlphaKey] [nvarchar](101) NULL,
	[OutletSKey] [bigint] NULL,
	[PolicyKey] [varchar](71) NULL,
	[PolicyNoKey] [varchar](71) NULL,
	[DomainID] [int] NOT NULL,
	[PolicyID] [int] NOT NULL,
	[PolicyNumber] [varchar](25) NULL,
	[AlphaCode] [nvarchar](60) NULL,
	[IssueDate] [datetime] NULL,
	[IssueDateNoTime] [date] NULL,
	[IssueDateUTC] [datetime] NOT NULL,
	[IssueDateNoTimeUTC] [date] NULL,
	[CancelledDate] [datetime] NULL,
	[StatusCode] [int] NULL,
	[StatusDescription] [nvarchar](50) NULL,
	[Area] [nvarchar](100) NULL,
	[AreaType] [varchar](18) NULL,
	[PrimaryCountry] [nvarchar](max) NULL,
	[TripStart] [datetime] NULL,
	[TripEnd] [datetime] NULL,
	[AffiliateReference] [nvarchar](200) NULL,
	[HowDidYouHear] [nvarchar](200) NULL,
	[AffiliateComments] [varchar](500) NULL,
	[GroupName] [nvarchar](100) NULL,
	[CompanyName] [nvarchar](100) NULL,
	[PolicyType] [varchar](1) NOT NULL,
	[isCancellation] [bit] NOT NULL,
	[ProductID] [int] NOT NULL,
	[ProductCode] [nvarchar](50) NULL,
	[ProductName] [nvarchar](50) NULL,
	[ProductDisplayName] [nvarchar](50) NULL,
	[PurchasePath] [nvarchar](200) NULL,
	[UniquePlanID] [int] NOT NULL,
	[Excess] [money] NOT NULL,
	[AreaName] [nvarchar](100) NULL,
	[PolicyStart] [datetime] NULL,
	[PolicyEnd] [datetime] NULL,
	[DaysCovered] [int] NULL,
	[MaxDuration] [int] NULL,
	[PlanName] [nvarchar](50) NULL,
	[TripType] [nvarchar](50) NULL,
	[PlanID] [int] NULL,
	[PlanDisplayName] [nvarchar](100) NULL,
	[CancellationCover] [nvarchar](50) NULL,
	[TripCost] [nvarchar](50) NULL,
	[TripDuration] [int] NULL,
	[EmailConsent] [bit] NULL,
	[IsShowDiscount] [bit] NULL,
	[ExternalReference] [nvarchar](75) NULL,
	[ExternalReference1] [nvarchar](75) NULL,
	[ExternalReference2] [nvarchar](75) NULL,
	[ExternalReference3] [nvarchar](75) NULL,
	[AreaNumber] [varchar](35) NULL,
	[ImportDate] [date] NULL,
	[PreviousPolicyNumber] [varchar](25) NULL,
	[CurrencyCode] [varchar](3) NOT NULL,
	[CultureCode] [nvarchar](20) NULL,
	[AreaCode] [nvarchar](3) NULL,
	[TaxInvoiceNumber] [nvarchar](50) NULL,
	[MultiDestination] [nvarchar](max) NULL,
	[FinanceProductID] [int] NULL,
	[FinanceProductCode] [nvarchar](12) NULL,
	[FinanceProductName] [nvarchar](125) NULL,
	[InitialDepositDate] [datetime] NULL,
	[PlanCode] [nvarchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
