USE [db-au-stage]
GO
/****** Object:  Table [dbo].[penguin_tblAddOnRateCard_autp]    Script Date: 24/02/2025 5:08:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penguin_tblAddOnRateCard_autp](
	[AddOnRateCardID] [int] NOT NULL,
	[AddOnRateCardSetID] [int] NOT NULL,
	[AreaID] [int] NOT NULL,
	[AgeBandID] [int] NOT NULL,
	[DurationID] [int] NOT NULL,
	[Premium] [money] NOT NULL
) ON [PRIMARY]
GO
