USE [db-au-stage]
GO
/****** Object:  Table [dbo].[DTProAccounting_patrxdet_audtc]    Script Date: 24/02/2025 5:08:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTProAccounting_patrxdet_audtc](
	[trx_ctrl_num] [varchar](16) NOT NULL,
	[src_detail_id] [varchar](50) NULL,
	[resource_code] [varchar](10) NULL,
	[period_end_date] [datetime] NULL,
	[period_id] [int] NOT NULL,
	[tran_date] [datetime] NOT NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[qty] [numeric](18, 2) NOT NULL,
	[client_code] [varchar](20) NOT NULL,
	[project_code] [varchar](10) NOT NULL,
	[project_id] [int] NOT NULL,
	[subproject_id] [int] NULL,
	[activity_code] [varchar](10) NULL,
	[tran_type] [smallint] NOT NULL,
	[description] [varchar](80) NULL,
	[extended_notes] [text] NULL,
	[nocharge_flag] [tinyint] NOT NULL,
	[posted_state] [smallint] NOT NULL,
	[onhold_flag] [tinyint] NOT NULL,
	[sell_fee_flag] [tinyint] NOT NULL,
	[invoiced_flag] [tinyint] NOT NULL,
	[hidden_flag] [tinyint] NOT NULL,
	[suggest_close_project_flag] [tinyint] NOT NULL,
	[approved_by_staff_code] [varchar](10) NULL,
	[approved_date] [datetime] NULL,
	[rate_code] [varchar](10) NULL,
	[scale_code] [varchar](10) NULL,
	[project_sell_rate] [numeric](20, 8) NOT NULL,
	[project_sell_fee_amt] [money] NOT NULL,
	[clients_reference] [varchar](40) NULL,
	[inv_ctrl_num] [varchar](16) NULL,
	[company_code] [varchar](10) NOT NULL,
	[data_source] [varchar](50) NULL,
	[created_date] [datetime] NULL,
	[created_user] [varchar](31) NULL,
	[last_edit_date] [datetime] NULL,
	[project_sell_amt] [money] NOT NULL,
	[project_overhead_amt] [money] NOT NULL,
	[project_sell_discount_amt] [money] NOT NULL,
	[project_sell_writeoff_amt] [money] NOT NULL,
	[project_cost_amt] [money] NOT NULL,
	[call_number] [varchar](255) NULL,
	[completed_activity_flag] [tinyint] NOT NULL,
	[project_sell_nocharge_amt] [money] NOT NULL,
	[writeoff_code] [varchar](10) NULL,
	[writeoff_desc] [varchar](80) NULL,
	[expense_code] [varchar](10) NULL,
	[natural_currency_code] [varchar](8) NOT NULL,
	[approved_rule] [varchar](10) NULL,
	[approved_state] [tinyint] NOT NULL,
	[reviewed_state] [tinyint] NOT NULL,
	[reviewed_by_staff_code] [varchar](10) NULL,
	[reviewed_date] [datetime] NULL,
	[reviewed_rule] [varchar](10) NULL,
	[cost_code] [varchar](10) NULL,
	[project_cost_tax_amt] [money] NOT NULL,
	[batch_ctrl_num] [varchar](16) NULL,
	[revenue_posting_account] [varchar](32) NULL,
	[nocharge_code] [varchar](10) NULL,
	[nocharge_notes] [varchar](255) NULL,
	[internal_comment] [varchar](255) NULL,
	[location_code] [varchar](10) NULL,
	[normal_hrs] [numeric](18, 2) NOT NULL,
	[overtime_1] [numeric](18, 2) NOT NULL,
	[overtime_2] [numeric](18, 2) NOT NULL,
	[overtime_3] [numeric](18, 2) NOT NULL,
	[overtime_4] [numeric](18, 2) NOT NULL,
	[overtime_5] [numeric](18, 2) NOT NULL,
	[compensatory_time] [numeric](18, 2) NOT NULL,
	[task_id] [int] NULL,
	[reference_code] [varchar](40) NULL,
	[inventory_code] [varchar](32) NULL,
	[subproject_code] [varchar](10) NULL,
	[suggest_close_task_flag] [tinyint] NOT NULL,
	[analysis_code] [varchar](10) NULL,
	[gl_debit_account] [varchar](32) NULL,
	[gl_credit_account] [varchar](32) NULL,
	[resource_class_code] [varchar](10) NULL,
	[task_complete_pct] [numeric](5, 2) NULL,
	[project_currency_code] [varchar](8) NOT NULL,
	[home_currency_code] [varchar](8) NOT NULL,
	[operational_currency_code] [varchar](8) NOT NULL,
	[operational_exchange_rate] [float] NOT NULL,
	[natural_exchange_rate] [float] NOT NULL,
	[home_exchange_rate] [float] NOT NULL,
	[last_edit_user] [varchar](31) NULL,
	[vendor_code] [varchar](20) NULL,
	[tax_exempt_flag] [tinyint] NOT NULL,
	[project_sell_tax_exempt_amt] [money] NOT NULL,
	[activity_type_code] [varchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
