USE [db-au-stage]
GO
/****** Object:  Table [dbo].[penguin_tblAuditReferenceType_ukcm]    Script Date: 24/02/2025 5:08:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penguin_tblAuditReferenceType_ukcm](
	[ID] [int] NOT NULL,
	[Type] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
