USE [db-au-stage]
GO
/****** Object:  Table [dbo].[cisco_ciscalls_TEMP]    Script Date: 24/02/2025 5:08:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cisco_ciscalls_TEMP](
	[sessionid] [bigint] NULL,
	[sessionseqnum] [int] NULL,
	[nodeid] [int] NULL,
	[profileid] [int] NULL,
	[contacttype] [int] NULL,
	[contactdisposition] [int] NULL,
	[dispositionreason] [varchar](100) NULL,
	[originatortype] [int] NULL,
	[originatorid] [int] NULL,
	[originatoragent] [varchar](50) NULL,
	[originatorext] [varchar](50) NULL,
	[originatordn] [varchar](30) NULL,
	[destinationtype] [int] NULL,
	[destinationid] [int] NULL,
	[destinationagent] [varchar](50) NULL,
	[destinationext] [varchar](50) NULL,
	[destinationdn] [varchar](30) NULL,
	[startdatetime] [datetime2](7) NULL,
	[enddatetime] [datetime2](7) NULL,
	[callednumber] [varchar](30) NULL,
	[origcallednumber] [varchar](30) NULL,
	[applicationtaskid] [bigint] NULL,
	[applicationid] [int] NULL,
	[applicationname] [varchar](30) NULL,
	[connecttime] [int] NULL,
	[varcsqname] [varchar](40) NULL,
	[varext] [varchar](40) NULL,
	[varclassification] [varchar](40) NULL,
	[varivroption] [varchar](40) NULL,
	[varivrreference] [varchar](40) NULL,
	[varwrapup] [varchar](40) NULL,
	[accountnumber] [varchar](40) NULL,
	[callerentereddigits] [varchar](40) NULL,
	[badcalltag] [char](1) NULL,
	[transfer] [bit] NULL,
	[redirect] [bit] NULL,
	[conference] [bit] NULL,
	[ringtime] [int] NULL,
	[talktime] [int] NULL,
	[holdtime] [int] NULL,
	[worktime] [int] NULL,
	[wrapuptime] [int] NULL,
	[wrapupdata] [varchar](40) NULL,
	[targetid] [int] NULL,
	[targettype] [int] NULL,
	[queuedisposition] [int] NULL,
	[queuetime] [int] NULL,
	[metservicelevel] [bit] NULL,
	[csqname] [varchar](50) NULL,
	[servicelevelpercentage] [int] NULL,
	[resourcename] [varchar](50) NULL,
	[loginid] [varchar](50) NULL,
	[teamname] [varchar](50) NULL,
	[supervisorflag] [int] NULL,
	[callresult] [int] NULL,
	[campaignid] [int] NULL,
	[dialinglistid] [int] NULL,
	[origprotocolcallref] [varchar](50) NULL,
	[destprotocolcallref] [varchar](50) NULL,
	[TargetID_1] [int] NULL
) ON [PRIMARY]
GO
