USE [db-au-stage]
GO
/****** Object:  Table [dbo].[trips_codesclpros_au]    Script Date: 24/02/2025 5:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trips_codesclpros_au](
	[Code] [varchar](10) NOT NULL,
	[Description] [varchar](50) NULL
) ON [PRIMARY]
GO
