USE [db-au-stage]
GO
/****** Object:  Table [dbo].[penelope_sspresissuegroupclass_audtc]    Script Date: 24/02/2025 5:08:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penelope_sspresissuegroupclass_audtc](
	[kpresissuegroupclassid] [int] NOT NULL,
	[presissuegroupclass] [nvarchar](20) NULL
) ON [PRIMARY]
GO
