USE [db-au-stage]
GO
/****** Object:  Table [dbo].[sforce_profile]    Script Date: 24/02/2025 5:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sforce_profile](
	[CreatedById] [nvarchar](18) NULL,
	[CreatedDate] [datetime] NULL,
	[Description] [nvarchar](255) NULL,
	[Id] [nvarchar](18) NULL,
	[LastModifiedById] [nvarchar](18) NULL,
	[LastModifiedDate] [datetime] NULL,
	[LastReferencedDate] [datetime] NULL,
	[LastViewedDate] [datetime] NULL,
	[Name] [nvarchar](255) NULL,
	[PermissionsActivateContract] [bit] NULL,
	[PermissionsApiEnabled] [bit] NULL,
	[PermissionsApiUserOnly] [bit] NULL,
	[PermissionsAssignTopics] [bit] NULL,
	[PermissionsAuthorApex] [bit] NULL,
	[PermissionsBulkApiHardDelete] [bit] NULL,
	[PermissionsCanInsertFeedSystemFields] [bit] NULL,
	[PermissionsCanUseNewDashboardBuilder] [bit] NULL,
	[PermissionsChatterFileLink] [bit] NULL,
	[PermissionsChatterInternalUser] [bit] NULL,
	[PermissionsChatterInviteExternalUsers] [bit] NULL,
	[PermissionsChatterOwnGroups] [bit] NULL,
	[PermissionsConnectOrgToEnvironmentHub] [bit] NULL,
	[PermissionsContentAdministrator] [bit] NULL,
	[PermissionsConvertLeads] [bit] NULL,
	[PermissionsCreateCustomizeFilters] [bit] NULL,
	[PermissionsCreateMultiforce] [bit] NULL,
	[PermissionsCreateTopics] [bit] NULL,
	[PermissionsCreateWorkspaces] [bit] NULL,
	[PermissionsCustomizeApplication] [bit] NULL,
	[PermissionsCustomMobileAppsAccess] [bit] NULL,
	[PermissionsDataExport] [bit] NULL,
	[PermissionsDeleteActivatedContract] [bit] NULL,
	[PermissionsDeleteTopics] [bit] NULL,
	[PermissionsDistributeFromPersWksp] [bit] NULL,
	[PermissionsEditBrandTemplates] [bit] NULL,
	[PermissionsEditCaseComments] [bit] NULL,
	[PermissionsEditEvent] [bit] NULL,
	[PermissionsEditHtmlTemplates] [bit] NULL,
	[PermissionsEditOppLineItemUnitPrice] [bit] NULL,
	[PermissionsEditPublicDocuments] [bit] NULL,
	[PermissionsEditPublicTemplates] [bit] NULL,
	[PermissionsEditReadonlyFields] [bit] NULL,
	[PermissionsEditReports] [bit] NULL,
	[PermissionsEditTask] [bit] NULL,
	[PermissionsEditTopics] [bit] NULL,
	[PermissionsEmailAdministration] [bit] NULL,
	[PermissionsEmailMass] [bit] NULL,
	[PermissionsEmailSingle] [bit] NULL,
	[PermissionsEmailTemplateManagement] [bit] NULL,
	[PermissionsEnableNotifications] [bit] NULL,
	[PermissionsExportReport] [bit] NULL,
	[PermissionsFlowUFLRequired] [bit] NULL,
	[PermissionsForceTwoFactor] [bit] NULL,
	[PermissionsIdentityConnect] [bit] NULL,
	[PermissionsIdentityEnabled] [bit] NULL,
	[PermissionsImportLeads] [bit] NULL,
	[PermissionsImportPersonal] [bit] NULL,
	[PermissionsInboundMigrationToolsUser] [bit] NULL,
	[PermissionsInstallMultiforce] [bit] NULL,
	[PermissionsManageAnalyticSnapshots] [bit] NULL,
	[PermissionsManageAuthProviders] [bit] NULL,
	[PermissionsManageBusinessHourHolidays] [bit] NULL,
	[PermissionsManageCallCenters] [bit] NULL,
	[PermissionsManageCases] [bit] NULL,
	[PermissionsManageCategories] [bit] NULL,
	[PermissionsManageChatterMessages] [bit] NULL,
	[PermissionsManageContentPermissions] [bit] NULL,
	[PermissionsManageContentProperties] [bit] NULL,
	[PermissionsManageContentTypes] [bit] NULL,
	[PermissionsManageCustomReportTypes] [bit] NULL,
	[PermissionsManageDashboards] [bit] NULL,
	[PermissionsManageDataCategories] [bit] NULL,
	[PermissionsManageDataIntegrations] [bit] NULL,
	[PermissionsManageDynamicDashboards] [bit] NULL,
	[PermissionsManageEmailClientConfig] [bit] NULL,
	[PermissionsManageExchangeConfig] [bit] NULL,
	[PermissionsManageInteraction] [bit] NULL,
	[PermissionsManageLeads] [bit] NULL,
	[PermissionsManageMobile] [bit] NULL,
	[PermissionsManageRemoteAccess] [bit] NULL,
	[PermissionsManageSolutions] [bit] NULL,
	[PermissionsManageUsers] [bit] NULL,
	[PermissionsMassInlineEdit] [bit] NULL,
	[PermissionsModerateChatter] [bit] NULL,
	[PermissionsModifyAllData] [bit] NULL,
	[PermissionsNewReportBuilder] [bit] NULL,
	[PermissionsOutboundMigrationToolsUser] [bit] NULL,
	[PermissionsPasswordNeverExpires] [bit] NULL,
	[PermissionsPublishMultiforce] [bit] NULL,
	[PermissionsResetPasswords] [bit] NULL,
	[PermissionsRunFlow] [bit] NULL,
	[PermissionsRunReports] [bit] NULL,
	[PermissionsSalesConsole] [bit] NULL,
	[PermissionsScheduleJob] [bit] NULL,
	[PermissionsScheduleReports] [bit] NULL,
	[PermissionsSendSitRequests] [bit] NULL,
	[PermissionsSolutionImport] [bit] NULL,
	[PermissionsTransferAnyCase] [bit] NULL,
	[PermissionsTransferAnyEntity] [bit] NULL,
	[PermissionsTransferAnyLead] [bit] NULL,
	[PermissionsTwoFactorApi] [bit] NULL,
	[PermissionsUseTeamReassignWizards] [bit] NULL,
	[PermissionsViewAllData] [bit] NULL,
	[PermissionsViewAllUsers] [bit] NULL,
	[PermissionsViewCaseInteraction] [bit] NULL,
	[PermissionsViewContent] [bit] NULL,
	[PermissionsViewDataCategories] [bit] NULL,
	[PermissionsViewEncryptedData] [bit] NULL,
	[PermissionsViewEventLogFiles] [bit] NULL,
	[PermissionsViewHelpLink] [bit] NULL,
	[PermissionsViewMyTeamsDashboards] [bit] NULL,
	[PermissionsViewSetup] [bit] NULL,
	[SystemModstamp] [datetime] NULL,
	[UserLicenseId] [nvarchar](18) NULL,
	[UserType] [nvarchar](40) NULL
) ON [PRIMARY]
GO
