USE [db-au-stage]
GO
/****** Object:  Table [dbo].[trips_ppreg_uk]    Script Date: 24/02/2025 5:08:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trips_ppreg_uk](
	[PPREG_ID] [int] NOT NULL,
	[PPBATCH] [varchar](8) NULL,
	[PPDATE1] [datetime] NULL,
	[PPTIME] [datetime] NULL,
	[PPNER] [varchar](1) NULL,
	[PPPOLTP] [varchar](5) NULL,
	[PPDISS] [datetime] NULL,
	[PPACT] [datetime] NULL,
	[PPPOLYN] [int] NOT NULL,
	[PPPOLD] [int] NULL,
	[PPCOMP] [varchar](1) NULL,
	[PPNAME1] [varchar](50) NULL,
	[PPCHILD] [smallint] NULL,
	[PPADULT] [smallint] NULL,
	[PPPERS] [smallint] NULL,
	[PPDEP] [datetime] NULL,
	[PPRET] [datetime] NULL,
	[PPDAYS] [smallint] NULL,
	[PPWKS] [tinyint] NULL,
	[PPMTHS] [tinyint] NULL,
	[PPALPHA] [varchar](7) NULL,
	[PPPSEUDO] [varchar](7) NULL,
	[PPTIAS] [bit] NOT NULL,
	[PPTC] [varchar](2) NULL,
	[PPDESN] [varchar](50) NULL,
	[PPNONR] [bit] NULL,
	[PPPCODE] [varchar](6) NULL,
	[PPEXCESS] [smallint] NULL,
	[PPSTATE] [varchar](50) NULL,
	[PPFAM] [varchar](1) NULL,
	[PPPRG] [money] NULL,
	[PPEXC] [bit] NOT NULL,
	[PPAGEL] [money] NULL,
	[PPDETC] [money] NULL,
	[PPSPEC] [bit] NOT NULL,
	[PPVTOT] [money] NULL,
	[PPXSBYOUT] [money] NULL,
	[PPHRISK] [bit] NOT NULL,
	[PPHRTOT] [money] NULL,
	[PPSPEX] [bit] NOT NULL,
	[PPCTOT] [money] NULL,
	[PPPRGT] [money] NULL,
	[PPPRN] [money] NULL,
	[PPPRP] [float] NULL,
	[PPPDATE] [datetime] NULL,
	[PPBKREC] [int] NULL,
	[PPACP] [float] NULL,
	[PPPSD] [money] NULL,
	[PPEXPT] [bit] NOT NULL,
	[PPEXPD] [datetime] NULL,
	[PPHFUND] [bit] NOT NULL,
	[PPPC] [bit] NOT NULL,
	[PPCL] [bit] NOT NULL,
	[PPEMC] [bit] NOT NULL,
	[PPGRP] [bit] NOT NULL,
	[PPDEC] [bit] NOT NULL,
	[PPASPEC] [bit] NOT NULL,
	[PPFOC] [bit] NOT NULL,
	[PPFOCP] [money] NULL,
	[PPSSKI] [varchar](1) NULL,
	[PPSBRD] [varchar](1) NULL,
	[PPRGTGST] [money] NULL,
	[PPSDGST] [money] NULL,
	[PPEXTGST] [money] NULL,
	[PPRGTSTAMP] [money] NULL,
	[PPEXTSTAMP] [money] NULL,
	[PPASSIST] [money] NULL,
	[PPEXTCOMMGST] [money] NULL,
	[PPTRANSCODES] [tinyint] NULL,
	[PPTRANSCODEX] [varchar](3) NULL,
	[PPHIRECARXS] [money] NULL,
	[PPREF] [varchar](50) NULL,
	[PPPASD] [money] NULL,
	[PPPRAGT] [money] NULL,
	[PPAVTOT] [money] NULL,
	[PPAAGEL] [money] NULL,
	[PPADETC] [money] NULL,
	[SERIALNUMBER] [int] NULL,
	[PPAHIRECARXS] [money] NULL,
	[PPCC] [bit] NULL,
	[PPRI] [bit] NULL,
	[ppbonusdays] [tinyint] NULL,
	[PPCOMMENTS] [nvarchar](2000) NULL,
	[pphirecar_amountcovered] [float] NULL,
	[PPSSKI_PPSBRD_TOT] [money] NULL,
	[PPPAF] [money] NOT NULL,
	[PPPAAF] [money] NOT NULL,
	[PPTRIPCOST] [varchar](100) NULL,
	[RISKNET] [float] NULL,
	[COMMISSIONTIERID] [varchar](25) NULL,
	[VOLUMEPERCENTAGE] [float] NULL,
	[PPNAF] [float] NULL,
	[PPCANX] [money] NULL,
	[PPACANX] [money] NULL,
	[PPCANXTC] [varchar](100) NULL,
	[PPPENGUIN] [int] NULL,
	[StoreCode] [varchar](10) NULL,
	[ppplanid] [int] NULL,
	[pprc] [varchar](100) NULL,
	[ppahrtot] [money] NULL,
	[PPSHOWPREMIUM] [bit] NULL
) ON [PRIMARY]
GO
