USE [db-au-stage]
GO
/****** Object:  Table [dbo].[cdg_Region_AU]    Script Date: 24/02/2025 5:08:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cdg_Region_AU](
	[RegionId] [int] NOT NULL,
	[Region] [nvarchar](50) NULL
) ON [PRIMARY]
GO
