USE [db-au-stage]
GO
/****** Object:  Table [dbo].[penguin_tblReferenceValueGroup_autp]    Script Date: 24/02/2025 5:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penguin_tblReferenceValueGroup_autp](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsSystemDefined] [bit] NULL,
	[DomainId] [int] NOT NULL
) ON [PRIMARY]
GO
