USE [db-au-stage]
GO
/****** Object:  Table [dbo].[sforce_AgencyCalls]    Script Date: 24/02/2025 5:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sforce_AgencyCalls](
	[CreatedById] [nvarchar](18) NULL,
	[CreatedDate] [datetime] NULL,
	[Id] [nvarchar](18) NULL,
	[IsDeleted] [bit] NULL,
	[LastModifiedById] [nvarchar](18) NULL,
	[LastModifiedDate] [datetime] NULL,
	[SystemModstamp] [datetime] NULL,
	[Account_Name__c] [nvarchar](18) NULL,
	[ADUsername__c] [nvarchar](1300) NULL,
	[AgencyID__c] [nvarchar](1300) NULL,
	[Call_Comment__c] [nvarchar](max) NULL,
	[Call_duration__c] [nvarchar](200) NULL,
	[Call_Duration_Number__c] [numeric](18, 0) NULL,
	[Call_Duration_Original__c] [numeric](18, 0) NULL,
	[Call_End_Time_adjustment_mins__c] [numeric](18, 0) NULL,
	[Call_End_Time_Original__c] [datetime] NULL,
	[Call_Start_Time__c] [datetime] NULL,
	[Call_Start_Time_adjustment_mins__c] [numeric](18, 0) NULL,
	[Call_Start_Time_Original__c] [datetime] NULL,
	[Call_Type__c] [nvarchar](255) NULL,
	[CallCategory__c] [nvarchar](255) NULL,
	[CallEndTime__c] [datetime] NULL,
	[CallSubCategory__c] [nvarchar](255) NULL,
	[Consultant_Name__c] [nvarchar](18) NULL,
	[CRM_user__c] [nvarchar](1300) NULL,
	[Duration__c] [nvarchar](1300) NULL,
	[Duration_Original__c] [nvarchar](1300) NULL,
	[First_preferred_Travel_Insurance_product__c] [nvarchar](255) NULL,
	[How_likely_are_you_going_to_quote_Cover__c] [nvarchar](255) NULL,
	[How_likely_to_quote_Cover_More__c] [nvarchar](1300) NULL,
	[LastActivityDate] [date] NULL,
	[LastReferencedDate] [datetime] NULL,
	[LastViewedDate] [datetime] NULL,
	[Name] [nvarchar](80) NULL,
	[Other_Preferred_Products__c] [nvarchar](50) NULL,
	[Other_Products_2nd_Preferred__c] [nvarchar](50) NULL,
	[Other_reasons__c] [nvarchar](50) NULL,
	[Processed__c] [bit] NULL,
	[RecordTypeId] [nvarchar](18) NULL,
	[Red_flags__c] [nvarchar](255) NULL,
	[Red_Flags_Formula__c] [nvarchar](1300) NULL,
	[Role_Type__c] [nvarchar](1300) NULL,
	[Running__c] [bit] NULL,
	[Send_To_Call_Tracking__c] [nvarchar](1300) NULL,
	[Stop_Call__c] [nvarchar](1300) NULL,
	[Stop_Flag__c] [nvarchar](1300) NULL,
	[Survey_Email__c] [nvarchar](80) NULL,
	[Time_Zone__c] [nvarchar](200) NULL,
	[UserName__c] [nvarchar](100) NULL,
	[What_stops_you_from_offering_Cover_More__c] [nvarchar](255) NULL,
	[What_stops_you_from_offering_formula__c] [nvarchar](1300) NULL,
	[X1st_preferred_formula__c] [nvarchar](1300) NULL,
	[X2nd_preferred_formula__c] [nvarchar](1300) NULL,
	[X2nd_preferred_Travel_Insurance_product__c] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
