USE [db-au-stage]
GO
/****** Object:  Table [dbo].[penguin_tblSubGroupEndorser_ukcm]    Script Date: 24/02/2025 5:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penguin_tblSubGroupEndorser_ukcm](
	[SubGroupID] [int] NOT NULL,
	[EndorserID] [int] NOT NULL
) ON [PRIMARY]
GO
