USE [db-au-stage]
GO
/****** Object:  Table [dbo].[STG_Department]    Script Date: 24/02/2025 5:08:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STG_Department](
	[Parent_Dept_Code] [varchar](50) NOT NULL,
	[Parent_Dept_Desc] [varchar](200) NULL,
	[Child_Dept_Code] [varchar](50) NOT NULL,
	[Child_Dept_Desc] [varchar](200) NULL,
	[Dept_Type_Code] [varchar](50) NOT NULL,
	[Dept_Type_Desc] [varchar](200) NULL,
	[Dept_Entity_Code] [varchar](50) NOT NULL,
	[Dept_Entity_Desc] [varchar](200) NULL,
	[Create_Date] [datetime] NULL
) ON [PRIMARY]
GO
