USE [db-au-stage]
GO
/****** Object:  Table [dbo].[e5_WorkActivityCustomProperty_au]    Script Date: 24/02/2025 5:08:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[e5_WorkActivityCustomProperty_au](
	[_Id] [bigint] NOT NULL,
	[WorkActivity__Id] [bigint] NOT NULL,
	[ClaimNumberEntry] [int] NULL,
	[Category1_Id] [int] NULL,
	[Category2_Id] [int] NULL,
	[Category3_Id] [int] NULL,
	[CatastropheType] [int] NULL,
	[HaveSufficientCorroAuthLimit] [int] NULL,
	[TSPIClaimExplanationSupplied] [int] NULL,
	[TSPIClaimExplanationSuppliedExpl] [nvarchar](max) NULL,
	[TSPIDateOfInsolvencyConfExpl] [nvarchar](max) NULL,
	[TSPIDateofInsolvencyConfirmed] [int] NULL,
	[TSPIItemisedBreakdown] [int] NULL,
	[TSPIItemisedBreakdownExpl] [nvarchar](max) NULL,
	[TSPITravelAgentCancCostsExpl] [nvarchar](max) NULL,
	[TSPITravelAgentCancel] [int] NULL,
	[TSPIUnforeseenConfirmedExpl] [nvarchar](max) NULL,
	[TSPIUnforseenConfirmed] [int] NULL,
	[ACCAbilitytoAmend] [int] NULL,
	[ACCAbilityToAmendExpl] [nvarchar](max) NULL,
	[ACCAlternativeOptionCostsExpl] [nvarchar](max) NULL,
	[ACCAltOptCosts] [int] NULL,
	[ACCClaimEventSupplied] [int] NULL,
	[ACCClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[ACCEMCRuledOut] [int] NULL,
	[ACCEMCRuledOutExpl] [nvarchar](max) NULL,
	[ACCTravelAgentCancCostsExpl] [nvarchar](max) NULL,
	[ACCTravelCancelCosts] [int] NULL,
	[ACCUnforseenControl] [int] NULL,
	[ACCUnforseenOutsideExpl] [nvarchar](max) NULL,
	[AssessmentOutcome] [int] NULL,
	[GeneralClaimAssessOutcome] [int] NULL,
	[OMDEClaimEventSupplied] [int] NULL,
	[OMDEClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[OMDEDeteriorationDecayExpl] [nvarchar](max) NULL,
	[OMDEDeteriorationorDecayRuledOut] [int] NULL,
	[OMDEEMCRuledOut] [int] NULL,
	[OMDEEMCRuledOutExpl] [nvarchar](max) NULL,
	[OMDEMedicalReportSupplied] [int] NULL,
	[OMDEMedicalReportSuppliedExpl] [nvarchar](max) NULL,
	[OMDEOriginalReceiptsExpl] [nvarchar](max) NULL,
	[OMDEOriginalReceiptsSupplied] [int] NULL,
	[AEClaimEventSupplied] [int] NULL,
	[AEClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[AEConfDelaySupplExpl] [nvarchar](max) NULL,
	[AEConfirmationofDelaySupplied] [int] NULL,
	[AEConfirmOrigTravelPlansExpl] [nvarchar](max) NULL,
	[AEConfirmTravelPlansSupplied] [int] NULL,
	[AEEMCRuledOut] [int] NULL,
	[AEEMCRuledOutExpl] [nvarchar](max) NULL,
	[AEExpensesJustified] [int] NULL,
	[AEExpensesJustifiedExpl] [nvarchar](max) NULL,
	[AEOriginalReceiptsExpl] [nvarchar](max) NULL,
	[AEOriginalReceiptsSupplied] [int] NULL,
	[LTDClaimEventSupplied] [int] NULL,
	[LTDClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[LTDCompensationConfExpl] [nvarchar](max) NULL,
	[LTDCompensationConfirmed] [int] NULL,
	[LTDDamageReportsSupplied] [int] NULL,
	[LTDDamageReportsSuppliedExpl] [nvarchar](max) NULL,
	[LTDLossReportsSupplied] [int] NULL,
	[LTDLossReportsSuppliedExpl] [nvarchar](max) NULL,
	[LTDProofofOwnershipSupplied] [int] NULL,
	[LTDProofOfOwnershipSuppliedExpl] [nvarchar](max) NULL,
	[LTDUnattendedCareExpl] [nvarchar](max) NULL,
	[LTDUReasonableCareConfirmed] [int] NULL,
	[DLAAirlineConfirmation] [int] NULL,
	[DLAAirlineConfirmationExpl] [nvarchar](max) NULL,
	[DLAOriginalReceiptsExpl] [nvarchar](max) NULL,
	[DLAOriginalReceiptsSupplied] [int] NULL,
	[DLAPropertyIrregReportExpl] [nvarchar](max) NULL,
	[DLAPropertyIrregulRptSupplied] [int] NULL,
	[MNYClaimEventSupplied] [int] NULL,
	[MNYClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[MNYLossReportsSupplied] [int] NULL,
	[MNYLossReportsSuppliedExpl] [nvarchar](max) NULL,
	[MNYProofofFundsSupplied] [int] NULL,
	[MNYProofOfFundsSuppliedExpl] [nvarchar](max) NULL,
	[RCIEClaimEventSupplied] [int] NULL,
	[RCIEClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[RCIECompensationConfExpl] [nvarchar](max) NULL,
	[RCIECompensationConfirmed] [int] NULL,
	[RCIEHireCarAgreementSupplExpl] [nvarchar](max) NULL,
	[RCIEHireCarAgreementSupplied] [int] NULL,
	[RCIERepairInvoiceSupplExpl] [nvarchar](max) NULL,
	[RCIERepairInvoiceSupplied] [int] NULL,
	[TDClaimEventSupplied] [int] NULL,
	[TDClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[TDConfDelaySupplExpl] [nvarchar](max) NULL,
	[TDConfirmationofDelaySupplied] [int] NULL,
	[TDOriginalReceiptsExpl] [nvarchar](max) NULL,
	[TDOriginalReceiptsSupplied] [int] NULL,
	[TDTravelAgencyCancExpl] [nvarchar](max) NULL,
	[TDTravelAgentCancel] [int] NULL,
	[TDUnforeseenConfirmedExpl] [nvarchar](max) NULL,
	[TDUnforseenConfirmed] [int] NULL,
	[RJClaimEventSupplied] [int] NULL,
	[RJClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[RJEMCRuledOut] [int] NULL,
	[RJEMCRuledOutExpl] [nvarchar](max) NULL,
	[RJInvoiceSupplied] [int] NULL,
	[RJInvoiceSuppliedExpl] [nvarchar](max) NULL,
	[SEClaimEventSupplied] [int] NULL,
	[SEClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[SEConfirmationEventExpl] [nvarchar](max) NULL,
	[SEConfirmationofEventProvided] [int] NULL,
	[SEConfirmOrigTravelPlansExpl] [nvarchar](max) NULL,
	[SEConfirmTravelPlansSupplied] [int] NULL,
	[SEOriginalReceiptsExpl] [nvarchar](max) NULL,
	[SEOriginalReceiptsSupplied] [int] NULL,
	[SEUnforseenConfirmedExpl] [nvarchar](max) NULL,
	[SEUnforseenControl] [int] NULL,
	[HCClaimEventSupplied] [int] NULL,
	[HCClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[HCDischargeStatementProvided] [int] NULL,
	[HCDischargeStatementProvidedExpl] [nvarchar](max) NULL,
	[HCEMCRuledOut] [int] NULL,
	[HCEMCRuledOutExpl] [nvarchar](max) NULL,
	[HCReceiptsForExpensesSupplExpl] [nvarchar](max) NULL,
	[HCReceiptsForExpensesSupplied] [int] NULL,
	[CIHClaimEventSupplied] [int] NULL,
	[CIHClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[CIHDischargeStatementProvided] [int] NULL,
	[CIHDischStatementProvidedExpl] [nvarchar](max) NULL,
	[CIHEMCRuledOut] [int] NULL,
	[CIHEMCRuledOutExpl] [nvarchar](max) NULL,
	[HIJDFATadviseconfirmed] [int] NULL,
	[HIJDFATAdviseConfirmedExpl] [nvarchar](max) NULL,
	[HIJPoliceReportSupplExpl] [nvarchar](max) NULL,
	[HIJPoliceReportSupplied] [int] NULL,
	[LIClaimEventSupplied] [int] NULL,
	[LIClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[LIConfirmationEmployerSupplExpl] [nvarchar](max) NULL,
	[LIConfirmFromEmployerSupplied] [int] NULL,
	[LIEMCRuledOut] [int] NULL,
	[LIEMCRuledOutExpl] [nvarchar](max) NULL,
	[LIMedicalReportSupplied] [int] NULL,
	[LIMedicalReportSuppliedExpl] [nvarchar](max) NULL,
	[DISClaimEventSupplied] [int] NULL,
	[DISClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[DISConfPermDisabilitySupplExpl] [nvarchar](max) NULL,
	[DISDrPermanentDisabilitySupplied] [int] NULL,
	[DISEMCRuledOut] [int] NULL,
	[DISEMCRuledOutExpl] [nvarchar](max) NULL,
	[DISMedicalReportSupplied] [int] NULL,
	[DISMedicalReportSuppliedExpl] [nvarchar](max) NULL,
	[ADClaimEventSupplied] [int] NULL,
	[ADClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[ADDeathCertificateSupplExpl] [nvarchar](max) NULL,
	[ADDeathCertificateSupplied] [int] NULL,
	[ADPoliceReportSupplExpl] [nvarchar](max) NULL,
	[ADPoliceReportSupplied] [int] NULL,
	[PLClaimEventSupplied] [int] NULL,
	[PLClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[PLOriginalReceiptsExpl] [nvarchar](max) NULL,
	[PLOriginalReceiptsSupplied] [int] NULL,
	[ASClaimEventSupplied] [int] NULL,
	[ASClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[ASClaimUnderMedExpExpl] [nvarchar](max) NULL,
	[ASClaimUnderMedicalExpAppr] [int] NULL,
	[ASConfEmplReplCostSupplExpl] [nvarchar](max) NULL,
	[ASConfirmEmployeeReplacement] [int] NULL,
	[ASEMCRuledOut] [int] NULL,
	[ASEMCRuledOutExpl] [nvarchar](max) NULL,
	[ASNecessityToReturnToAustralia] [int] NULL,
	[ASNecessRetToAustraliaConfExpl] [nvarchar](max) NULL,
	[KRClaimEventSupplied] [int] NULL,
	[KRClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[KRConfRansomAmountSupplExpl] [nvarchar](max) NULL,
	[KRCountryKidnapOccConfExpl] [nvarchar](max) NULL,
	[KRCountryKidnappingOccurred] [int] NULL,
	[KRIRSCheckCompleted] [int] NULL,
	[KRIRSCheckCompletedExpl] [nvarchar](max) NULL,
	[KRNegotiatorReceiptsSupplExpl] [nvarchar](max) NULL,
	[KRNegotiatorReceiptsSupplied] [int] NULL,
	[KRPoliceReportSupplExpl] [nvarchar](max) NULL,
	[KRPoliceReportSupplied] [int] NULL,
	[KRRansomAmountSupplied] [int] NULL,
	[ETWCClaimEventSupplied] [int] NULL,
	[ETWCClaimEventSuppliedExpl] [nvarchar](max) NULL,
	[ETWCConfInsuranceSupplExpl] [nvarchar](max) NULL,
	[ETWCConfirmEmployerSupplExpl] [nvarchar](max) NULL,
	[ETWCConfirmFromEmployerSupplied] [int] NULL,
	[ETWCConfirmInjuryIllnessProvided] [int] NULL,
	[ETWCConfirmInsuranceSupplied] [int] NULL,
	[ETWCReportConfInjuryProvExpl] [nvarchar](max) NULL,
	[IsPolicyCancelled] [int] NULL,
	[ClaimNumberAvailable] [int] NULL,
	[ClaimUnclassSuffInfo] [int] NULL,
	[CorroIsExistingClaim] [int] NULL,
	[CorroDetermineWorkType] [int] NULL,
	[CorroExistingClaimLocated] [int] NULL,
	[HaveSentCorrespondence] [int] NULL,
	[DenialDetails] [int] NULL,
	[ClaimOutcome] [int] NULL,
	[ComplaintDescriptionEnter] [nvarchar](max) NULL,
	[ComplaintsClaimNumber] [nvarchar](1000) NULL,
	[ComplaintResponseType] [int] NULL,
	[ComplaintOutcome] [int] NULL,
	[ComplaintResolved] [int] NULL,
	[TDOCUReasonableCareConfirmed] [int] NULL,
	[TDOCLossReportsSuppliedExpl] [nvarchar](500) NULL,
	[TDOCReplacementDocsReplacedExpl] [nvarchar](500) NULL,
	[TDOCProofofOwnershipSupplied] [int] NULL,
	[TDOCClaimEventSupplied] [int] NULL,
	[TDOCUnattendedCareExpl] [nvarchar](500) NULL,
	[TDOCLossReportsSupplied] [int] NULL,
	[TDOCReplacementDocsReplaced] [int] NULL,
	[TDOCClaimEventSuppliedExpl] [nvarchar](500) NULL,
	[TDOCProofOfOwnershipSuppliedExpl] [nvarchar](500) NULL,
	[ComplaintOutcomeTier1] [int] NULL,
	[RNReviewList] [int] NULL,
	[MedicalRefList] [int] NULL,
	[IsMedRevRequired] [int] NULL,
	[IsThisCorro] [int] NULL,
	[Isthisnewclaim] [int] NULL,
	[CostofClaim] [int] NULL,
	[RevClaimContInsured] [int] NULL,
	[IsSettAuthorised] [int] NULL,
	[IsRecPotential] [int] NULL,
	[CanCompberesolv] [int] NULL,
	[IDRIsMedRevRequired] [int] NULL,
	[IDRIsAddInfoRequired] [int] NULL,
	[IDROutcome] [int] NULL,
	[IDRoverturnReason2] [int] NULL,
	[IDRSettlement] [int] NULL,
	[INVIsAddInfoRequired] [int] NULL,
	[IsExtInvestigationRequired] [int] NULL,
	[RecoveryStatus] [int] NULL,
	[InvestigationOutcome] [int] NULL,
	[SMSCorro] [int] NULL,
	[IsExtInvestigationReq] [int] NULL,
	[SelectOutcome] [int] NULL,
	[CanComPBeResbyuTL] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
