USE [db-au-stage]
GO
/****** Object:  Table [dbo].[penelope_dtcomdoc_audtc_id]    Script Date: 24/02/2025 5:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penelope_dtcomdoc_audtc_id](
	[kcomdocid] [int] NOT NULL
) ON [PRIMARY]
GO
