USE [db-au-stage]
GO
/****** Object:  Table [dbo].[etl_sunLedgerBudgetQ1]    Script Date: 24/02/2025 5:08:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etl_sunLedgerBudgetQ1](
	[AccountKey] [varchar](19) NOT NULL,
	[BusinessUnit] [varchar](3) NOT NULL,
	[AccountCode] [varchar](15) NOT NULL,
	[Period] [int] NOT NULL,
	[TransDateTime] [datetime] NOT NULL,
	[JournalNo] [int] NOT NULL,
	[JournalLine] [int] NOT NULL,
	[BaseAmount] [numeric](18, 3) NOT NULL,
	[DebitCredit] [varchar](1) NOT NULL,
	[AllocationMarker] [varchar](1) NOT NULL,
	[JournalType] [varchar](5) NULL,
	[JournalSource] [varchar](5) NOT NULL,
	[TransReference] [varchar](30) NULL,
	[Description] [varchar](50) NULL,
	[EntryDateTime] [datetime] NULL,
	[EntryPeriod] [int] NOT NULL,
	[DueDateTime] [datetime] NULL,
	[AllocationRef] [int] NOT NULL,
	[AllocationDateTime] [datetime] NULL,
	[AllocationPeriod] [int] NOT NULL,
	[AssetIndicator] [varchar](1) NOT NULL,
	[AssetCode] [varchar](10) NOT NULL,
	[AssetSubCode] [varchar](5) NOT NULL,
	[CurrencyCode] [varchar](5) NOT NULL,
	[CurrencyRate] [numeric](18, 9) NOT NULL,
	[TransAmount] [numeric](18, 3) NOT NULL,
	[TransAmountDecimalPlace] [varchar](1) NOT NULL,
	[CleardownSequenceNo] [varchar](5) NOT NULL,
	[ReverseNextPeriod] [varchar](1) NOT NULL,
	[RevaluationTrans] [varchar](1) NOT NULL,
	[ProvisionalPostStatus] [varchar](1) NOT NULL,
	[InUse] [varchar](1) NOT NULL,
	[LedgerAnalysis0] [varchar](15) NOT NULL,
	[LedgerAnalysis1] [varchar](15) NOT NULL,
	[LedgerAnalysis2] [varchar](15) NOT NULL,
	[LedgerAnalysis3] [varchar](15) NOT NULL,
	[LedgerAnalysis4] [varchar](15) NOT NULL,
	[LedgerAnalysis5] [varchar](15) NOT NULL,
	[LedgerAnalysis6] [varchar](15) NOT NULL,
	[LedgerAnalysis7] [varchar](15) NOT NULL,
	[LedgerAnalysis8] [varchar](15) NOT NULL,
	[LedgerAnalysis9] [varchar](15) NOT NULL,
	[PostingDateTime] [datetime] NULL,
	[AllocationInProgress] [varchar](1) NOT NULL,
	[JournalHoldRef] [int] NOT NULL,
	[InUseOperatorID] [varchar](3) NOT NULL,
	[BaseRate] [numeric](18, 9) NOT NULL,
	[BaseOperator] [varchar](1) NOT NULL,
	[TransOperator] [varchar](1) NOT NULL,
	[ReportRate] [numeric](18, 9) NOT NULL,
	[ReportOperator] [varchar](1) NOT NULL,
	[ReportAmount] [numeric](18, 3) NOT NULL,
	[MemoAmount] [numeric](18, 5) NOT NULL,
	[ExcludeFromBalancing] [varchar](1) NOT NULL,
	[LedgerExternalDataFile] [varchar](1) NOT NULL,
	[ConsumedBudgetCode] [int] NOT NULL,
	[Val4CurrencyCode] [varchar](5) NOT NULL,
	[Val4CurrencyAmount] [numeric](18, 3) NOT NULL,
	[Val4CurrencyRate] [numeric](18, 9) NOT NULL,
	[Val4CurrencyOperator] [varchar](1) NOT NULL,
	[Val4CurrencyDecimalPlaces] [varchar](1) NOT NULL,
	[Val5CurrencyCode] [varchar](5) NOT NULL,
	[Val5CurrencyAmount] [numeric](18, 3) NOT NULL,
	[Val5CurrencyRate] [numeric](18, 9) NOT NULL,
	[Val5CurrencyOperator] [varchar](1) NOT NULL,
	[Val5CurrencyDecimalPlace] [varchar](1) NOT NULL,
	[LinkRef1] [varchar](15) NULL,
	[LinkRef2] [varchar](15) NULL,
	[LinkRef3] [varchar](15) NULL,
	[AllocationCode] [varchar](5) NULL,
	[AllocationStatement] [smallint] NULL,
	[OperatorCode] [varchar](3) NULL,
	[SplitOriginalLine] [int] NOT NULL,
	[ValueDate] [datetime] NULL,
	[SigningDetail] [varchar](30) NULL,
	[InstallmentDate] [datetime] NULL,
	[PrincipalRequired] [smallint] NOT NULL,
	[BinderStatus] [varchar](1) NOT NULL,
	[AgreedStatus] [smallint] NOT NULL,
	[SplitLinkRef] [varchar](15) NULL,
	[PostingRef] [varchar](15) NULL,
	[TrueRated] [smallint] NOT NULL,
	[HoldDateTime] [datetime] NULL,
	[HoldText] [varchar](30) NULL,
	[InstallmentNo] [smallint] NULL,
	[SupplementaryExtension] [smallint] NOT NULL,
	[ApprovalsExtension] [smallint] NOT NULL,
	[RevaluationLinkRef] [int] NULL,
	[SavedSetNo] [numeric](18, 0) NULL,
	[AuthorisationSetRef] [int] NULL,
	[PaymentAuthorisationSetRef] [int] NULL,
	[ManualPaymentOverride] [smallint] NOT NULL,
	[PaymentStamp] [varchar](10) NULL,
	[AuthorisationInProgress] [smallint] NOT NULL,
	[SplitInProgress] [smallint] NOT NULL,
	[VCHRNo] [varchar](30) NULL,
	[JournalClassCode] [varchar](15) NULL,
	[OriginatorID] [varchar](3) NULL,
	[OriginatedDateTime] [datetime] NULL,
	[LastChangeUserID] [varchar](3) NULL,
	[LastChangeDateTime] [datetime] NULL,
	[AfterPostingID] [varchar](3) NULL,
	[AfterPostingDateTime] [datetime] NULL,
	[PosterID] [varchar](3) NULL,
	[AllocationID] [varchar](3) NULL,
	[JournalReversalType] [smallint] NOT NULL
) ON [PRIMARY]
GO
