USE [db-au-cba]
GO
/****** Object:  DdlTrigger [NO_ALTER_TABLE]    Script Date: 20/02/2025 10:13:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [NO_ALTER_TABLE]
ON DATABASE
FOR ALTER_TABLE
AS
PRINT 'Alter tables are not allowed'
ROLLBACK

GO
DISABLE TRIGGER [NO_ALTER_TABLE] ON DATABASE
GO
ENABLE TRIGGER [NO_ALTER_TABLE] ON DATABASE
GO
