USE [SSISDB]
GO
/****** Object:  UserDefinedDataType [internal].[adt_property_path]    Script Date: 18/02/2025 2:36:18 PM ******/
CREATE TYPE [internal].[adt_property_path] FROM [nvarchar](max) NULL
GO
