USE [SSISDB]
GO
/****** Object:  UserDefinedDataType [internal].[adt_component_path]    Script Date: 18/02/2025 2:36:18 PM ******/
CREATE TYPE [internal].[adt_component_path] FROM [nvarchar](1024) NULL
GO
