USE [SSISDB]
GO
/****** Object:  UserDefinedDataType [internal].[adt_sub_component]    Script Date: 18/02/2025 2:36:18 PM ******/
CREATE TYPE [internal].[adt_sub_component] FROM [nvarchar](200) NULL
GO
