USE [db-au-actuary]
GO
/****** Object:  UserDefinedFunction [ms].[Duration_Banding]    Script Date: 18/02/2025 12:14:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [ms].[Duration_Banding] 
(
	-- Add the parameters for the function here
	@TripDuration int
)
RETURNS varchar(50)
AS
BEGIN
	-- Declare the return variable here
	DECLARE @DurationBand varchar(50)

	-- Add the T-SQL statements to compute the return value here
	--SELECT <@ResultVar, sysname, @Result> = <@Param1, sysname, @p1>
	set @DurationBand = 
	case
		when @TripDuration =1 then '2D'
		when @TripDuration =2 then '2D'
		when @TripDuration =3 then '5D'
		when @TripDuration =4 then '5D'
		when @TripDuration =5 then '5D'
		when @TripDuration =6 then '8D'
		when @TripDuration =7 then '8D'
		when @TripDuration =8 then '8D'
		when @TripDuration =9 then '11D'
		when @TripDuration =10 then '11D'
		when @TripDuration =11 then '11D'
		when @TripDuration =12 then '14D'
		when @TripDuration =13 then '14D'
		when @TripDuration =14 then '14D'
		when @TripDuration =15 then '17D'
		when @TripDuration =16 then '17D'
		when @TripDuration =17 then '17D'
		when @TripDuration =18 then '20D'
		when @TripDuration =19 then '20D'
		when @TripDuration =20 then '20D'
		when @TripDuration =21 then '23D'
		when @TripDuration =22 then '23D'
		when @TripDuration =23 then '23D'
		when @TripDuration =24 then '26D'
		when @TripDuration =25 then '26D'
		when @TripDuration =26 then '26D'
		when @TripDuration =27 then '29D'
		when @TripDuration =28 then '29D'
		when @TripDuration =29 then '29D'
		when @TripDuration =30 then '32D'
		when @TripDuration =31 then '32D'
		when @TripDuration =32 then '32D'
		when @TripDuration =33 then '35D'
		when @TripDuration =34 then '35D'
		when @TripDuration =35 then '35D'
		when @TripDuration =36 then '42D'
		when @TripDuration =37 then '42D'
		when @TripDuration =38 then '42D'
		when @TripDuration =39 then '42D'
		when @TripDuration =40 then '42D'
		when @TripDuration =41 then '42D'
		when @TripDuration =42 then '42D'
		when @TripDuration =43 then '49D'
		when @TripDuration =44 then '49D'
		when @TripDuration =45 then '49D'
		when @TripDuration =46 then '49D'
		when @TripDuration =47 then '49D'
		when @TripDuration =48 then '49D'
		when @TripDuration =49 then '49D'
		when @TripDuration =50 then '56D'
		when @TripDuration =51 then '56D'
		when @TripDuration =52 then '56D'
		when @TripDuration =53 then '56D'
		when @TripDuration =54 then '56D'
		when @TripDuration =55 then '56D'
		when @TripDuration =56 then '56D'
		when @TripDuration =57 then '63D'
		when @TripDuration =58 then '63D'
		when @TripDuration =59 then '63D'
		when @TripDuration =60 then '63D'
		when @TripDuration =61 then '63D'
		when @TripDuration =62 then '63D'
		when @TripDuration =63 then '63D'
		when @TripDuration =64 then '70D'
		when @TripDuration =65 then '70D'
		when @TripDuration =66 then '70D'
		when @TripDuration =67 then '70D'
		when @TripDuration =68 then '70D'
		when @TripDuration =69 then '70D'
		when @TripDuration =70 then '70D'
		when @TripDuration =71 then '92D'
		when @TripDuration =72 then '92D'
		when @TripDuration =73 then '92D'
		when @TripDuration =74 then '92D'
		when @TripDuration =75 then '92D'
		when @TripDuration =76 then '92D'
		when @TripDuration =77 then '92D'
		when @TripDuration =78 then '92D'
		when @TripDuration =79 then '92D'
		when @TripDuration =80 then '92D'
		when @TripDuration =81 then '92D'
		when @TripDuration =82 then '92D'
		when @TripDuration =83 then '92D'
		when @TripDuration =84 then '92D'
		when @TripDuration =85 then '92D'
		when @TripDuration =86 then '92D'
		when @TripDuration =87 then '92D'
		when @TripDuration =88 then '92D'
		when @TripDuration =89 then '92D'
		when @TripDuration =90 then '92D'
		when @TripDuration =91 then '92D'
		when @TripDuration =92 then '92D'
		when @TripDuration =93 then '123D'
		when @TripDuration =94 then '123D'
		when @TripDuration =95 then '123D'
		when @TripDuration =96 then '123D'
		when @TripDuration =97 then '123D'
		when @TripDuration =98 then '123D'
		when @TripDuration =99 then '123D'
		when @TripDuration =100 then '123D'
		when @TripDuration =101 then '123D'
		when @TripDuration =102 then '123D'
		when @TripDuration =103 then '123D'
		when @TripDuration =104 then '123D'
		when @TripDuration =105 then '123D'
		when @TripDuration =106 then '123D'
		when @TripDuration =107 then '123D'
		when @TripDuration =108 then '123D'
		when @TripDuration =109 then '123D'
		when @TripDuration =110 then '123D'
		when @TripDuration =111 then '123D'
		when @TripDuration =112 then '123D'
		when @TripDuration =113 then '123D'
		when @TripDuration =114 then '123D'
		when @TripDuration =115 then '123D'
		when @TripDuration =116 then '123D'
		when @TripDuration =117 then '123D'
		when @TripDuration =118 then '123D'
		when @TripDuration =119 then '123D'
		when @TripDuration =120 then '123D'
		when @TripDuration =121 then '123D'
		when @TripDuration =122 then '123D'
		when @TripDuration =123 then '123D'
		when @TripDuration =124 then '153D'
		when @TripDuration =125 then '153D'
		when @TripDuration =126 then '153D'
		when @TripDuration =127 then '153D'
		when @TripDuration =128 then '153D'
		when @TripDuration =129 then '153D'
		when @TripDuration =130 then '153D'
		when @TripDuration =131 then '153D'
		when @TripDuration =132 then '153D'
		when @TripDuration =133 then '153D'
		when @TripDuration =134 then '153D'
		when @TripDuration =135 then '153D'
		when @TripDuration =136 then '153D'
		when @TripDuration =137 then '153D'
		when @TripDuration =138 then '153D'
		when @TripDuration =139 then '153D'
		when @TripDuration =140 then '153D'
		when @TripDuration =141 then '153D'
		when @TripDuration =142 then '153D'
		when @TripDuration =143 then '153D'
		when @TripDuration =144 then '153D'
		when @TripDuration =145 then '153D'
		when @TripDuration =146 then '153D'
		when @TripDuration =147 then '153D'
		when @TripDuration =148 then '153D'
		when @TripDuration =149 then '153D'
		when @TripDuration =150 then '153D'
		when @TripDuration =151 then '153D'
		when @TripDuration =152 then '153D'
		when @TripDuration =153 then '153D'
		when @TripDuration =154 then '183D'
		when @TripDuration =155 then '183D'
		when @TripDuration =156 then '183D'
		when @TripDuration =157 then '183D'
		when @TripDuration =158 then '183D'
		when @TripDuration =159 then '183D'
		when @TripDuration =160 then '183D'
		when @TripDuration =161 then '183D'
		when @TripDuration =162 then '183D'
		when @TripDuration =163 then '183D'
		when @TripDuration =164 then '183D'
		when @TripDuration =165 then '183D'
		when @TripDuration =166 then '183D'
		when @TripDuration =167 then '183D'
		when @TripDuration =168 then '183D'
		when @TripDuration =169 then '183D'
		when @TripDuration =170 then '183D'
		when @TripDuration =171 then '183D'
		when @TripDuration =172 then '183D'
		when @TripDuration =173 then '183D'
		when @TripDuration =174 then '183D'
		when @TripDuration =175 then '183D'
		when @TripDuration =176 then '183D'
		when @TripDuration =177 then '183D'
		when @TripDuration =178 then '183D'
		when @TripDuration =179 then '183D'
		when @TripDuration =180 then '183D'
		when @TripDuration =181 then '183D'
		when @TripDuration =182 then '183D'
		when @TripDuration =183 then '183D'
		when @TripDuration =184 then '213D'
		when @TripDuration =185 then '213D'
		when @TripDuration =186 then '213D'
		when @TripDuration =187 then '213D'
		when @TripDuration =188 then '213D'
		when @TripDuration =189 then '213D'
		when @TripDuration =190 then '213D'
		when @TripDuration =191 then '213D'
		when @TripDuration =192 then '213D'
		when @TripDuration =193 then '213D'
		when @TripDuration =194 then '213D'
		when @TripDuration =195 then '213D'
		when @TripDuration =196 then '213D'
		when @TripDuration =197 then '213D'
		when @TripDuration =198 then '213D'
		when @TripDuration =199 then '213D'
		when @TripDuration =200 then '213D'
		when @TripDuration =201 then '213D'
		when @TripDuration =202 then '213D'
		when @TripDuration =203 then '213D'
		when @TripDuration =204 then '213D'
		when @TripDuration =205 then '213D'
		when @TripDuration =206 then '213D'
		when @TripDuration =207 then '213D'
		when @TripDuration =208 then '213D'
		when @TripDuration =209 then '213D'
		when @TripDuration =210 then '213D'
		when @TripDuration =211 then '213D'
		when @TripDuration =212 then '213D'
		when @TripDuration =213 then '213D'
		when @TripDuration =214 then '243D'
		when @TripDuration =215 then '243D'
		when @TripDuration =216 then '243D'
		when @TripDuration =217 then '243D'
		when @TripDuration =218 then '243D'
		when @TripDuration =219 then '243D'
		when @TripDuration =220 then '243D'
		when @TripDuration =221 then '243D'
		when @TripDuration =222 then '243D'
		when @TripDuration =223 then '243D'
		when @TripDuration =224 then '243D'
		when @TripDuration =225 then '243D'
		when @TripDuration =226 then '243D'
		when @TripDuration =227 then '243D'
		when @TripDuration =228 then '243D'
		when @TripDuration =229 then '243D'
		when @TripDuration =230 then '243D'
		when @TripDuration =231 then '243D'
		when @TripDuration =232 then '243D'
		when @TripDuration =233 then '243D'
		when @TripDuration =234 then '243D'
		when @TripDuration =235 then '243D'
		when @TripDuration =236 then '243D'
		when @TripDuration =237 then '243D'
		when @TripDuration =238 then '243D'
		when @TripDuration =239 then '243D'
		when @TripDuration =240 then '243D'
		when @TripDuration =241 then '243D'
		when @TripDuration =242 then '243D'
		when @TripDuration =243 then '243D'
		when @TripDuration =244 then '274D'
		when @TripDuration =245 then '274D'
		when @TripDuration =246 then '274D'
		when @TripDuration =247 then '274D'
		when @TripDuration =248 then '274D'
		when @TripDuration =249 then '274D'
		when @TripDuration =250 then '274D'
		when @TripDuration =251 then '274D'
		when @TripDuration =252 then '274D'
		when @TripDuration =253 then '274D'
		when @TripDuration =254 then '274D'
		when @TripDuration =255 then '274D'
		when @TripDuration =256 then '274D'
		when @TripDuration =257 then '274D'
		when @TripDuration =258 then '274D'
		when @TripDuration =259 then '274D'
		when @TripDuration =260 then '274D'
		when @TripDuration =261 then '274D'
		when @TripDuration =262 then '274D'
		when @TripDuration =263 then '274D'
		when @TripDuration =264 then '274D'
		when @TripDuration =265 then '274D'
		when @TripDuration =266 then '274D'
		when @TripDuration =267 then '274D'
		when @TripDuration =268 then '274D'
		when @TripDuration =269 then '274D'
		when @TripDuration =270 then '274D'
		when @TripDuration =271 then '274D'
		when @TripDuration =272 then '274D'
		when @TripDuration =273 then '274D'
		when @TripDuration =274 then '274D'
		when @TripDuration =275 then '304D'
		when @TripDuration =276 then '304D'
		when @TripDuration =277 then '304D'
		when @TripDuration =278 then '304D'
		when @TripDuration =279 then '304D'
		when @TripDuration =280 then '304D'
		when @TripDuration =281 then '304D'
		when @TripDuration =282 then '304D'
		when @TripDuration =283 then '304D'
		when @TripDuration =284 then '304D'
		when @TripDuration =285 then '304D'
		when @TripDuration =286 then '304D'
		when @TripDuration =287 then '304D'
		when @TripDuration =288 then '304D'
		when @TripDuration =289 then '304D'
		when @TripDuration =290 then '304D'
		when @TripDuration =291 then '304D'
		when @TripDuration =292 then '304D'
		when @TripDuration =293 then '304D'
		when @TripDuration =294 then '304D'
		when @TripDuration =295 then '304D'
		when @TripDuration =296 then '304D'
		when @TripDuration =297 then '304D'
		when @TripDuration =298 then '304D'
		when @TripDuration =299 then '304D'
		when @TripDuration =300 then '304D'
		when @TripDuration =301 then '304D'
		when @TripDuration =302 then '304D'
		when @TripDuration =303 then '304D'
		when @TripDuration =304 then '304D'
		when @TripDuration =305 then '335D'
		when @TripDuration =306 then '335D'
		when @TripDuration =307 then '335D'
		when @TripDuration =308 then '335D'
		when @TripDuration =309 then '335D'
		when @TripDuration =310 then '335D'
		when @TripDuration =311 then '335D'
		when @TripDuration =312 then '335D'
		when @TripDuration =313 then '335D'
		when @TripDuration =314 then '335D'
		when @TripDuration =315 then '335D'
		when @TripDuration =316 then '335D'
		when @TripDuration =317 then '335D'
		when @TripDuration =318 then '335D'
		when @TripDuration =319 then '335D'
		when @TripDuration =320 then '335D'
		when @TripDuration =321 then '335D'
		when @TripDuration =322 then '335D'
		when @TripDuration =323 then '335D'
		when @TripDuration =324 then '335D'
		when @TripDuration =325 then '335D'
		when @TripDuration =326 then '335D'
		when @TripDuration =327 then '335D'
		when @TripDuration =328 then '335D'
		when @TripDuration =329 then '335D'
		when @TripDuration =330 then '335D'
		when @TripDuration =331 then '335D'
		when @TripDuration =332 then '335D'
		when @TripDuration =333 then '335D'
		when @TripDuration =334 then '335D'
		when @TripDuration =335 then '335D'
		when @TripDuration =336 then '366D'
		when @TripDuration =337 then '366D'
		when @TripDuration =338 then '366D'
		when @TripDuration =339 then '366D'
		when @TripDuration =340 then '366D'
		when @TripDuration =341 then '366D'
		when @TripDuration =342 then '366D'
		when @TripDuration =343 then '366D'
		when @TripDuration =344 then '366D'
		when @TripDuration =345 then '366D'
		when @TripDuration =346 then '366D'
		when @TripDuration =347 then '366D'
		when @TripDuration =348 then '366D'
		when @TripDuration =349 then '366D'
		when @TripDuration =350 then '366D'
		when @TripDuration =351 then '366D'
		when @TripDuration =352 then '366D'
		when @TripDuration =353 then '366D'
		when @TripDuration =354 then '366D'
		when @TripDuration =355 then '366D'
		when @TripDuration =356 then '366D'
		when @TripDuration =357 then '366D'
		when @TripDuration =358 then '366D'
		when @TripDuration =359 then '366D'
		when @TripDuration =360 then '366D'
		when @TripDuration =361 then '366D'
		when @TripDuration =362 then '366D'
		when @TripDuration =363 then '366D'
		when @TripDuration =364 then '366D'
		when @TripDuration =365 then '366D'
		when @TripDuration =366 then '366D'

	end
	-- Return the result of the function
	RETURN @DurationBand

END
GO
