USE [db-au-actuary]
GO
/****** Object:  StoredProcedure [dbo].[tmp_DWHDataSetSummary_Dec16]    Script Date: 18/02/2025 12:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[tmp_DWHDataSetSummary_Dec16] @StartDate date, @EndDate date
as

SET NOCOUNT ON
SET IDENTITY_INSERT [ws].[DWHDataSetSummary_Dec16] ON


insert [ws].[DWHDataSetSummary_Dec16] with(tablockx)
(
	[BIRowID],
	[Domain Country],
	[Company],
	[PolicyKey],
	[Base Policy No],
	[Policy Status],
	[Issue Date],
	[Posting Date],
	[Last Transaction Issue Date],
	[Last Transaction posting Date],
	[Transaction Type],
	[Departure Date],
	[Return Date],
	[Lead Time],
	[Maximum Trip Length],
	[Trip Duration],
	[Trip Length],
	[Area Name],
	[Area Number],
	[Destination],
	[Excess],
	[Group Policy],
	[Has Rental Car],
	[Has Motorcycle],
	[Has Wintersport],
	[Has Medical],
	[Single/Family],
	[Purchase Path],
	[TRIPS Policy],
	[Product Code],
	[Plan Code],
	[Product Name],
	[Product Plan],
	[Product Type],
	[Product Group],
	[Policy Type],
	[Plan Type],
	[Trip Type],
	[Product Classification],
	[Finance Product Code],
	[OutletKey],
	[Alpha Code],
	[Customer Post Code],
	[Unique Traveller Count],
	[Unique Charged Traveller Count],
	[Traveller Count],
	[Charged Traveller Count],
	[Adult Traveller Count],
	[EMC Traveller Count],
	[Youngest Charged DOB],
	[Oldest Charged DOB],
	[Youngest Age],
	[Oldest Age],
	[Youngest Charged Age],
	[Oldest Charged Age],
	[Max EMC Score],
	[Total EMC Score],
	[Gender],
	[Has EMC],
	[Has Manual EMC],
	[Charged Traveller 1 Gender],
	[Charged Traveller 1 DOB],
	[Charged Traveller 1 Has EMC],
	[Charged Traveller 1 Has Manual EMC],
	[Charged Traveller 1 EMC Score],
	[Charged Traveller 1 EMC Reference],
	[Charged Traveller 2 Gender],
	[Charged Traveller 2 DOB],
	[Charged Traveller 2 Has EMC],
	[Charged Traveller 2 Has Manual EMC],
	[Charged Traveller 2 EMC Score],
	[Charged Traveller 2 EMC Reference],
	[Charged Traveller 3 Gender],
	[Charged Traveller 3 DOB],
	[Charged Traveller 3 Has EMC],
	[Charged Traveller 3 Has Manual EMC],
	[Charged Traveller 3 EMC Score],
	[Charged Traveller 3 EMC Reference],
	[Charged Traveller 4 Gender],
	[Charged Traveller 4 DOB],
	[Charged Traveller 4 Has EMC],
	[Charged Traveller 4 Has Manual EMC],
	[Charged Traveller 4 EMC Score],
	[Charged Traveller 4 EMC Reference],
	[Charged Traveller 5 Gender],
	[Charged Traveller 5 DOB],
	[Charged Traveller 5 Has EMC],
	[Charged Traveller 5 Has Manual EMC],
	[Charged Traveller 5 EMC Score],
	[Charged Traveller 5 EMC Reference],
	[Charged Traveller 6 Gender],
	[Charged Traveller 6 DOB],
	[Charged Traveller 6 Has EMC],
	[Charged Traveller 6 Has Manual EMC],
	[Charged Traveller 6 EMC Score],
	[Charged Traveller 6 EMC Reference],
	[Charged Traveller 7 Gender],
	[Charged Traveller 7 DOB],
	[Charged Traveller 7 Has EMC],
	[Charged Traveller 7 Has Manual EMC],
	[Charged Traveller 7 EMC Score],
	[Charged Traveller 7 EMC Reference],
	[Charged Traveller 8 Gender],
	[Charged Traveller 8 DOB],
	[Charged Traveller 8 Has EMC],
	[Charged Traveller 8 Has Manual EMC],
	[Charged Traveller 8 EMC Score],
	[Charged Traveller 8 EMC Reference],
	[Charged Traveller 9 Gender],
	[Charged Traveller 9 DOB],
	[Charged Traveller 9 Has EMC],
	[Charged Traveller 9 Has Manual EMC],
	[Charged Traveller 9 EMC Score],
	[Charged Traveller 9 EMC Reference],
	[Charged Traveller 10 Gender],
	[Charged Traveller 10 DOB],
	[Charged Traveller 10 Has EMC],
	[Charged Traveller 10 Has Manual EMC],
	[Charged Traveller 10 EMC Score],
	[Charged Traveller 10 EMC Reference],
	[Commission Tier],
	[Volume Commission],
	[Discount],
	[Base Base Premium],
	[Base Premium],
	[Canx Premium],
	[Undiscounted Canx Premium],
	[Rental Car Premium],
	[Motorcycle Premium],
	[Luggage Premium],
	[Medical Premium],
	[Winter Sport Premium],
	[Luggage Increase],
	[Trip Cost],
	[Unadjusted Sell Price],
	[Unadjusted GST on Sell Price],
	[Unadjusted Stamp Duty on Sell Price],
	[Unadjusted Agency Commission],
	[Unadjusted GST on Agency Commission],
	[Unadjusted Stamp Duty on Agency Commission],
	[Unadjusted Admin Fee],
	[Sell Price],
	[GST on Sell Price],
	[Stamp Duty on Sell Price],
	[Premium],
	[Risk Nett],
	[GUG],
	[Agency Commission],
	[GST on Agency Commission],
	[Stamp Duty on Agency Commission],
	[Admin Fee],
	[NAP],
	[NAP (incl Tax)],
	[Policy Count],
	[Price Beat Policy],
	[Competitor Name],
	[Competitor Price],
	[Category],
	[Rental Car Increase],
	[EMC Tier Oldest Charged],
	[EMC Tier Youngest Charged],
	[Has Cruise],
	[Cruise Premium]
)
select
	[BIRowID],
	[Domain Country],
	[Company],
	[PolicyKey],
	[Base Policy No],
	[Policy Status],
	[Issue Date],
	[Posting Date],
	[Last Transaction Issue Date],
	[Last Transaction posting Date],
	[Transaction Type],
	[Departure Date],
	[Return Date],
	[Lead Time],
	[Maximum Trip Length],
	[Trip Duration],
	[Trip Length],
	[Area Name],
	[Area Number],
	[Destination],
	[Excess],
	[Group Policy],
	[Has Rental Car],
	[Has Motorcycle],
	[Has Wintersport],
	[Has Medical],
	[Single/Family],
	[Purchase Path],
	[TRIPS Policy],
	[Product Code],
	[Plan Code],
	[Product Name],
	[Product Plan],
	[Product Type],
	[Product Group],
	[Policy Type],
	[Plan Type],
	[Trip Type],
	[Product Classification],
	[Finance Product Code],
	[OutletKey],
	[Alpha Code],
	[Customer Post Code],
	[Unique Traveller Count],
	[Unique Charged Traveller Count],
	[Traveller Count],
	[Charged Traveller Count],
	[Adult Traveller Count],
	[EMC Traveller Count],
	[Youngest Charged DOB],
	[Oldest Charged DOB],
	[Youngest Age],
	[Oldest Age],
	[Youngest Charged Age],
	[Oldest Charged Age],
	[Max EMC Score],
	[Total EMC Score],
	[Gender],
	[Has EMC],
	[Has Manual EMC],
	[Charged Traveller 1 Gender],
	[Charged Traveller 1 DOB],
	[Charged Traveller 1 Has EMC],
	[Charged Traveller 1 Has Manual EMC],
	[Charged Traveller 1 EMC Score],
	[Charged Traveller 1 EMC Reference],
	[Charged Traveller 2 Gender],
	[Charged Traveller 2 DOB],
	[Charged Traveller 2 Has EMC],
	[Charged Traveller 2 Has Manual EMC],
	[Charged Traveller 2 EMC Score],
	[Charged Traveller 2 EMC Reference],
	[Charged Traveller 3 Gender],
	[Charged Traveller 3 DOB],
	[Charged Traveller 3 Has EMC],
	[Charged Traveller 3 Has Manual EMC],
	[Charged Traveller 3 EMC Score],
	[Charged Traveller 3 EMC Reference],
	[Charged Traveller 4 Gender],
	[Charged Traveller 4 DOB],
	[Charged Traveller 4 Has EMC],
	[Charged Traveller 4 Has Manual EMC],
	[Charged Traveller 4 EMC Score],
	[Charged Traveller 4 EMC Reference],
	[Charged Traveller 5 Gender],
	[Charged Traveller 5 DOB],
	[Charged Traveller 5 Has EMC],
	[Charged Traveller 5 Has Manual EMC],
	[Charged Traveller 5 EMC Score],
	[Charged Traveller 5 EMC Reference],
	[Charged Traveller 6 Gender],
	[Charged Traveller 6 DOB],
	[Charged Traveller 6 Has EMC],
	[Charged Traveller 6 Has Manual EMC],
	[Charged Traveller 6 EMC Score],
	[Charged Traveller 6 EMC Reference],
	[Charged Traveller 7 Gender],
	[Charged Traveller 7 DOB],
	[Charged Traveller 7 Has EMC],
	[Charged Traveller 7 Has Manual EMC],
	[Charged Traveller 7 EMC Score],
	[Charged Traveller 7 EMC Reference],
	[Charged Traveller 8 Gender],
	[Charged Traveller 8 DOB],
	[Charged Traveller 8 Has EMC],
	[Charged Traveller 8 Has Manual EMC],
	[Charged Traveller 8 EMC Score],
	[Charged Traveller 8 EMC Reference],
	[Charged Traveller 9 Gender],
	[Charged Traveller 9 DOB],
	[Charged Traveller 9 Has EMC],
	[Charged Traveller 9 Has Manual EMC],
	[Charged Traveller 9 EMC Score],
	[Charged Traveller 9 EMC Reference],
	[Charged Traveller 10 Gender],
	[Charged Traveller 10 DOB],
	[Charged Traveller 10 Has EMC],
	[Charged Traveller 10 Has Manual EMC],
	[Charged Traveller 10 EMC Score],
	[Charged Traveller 10 EMC Reference],
	[Commission Tier],
	[Volume Commission],
	[Discount],
	[Base Base Premium],
	[Base Premium],
	[Canx Premium],
	[Undiscounted Canx Premium],
	[Rental Car Premium],
	[Motorcycle Premium],
	[Luggage Premium],
	[Medical Premium],
	[Winter Sport Premium],
	[Luggage Increase],
	[Trip Cost],
	[Unadjusted Sell Price],
	[Unadjusted GST on Sell Price],
	[Unadjusted Stamp Duty on Sell Price],
	[Unadjusted Agency Commission],
	[Unadjusted GST on Agency Commission],
	[Unadjusted Stamp Duty on Agency Commission],
	[Unadjusted Admin Fee],
	[Sell Price],
	[GST on Sell Price],
	[Stamp Duty on Sell Price],
	[Premium],
	[Risk Nett],
	[GUG],
	[Agency Commission],
	[GST on Agency Commission],
	[Stamp Duty on Agency Commission],
	[Admin Fee],
	[NAP],
	[NAP (incl Tax)],
	[Policy Count],
	[Price Beat Policy],
	[Competitor Name],
	[Competitor Price],
	[Category],
	[Rental Car Increase],
	[EMC Tier Oldest Charged],
	[EMC Tier Youngest Charged],
	[Has Cruise],
	[Cruise Premium]
from [ws].[DWHDataSetSummary]
where 
	[Posting Date] >= @StartDate and
	[Posting Date] < dateadd(d,1,@EndDate)



GO
