USE [db-au-bobj]
GO
/****** Object:  Table [dbo].[CMS_VersionInfo]    Script Date: 21/02/2025 11:29:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMS_VersionInfo](
	[SubsystemNumber] [int] NULL,
	[BuildVersion] [varchar](64) NULL
) ON [PRIMARY]
GO
