USE [db-au-actuary]
GO
/****** Object:  StoredProcedure [ws].[sp_penOutletDataSet]    Script Date: 21/02/2025 11:15:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [ws].[sp_penOutletDataSet]
as

SET NOCOUNT ON


/****************************************************************************************************/
--  Name:           ws.sp_penOutlet
--  Author:         Linus Tor
--  Date Created:   20171023
--  Description:    This stored procedure inserts [db-au-cmdwh].dbo.penOutlet data into [db-au-actuary].[ws].[penOutlet]
--
--  Change History: 20171023 - LT - Created
--					20190412 - LT - Added ws.penAddon
--                  
/****************************************************************************************************/

--create penOutlet table and populate data
if object_id('[db-au-actuary].ws.penOutlet') is null
begin
    create table [db-au-actuary].ws.[penOutlet]
    (
        [CountryKey] varchar(2) not null,
        [CompanyKey] varchar(5) not null,
        [OutletKey] varchar(33) not null,
        [OutletAlphaKey] nvarchar(50) not null,
        [OutletSKey] bigint not null identity(1,1),
        [OutletStatus] varchar(20) not null,
        [OutletStartDate] datetime not null,
        [OutletEndDate] datetime null,
        [OutletHashKey] binary(30) null,
        [OutletID] int not null,
        [GroupID] int not null,
        [SubGroupID] int not null,
        [OutletTypeID] int not null,
        [OutletName] nvarchar(50) not null,
        [OutletType] nvarchar(50) not null,
        [AlphaCode] nvarchar(20) not null,
        [StatusValue] int not null,
        [CommencementDate] datetime null,
        [CloseDate] datetime null,
        [PreviousAlpha] nvarchar(20) null,
        [StatusRegionID] int null,
        [StatusRegion] nvarchar(50) null,
        [ContactTitle] nvarchar(100) null,
        [ContactInitial] nvarchar(50) null,
        [ContactFirstName] nvarchar(50) null,
        [ContactLastName] nvarchar(50) null,
        [ContactManagerEmail] nvarchar(100) null,
        [ContactPhone] nvarchar(50) null,
        [ContactFax] nvarchar(50) null,
        [ContactEmail] nvarchar(100) null,
        [ContactStreet] nvarchar(100) null,
        [ContactSuburb] nvarchar(52) null,
        [ContactState] nvarchar(100) null,
        [ContactPostCode] nvarchar(50) null,
        [ContactPOBox] nvarchar(100) null,
        [ContactMailSuburb] nvarchar(52) null,
        [ContactMailState] nvarchar(100) null,
        [ContactMailPostCode] nvarchar(50) null,
        [GroupDomainID] int not null,
        [SuperGroupName] nvarchar(25) null,
        [GroupName] nvarchar(50) not null,
        [GroupCode] nvarchar(50) not null,
        [GroupStartDate] datetime not null,
        [GroupPhone] nvarchar(50) null,
        [GroupFax] nvarchar(50) null,
        [GroupEmail] nvarchar(100) null,
        [GroupStreet] nvarchar(100) null,
        [GroupSuburb] nvarchar(50) null,
        [GroupPostCode] nvarchar(10) null,
        [GroupMailSuburb] nvarchar(50) null,
        [GroupMailState] nvarchar(100) null,
        [GroupMailPostCode] nvarchar(10) null,
        [GroupPOBox] nvarchar(50) null,
        [SubGroupName] nvarchar(50) null,
        [SubGroupCode] nvarchar(50) null,
        [SubGroupStartDate] datetime null,
        [SubGroupPhone] nvarchar(50) null,
        [SubGroupFax] nvarchar(50) null,
        [SubGroupEmail] nvarchar(100) null,
        [SubGroupStreet] nvarchar(100) null,
        [SubGroupSuburb] nvarchar(50) null,
        [SubGroupPostCode] nvarchar(10) null,
        [SubGroupMailSuburb] nvarchar(50) null,
        [SubGroupMailState] nvarchar(100) null,
        [SubGroupMailPostCode] nvarchar(10) null,
        [SubGroupPOBox] nvarchar(50) null,
        [AcctOfficerTitle] nvarchar(50) null,
        [AcctOfficerFirstName] nvarchar(50) null,
        [AcctOfficerLastName] nvarchar(50) null,
        [AcctOfficerEmail] nvarchar(100) null,
        [PaymentTypeID] int null,
        [PaymentType] nvarchar(50) null,
        [AccountName] nvarchar(100) null,
        [BSB] nvarchar(50) null,
        [AccountNumber] nvarchar(200) null,
        [AccountsEmail] nvarchar(100) null,
        [CCSaleOnly] int null,
        [FSRTypeID] int null,
        [FSRType] nvarchar(50) null,
        [FSGCategoryID] int null,
        [FSGCategory] nvarchar(50) null,
        [LegalEntityName] nvarchar(100) null,
        [ASICNumber] nvarchar(50) null,
        [ABN] nvarchar(50) null,
        [ASICCheckDate] datetime null,
        [AgreementDate] datetime null,
        [BDMID] int null,
        [BDMName] nvarchar(101) null,
        [BDMCallFreqID] int null,
        [BDMCallFrequency] nvarchar(50) null,
        [AcctManagerID] int null,
        [AcctManagerName] nvarchar(101) null,
        [AcctMgrCallFreqID] int null,
        [AcctMgrCallFrequency] nvarchar(50) null,
        [AdminExecID] int null,
        [AdminExecName] nvarchar(101) null,
        [ExtID] nvarchar(20) null,
        [ExtBDMID] int null,
        [ExternalBDMName] nvarchar(50) null,
        [SalesSegment] nvarchar(50) null,
        [PotentialSales] money null,
        [SalesTierID] int null,
        [SalesTier] nvarchar(50) null,
        [Branch] nvarchar(60) null,
        [Website] varchar(100) null,
        [EGMNationID] int null,
        [EGMNation] nvarchar(50) null,
        [FCNationID] int null,
        [FCNation] nvarchar(50) null,
        [FCAreaID] int null,
        [FCArea] nvarchar(50) null,
        [STARegionID] int null,
        [STARegion] nvarchar(50) null,
        [StateSalesAreaID] int null,
        [StateSalesArea] nvarchar(50) null,
        [TradingStatus] nvarchar(50) null,
        [DomainKey] varchar(41) null,
        [DomainID] int null,
        [EncryptedAccountNumber] varbinary(max) null,
        [FCAreaCode] nvarchar(50) null,
        [LatestOutletKey] varchar(33) null,
        [AgencyGrading] nvarchar(50) null,
        [DistributorKey] varchar(33) null,
        [Distributorid] int null,
        [JVID] int null,
        [JV] nvarchar(55) null,
        [JVCode] nvarchar(10),
        [ChannelID] int null,
        [Channel] nvarchar(100) null,
        [AMIArea] nvarchar(50) null,
        [AMIAreaCode] nvarchar(50) null,
        [AMINation] nvarchar(50) null,
        [AMIEGMNation] nvarchar(50) null
    )

    create clustered index idx_penOutlet_OutletKey on [db-au-actuary].ws.penOutlet(OutletKey,OutletStatus)
    create nonclustered index idx_penOutlet_AlphaCode on [db-au-actuary].ws.penOutlet(AlphaCode,CountryKey,OutletStatus) include (CompanyKey,OutletAlphaKey,DomainKey,DomainID,OutletKey)
    create nonclustered index idx_penOutlet_CountryKey on [db-au-actuary].ws.penOutlet(CountryKey,OutletStatus) include (AlphaCode,SuperGroupName,GroupName,GroupCode,SubGroupName,SubGroupCode,OutletName,ABN,ContactStreet,ContactSuburb,ContactState,ContactPostCode,PaymentType)
    create nonclustered index idx_penOutlet_FCArea on [db-au-actuary].ws.penOutlet(FCArea,CountryKey,OutletStatus)
    create nonclustered index idx_penOutlet_AMIArea on [db-au-actuary].ws.penOutlet(AMIArea,CountryKey,OutletStatus)
    create nonclustered index idx_penOutlet_FCNation on [db-au-actuary].ws.penOutlet(FCNation)
    create nonclustered index idx_penOutlet_AMINation on [db-au-actuary].ws.penOutlet(AMINation)
    create nonclustered index idx_penOutlet_group on [db-au-actuary].ws.penOutlet(CountryKey,SuperGroupName) include (GroupName)
    create nonclustered index idx_penOutlet_GroupCode on [db-au-actuary].ws.penOutlet(GroupCode)
    create nonclustered index idx_penOutlet_OutletAlphaKey on [db-au-actuary].ws.penOutlet(OutletAlphaKey,OutletStatus,CountryKey) include (OutletSKey,OutletKey,GroupCode,AlphaCode,SuperGroupName)
    create nonclustered index idx_penOutlet_OutletHashKey on [db-au-actuary].ws.penOutlet(OutletHashKey)
    create nonclustered index idx_penOutlet_OutletSKey on [db-au-actuary].ws.penOutlet(OutletSKey)
    create nonclustered index idx_penOutlet_StateSalesArea on [db-au-actuary].ws.penOutlet(StateSalesArea)
    create nonclustered index idx_penOutlet_StatusValue on [db-au-actuary].ws.penOutlet(StatusValue)
    create nonclustered index idx_penOutlet_SubGroupCode on [db-au-actuary].ws.penOutlet(SubGroupCode)
    create nonclustered index idx_penOutlet_PreviousAlpha on [db-au-actuary].ws.penOutlet(PreviousAlpha,CountryKey,CompanyKey) include(AlphaCode,OutletStatus)
    create nonclustered index idx_penOutlet_LatestOutletKey on [db-au-actuary].ws.penOutlet(LatestOutletKey) include(OutletKey,OutletStatus)
end
else
	truncate table [db-au-actuary].ws.penOutlet


--populate outlet data for AU domain
insert into [db-au-actuary].ws.penOutlet with (tablockx)
(
    CountryKey,
    CompanyKey,
    DomainKey,
    OutletKey,
    OutletAlphaKey,
    OutletStatus,
    OutletStartDate,
    OutletEndDate,
    OutletHashKey,
    DomainID,
    OutletID,
    GroupID,
    SubGroupID,
    OutletTypeID,
    OutletName,
    OutletType,
    AlphaCode,
    StatusValue,
    TradingStatus,
    CommencementDate,
    CloseDate,
    PreviousAlpha,
    StatusRegionID,
    StatusRegion,
    ContactTitle,
    ContactInitial,
    ContactFirstName,
    ContactLastName,
    ContactManagerEmail,
    ContactPhone,
    ContactFax,
    ContactEmail,
    ContactStreet,
    ContactSuburb,
    ContactState,
    ContactPostCode,
    ContactPOBox,
    ContactMailSuburb,
    ContactMailState,
    ContactMailPostCode,
    GroupDomainID,
    SuperGroupName,
    GroupName,
    GroupCode,
    GroupStartDate,
    GroupPhone,
    GroupFax,
    GroupEmail,
    GroupStreet,
    GroupSuburb,
    GroupPostCode,
    GroupMailSuburb,
    GroupMailState,
    GroupMailPostCode,
    GroupPOBox,
    SubGroupName,
    SubGroupCode,
    SubGroupStartDate,
    SubGroupPhone,
    SubGroupFax,
    SubGroupEmail,
    SubGroupStreet,
    SubGroupSuburb,
    SubGroupPostCode,
    SubGroupMailSuburb,
    SubGroupMailState,
    SubGroupMailPostCode,
    SubGroupPOBox,
    AcctOfficerTitle,
    AcctOfficerFirstName,
    AcctOfficerLastName,
    AcctOfficerEmail,
    PaymentTypeID,
    PaymentType,
    AccountName,
    BSB,
    EncryptedAccountNumber,
    AccountsEmail,
    CCSaleOnly,
    FSRTypeID,
    FSRType,
    FSGCategoryID,
    FSGCategory,
    LegalEntityName,
    ASICNumber,
    ABN,
    ASICCheckDate,
    AgreementDate,
    BDMID,
    BDMName,
    BDMCallFreqID,
    BDMCallFrequency,
    AcctManagerID,
    AcctManagerName,
    AcctMgrCallFreqID,
    AcctMgrCallFrequency,
    AdminExecID,
    AdminExecName,
    ExtID,
    ExtBDMID,
    ExternalBDMName,
    SalesSegment,
    PotentialSales,
    SalesTierID,
    SalesTier,
    Branch,
    Website,
    EGMNationID,
    EGMNation,
    FCNationID,
    FCNation,
    FCAreaID,
    FCArea,
    FCAreaCode,
    STARegionID,
    STARegion,
    StateSalesAreaID,
    StateSalesArea,
    AgencyGrading,
    Distributorkey,
    Distributorid,
    JVID,
    JV,
    JVCode,
    ChannelID,
    Channel,
    AMIArea,
    AMIAreaCode,
    AMINation,
    AMIEGMNation
)
select
    CountryKey,
    CompanyKey,
    DomainKey,
    OutletKey,
    OutletAlphaKey,
    OutletStatus,
    OutletStartDate,
    OutletEndDate,
    OutletHashKey,
    DomainID,
    OutletID,
    GroupID,
    SubGroupID,
    OutletTypeID,
    OutletName,
    OutletType,
    AlphaCode,
    StatusValue,
    TradingStatus,
    CommencementDate,
    CloseDate,
    PreviousAlpha,
    StatusRegionID,
    StatusRegion,
    ContactTitle,
    ContactInitial,
    ContactFirstName,
    ContactLastName,
    ContactManagerEmail,
    ContactPhone,
    ContactFax,
    ContactEmail,
    ContactStreet,
    ContactSuburb,
    ContactState,
    ContactPostCode,
    ContactPOBox,
    ContactMailSuburb,
    ContactMailState,
    ContactMailPostCode,
    GroupDomainID,
    SuperGroupName,
    GroupName,
    GroupCode,
    GroupStartDate,
    GroupPhone,
    GroupFax,
    GroupEmail,
    GroupStreet,
    GroupSuburb,
    GroupPostCode,
    GroupMailSuburb,
    GroupMailState,
    GroupMailPostCode,
    GroupPOBox,
    SubGroupName,
    SubGroupCode,
    SubGroupStartDate,
    SubGroupPhone,
    SubGroupFax,
    SubGroupEmail,
    SubGroupStreet,
    SubGroupSuburb,
    SubGroupPostCode,
    SubGroupMailSuburb,
    SubGroupMailState,
    SubGroupMailPostCode,
    SubGroupPOBox,
    AcctOfficerTitle,
    AcctOfficerFirstName,
    AcctOfficerLastName,
    AcctOfficerEmail,
    PaymentTypeID,
    PaymentType,
    AccountName,
    BSB,
    EncryptedAccountNumber,
    AccountsEmail,
    CCSaleOnly,
    FSRTypeID,
    FSRType,
    FSGCategoryID,
    FSGCategory,
    LegalEntityName,
    ASICNumber,
    ABN,
    ASICCheckDate,
    AgreementDate,
    BDMID,
    BDMName,
    BDMCallFreqID,
    BDMCallFrequency,
    AcctManagerID,
    AcctManagerName,
    AcctMgrCallFreqID,
    AcctMgrCallFrequency,
    AdminExecID,
    AdminExecName,
    ExtID,
    ExtBDMID,
    ExternalBDMName,
    SalesSegment,
    PotentialSales,
    SalesTierID,
    SalesTier,
    Branch,
    Website,
    EGMNationID,
    EGMNation,
    FCNationID,
    FCNation,
    FCAreaID,
    FCArea,
    FCAreaCode,
    STARegionID,
    STARegion,
    StateSalesAreaID,
    StateSalesArea,
    AgencyGrading,
    Distributorkey,
    Distributorid,
    JVID,
    JV,
    JVCode,
    ChannelID,
    Channel,
    AMIArea,
    AMIAreaCode,
    AMINation,
    AMIEGMNation
from
	[db-au-cmdwh].dbo.penOutlet wtih(nolock)
where
	CountryKey = 'AU' and
	OutletStatus = 'Current' 


--ws.penAddon
if object_id('[db-au-actuary].ws.penAddon') is null
begin
	create table [db-au-actuary].ws.penAddOn
	(
		[CountryKey] [varchar](2) NOT NULL,
		[CompanyKey] [varchar](5) NOT NULL,
		[AddOnKey] [varchar](41) NULL,
		[AddOnID] [int] NULL,
		[DomainID] [int] NULL,
		[AddOnTypeID] [int] NULL,
		[AddOnCode] [nvarchar](50) NULL,
		[AddOnName] [nvarchar](50) NULL,
		[AllowMultiple] [bit] NULL,
		[DisplayName] [nvarchar](100) NULL,
		[isRateCardBased] [bit] NULL,
		[AddOnGroupID] [int] NULL,
		[ControlLabel] [nvarchar](500) NULL,
		[Description] [nvarchar](500) NULL,
		[AddOnControlTypeID] [int] NULL,
		[DefaultValue] [nvarchar](50) NULL,
		[isMandatory] [bit] NOT NULL,
		[DomainKey] [varchar](41) NULL
	)
	create clustered index idx_penAddon_AddonKey on [db-au-actuary].ws.penAddon(AddonKey)
	create nonclustered index idx_penAddon_AddonID on [db-au-actuary].ws.penAddon(AddonID,CountryKey,CompanyKey)
end
else
	truncate table [db-au-actuary].ws.penAddon


insert [db-au-actuary].ws.penAddon with(tablockx)
(
	[CountryKey],
	[CompanyKey],
	[AddOnKey],
	[AddOnID],
	[DomainID],
	[AddOnTypeID],
	[AddOnCode],
	[AddOnName],
	[AllowMultiple],
	[DisplayName],
	[isRateCardBased],
	[AddOnGroupID],
	[ControlLabel],
	[Description],
	[AddOnControlTypeID],
	[DefaultValue],
	[isMandatory],
	[DomainKey]
)
select
	[CountryKey],
	[CompanyKey],
	[AddOnKey],
	[AddOnID],
	[DomainID],
	[AddOnTypeID],
	[AddOnCode],
	[AddOnName],
	[AllowMultiple],
	[DisplayName],
	[isRateCardBased],
	[AddOnGroupID],
	[ControlLabel],
	[Description],
	[AddOnControlTypeID],
	[DefaultValue],
	[isMandatory],
	[DomainKey]
from
	[db-au-cmdwh].dbo.penAddon with(nolock)
where
	CountryKey = 'AU'
GO
