USE [SSISDB]
GO
/****** Object:  StoredProcedure [internal].[update_replica_info]    Script Date: 20/02/2025 10:29:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [internal].[update_replica_info]
	@server_name		nvarchar(256)
AS
BEGIN
	SET NOCOUNT ON
  
	IF (@server_name IS NULL)
	BEGIN
		RAISERROR(27138, 16 , 6) WITH NOWAIT 
        RETURN 1 
	END
	
	
    SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
    
    
    
    DECLARE @tran_count INT = @@TRANCOUNT;
    DECLARE @savepoint_name NCHAR(32);
    IF @tran_count > 0
    BEGIN
        SET @savepoint_name = REPLACE(CONVERT(NCHAR(36), NEWID()), N'-', N'');
        SAVE TRANSACTION @savepoint_name;
    END
    ELSE
        BEGIN TRANSACTION;                                                                                      
    BEGIN TRY 
		IF EXISTS (SELECT * FROM [internal].[alwayson_support_state] WHERE [server_name] = @server_name)
		BEGIN
			MERGE INTO [internal].[alwayson_support_state] AS T
			USING (VALUES(@server_name)) AS S(new_primary_name)
			ON T.[server_name] = S.[new_primary_name]
			WHEN MATCHED 
			THEN UPDATE SET [state] = 1
			WHEN NOT MATCHED BY SOURCE
			THEN UPDATE SET [state] = 2;
		END
		ELSE
		BEGIN
			RAISERROR(27228, 16, 1, @server_name) WITH NOWAIT 
			RETURN 1
		END
	
        IF @tran_count = 0
            COMMIT TRANSACTION;                                                                                 
    END TRY
    
    BEGIN CATCH
        
        IF @tran_count = 0 
            ROLLBACK TRANSACTION;
        
        ELSE IF XACT_STATE() <> -1
            ROLLBACK TRANSACTION @savepoint_name;                                                                           
        THROW;
    END CATCH
	
	RETURN 0
END
GO
