USE [db-au-actuary]
GO
/****** Object:  View [dbo].[out_ClaimDataSet_Zurich]    Script Date: 21/02/2025 11:15:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[out_ClaimDataSet_Zurich] AS 
SELECT [Domain Country]
      ,[Company]
      ,[OutletKey]
      ,[PolicyKey]
      ,[BasePolicyNo]
      ,[IssueDate]
      ,[IssueMonth]
      ,[IssueQuarter]
      ,[ClaimKey]
      ,[ClaimNo]
      ,[ReceiptDate]
      ,[ReceiptMonth]
      ,[ReceiptQuarter]
      ,[RegisterDate]
      ,[RegisterMonth]
      ,[RegisterQuarter]
      ,[EventID]
      ,[LossDate]
      ,[LossMonth]
      ,[LossQuarter]
      ,[CATCode]
      ,[EventCountryCode]
      ,[EventCountryName]
      ,[PerilCode]
      ,[MedicalAssistanceClaimFlag]
      ,[OnlineClaimFlag]
      ,[CustomerCareID]
      ,[SectionID]
      ,[SectionDate]
      ,[SectionMonth]
      ,[SectionQuarter]
      ,[SectionCode]
      ,[BenefitSectionKey]
      ,[PaymentID]
      ,[IncurredTime]
      ,[IncurredDate]
      ,[IncurredMonth]
      ,[IncurredQuarter]
      ,[IncurredAgeBand]
      ,[ReceiptDevelopmentMonth]
      ,[IssueDevelopmentMonth]
      ,[LossDevelopmentMonth]
      ,[ReceiptDevelopmentQuarter]
      ,[IssueDevelopmentQuarter]
      ,[LossDevelopmentQuarter]
      ,[StatusAtEndOfDay]
      ,[StatusAtEndOfMonth]
      ,[EstimateMovement]
      ,[PaymentMovement]
      ,[RecoveryMovement]
      ,[IncurredMovement]
      ,[NetPaymentMovement]
      ,[NetRecoveryMovement]
      ,[NetIncurredMovement]
      ,[NetRealRecoveryMovement]
      ,[NetApprovedPaymentMovement]
      ,[LocalCurrencyCode]
      ,[OriginalCurrencyCode]
      ,[OriginalFXRate]
      ,[ForeignCurrencyCode]
      ,[ExposureCurrencyCode]
      ,[ForeignCurrencyRate]
      ,[USDRate]
      ,[ForeignCurrencyRateDate]
      ,[AssessmentOutcome]
      ,[BIRowID]
      ,[SectionCount]
      ,[IncurredAtReference]
      ,[NetIncurredAtReference]
      ,[IncurredAtEOM]
      ,[NetIncurredAtEOM]
      ,[MaxIncurredEOM]
      ,[MaxNetIncurredEOM]
      ,[FXReferenceDate]
      ,[FXReferenceRate]
      ,[USDRateReference]
      ,[FXConversion]
      ,[UsedFXCode]
      ,[UsedFXRateThen]
      ,[UsedFXRateNow]
      ,[EstimateAsAt]
      ,[PaymentAsAt]
      ,[RecoveryAsAt]
      ,[IncurredAsAt]
      ,[NetPaymentAsAt]
      ,[NetRecoveryAsAt]
      ,[NetIncurredAsAt]
      ,[NetRealRecoveryAsAt]
      ,[NetApprovedPaymentAsAt]
      ,[EstimateAsAt_FX]
      ,[PaymentAsAt_FX]
      ,[RecoveryAsAt_FX]
      ,[IncurredAsAt_FX]
      ,[NetPaymentAsAt_FX]
      ,[NetRecoveryAsAt_FX]
      ,[NetIncurredAsAt_FX]
      ,[NetRealRecoveryAsAt_FX]
      ,[NetApprovedPaymentAsAt_FX]
      ,[EstimateMovement_FX]
      ,[PaymentMovement_FX]
      ,[RecoveryMovement_FX]
      ,[IncurredMovement_FX]
      ,[NetPaymentMovement_FX]
      ,[NetRecoveryMovement_FX]
      ,[NetIncurredMovement_FX]
      ,[NetRealRecoveryMovment_FX]
      ,[NetApprovedPaymentMovement_FX]
      ,[BenefitCategory]
      ,[ActuarialBenefitGroup]
      ,[EventDescription]
      ,[ClaimMentalHealthFlag]
      ,[ClaimLuggageFlag]
      ,[ClaimElectronicsFlag]
      ,[ClaimCruiseFlag]
      ,[ClaimMopedFlag]
      ,[ClaimRentalCarFlag]
      ,[ClaimWinterSportFlag]
      ,[ClaimCrimeVictimFlag]
      ,[ClaimFoodPoisoningFlag]
      ,[ClaimAnimalFlag]
      ,[PurchasePathGroup]
      ,[LeadTime]
      ,[LeadTimeBand]
      ,[LeadTimeGroup]
      ,[CancellationCover]
      ,[CancellationCoverBand]
      ,[EMCFlag]
      ,[MaxEMCScore]
      ,[TotalEMCScore]
      ,[CancellationFlag]
      ,[CruiseFlag]
      ,[ElectronicsFlag]
      ,[LuggageFlag]
      ,[MotorcycleFlag]
      ,[RentalCarFlag]
      ,[WinterSportFlag]
      ,[EventSubContinent]
      ,[EventContinent]
      ,[Distributor]
      ,[AlphaCode]
      ,[GroupName]
      ,[Channel]
      ,[JVCode]
      ,[JV]
      ,[AreaName]
      ,[AreaType]
      ,[Destination]
      ,[ProductCode]
      ,[DepartureDate]
      ,[ReturnDate]
      ,[NumberOfRecords]
      ,[NetPaymentMovementIncRecoveries]
      ,[NetIncurredMovementIncRecoveries]
      ,[IncurredACS]
      ,[SizeAsAt]
      ,[Size500]
      ,[Size1k]
      ,[Size5k]
      ,[Size10k]
      ,[Size25k]
      ,[Size35k]
      ,[Size50k]
      ,[Size75k]
      ,[Size100k]
      ,[Underwriter]
FROM [db-au-actuary].[dataout].[out_ClaimDataSet]
;
GO
