USE [db-au-workspace]
GO
/****** Object:  Table [COVERMORE\chris.herron].[budget_2020_sales_sellprice_yearphase]    Script Date: 24/02/2025 5:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [COVERMORE\chris.herron].[budget_2020_sales_sellprice_yearphase](
	[Country] [nvarchar](10) NOT NULL,
	[JV] [nvarchar](20) NULL,
	[Channel] [nvarchar](100) NULL,
	[OutletAlphaKey] [nvarchar](50) NOT NULL,
	[AlphaCode] [nvarchar](255) NULL,
	[LastYearActualSellPrice] [float] NULL,
	[TargetSellPrice] [float] NULL
) ON [PRIMARY]
GO
