USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[usrPolicyFeatures]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usrPolicyFeatures](
	[PolicyKey] [varchar](41) NULL,
	[CountryKey] [varchar](2) NOT NULL,
	[IssueDayOfWeek] [int] NULL,
	[IssueYear] [int] NULL,
	[IssueMonthOfYear] [int] NULL,
	[IssueWeekOfYear] [int] NULL,
	[TripDayOfWeek] [int] NULL,
	[TripYear] [int] NULL,
	[TripMonthOfYear] [int] NULL,
	[TripeWeekOfYear] [int] NULL,
	[OutletAlphaKey] [nvarchar](50) NULL,
	[ChildCount] [int] NULL,
	[AdultOver55] [int] NULL,
	[Adult18to35] [int] NULL,
	[Adult18to54] [int] NULL,
	[LeadTime] [int] NULL,
	[SuperGroupName] [nvarchar](25) NULL,
	[GroupName] [nvarchar](50) NULL,
	[SubGroupName] [nvarchar](50) NULL,
	[AlphaCode] [nvarchar](20) NULL,
	[TripCost] [bigint] NULL,
	[TripDuration] [int] NULL,
	[AreaType] [varchar](25) NULL,
	[PurchasePath] [nvarchar](50) NULL,
	[AreaName] [nvarchar](50) NULL,
	[AreaNumber] [varchar](1) NULL,
	[PrimaryCountry] [nvarchar](max) NULL,
	[Excess] [bigint] NULL,
	[BaseValue] [money] NULL,
	[TotalValue] [money] NULL,
	[EMC_YN] [int] NOT NULL,
	[Motorcycle_YN] [int] NOT NULL,
	[WinterSports_YN] [int] NOT NULL,
	[HireCarXS_YN] [int] NOT NULL,
	[Postcode] [nvarchar](30) NULL,
	[PrimaryTravellerAge] [int] NULL,
	[PrimaryTravellerGender] [varchar](1) NULL,
	[Total_P] [int] NULL,
	[Total_Adult_M] [int] NULL,
	[Total_Adult_F] [int] NULL,
	[Age_0_12_yr_P] [int] NULL,
	[Age_13_18_yr_P] [int] NULL,
	[Age_19_24_yr_P] [int] NULL,
	[Age_25_34_yr_P] [int] NULL,
	[Age_35_44_yr_P] [int] NULL,
	[Age_45_54_yr_P] [int] NULL,
	[Age_55_Over_yr_P] [int] NULL,
	[Age_0_12_yr_M] [int] NULL,
	[Age_13_18_yr_M] [int] NULL,
	[Age_19_24_yr_M] [int] NULL,
	[Age_25_34_yr_M] [int] NULL,
	[Age_35_44_yr_M] [int] NULL,
	[Age_45_54_yr_M] [int] NULL,
	[Age_55_Over_yr_M] [int] NULL,
	[Age_0_12_yr_F] [int] NULL,
	[Age_13_18_yr_F] [int] NULL,
	[Age_19_24_yr_F] [int] NULL,
	[Age_25_34_yr_F] [int] NULL,
	[Age_35_44_yr_F] [int] NULL,
	[Age_45_54_yr_F] [int] NULL,
	[Age_55_Over_yr_F] [int] NULL,
	[state] [nvarchar](50) NULL,
	[suburbs] [nvarchar](max) NULL,
	[Urbanicity] [nvarchar](100) NULL,
	[UsualResidentPopulation] [int] NULL,
	[AdvantageScore] [int] NULL,
	[EducationOccupationScore] [int] NULL,
	[MedianHousholdWklyIncome] [int] NULL,
	[MedianAge] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
