USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[t_AlphaCode2]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_AlphaCode2](
	[AlphaCode] [varchar](100) NULL
) ON [PRIMARY]
GO
