USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[MedData_Inv]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedData_Inv](
	[QuoteCountrykey] [varchar](150) NULL,
	[GroupName] [varchar](100) NULL
) ON [PRIMARY]
GO
