USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[QuoteData_11082023]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteData_11082023](
	[ Policy_Number ] [nvarchar](500) NULL,
	[ Quote_Date ] [nvarchar](500) NULL,
	[ Lead_Number ] [nvarchar](500) NULL,
	[ GCLID ] [nvarchar](500) NULL,
	[ GA_Client_ID ] [nvarchar](500) NULL,
	[ Link_ID ] [nvarchar](500) NULL,
	[ Marketing_Opt_Out ] [nvarchar](500) NULL,
	[ Travel_Countries_List ] [nvarchar](500) NULL,
	[ Primary_Country ] [nvarchar](500) NULL,
	[ Number_of_Countries ] [nvarchar](500) NULL,
	[ Region_List ] [nvarchar](500) NULL,
	[ Departure_Date ] [nvarchar](500) NULL,
	[ Return_Date ] [nvarchar](500) NULL,
	[ Trip_Duration ] [nvarchar](500) NULL,
	[ Excess_Amount ] [nvarchar](500) NULL,
	[ Cancellation_Sum_Insured ] [nvarchar](500) NULL,
	[ Cruise_Flag ] [nvarchar](500) NULL,
	[ Adventure_Activities_Flag ] [nvarchar](500) NULL,
	[ Motorbike_Flag ] [nvarchar](500) NULL,
	[ Snow_Sports_Flag ] [nvarchar](500) NULL,
	[ Luggage_Flag ] [nvarchar](500) NULL,
	[ PEMC_Flag ] [nvarchar](500) NULL,
	[ Covid_Flag ] [nvarchar](500) NULL,
	[ Quoted_Base_Premium ] [nvarchar](500) NULL,
	[ Quoted_Cancellation_Premium ] [nvarchar](500) NULL,
	[ Quoted_Snow_Sports_Premium ] [nvarchar](500) NULL,
	[ Quoted_Adventure_Activities_Premium ] [nvarchar](500) NULL,
	[ Quoted_Motorcycle_Premium ] [nvarchar](500) NULL,
	[ Quoted_Luggage_Premium ] [nvarchar](500) NULL,
	[ Quoted_PEMC_Premium ] [nvarchar](500) NULL,
	[ Quoted_Covid_Premium ] [nvarchar](500) NULL,
	[ Quoted_Cruise_Premium ] [nvarchar](500) NULL,
	[ Total_Quoted_Premium ] [nvarchar](500) NULL,
	[ Total_Quoted_Gross_Premium ] [nvarchar](500) NULL,
	[ NAP ] [nvarchar](500) NULL,
	[ Policy_Holder_Title ] [nvarchar](500) NULL,
	[ Policy_Holder_First_Name ] [nvarchar](500) NULL,
	[ Policy_Holder_Surname ] [nvarchar](500) NULL,
	[ Policy_Holder_Email ] [nvarchar](500) NULL,
	[ Policy_Holder_Mobile_Phone ] [nvarchar](500) NULL,
	[ Policy_Holder_Address ] [nvarchar](500) NULL,
	[ Policy_Holder_DOB ] [nvarchar](500) NULL,
	[ Policy_Holder_Age ] [nvarchar](500) NULL,
	[ Policy_Holder_State ] [nvarchar](500) NULL,
	[ Oldest_Traveller_DOB ] [nvarchar](500) NULL,
	[ Oldest_Traveller_Age ] [nvarchar](500) NULL,
	[ Agency_Code ] [nvarchar](500) NULL,
	[ Agency_Name ] [nvarchar](500) NULL,
	[ Brand ] [nvarchar](500) NULL,
	[ Channel_Type ] [nvarchar](500) NULL,
	[ Promotional_Code ] [nvarchar](500) NULL,
	[ Promotional_Factor ] [nvarchar](500) NULL,
	[ Session_Token ] [nvarchar](500) NULL
) ON [PRIMARY]
GO
