USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[fy2018_usa_premium]    Script Date: 24/02/2025 5:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fy2018_usa_premium](
	[JV] [nvarchar](255) NULL,
	[JVCode] [nvarchar](255) NULL,
	[Product] [nvarchar](255) NULL,
	[ProductCode] [nvarchar](255) NULL,
	[Channel] [nvarchar](255) NULL,
	[ChannelCode] [nvarchar](255) NULL,
	[Jan 18] [float] NULL,
	[Feb 18] [float] NULL,
	[Mar 18] [float] NULL,
	[Apr 18] [float] NULL,
	[May 18] [float] NULL,
	[Jun 18] [float] NULL,
	[Jul 18] [float] NULL,
	[Aug 18] [float] NULL,
	[Sep 18] [float] NULL,
	[Oct 18] [float] NULL,
	[Nov 18] [float] NULL,
	[Dec 18] [float] NULL,
	[Jan 181] [float] NULL,
	[Feb 181] [float] NULL,
	[Mar 181] [float] NULL,
	[Apr 181] [float] NULL,
	[May 181] [float] NULL,
	[Jun 181] [float] NULL,
	[Jul 181] [float] NULL,
	[Aug 181] [float] NULL,
	[Sep 181] [float] NULL,
	[Oct 181] [float] NULL,
	[Nov 181] [float] NULL,
	[Dec 181] [float] NULL
) ON [PRIMARY]
GO
