USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[tmp_rawspPolicyTravellerrepeatcustomer_tmp]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_rawspPolicyTravellerrepeatcustomer_tmp](
	[PolicyKey] [varchar](41) NULL,
	[Flag] [int] NOT NULL
) ON [PRIMARY]
GO
