USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[budget_cy18_cma_expense]    Script Date: 24/02/2025 5:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[budget_cy18_cma_expense](
	[BU] [nvarchar](255) NULL,
	[Department] [float] NULL,
	[JV] [float] NULL,
	[State] [float] NULL,
	[Expense Accounts] [nvarchar](255) NULL,
	[Account Code] [float] NULL,
	[Expense Accounts: Account List] [nvarchar](255) NULL,
	[Jan 2018] [float] NULL,
	[Feb 2018] [float] NULL,
	[Mar 2018] [float] NULL,
	[Apr 2018] [float] NULL,
	[May 2018] [float] NULL,
	[Jun 218] [float] NULL,
	[Jul 2018] [float] NULL,
	[Aug 2018] [float] NULL,
	[Sep 2018] [float] NULL,
	[Oct 2018] [float] NULL,
	[Nov 2018] [float] NULL,
	[Dec 2018] [float] NULL
) ON [PRIMARY]
GO
