USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[DTC_pnpInvoiceLine]    Script Date: 24/02/2025 5:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DTC_pnpInvoiceLine](
	[InvoiceLineSK] [int] NOT NULL,
	[InvoiceSK] [int] NULL,
	[ServiceEventActivitySK] [int] NULL,
	[PolicyCoverageSK] [int] NULL,
	[PolicyMemberSK] [int] NULL,
	[FunderSK] [int] NULL,
	[FunderDepartmentSK] [int] NULL,
	[IndividualSK] [int] NULL,
	[PatientIndividualSK] [int] NULL,
	[InvoiceLineID] [varchar](50) NULL,
	[InvoiceLineType] [nvarchar](25) NULL,
	[InvoiceLineTypeShort] [nvarchar](10) NULL,
	[ServiceEventActivityID] [varchar](50) NULL,
	[PolicyCoverageID] [varchar](50) NULL,
	[PolicyMemberID] [varchar](100) NULL,
	[FunderID] [varchar](50) NULL,
	[IndividualID] [varchar](50) NULL,
	[Fee] [money] NULL,
	[Total] [money] NULL,
	[Adjustment] [money] NULL,
	[AdjustmentID] [int] NULL,
	[AdjustmentName] [nvarchar](20) NULL,
	[AdjustmentCategory] [nvarchar](20) NULL,
	[InvoiceSScale] [numeric](10, 2) NULL,
	[Amount] [money] NULL,
	[Seq] [int] NULL,
	[InvoiceID] [varchar](50) NULL,
	[Paid] [varchar](5) NULL,
	[PartialPaid] [varchar](5) NULL,
	[CreatedDatetime] [datetime2](7) NULL,
	[UpdatedDatetime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](20) NULL,
	[UpdatedBy] [nvarchar](20) NULL,
	[PolicyAgreementID] [int] NULL,
	[Quantity] [numeric](10, 2) NULL,
	[DispAmount] [money] NULL,
	[InvoicePosted] [varchar](5) NULL,
	[PatientIndividualID] [varchar](50) NULL,
	[TaxAmount] [money] NULL,
	[TotalAmount] [money] NULL,
	[TaxAdjustment] [varchar](5) NULL,
	[FullyAppliedDate] [date] NULL,
	[ReceiptIDRet] [int] NULL,
	[InvoiceLineIDRet] [varchar](50) NULL,
	[FunderDepartmentID] [varchar](50) NULL,
	[NonChargeable] [tinyint] NULL,
	[Service] [nvarchar](80) NULL,
	[DeletedDatetime] [datetime2](7) NULL,
	[FinanceDate] [datetime] NULL,
	[FinMonthAC] [varchar](8000) NULL,
	[FinYearAC] [varchar](4) NULL,
	[FinMonthACDate] [datetime] NULL,
	[CostDate] [datetime] NULL,
	[RevenueDate] [datetime] NULL,
	[RevAccountCode] [varchar](20) NULL,
	[CostAccountCode] [varchar](20) NULL
) ON [PRIMARY]
GO
