USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[PolicyData]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyData](
	[Posting_Date] [nvarchar](500) NULL,
	[Policy_Number] [nvarchar](500) NULL,
	[Transaction_Type] [nvarchar](500) NULL,
	[Transaction_Sequence_Number] [nvarchar](500) NULL,
	[Transaction_Status] [nvarchar](500) NULL,
	[Transaction_Date] [nvarchar](500) NULL,
	[Sold_Date] [nvarchar](500) NULL,
	[Travel_Countries_List] [nvarchar](500) NULL,
	[Number_of_Countries] [nvarchar](500) NULL,
	[Primary_Country] [nvarchar](500) NULL,
	[Region_List] [nvarchar](500) NULL,
	[Primary_Region] [nvarchar](500) NULL,
	[Area_No] [nvarchar](500) NULL,
	[Area_Type] [nvarchar](500) NULL,
	[Departure_Date] [nvarchar](500) NULL,
	[Days_To_Departure] [nvarchar](500) NULL,
	[Return_Date] [nvarchar](500) NULL,
	[Trip_Duration] [nvarchar](500) NULL,
	[Trip_Type] [nvarchar](500) NULL,
	[Plan_Code] [nvarchar](500) NULL,
	[Plan] [nvarchar](500) NULL,
	[Single_Family] [nvarchar](500) NULL,
	[Number_of_Adults] [nvarchar](500) NULL,
	[Number_of_Children] [nvarchar](500) NULL,
	[Total_Number_of_Insured] [nvarchar](500) NULL,
	[Excess_Amount] [nvarchar](500) NULL,
	[Cancellation_Sum_Insured] [nvarchar](500) NULL,
	[Cruise_Flag] [nvarchar](500) NULL,
	[Covid_Flag] [nvarchar](500) NULL,
	[Luggage_Flag] [nvarchar](500) NULL,
	[Snow_Sports_Flag] [nvarchar](500) NULL,
	[Adventure_Activities_Flag] [nvarchar](500) NULL,
	[Motorbike_Flag] [nvarchar](500) NULL,
	[PEMC_Flag] [nvarchar](500) NULL,
	[Base_Premium] [nvarchar](500) NULL,
	[Total_Gross_Premium] [nvarchar](500) NULL,
	[Cruise_Premium] [nvarchar](500) NULL,
	[Adventure_Activities_Premium] [nvarchar](500) NULL,
	[Motorcycle_Premium] [nvarchar](500) NULL,
	[Cancellation_Premium] [nvarchar](500) NULL,
	[Covid_Premium] [nvarchar](500) NULL,
	[Luggage_Premium] [nvarchar](500) NULL,
	[Snow_Sports_Premium] [nvarchar](500) NULL,
	[PEMC_Premium] [nvarchar](500) NULL,
	[Total_Premium] [nvarchar](500) NULL,
	[GST_on_Total_Premium] [nvarchar](500) NULL,
	[Stamp_Duty_on_Total_Premium] [nvarchar](500) NULL,
	[NAP] [nvarchar](500) NULL,
	[Policy_Holder_Title] [nvarchar](500) NULL,
	[Policy_Holder_First_Name] [nvarchar](500) NULL,
	[Policy_Holder_Surname] [nvarchar](500) NULL,
	[Policy_Holder_Email] [nvarchar](500) NULL,
	[Policy_Holder_Mobile_Phone] [nvarchar](500) NULL,
	[Policy_Holder_State] [nvarchar](500) NULL,
	[Policy_Holder_DOB] [nvarchar](500) NULL,
	[Policy_Holder_Age] [nvarchar](500) NULL,
	[Policy_Holder_PostCode] [nvarchar](500) NULL,
	[Policy_Holder_Address] [nvarchar](500) NULL,
	[Policy_Holder_GNAF] [nvarchar](500) NULL,
	[Oldest_Traveller_DOB] [nvarchar](500) NULL,
	[Oldest_Traveller_Age] [nvarchar](500) NULL,
	[Agency_Code] [nvarchar](500) NULL,
	[Agency_Name] [nvarchar](500) NULL,
	[Channel_Type] [nvarchar](500) NULL,
	[Brand] [nvarchar](500) NULL,
	[Promotional_Code] [nvarchar](500) NULL,
	[Promotional_Factor] [nvarchar](500) NULL,
	[Commission_Amount] [nvarchar](500) NULL,
	[New_Policy_Count] [nvarchar](500) NULL
) ON [PRIMARY]
GO
