USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[cisCalls_CSQMappingTable_NZ]    Script Date: 24/02/2025 5:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cisCalls_CSQMappingTable_NZ](
	[Called Number] [int] NULL,
	[CSQ] [nvarchar](255) NULL,
	[Partner] [nvarchar](255) NULL
) ON [PRIMARY]
GO
