USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[maAR80ADRGdesc]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maAR80ADRGdesc](
	[ADRG] [nvarchar](10) NULL,
	[Description] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
