USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[cy2019_policy]    Script Date: 24/02/2025 5:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cy2019_policy](
	[sBU JV Revenue Active: Business Unit List] [nvarchar](255) NULL,
	[sBU JV Revenue Active] [nvarchar](255) NULL,
	[subChannel_RevenueModelling] [nvarchar](255) NULL,
	[subProduct_Revenue Modelling] [nvarchar](255) NULL,
	[Jan 19] [float] NULL,
	[Feb 19] [float] NULL,
	[Mar 19] [float] NULL,
	[Apr 19] [float] NULL,
	[May 19] [float] NULL,
	[Jun 19] [float] NULL,
	[Jul 19] [float] NULL,
	[Aug 19] [float] NULL,
	[Sep 19] [float] NULL,
	[Oct 19] [float] NULL,
	[Nov 19] [float] NULL,
	[Dec 19] [float] NULL,
	[FY19] [float] NULL
) ON [PRIMARY]
GO
