USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[ClaimPortfolio_old1]    Script Date: 24/02/2025 5:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClaimPortfolio_old1](
	[Country] [varchar](5) NULL,
	[Underwriter] [varchar](10) NULL,
	[ClaimKey] [varchar](40) NULL,
	[Assigned User] [nvarchar](445) NOT NULL,
	[Team Leader] [nvarchar](445) NOT NULL,
	[Status] [nvarchar](100) NULL,
	[Status Change Date] [datetime] NULL,
	[Due Date] [datetime] NULL,
	[Completion Date] [date] NULL,
	[Claim Number] [int] NULL,
	[e5 Reference] [int] NULL,
	[Work Type] [nvarchar](100) NULL,
	[Group Type] [nvarchar](100) NULL,
	[Policy Number] [varchar](50) NULL,
	[Client] [nvarchar](50) NULL,
	[Customer Name] [nvarchar](252) NULL,
	[Date Received] [datetime] NULL,
	[Date Registered] [datetime] NULL,
	[Absolute Age] [int] NULL,
	[Time in current status] [int] NULL,
	[Claim Lifespan] [int] NULL,
	[Current Estimate] [money] NOT NULL,
	[Current Payment] [money] NOT NULL,
	[Recovery Estimate] [money] NOT NULL,
	[Check Existing Claims] [varchar](1) NOT NULL,
	[Claim Description] [nvarchar](100) NOT NULL,
	[Customer Care Case] [varchar](30) NULL,
	[Reopen Count] [int] NULL,
	[Diarised Count] [int] NULL,
	[Medical Review] [int] NOT NULL,
	[Active Medical Review] [int] NOT NULL,
	[Active Medical Review Reference] [int] NULL,
	[Active Medical Review Asignee] [nvarchar](455) NULL,
	[Is Reactivated] [varchar](1) NULL,
	[Declined Count] [int] NULL,
	[First Medical Reviewer] [nvarchar](455) NULL,
	[Assigned Date] [datetime] NULL,
	[Previous Assignee] [nvarchar](200) NOT NULL,
	[ReAssignment Count] [int] NOT NULL,
	[ProductCode] [varchar](4) NULL,
	[ActiveDays] [int] NULL,
	[DiarisedDays] [int] NULL,
	[ActiveBusinessDays] [int] NULL,
	[DiarisedBusinessDays] [int] NULL,
	[Approved Count] [int] NULL,
	[LodgementType] [varchar](12) NOT NULL,
	[Claim Type] [nvarchar](400) NULL,
	[AssociatedCustomerID] [bigint] NULL,
	[Score] [int] NULL,
	[Comment] [varchar](43) NULL
) ON [PRIMARY]
GO
