USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[tmp_rpt0491a_quotes]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_rpt0491a_quotes](
	[QuoteCountryKey] [varchar](41) NULL,
	[PolicyKey] [varchar](41) NULL,
	[QuoteKey] [varchar](30) NULL,
	[CreateDate] [datetime] NULL,
	[TravellersCount] [int] NULL
) ON [PRIMARY]
GO
