USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[RPT0698a_PolicyTraveller]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT0698a_PolicyTraveller](
	[PolicyTransactionKey] [varchar](41) NOT NULL,
	[BatchNumber] [varchar](2) NULL,
	[GroupName] [nvarchar](50) NOT NULL,
	[SubGroupName] [nvarchar](50) NULL,
	[AlphaCode] [nvarchar](20) NOT NULL,
	[OutletName] [nvarchar](50) NOT NULL,
	[OutletType] [nvarchar](50) NOT NULL,
	[PolicyID] [int] NOT NULL,
	[PolicyNumber] [varchar](50) NULL,
	[IssueDate] [datetime] NOT NULL,
	[PolicyStatus] [nvarchar](50) NULL,
	[CancelledDate] [datetime] NULL,
	[ProductDisplayName] [nvarchar](50) NULL,
	[ProductCode] [nvarchar](50) NULL,
	[PlanName] [nvarchar](50) NULL,
	[AreaType] [varchar](25) NULL,
	[Area] [nvarchar](100) NULL,
	[Destination] [nvarchar](max) NULL,
	[TripStart] [datetime] NULL,
	[TripEnd] [datetime] NULL,
	[Excess] [money] NOT NULL,
	[RentalCarPremiumCovered] [money] NULL,
	[PolicyComment] [varchar](1) NOT NULL,
	[DaysCovered] [int] NULL,
	[TripType] [nvarchar](50) NULL,
	[EmailConsent] [bit] NULL,
	[PolicyTransactionID] [int] NOT NULL,
	[TransactionNumber] [varchar](50) NULL,
	[TransactionDate] [date] NOT NULL,
	[TransactionType] [varchar](50) NULL,
	[TransactionStatus] [nvarchar](50) NULL,
	[Username] [nvarchar](200) NULL,
	[ConsultantName] [nvarchar](101) NULL,
	[StoreCode] [varchar](10) NULL,
	[CoverMoreCSR] [nvarchar](100) NULL,
	[TaxAmountSD] [money] NULL,
	[TaxOnAgentCommissionSD] [money] NULL,
	[TaxAmountGST] [money] NULL,
	[TaxOnAgentCommissionGST] [money] NULL,
	[SellPrice] [money] NULL,
	[AgencyCommission] [money] NULL,
	[NetPrice] [money] NULL,
	[BasePolicyCount] [int] NOT NULL,
	[AddonPolicyCount] [int] NOT NULL,
	[ExtensionPolicyCount] [int] NOT NULL,
	[TravellerCount] [int] NOT NULL,
	[AdultCount] [int] NOT NULL,
	[ChildCount] [int] NOT NULL,
	[ChargedAdultCount] [int] NOT NULL,
	[LuggageCount] [int] NOT NULL,
	[MedicalCount] [int] NOT NULL,
	[MotorcycleCount] [int] NOT NULL,
	[RentalCarCount] [int] NOT NULL,
	[WintersportCount] [int] NOT NULL,
	[EMCCount] [int] NOT NULL,
	[PromoCode] [nvarchar](40) NULL,
	[PromoName] [nvarchar](250) NULL,
	[PromoType] [nvarchar](50) NULL,
	[PromoDiscount] [numeric](10, 4) NULL,
	[PolicyTravellerID] [int] NULL,
	[Title] [nvarchar](50) NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[DOB] [datetime] NULL,
	[Age] [int] NULL,
	[Gender] [nchar](2) NULL,
	[isAdult] [bit] NULL,
	[AdultCharge] [numeric](18, 5) NULL,
	[isPrimary] [bit] NULL,
	[MemberNumber] [nvarchar](25) NULL,
	[AddressLine1] [nvarchar](100) NULL,
	[AddressLine2] [nvarchar](100) NULL,
	[Suburb] [nvarchar](50) NULL,
	[Postcode] [nvarchar](50) NULL,
	[State] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[HomePhone] [varchar](50) NULL,
	[WorkPhone] [varchar](50) NULL,
	[MobilePhone] [varchar](50) NULL,
	[EmailAddress] [nvarchar](255) NULL,
	[EMCType] [nvarchar](100) NULL,
	[EMCReference] [varchar](100) NULL,
	[OptFurtherContact] [bit] NULL,
	[MarketingConsent] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
