USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[rpt0979_Customer]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rpt0979_Customer](
	[Customer] [nvarchar](201) NULL,
	[DOB] [datetime] NULL,
	[CustomerDOB] [nvarchar](232) NULL
) ON [PRIMARY]
GO
