USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[live_dashboard_claims_tele]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[live_dashboard_claims_tele](
	[AssignedUser] [nvarchar](455) NULL,
	[ClaimCount] [int] NULL
) ON [PRIMARY]
GO
