USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[tblClaimNumber_04052021_ASP372]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblClaimNumber_04052021_ASP372](
	[ClaimNumber] [varchar](50) NULL,
	[RecyAmount] [money] NULL,
	[PaymentRef] [varchar](50) NULL,
	[UserID] [int] NULL
) ON [PRIMARY]
GO
