USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[RPT0728a_Transaction]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT0728a_Transaction](
	[RowType] [varchar](20) NOT NULL,
	[GroupName] [varchar](100) NULL,
	[SubGroupName] [varchar](100) NULL,
	[AlphaCode] [varchar](20) NULL,
	[OutletName] [varchar](100) NULL,
	[OutletType] [varchar](50) NULL,
	[Branch] [varchar](60) NULL,
	[State] [varchar](50) NULL,
	[QuoteID] [varchar](50) NULL,
	[SessionID] [varchar](255) NULL,
	[PolicyID] [varchar](50) NULL,
	[PolicyNumber] [varchar](50) NULL,
	[IssueDate] [varchar](30) NULL,
	[QuoteDate] [varchar](30) NULL,
	[QuoteTime] [varchar](30) NULL,
	[isSelected] [varchar](10) NULL,
	[isSaved] [varchar](10) NULL,
	[QuoteSaveDate] [varchar](30) NULL,
	[PolicyStatus] [varchar](50) NULL,
	[CancelledDate] [varchar](30) NULL,
	[ProductCode] [varchar](50) NULL,
	[ProductDisplayName] [varchar](50) NULL,
	[PlanName] [varchar](50) NULL,
	[AreaType] [varchar](25) NULL,
	[Area] [varchar](100) NULL,
	[Destination] [varchar](max) NULL,
	[TripStart] [varchar](30) NULL,
	[TripEnd] [varchar](30) NULL,
	[Excess] [varchar](30) NULL,
	[DaysCovered] [varchar](10) NULL,
	[TripType] [varchar](50) NULL,
	[EmailConsent] [varchar](10) NULL,
	[PolicyTransactionID] [varchar](30) NULL,
	[TransactionNumber] [varchar](50) NULL,
	[TransactionDate] [varchar](30) NULL,
	[TransactionType] [varchar](50) NULL,
	[TransactionStatus] [varchar](50) NULL,
	[Username] [varchar](100) NULL,
	[ConsultantName] [varchar](100) NULL,
	[CoverMoreCSR] [varchar](100) NULL,
	[TaxAmountSD] [varchar](30) NULL,
	[TaxOnAgentCommissionSD] [varchar](30) NULL,
	[TaxAmountGST] [varchar](30) NULL,
	[TaxOnAgentCommissionGST] [varchar](30) NULL,
	[QuotePrice] [varchar](30) NULL,
	[SellPrice] [varchar](30) NULL,
	[AgencyCommission] [varchar](30) NULL,
	[NetPrice] [varchar](30) NULL,
	[BasePolicyCount] [varchar](10) NULL,
	[QuoteCount] [varchar](10) NULL,
	[AddonPolicyCount] [varchar](10) NULL,
	[ExtensionPolicyCount] [varchar](10) NULL,
	[TravellerCount] [varchar](10) NULL,
	[AdultCount] [varchar](10) NULL,
	[ChildCount] [varchar](10) NULL,
	[ChargedAdultCount] [varchar](10) NULL,
	[LuggageCount] [varchar](10) NULL,
	[MedicalCount] [varchar](10) NULL,
	[MotorcycleCount] [varchar](10) NULL,
	[RentalCarCount] [varchar](10) NULL,
	[WintersportCount] [varchar](10) NULL,
	[EMCCount] [varchar](10) NULL,
	[PromoCode] [varchar](10) NULL,
	[PromoName] [varchar](250) NULL,
	[PromoType] [varchar](50) NULL,
	[PromoDiscount] [varchar](10) NULL,
	[GoBelowNet] [varchar](10) NULL,
	[IDKey] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
