USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[tmp_rpt0385a_travellers]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_rpt0385a_travellers](
	[PolicyKey] [varchar](41) NULL,
	[Title01] [varchar](8) NULL,
	[FirstName01] [varchar](30) NULL,
	[LastName01] [varchar](20) NULL,
	[DOB01] [varchar](10) NULL,
	[SecondName01] [char](20) NULL,
	[CardID01] [varchar](15) NULL,
	[SocialID01] [varchar](15) NULL,
	[LocalName01] [char](15) NULL,
	[Title02] [varchar](8) NULL,
	[FirstName02] [varchar](30) NULL,
	[LastName02] [varchar](20) NULL,
	[DOB02] [varchar](10) NULL,
	[SecondName02] [char](20) NULL,
	[CardID02] [varchar](15) NULL,
	[SocialID02] [varchar](15) NULL,
	[LocalName02] [char](15) NULL,
	[Title03] [varchar](8) NULL,
	[FirstName03] [varchar](30) NULL,
	[LastName03] [varchar](20) NULL,
	[DOB03] [varchar](10) NULL,
	[SecondName03] [char](20) NULL,
	[CardID03] [varchar](15) NULL,
	[SocialID03] [varchar](15) NULL,
	[LocalName03] [char](15) NULL,
	[Title04] [varchar](8) NULL,
	[FirstName04] [varchar](30) NULL,
	[LastName04] [varchar](20) NULL,
	[DOB04] [varchar](10) NULL,
	[SecondName04] [char](20) NULL,
	[CardID04] [varchar](15) NULL,
	[SocialID04] [varchar](15) NULL,
	[LocalName04] [char](15) NULL,
	[Title05] [varchar](8) NULL,
	[FirstName05] [varchar](30) NULL,
	[LastName05] [varchar](20) NULL,
	[DOB05] [varchar](10) NULL,
	[SecondName05] [char](20) NULL,
	[CardID05] [varchar](15) NULL,
	[SocialID05] [varchar](15) NULL,
	[LocalName05] [char](15) NULL,
	[Title06] [varchar](8) NULL,
	[FirstName06] [varchar](30) NULL,
	[LastName06] [varchar](20) NULL,
	[DOB06] [varchar](10) NULL,
	[SecondName06] [char](20) NULL,
	[CardID06] [varchar](15) NULL,
	[SocialID06] [varchar](15) NULL,
	[LocalName06] [char](15) NULL,
	[Title07] [varchar](8) NULL,
	[FirstName07] [varchar](30) NULL,
	[LastName07] [varchar](20) NULL,
	[DOB07] [varchar](10) NULL,
	[SecondName07] [char](20) NULL,
	[CardID07] [varchar](15) NULL,
	[SocialID07] [varchar](15) NULL,
	[LocalName07] [char](15) NULL,
	[Title08] [varchar](8) NULL,
	[FirstName08] [varchar](30) NULL,
	[LastName08] [varchar](20) NULL,
	[DOB08] [varchar](10) NULL,
	[SecondName08] [char](20) NULL,
	[CardID08] [varchar](15) NULL,
	[SocialID08] [varchar](15) NULL,
	[LocalName08] [char](15) NULL,
	[Title09] [varchar](8) NULL,
	[FirstName09] [varchar](30) NULL,
	[LastName09] [varchar](20) NULL,
	[DOB09] [varchar](10) NULL,
	[SecondName09] [char](20) NULL,
	[CardID09] [varchar](15) NULL,
	[SocialID09] [varchar](15) NULL,
	[LocalName09] [char](15) NULL,
	[Title10] [varchar](8) NULL,
	[FirstName10] [varchar](30) NULL,
	[LastName10] [varchar](20) NULL,
	[DOB10] [varchar](10) NULL,
	[SecondName10] [char](20) NULL,
	[CardID10] [varchar](15) NULL,
	[SocialID10] [varchar](15) NULL,
	[LocalName10] [char](15) NULL,
	[Title11] [varchar](8) NULL,
	[FirstName11] [varchar](30) NULL,
	[LastName11] [varchar](20) NULL,
	[DOB11] [varchar](10) NULL,
	[SecondName11] [char](20) NULL,
	[CardID11] [varchar](15) NULL,
	[SocialID11] [varchar](15) NULL,
	[LocalName11] [char](15) NULL,
	[Title12] [varchar](8) NULL,
	[FirstName12] [varchar](30) NULL,
	[LastName12] [varchar](20) NULL,
	[DOB12] [varchar](10) NULL,
	[SecondName12] [char](20) NULL,
	[CardID12] [varchar](15) NULL,
	[SocialID12] [varchar](15) NULL,
	[LocalName12] [char](15) NULL,
	[Title13] [varchar](8) NULL,
	[FirstName13] [varchar](30) NULL,
	[LastName13] [varchar](20) NULL,
	[DOB13] [varchar](10) NULL,
	[SecondName13] [char](20) NULL,
	[CardID13] [varchar](15) NULL,
	[SocialID13] [varchar](15) NULL,
	[LocalName13] [char](15) NULL,
	[Title14] [varchar](8) NULL,
	[FirstName14] [varchar](30) NULL,
	[LastName14] [varchar](20) NULL,
	[DOB14] [varchar](10) NULL,
	[SecondName14] [char](20) NULL,
	[CardID14] [varchar](15) NULL,
	[SocialID14] [varchar](15) NULL,
	[LocalName14] [char](15) NULL,
	[Title15] [varchar](8) NULL,
	[FirstName15] [varchar](30) NULL,
	[LastName15] [varchar](20) NULL,
	[DOB15] [varchar](10) NULL,
	[SecondName15] [char](20) NULL,
	[CardID15] [varchar](15) NULL,
	[SocialID15] [varchar](15) NULL,
	[LocalName15] [char](15) NULL,
	[Title16] [varchar](8) NULL,
	[FirstName16] [varchar](30) NULL,
	[LastName16] [varchar](20) NULL,
	[DOB16] [varchar](10) NULL,
	[SecondName16] [char](20) NULL,
	[CardID16] [varchar](15) NULL,
	[SocialID16] [varchar](15) NULL,
	[LocalName16] [char](15) NULL,
	[Title17] [varchar](8) NULL,
	[FirstName17] [varchar](30) NULL,
	[LastName17] [varchar](20) NULL,
	[DOB17] [varchar](10) NULL,
	[SecondName17] [char](20) NULL,
	[CardID17] [varchar](15) NULL,
	[SocialID17] [varchar](15) NULL,
	[LocalName17] [char](15) NULL,
	[Title18] [varchar](8) NULL,
	[FirstName18] [varchar](30) NULL,
	[LastName18] [varchar](20) NULL,
	[DOB18] [varchar](10) NULL,
	[SecondName18] [char](20) NULL,
	[CardID18] [varchar](15) NULL,
	[SocialID18] [varchar](15) NULL,
	[LocalName18] [char](15) NULL,
	[Title19] [varchar](8) NULL,
	[FirstName19] [varchar](30) NULL,
	[LastName19] [varchar](20) NULL,
	[DOB19] [varchar](10) NULL,
	[SecondName19] [char](20) NULL,
	[CardID19] [varchar](15) NULL,
	[SocialID19] [varchar](15) NULL,
	[LocalName19] [char](15) NULL,
	[Title20] [varchar](8) NULL,
	[FirstName20] [varchar](30) NULL,
	[LastName20] [varchar](20) NULL,
	[DOB20] [varchar](10) NULL,
	[SecondName20] [char](20) NULL,
	[CardID20] [varchar](15) NULL,
	[SocialID20] [varchar](15) NULL,
	[LocalName20] [char](15) NULL,
	[Title21] [varchar](8) NULL,
	[FirstName21] [varchar](30) NULL,
	[LastName21] [varchar](20) NULL,
	[DOB21] [varchar](10) NULL,
	[SecondName21] [char](20) NULL,
	[CardID21] [varchar](15) NULL,
	[SocialID21] [varchar](15) NULL,
	[LocalName21] [char](15) NULL,
	[Title22] [varchar](8) NULL,
	[FirstName22] [varchar](30) NULL,
	[LastName22] [varchar](20) NULL,
	[DOB22] [varchar](10) NULL,
	[SecondName22] [char](20) NULL,
	[CardID22] [varchar](15) NULL,
	[SocialID22] [varchar](15) NULL,
	[LocalName22] [char](15) NULL,
	[Title23] [varchar](8) NULL,
	[FirstName23] [varchar](30) NULL,
	[LastName23] [varchar](20) NULL,
	[DOB23] [varchar](10) NULL,
	[SecondName23] [char](20) NULL,
	[CardID23] [varchar](15) NULL,
	[SocialID23] [varchar](15) NULL,
	[LocalName23] [char](15) NULL,
	[Title24] [varchar](8) NULL,
	[FirstName24] [varchar](30) NULL,
	[LastName24] [varchar](20) NULL,
	[DOB24] [varchar](10) NULL,
	[SecondName24] [char](20) NULL,
	[CardID24] [varchar](15) NULL,
	[SocialID24] [varchar](15) NULL,
	[LocalName24] [char](15) NULL,
	[Title25] [varchar](8) NULL,
	[FirstName25] [varchar](30) NULL,
	[LastName25] [varchar](20) NULL,
	[DOB25] [varchar](10) NULL,
	[SecondName25] [char](20) NULL,
	[CardID25] [varchar](15) NULL,
	[SocialID25] [varchar](15) NULL,
	[LocalName25] [char](15) NULL
) ON [PRIMARY]
GO
