USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[RPT1078_Output_new]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT1078_Output_new](
	[BIRowID] [bigint] IDENTITY(1,1) NOT NULL,
	[Data] [varchar](8000) NULL
) ON [PRIMARY]
GO
