USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[tmp_rpt0491_main]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_rpt0491_main](
	[xDataIDx] [varchar](41) NULL,
	[DATA_FILENAME] [varchar](50) NULL,
	[DATA_DATE] [varchar](10) NULL,
	[POSTING_DATE] [datetime] NULL,
	[Data_Status] [int] NULL,
	[RecordIdentifier] [varchar](11) NULL,
	[TransactionDate] [varchar](10) NULL,
	[ReferrerID] [varchar](100) NULL,
	[ReferenceNumber] [varchar](100) NULL,
	[Product] [varchar](50) NULL,
	[UserForReport] [varchar](50) NULL,
	[QuoteReferenceNumber] [varchar](100) NULL,
	[QuoteSavedDate] [varchar](26) NULL,
	[PolicySavedDate] [varchar](26) NULL,
	[PolicyNumber] [varchar](25) NULL,
	[UserID] [varchar](50) NULL,
	[UserName] [varchar](101) NULL,
	[SalesLead] [varchar](50) NULL,
	[BranchID] [int] NULL,
	[BranchName] [varchar](60) NULL,
	[SchemePromotion] [varchar](250) NULL,
	[TransactionType] [varchar](50) NULL,
	[CallType] [varchar](7) NULL,
	[CustomerGivenName1] [varchar](100) NULL,
	[CustomerSurname1] [varchar](100) NULL,
	[CustomerDOB1] [varchar](10) NULL,
	[CustomerMemberNumber1] [varchar](25) NULL,
	[CustomerGivenName2] [varchar](100) NULL,
	[CustomerSurname2] [varchar](100) NULL,
	[CustomerDOB2] [varchar](10) NULL,
	[CustomerMemberNumber2] [varchar](25) NULL,
	[CustomerGivenName3] [varchar](100) NULL,
	[CustomerSurname3] [varchar](100) NULL,
	[CustomerDOB3] [varchar](10) NULL,
	[CustomerMemberNumber3] [varchar](25) NULL,
	[CustomerGivenName4] [varchar](100) NULL,
	[CustomerSurname4] [varchar](100) NULL,
	[CustomerDOB4] [varchar](10) NULL,
	[CustomerMemberNumber4] [varchar](25) NULL,
	[CustomerGivenName5] [varchar](100) NULL,
	[CustomerSurname5] [varchar](100) NULL,
	[CustomerDOB5] [varchar](10) NULL,
	[CustomerMemberNumber5] [varchar](25) NULL,
	[RiskState] [varchar](25) NULL,
	[RiskType] [varchar](50) NULL,
	[CoverType] [varchar](9) NULL,
	[Quote1ProductName] [varchar](50) NULL,
	[Quote1Premium] [money] NULL,
	[Quote1Excess] [money] NULL,
	[Quote2ProductName] [varchar](1) NULL,
	[Quote2Premium] [int] NULL,
	[Quote2Excess] [int] NULL,
	[Quote3ProductName] [varchar](1) NULL,
	[Quote3Premium] [int] NULL,
	[Quote3Excess] [int] NULL,
	[PolicyExcess] [money] NULL,
	[Destination] [varchar](100) NULL,
	[PlanType] [varchar](100) NULL,
	[PaymentType] [varchar](15) NULL,
	[PaymentFrequency] [varchar](8) NULL,
	[RiskPremiumGWP] [money] NULL,
	[PolicyPremiumGWP] [money] NULL,
	[PolicyPremiumTotal] [money] NULL
) ON [PRIMARY]
GO
