USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[FinesseAllCompanies]    Script Date: 24/02/2025 5:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinesseAllCompanies](
	[UNI_JOIN] [int] NOT NULL,
	[CompanyName] [nvarchar](100) NULL
) ON [PRIMARY]
GO
