USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[t_BusinessUnitID_CampaignID_all]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_BusinessUnitID_CampaignID_all](
	[BusinessUnitID] [bigint] NULL,
	[CampaignID] [bigint] NULL
) ON [PRIMARY]
GO
