USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[Quote_Historical_Bupa]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quote_Historical_Bupa](
	[id] [varchar](50) NULL,
	[trans_date] [varchar](50) NULL,
	[partner] [varchar](50) NULL,
	[underwriter] [varchar](50) NULL,
	[quote_slug] [varchar](50) NULL,
	[quote_id] [varchar](50) NULL,
	[quote_status] [varchar](50) NULL,
	[created_datetime] [varchar](50) NULL,
	[updated_datetime] [varchar](50) NULL,
	[product_class] [varchar](50) NULL,
	[product_slug] [varchar](50) NULL,
	[product_type] [varchar](50) NULL,
	[payment_freq] [varchar](50) NULL,
	[premium.retail_premium_taxes] [varchar](50) NULL,
	[premium.retail_premium_incl_taxes] [varchar](50) NULL,
	[commencement_date] [varchar](50) NULL,
	[expiry_date] [varchar](50) NULL,
	[policy_holder.dob] [varchar](50) NULL,
	[policy_holder.email] [varchar](50) NULL,
	[policy_holder.mobile] [varchar](50) NULL,
	[policy_holder.last_name] [varchar](50) NULL,
	[policy_holder.first_name] [varchar](50) NULL,
	[risk_address.gnaf] [varchar](50) NULL,
	[risk_address.state] [varchar](50) NULL,
	[risk_address.suburb] [varchar](50) NULL,
	[risk_address.country] [varchar](50) NULL,
	[risk_address.postcode] [varchar](50) NULL,
	[risk_address.street_name] [varchar](50) NULL,
	[risk_address.street_type] [varchar](50) NULL,
	[risk_address.unit_number] [varchar](50) NULL,
	[risk_address.street_number] [varchar](50) NULL,
	[risk_address.full] [varchar](50) NULL,
	[postal_address] [varchar](50) NULL,
	[open_customer_ref] [varchar](50) NULL,
	[bupa_customer_ref_ref] [varchar](50) NULL,
	[channel] [varchar](50) NULL,
	[sum_insured.travel] [varchar](50) NULL,
	[excess.travel] [varchar](50) NULL,
	[promo_code] [varchar](50) NULL,
	[additional_info.bupa_id] [varchar](50) NULL,
	[additional_info.agent_id] [varchar](50) NULL,
	[additional_info.agent_name] [varchar](50) NULL,
	[additional_info.HI_product] [varchar](50) NULL,
	[additional_info.employee_num] [varchar](50) NULL,
	[additional_info.cgu_policy_no] [varchar](50) NULL,
	[additional_info.HI_member_type] [varchar](50) NULL,
	[additional_info.employee_group] [varchar](50) NULL,
	[additional_info.HI_membership_num] [varchar](50) NULL,
	[additional_info.HI_member_discount] [varchar](50) NULL,
	[additional_info.employee_validated] [varchar](50) NULL,
	[additional_info.HI_member_validated] [varchar](50) NULL,
	[additional_info.HI_member_num_suffix] [varchar](50) NULL,
	[additional_info.cgu_policy_inception_date] [varchar](50) NULL,
	[Quote_FileName] [nvarchar](2000) NULL
) ON [PRIMARY]
GO
