USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[corpPolicies_210222]    Script Date: 24/02/2025 5:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[corpPolicies_210222](
	[Domain Country] [varchar](2) NOT NULL,
	[Company] [varchar](2) NOT NULL,
	[PolicyKey] [varchar](10) NULL,
	[PolicyTransactionKey] [varchar](21) NULL,
	[isParent] [int] NOT NULL,
	[Base Policy No] [varchar](50) NULL,
	[Policy No] [varchar](50) NULL,
	[Issue Date] [datetime] NULL,
	[Transaction Issue Date] [datetime] NULL,
	[Posting Date] [datetime] NULL,
	[Transaction Type] [varchar](4) NOT NULL,
	[Policy Status] [varchar](6) NOT NULL,
	[Transaction Status] [varchar](6) NOT NULL,
	[Departure Date] [date] NULL,
	[Return Date] [date] NULL,
	[Lead Time] [int] NULL,
	[Maximum Trip Length] [smallint] NOT NULL,
	[Trip Duration] [int] NULL,
	[Trip Length] [int] NULL,
	[Area Name] [varchar](150) NOT NULL,
	[Area Number] [varchar](6) NOT NULL,
	[Destination] [varchar](1) NOT NULL,
	[Excess] [money] NOT NULL,
	[Group Policy] [int] NOT NULL,
	[Has Rental Car] [int] NOT NULL,
	[Has Motorcycle] [int] NOT NULL,
	[Has Wintersport] [int] NOT NULL,
	[Has Medical] [int] NOT NULL,
	[Has Cruise] [int] NOT NULL,
	[Single/Family] [varchar](1) NOT NULL,
	[Purchase Path] [varchar](9) NOT NULL,
	[TRIPS Policy] [int] NOT NULL,
	[Product Code] [nvarchar](50) NULL,
	[Plan Code] [varchar](1) NOT NULL,
	[Plan Name] [varchar](1) NOT NULL,
	[Product Name] [nvarchar](200) NULL,
	[Product Plan] [nvarchar](200) NULL,
	[Product Type] [nvarchar](200) NULL,
	[Product Group] [nvarchar](200) NULL,
	[Policy Type] [nvarchar](100) NULL,
	[Plan Type] [nvarchar](50) NULL,
	[Trip Type] [nvarchar](50) NULL,
	[Product Classification] [nvarchar](100) NULL,
	[Finance Product Code] [nvarchar](50) NULL,
	[OutletKey] [varchar](33) NULL,
	[Alpha Code] [nvarchar](20) NULL,
	[Original Alpha Code] [nvarchar](20) NULL,
	[Transaction Alpha Code] [nvarchar](20) NULL,
	[Transaction OutletKey] [varchar](33) NULL,
	[Customer Post Code] [varchar](1) NOT NULL,
	[Unique Traveller Count] [int] NOT NULL,
	[Unique Charged Traveller Count] [int] NOT NULL,
	[Traveller Count] [int] NOT NULL,
	[Charged Traveller Count] [int] NOT NULL,
	[Adult Traveller Count] [int] NOT NULL,
	[EMC Traveller Count] [int] NOT NULL,
	[Youngest Charged DOB] [int] NULL,
	[Oldest Charged DOB] [int] NULL,
	[Youngest Age] [int] NULL,
	[Oldest Age] [int] NULL,
	[Youngest Charged Age] [int] NULL,
	[Oldest Charged Age] [int] NULL,
	[Max EMC Score] [numeric](6, 2) NOT NULL,
	[Total EMC Score] [numeric](6, 2) NOT NULL,
	[EMC Tier Oldest Charged] [int] NULL,
	[EMC Tier Youngest Charged] [int] NULL,
	[Charged Traveller 1 Gender] [varchar](1) NOT NULL,
	[Charged Traveller 1 DOB] [int] NULL,
	[Charged Traveller 1 Has EMC] [int] NULL,
	[Charged Traveller 1 Has Manual EMC] [int] NULL,
	[Charged Traveller 1 EMC Score] [int] NULL,
	[Charged Traveller 1 EMC Reference] [int] NULL,
	[Charged Traveller 2 Gender] [varchar](1) NOT NULL,
	[Charged Traveller 2 DOB] [int] NULL,
	[Charged Traveller 2 Has EMC] [int] NULL,
	[Charged Traveller 2 Has Manual EMC] [int] NULL,
	[Charged Traveller 2 EMC Score] [int] NULL,
	[Charged Traveller 2 EMC Reference] [int] NULL,
	[Charged Traveller 3 Gender] [varchar](1) NOT NULL,
	[Charged Traveller 3 DOB] [int] NULL,
	[Charged Traveller 3 Has EMC] [int] NULL,
	[Charged Traveller 3 Has Manual EMC] [int] NULL,
	[Charged Traveller 3 EMC Score] [int] NULL,
	[Charged Traveller 3 EMC Reference] [int] NULL,
	[Charged Traveller 4 Gender] [varchar](1) NOT NULL,
	[Charged Traveller 4 DOB] [int] NULL,
	[Charged Traveller 4 Has EMC] [int] NULL,
	[Charged Traveller 4 Has Manual EMC] [int] NULL,
	[Charged Traveller 4 EMC Score] [int] NULL,
	[Charged Traveller 4 EMC Reference] [int] NULL,
	[Charged Traveller 5 Gender] [varchar](1) NOT NULL,
	[Charged Traveller 5 DOB] [int] NULL,
	[Charged Traveller 5 Has EMC] [int] NULL,
	[Charged Traveller 5 Has Manual EMC] [int] NULL,
	[Charged Traveller 5 EMC Score] [int] NULL,
	[Charged Traveller 5 EMC Reference] [int] NULL,
	[Charged Traveller 6 Gender] [varchar](1) NOT NULL,
	[Charged Traveller 6 DOB] [int] NULL,
	[Charged Traveller 6 Has EMC] [int] NULL,
	[Charged Traveller 6 Has Manual EMC] [int] NULL,
	[Charged Traveller 6 EMC Score] [int] NULL,
	[Charged Traveller 6 EMC Reference] [int] NULL,
	[Charged Traveller 7 Gender] [varchar](1) NOT NULL,
	[Charged Traveller 7 DOB] [int] NULL,
	[Charged Traveller 7 Has EMC] [int] NULL,
	[Charged Traveller 7 Has Manual EMC] [int] NULL,
	[Charged Traveller 7 EMC Score] [int] NULL,
	[Charged Traveller 7 EMC Reference] [int] NULL,
	[Charged Traveller 8 Gender] [varchar](1) NOT NULL,
	[Charged Traveller 8 DOB] [int] NULL,
	[Charged Traveller 8 Has EMC] [int] NULL,
	[Charged Traveller 8 Has Manual EMC] [int] NULL,
	[Charged Traveller 8 EMC Score] [int] NULL,
	[Charged Traveller 8 EMC Reference] [int] NULL,
	[Charged Traveller 9 Gender] [varchar](1) NOT NULL,
	[Charged Traveller 9 DOB] [int] NULL,
	[Charged Traveller 9 Has EMC] [int] NULL,
	[Charged Traveller 9 Has Manual EMC] [int] NULL,
	[Charged Traveller 9 EMC Score] [int] NULL,
	[Charged Traveller 9 EMC Reference] [int] NULL,
	[Charged Traveller 10 Gender] [varchar](1) NOT NULL,
	[Charged Traveller 10 DOB] [int] NULL,
	[Charged Traveller 10 Has EMC] [int] NULL,
	[Charged Traveller 10 Has Manual EMC] [int] NULL,
	[Charged Traveller 10 EMC Score] [int] NULL,
	[Charged Traveller 10 EMC Reference] [int] NULL,
	[Commission Tier] [varchar](1) NOT NULL,
	[Volume Commission] [int] NOT NULL,
	[Discount] [int] NOT NULL,
	[Base Base Premium] [money] NULL,
	[Base Premium] [money] NULL,
	[Canx Premium] [int] NOT NULL,
	[Undiscounted Canx Premium] [int] NOT NULL,
	[Rental Car Premium] [int] NOT NULL,
	[Motorcycle Premium] [int] NOT NULL,
	[Luggage Premium] [money] NULL,
	[Medical Premium] [money] NULL,
	[Winter Sport Premium] [int] NOT NULL,
	[Cruise Premium] [int] NOT NULL,
	[Luggage Increase] [int] NOT NULL,
	[Rental Car Increase] [int] NOT NULL,
	[Trip Cost] [int] NOT NULL,
	[Unadjusted Sell Price] [money] NULL,
	[Unadjusted GST on Sell Price] [money] NULL,
	[Unadjusted Stamp Duty on Sell Price] [money] NULL,
	[Unadjusted Agency Commission] [money] NULL,
	[Unadjusted GST on Agency Commission] [money] NULL,
	[Unadjusted Stamp Duty on Agency Commission] [int] NOT NULL,
	[Unadjusted Admin Fee] [int] NOT NULL,
	[Sell Price] [money] NULL,
	[GST on Sell Price] [money] NULL,
	[Stamp Duty on Sell Price] [money] NULL,
	[Premium] [money] NULL,
	[Risk Nett] [money] NULL,
	[GUG] [money] NULL,
	[Agency Commission] [money] NULL,
	[GST on Agency Commission] [money] NULL,
	[Stamp Duty on Agency Commission] [int] NOT NULL,
	[Admin Fee] [int] NOT NULL,
	[NAP] [money] NULL,
	[NAP (incl Tax)] [money] NULL,
	[Policy Count] [int] NULL,
	[Price Beat Policy] [int] NULL,
	[Competitor Name] [int] NULL,
	[Competitor Price] [int] NULL,
	[PolicyID] [int] NOT NULL,
	[Category] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
