USE [db-au-workspace]
GO
/****** Object:  Table [dbo].[RPT0698b_QuoteTransaction]    Script Date: 24/02/2025 5:22:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RPT0698b_QuoteTransaction](
	[QuoteKey] [varchar](30) NULL
) ON [PRIMARY]
GO
