USE [db-au-workspace]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_cleandx]    Script Date: 24/02/2025 5:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fn_cleandx](@Input varchar(max))
returns varchar(max)
as
begin
    
    declare @output varchar(max)

    set @output = replace(@Input, char(9), ' ')
    set @output = replace(@Input, char(10), ' ')
    set @output = replace(@output, char(13), ' ')
    set @output = replace(@output, ',', ' ')
    set @output = replace(@output, '.', ' ')
    set @output = replace(@output, '&#x0D;', ' ')
    set @output = replace(@output, '&#x0A;', ' ')
    set @output = replace(@output, '&amp;', ' ')
    set @output = replace(@output, '<br>', ' ')
    set @output = replace(@output, '  ', ' ')
    set @output = replace(@output, ' dx ', ' ')
    set @output = replace(@output, ' rn ', ' ')
    set @output = replace(@output, ' tx ', ' ')
    set @output = replace(@output, ' pmhx ', ' ')
    set @output = replace(@output, ' hx ', ' ')
    set @output = replace(@output, ' rx ', ' ')
    set @output = replace(@output, ' bte ', ' ')
    set @output = replace(@output, ' medical note ', ' ')
    set @output = replace(@output, ' medical case ', ' ')
    set @output = replace(@output, ' customer care', ' ')
    set @output = replace(@output, ' reviewed ', ' ')
    set @output = replace(@output, ' review ', ' ')
    set @output = replace(@output, ' and ', ' ')
    set @output = replace(@output, ' to ', ' ')
    set @output = replace(@output, ' of ', ' ')
    set @output = replace(@output, ' risk ', ' ')
    set @output = replace(@output, ' the ', ' ')
    set @output = replace(@output, ' medical ', ' ')
    set @output = replace(@output, ' for ', ' ')
    set @output = replace(@output, ' on ', ' ')
    set @output = replace(@output, ' no ', ' ')
    set @output = replace(@output, ' report ', ' ')
    set @output = replace(@output, ' with ', ' ')
    set @output = replace(@output, ' in ', ' ')
    set @output = replace(@output, ' is ', ' ')
    set @output = replace(@output, ' tmo ', ' ')
    set @output = replace(@output, ' low ', ' ')
    set @output = replace(@output, ' cust ', ' ')
    set @output = replace(@output, ' acute ', ' ')
    set @output = replace(@output, ' new ', ' ')
    set @output = replace(@output, ' pain ', ' ')
    set @output = replace(@output, ' a ', ' ')
    set @output = replace(@output, ' dr ', ' ')
    set @output = replace(@output, ' clinical ', ' ')
    set @output = replace(@output, ' diagnosis ', ' ')
    set @output = replace(@output, ' condition ', ' ')
    set @output = replace(@output, ' injury ', ' ')
    set @output = replace(@output, ' right ', ' ')
    set @output = replace(@output, ' location ', ' ')
    set @output = replace(@output, ' from ', ' ')
    set @output = replace(@output, ' lmo ', ' ')
    set @output = replace(@output, ' at ', ' ')
    set @output = replace(@output, ' recs ', ' ')
    set @output = replace(@output, ' treatment ', ' ')
    set @output = replace(@output, ' will ', ' ')
    set @output = replace(@output, ' left ', ' ')
    set @output = replace(@output, ' not ', ' ')
    set @output = replace(@output, ' age ', ' ')
    set @output = replace(@output, ' or ', ' ')
    set @output = replace(@output, ' post ', ' ')
    set @output = replace(@output, ' dated ', ' ')
    set @output = replace(@output, ' be ', ' ')
    set @output = replace(@output, ' as ', ' ')
    set @output = replace(@output, ' available ', ' ')
    set @output = replace(@output, ' appropriate ', ' ')
    set @output = replace(@output, ' need ', ' ')
    set @output = replace(@output, ' comment ', ' ')
    set @output = replace(@output, ' locally ', ' ')
    set @output = replace(@output, ' medrep ', ' ')
    set @output = replace(@output, ' care ', ' ')
    set @output = replace(@output, ' was ', ' ')
    set @output = replace(@output, ' days ', ' ')
    set @output = replace(@output, ' assessment ', ' ')
    set @output = replace(@output, ' required ', ' ')
    set @output = replace(@output, ' patient ', ' ')
    set @output = replace(@output, ' travel ', ' ')
    set @output = replace(@output, ' this ', ' ')
    set @output = replace(@output, ' moderate ', ' ')
    set @output = replace(@output, ' has ', ' ')
    set @output = replace(@output, ' conclusion ', ' ')
    set @output = replace(@output, ' ftf ', ' ')
    set @output = replace(@output, ' hospital ', ' ')
    set @output = replace(@output, ' by ', ' ')
    set @output = replace(@output, ' plan ', ' ')
    set @output = replace(@output, ' high ', ' ')
    set @output = replace(@output, ' non ', ' ')
    set @output = replace(@output, ' date ', ' ')
    set @output = replace(@output, ' admitted ', ' ')
    set @output = replace(@output, ' if ', ' ')
    set @output = replace(@output, ' back ', ' ')
    set @output = replace(@output, ' await ', ' ')
    set @output = replace(@output, ' admit ', ' ')
    set @output = replace(@output, ' l ', ' ')
    set @output = replace(@output, ' up ', ' ')
    set @output = replace(@output, ' she ', ' ')
    set @output = replace(@output, ' update ', ' ')
    set @output = replace(@output, ' rv ', ' ')
    set @output = replace(@output, ' have ', ' ')
    set @output = replace(@output, ' symptoms ', ' ')
    set @output = replace(@output, ' he ', ' ')
    set @output = replace(@output, ' sx ', ' ')
    set @output = replace(@output, ' reassess ', ' ')
    set @output = replace(@output, ' her ', ' ')
    set @output = replace(@output, ' day ', ' ')
    set @output = replace(@output, ' we ', ' ')
    set @output = replace(@output, ' information ', ' ')
    set @output = replace(@output, ' symptomsinjury ', ' ')
    set @output = replace(@output, ' assistance ', ' ')
    set @output = replace(@output, ' greetings ', ' ')
    set @output = replace(@output, ' before ', ' ')
    set @output = replace(@output, ' printing ', ' ')
    set @output = replace(@output, ' email ', ' ')
    set @output = replace(@output, ' gender ', ' ')
    set @output = replace(@output, ' flight ', ' ')
    set @output = replace(@output, ' home ', ' ')
    set @output = replace(@output, ' that ', ' ')
    set @output = replace(@output, ' had ', ' ')
    set @output = replace(@output, ' type ', ' ')
    set @output = replace(@output, ' needs ', ' ')
    set @output = replace(@output, ' weeks ', ' ')
    set @output = replace(@output, ' call ', ' ')
    set @output = replace(@output, ' but ', ' ')
    set @output = replace(@output, ' iag ', ' ')
    set @output = replace(@output, ' history ', ' ')
    set @output = replace(@output, ' ago ', ' ')
    set @output = replace(@output, ' today ', ' ')
    set @output = replace(@output, ' illness ', ' ')
    set @output = replace(@output, ' you ', ' ')
    set @output = replace(@output, ' his ', ' ')
    set @output = replace(@output, ' female ', ' ')
    set @output = replace(@output, ' noted ', ' ')
    set @output = replace(@output, ' plans ', ' ')
    set @output = replace(@output, ' fly ', ' ')
    set @output = replace(@output, ' note ', ' ')
    set @output = replace(@output, ' nil ', ' ')
    set @output = replace(@output, ' confirm ', ' ')
    set @output = replace(@output, ' cc ', ' ')
    set @output = replace(@output, ' comments ', ' ')
    set @output = replace(@output, ' are ', ' ')
    set @output = replace(@output, ' discharged ', ' ')
    set @output = replace(@output, ' been ', ' ')
    set @output = replace(@output, ' still ', ' ')
    set @output = replace(@output, ' closed ', ' ')
    set @output = replace(@output, ' any ', ' ')
    set @output = replace(@output, ' it ', ' ')
    set @output = replace(@output, ' possible ', ' ')
    set @output = replace(@output, ' time ', ' ')
    set @output = replace(@output, ' complaint ', ' ')
    set @output = replace(@output, ' confirmed ', ' ')
    set @output = replace(@output, ' meds ', ' ')
    set @output = replace(@output, ' male ', ' ')
    set @output = replace(@output, ' escort ', ' ')
    set @output = replace(@output, ' now ', ' ')
    set @output = replace(@output, ' maguire ', ' ')
    set @output = replace(@output, ' when ', ' ')
    set @output = replace(@output, ' t ', ' ')
    set @output = replace(@output, ' hours ', ' ')
    set @output = replace(@output, ' may ', ' ')
    set @output = replace(@output, ' tomorrow ', ' ')
    set @output = replace(@output, ' other ', ' ')
    set @output = replace(@output, ' appropraite ', ' ')
    set @output = replace(@output, ' signs ', ' ')
    set @output = replace(@output, ' without ', ' ')
    set @output = replace(@output, ' australia ', ' ')
    set @output = replace(@output, ' then ', ' ')
    set @output = replace(@output, ' new ', ' ')
    set @output = replace(@output, ' week ', ' ')
    set @output = replace(@output, ' outpatient ', ' ')
    set @output = replace(@output, ' please ', ' ')
    set @output = replace(@output, ' needed ', ' ')
    set @output = replace(@output, ' both ', ' ')
    set @output = replace(@output, ' th ', ' ')
    set @output = replace(@output, ' present ', ' ')
    set @output = replace(@output, ' mn ', ' ')
    set @output = replace(@output, ' given ', ' ')
    set @output = replace(@output, ' good ', ' ')
    set @output = replace(@output, ' since ', ' ')
    set @output = replace(@output, ' medex ', ' ')
    set @output = replace(@output, ' results ', ' ')
    set @output = replace(@output, ' seen ', ' ')
    set @output = replace(@output, ' j ', ' ')
    set @output = replace(@output, ' presented ', ' ')
    set @output = replace(@output, ' hr ', ' ')
    set @output = replace(@output, ' doctor ', ' ')
    set @output = replace(@output, ' chase ', ' ')
    set @output = replace(@output, ' able ', ' ')
    set @output = replace(@output, ' continue ', ' ')
    set @output = replace(@output, ' well ', ' ')
    set @output = replace(@output, ' medications ', ' ')
    set @output = replace(@output, ' ward ', ' ')
    set @output = replace(@output, ' until ', ' ')
    set @output = replace(@output, ' treated ', ' ')
    set @output = replace(@output, ' improved ', ' ')
    set @output = replace(@output, ' disease ', ' ')
    set @output = replace(@output, ' ms ', ' ')
    set @output = replace(@output, ' would ', ' ')
    set @output = replace(@output, ' more ', ' ')
    set @output = replace(@output, ' there ', ' ')
    set @output = replace(@output, ' next ', ' ')
    set @output = replace(@output, ' better ', ' ')
    set @output = replace(@output, ' require ', ' ')
    set @output = replace(@output, ' medication ', ' ')
    set @output = replace(@output, ' open ', ' ')
    set @output = replace(@output, ' down ', ' ')
    set @output = replace(@output, ' summary ', ' ')
    set @output = replace(@output, ' done ', ' ')
    set @output = replace(@output, ' received ', ' ')
    set @output = replace(@output, ' consistent ', ' ')
    set @output = replace(@output, ' past ', ' ')
    set @output = replace(@output, ' under ', ' ')
    set @output = replace(@output, ' temp ', ' ')
    set @output = replace(@output, ' test ', ' ')
    set @output = replace(@output, ' prior ', ' ')
    set @output = replace(@output, ' therapy ', ' ')
    set @output = replace(@output, ' during ', ' ')
    set @output = replace(@output, ' also ', ' ')
    set @output = replace(@output, ' us ', ' ')
    set @output = replace(@output, ' should ', ' ')
    set @output = replace(@output, ' currently ', ' ')
    set @output = replace(@output, ' clinic ', ' ')
    set @output = replace(@output, ' last ', ' ')
    set @output = replace(@output, ' presenting ', ' ')
    set @output = replace(@output, ' only ', ' ')
    set @output = replace(@output, ' rest ', ' ')
    set @output = replace(@output, ' daily ', ' ')
    set @output = replace(@output, ' do ', ' ')
    set @output = replace(@output, ' medical ', ' ')
    set @output = replace(@output, ' awaiting ', ' ')
    set @output = replace(@output, ' name ', ' ')
    set @output = replace(@output, ' reivewed ', ' ')
    set @output = replace(@output, ' morning ', ' ')
    set @output = replace(@output, ' yesterday ', ' ')
    set @output = replace(@output, ' all ', ' ')
    set @output = replace(@output, ' risklow ', ' ')
    set @output = replace(@output, ' about ', ' ')
    set @output = replace(@output, ' upper ', ' ')
    set @output = replace(@output, ' likely ', ' ')
    set @output = replace(@output, ' min ', ' ')
    set @output = replace(@output, ' my ', ' ')
    set @output = replace(@output, ' presentation ', ' ')
    set @output = replace(@output, ' ed ', ' ')
    set @output = replace(@output, ' called ', ' ')
    set @output = replace(@output, ' re ', ' ')
    set @output = replace(@output, ' front ', ' ')
    set @output = replace(@output, ' management ', ' ')
    set @output = replace(@output, ' one ', ' ')
    set @output = replace(@output, ' cover ', ' ')
    set @output = replace(@output, ' previous ', ' ')
    set @output = replace(@output, ' investigations ', ' ')
    set @output = replace(@output, ' over ', ' ')
    set @output = replace(@output, ' early ', ' ')
    set @output = replace(@output, ' commercial ', ' ')
    set @output = replace(@output, ' area ', ' ')
    set @output = replace(@output, ' general ', ' ')
    set @output = replace(@output, ' bimc ', ' ')
    set @output = replace(@output, ' updated ', ' ')

    --across dc
    set @output = replace(@output, ' above ', ' ')
    set @output = replace(@output, ' admission ', ' ')
    set @output = replace(@output, ' advised ', ' ')
    set @output = replace(@output, ' after ', ' ')
    set @output = replace(@output, ' air ', ' ')
    set @output = replace(@output, ' based ', ' ')
    set @output = replace(@output, ' can ', ' ')
    set @output = replace(@output, ' cannot ', ' ')
    set @output = replace(@output, ' case ', ' ')
    set @output = replace(@output, ' confirmation ', ' ')
    set @output = replace(@output, ' contact ', ' ')
    set @output = replace(@output, ' diagnosed ', ' ')
    set @output = replace(@output, ' discharge ', ' ')
    set @output = replace(@output, ' does ', ' ')
    set @output = replace(@output, ' due ', ' ')
    set @output = replace(@output, ' exam ', ' ')
    set @output = replace(@output, ' first ', ' ')
    set @output = replace(@output, ' follow ', ' ')
    set @output = replace(@output, ' found ', ' ')
    set @output = replace(@output, ' further ', ' ')
    set @output = replace(@output, ' happy ', ' ')
    set @output = replace(@output, ' know ', ' ')
    set @output = replace(@output, ' known ', ' ')
    set @output = replace(@output, ' lower ', ' ')
    set @output = replace(@output, ' off ', ' ')
    set @output = replace(@output, ' out ', ' ')
    set @output = replace(@output, ' patients ', ' ')
    set @output = replace(@output, ' per ', ' ')
    set @output = replace(@output, ' problem ', ' ')
    set @output = replace(@output, ' rating ', ' ')
    set @output = replace(@output, ' related ', ' ')
    set @output = replace(@output, ' ronan ', ' ')
    set @output = replace(@output, ' screen ', ' ')
    set @output = replace(@output, ' see ', ' ')
    set @output = replace(@output, ' completed ', ' ')
    set @output = replace(@output, ' conditions ', ' ')
    set @output = replace(@output, ' control ', ' ')
    set @output = replace(@output, ' expected ', ' ')
    set @output = replace(@output, ' family ', ' ')
    set @output = replace(@output, ' reviewed ', ' ')


    while patindex('%[^a-z ]%', @output) > 0
        set @output = stuff(@output, patindex('%[^a-z ]%', @output), 1, '')

    return @output

end

GO
