USE [db-au-workspace]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_cleanbali]    Script Date: 24/02/2025 5:22:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fn_cleanbali](@Input varchar(max))
returns varchar(max)
as
begin
    
    declare @output varchar(max)

    set @output = replace(@Input, char(9), ' ')
    set @output = replace(@Input, char(10), ' ')
    set @output = replace(@output, char(13), ' ')
    set @output = replace(@output, ',', ' ')
    set @output = replace(@output, '.', ' ')
    set @output = replace(@output, '&#x0D;', ' ')
    set @output = replace(@output, '&#x0A;', ' ')
    set @output = replace(@output, '&amp;', ' ')
    set @output = replace(@output, '<br>', ' ')
    set @output = replace(@output, '  ', ' ')

    while patindex('%[^a-z ]%', @output) > 0
        set @output = stuff(@output, patindex('%[^a-z ]%', @output), 1, ' ')

    return @output

end

GO
