USE [db-au-star]
GO
/****** Object:  Table [dbo].[Dim_Excess]    Script Date: 24/02/2025 5:10:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Excess](
	[Excess_SK] [int] IDENTITY(0,1) NOT NULL,
	[Excess_Amount] [decimal](18, 2) NOT NULL,
	[Create_Date] [datetime] NOT NULL,
	[Insert_Batch_ID] [int] NOT NULL,
	[Update_Batch_ID] [int] NULL,
 CONSTRAINT [Dim_Excess_Bands_PK] PRIMARY KEY CLUSTERED 
(
	[Excess_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
