USE [db-au-actuary]
GO
/****** Object:  View [cng].[Policy_Header_UW_GLM_Sep23]    Script Date: 18/02/2025 12:14:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [cng].[Policy_Header_UW_GLM_Sep23] AS 

WITH 
Policy_Header_01 AS (
    SELECT
         [Domain Country]
        ,[Company]
        ,[PolicyKey]
        ,[Base Policy No]
        ,[Policy Status]
        ,[UW Policy Status]
        ,[Sell Price]
        ,[Premium]
        ,[NAP]
        ,[UW Premium Actual]
        ,[UW Premium COVID19 Actual]
        ,[UW Premium COVID19 Score]
        ,[Issue Date]
        ,DATEPART(mm,'2023-09-30')  AS [UW Issue Month]
        ,DATEPART(qq,'2023-09-30')  AS [UW Issue Quarter]
        ,DATEPART(yy,'2023-09-30')  AS [UW Issue Year]
        ,[Departure Date]
        ,[UW Departure Month]
        ,[Return Date]
        ,[UW Return Month]
        ,[UW Return Year]
        ,[Product Code]
        ,[Finance Product Code]
        ,[Product Plan]
        ,[Policy Type]
        ,[Plan Type]
        ,[Trip Type]
        ,[Product Classification]
        ,[Outlet Channel]
        ,[Outlet Super Group]
        ,[UW Rating Group]
        ,[UW Product Indicator 2017]
        ,[UW Product Indicator 2021]
        ,[JV Description]
        ,[UW JV Description 2017]
        ,[UW JV Description 2021]
        ,[UW Latest Product]
        ,[UW Old Product]
        ,[Lead Time]
        ,[UW Lead Time]
        ,[Trip Length]
        ,[Trip Duration]
        ,[UW Trip Length]
        ,[Destination]
        ,[UW Region]
        ,[UW Destination 2017]
        ,[UW Destination 2021]
        ,[UW Destination 2021 Scale]
        ,[UW Destination 2021 Flex]
        ,[Traveller Count]
        ,[UW Traveller Count]
        ,[Oldest Charged DOB]
        ,[Oldest Charged Age]
        ,[UW Oldest Charged Age]
        ,[Gender]
        ,[UW Gender]
        ,[Highest EMC Score]
        ,[UW EMC Multiplier]
        ,[UW EMC Normalised]
        ,[EMC Traveller Count]
        ,[Charged Traveller Count]
        ,[UW EMC Band]
        ,[Excess]
        ,[UW Excess]
        ,[Has Cruise]
        ,[Sell Price Per Traveller]
        ,[UW Ticket Band]
    FROM [db-au-actuary].[cng].[Policy_Header_UW]
    WHERE [UW Rating Group] = 'GLM'
),

UW_Factors AS (
    SELECT *
    FROM [db-au-actuary].[cng].[UW_Factors]
),

UW_2020_JV_Increase AS (
    SELECT *
    FROM [db-au-actuary].[cng].[UWPremium_2020_JV_Increase]
),

--Join GLM factors / predict frequency and size 
Policy_Header_02 AS (
    SELECT
         hdr.*

        ,a0.[MED_Freq_2017] AS [MED Freq 2017 Base]
        ,b0.[MED_Freq_2017] AS [MED Freq 2017 Departure Month]
        ,c1.[MED_Freq_2017] AS [MED Freq 2017 Destination]
        ,d0.[MED_Freq_2017] AS [MED Freq 2017 EMC Band]
        ,e0.[MED_Freq_2017] AS [MED Freq 2017 Excess]
        ,f0.[MED_Freq_2017] AS [MED Freq 2017 Gender]
        ,g0.[MED_Freq_2017] AS [MED Freq 2017 Issue Month]
        ,h1.[MED_Freq_2017] AS [MED Freq 2017 JV Description]
        ,i0.[MED_Freq_2017] AS [MED Freq 2017 Latest Product]
        ,j0.[MED_Freq_2017] AS [MED Freq 2017 Lead Time]
        ,k0.[MED_Freq_2017] AS [MED Freq 2017 Oldest Charged Age]
        ,l1.[MED_Freq_2017] AS [MED Freq 2017 Product Indicator]
        ,m0.[MED_Freq_2017] AS [MED Freq 2017 Return Month]
        ,n0.[MED_Freq_2017] AS [MED Freq 2017 Return Year]
        ,o0.[MED_Freq_2017] AS [MED Freq 2017 Traveller Count]
        ,p0.[MED_Freq_2017] AS [MED Freq 2017 Trip Length]
        ,q1.[MED_Freq_2017] AS [MED Freq 2017 Scale]
        ,r1.[MED_Freq_2017] AS [MED Freq 2017 Large]

        ,a0.[MED_Freq_2021] AS [MED Freq 2021 Base]
        ,b0.[MED_Freq_2021] AS [MED Freq 2021 Departure Month]
        ,c2.[MED_Freq_2021] AS [MED Freq 2021 Destination]
        ,d0.[MED_Freq_2021] AS [MED Freq 2021 EMC Band]
        ,e0.[MED_Freq_2021] AS [MED Freq 2021 Excess]
        ,f0.[MED_Freq_2021] AS [MED Freq 2021 Gender]
        ,g0.[MED_Freq_2021] AS [MED Freq 2021 Issue Month]
        ,h2.[MED_Freq_2021] AS [MED Freq 2021 JV Description]
        ,i0.[MED_Freq_2021] AS [MED Freq 2021 Latest Product]
        ,j0.[MED_Freq_2021] AS [MED Freq 2021 Lead Time]
        ,k0.[MED_Freq_2021] AS [MED Freq 2021 Oldest Charged Age]
        ,l2.[MED_Freq_2021] AS [MED Freq 2021 Product Indicator]
        ,m0.[MED_Freq_2021] AS [MED Freq 2021 Return Month]
        ,n0.[MED_Freq_2021] AS [MED Freq 2021 Return Year]
        ,o0.[MED_Freq_2021] AS [MED Freq 2021 Traveller Count]
        ,p0.[MED_Freq_2021] AS [MED Freq 2021 Trip Length]
        ,q2.[MED_Freq_2021] AS [MED Freq 2021 Scale]
        ,r2.[MED_Freq_2021] AS [MED Freq 2021 Large]

        ,a0.[MED_Size_2017] AS [MED Size 2017 Base]
        ,b0.[MED_Size_2017] AS [MED Size 2017 Departure Month]
        ,c1.[MED_Size_2017] AS [MED Size 2017 Destination]
        ,d0.[MED_Size_2017] AS [MED Size 2017 EMC Band]
        ,e0.[MED_Size_2017] AS [MED Size 2017 Excess]
        ,f0.[MED_Size_2017] AS [MED Size 2017 Gender]
        ,g0.[MED_Size_2017] AS [MED Size 2017 Issue Month]
        ,h1.[MED_Size_2017] AS [MED Size 2017 JV Description]
        ,i0.[MED_Size_2017] AS [MED Size 2017 Latest Product]
        ,j0.[MED_Size_2017] AS [MED Size 2017 Lead Time]
        ,k0.[MED_Size_2017] AS [MED Size 2017 Oldest Charged Age]
        ,l1.[MED_Size_2017] AS [MED Size 2017 Product Indicator]
        ,m0.[MED_Size_2017] AS [MED Size 2017 Return Month]
        ,n0.[MED_Size_2017] AS [MED Size 2017 Return Year]
        ,o0.[MED_Size_2017] AS [MED Size 2017 Traveller Count]
        ,p0.[MED_Size_2017] AS [MED Size 2017 Trip Length]
        ,q1.[MED_Size_2017] AS [MED Size 2017 Scale]
        ,r1.[MED_Size_2017] AS [MED Size 2017 Large]

        ,a0.[MED_Size_2021] AS [MED Size 2021 Base]
        ,b0.[MED_Size_2021] AS [MED Size 2021 Departure Month]
        ,c2.[MED_Size_2021] AS [MED Size 2021 Destination]
        ,d0.[MED_Size_2021] AS [MED Size 2021 EMC Band]
        ,e0.[MED_Size_2021] AS [MED Size 2021 Excess]
        ,f0.[MED_Size_2021] AS [MED Size 2021 Gender]
        ,g0.[MED_Size_2021] AS [MED Size 2021 Issue Month]
        ,h2.[MED_Size_2021] AS [MED Size 2021 JV Description]
        ,i0.[MED_Size_2021] AS [MED Size 2021 Latest Product]
        ,j0.[MED_Size_2021] AS [MED Size 2021 Lead Time]
        ,k0.[MED_Size_2021] AS [MED Size 2021 Oldest Charged Age]
        ,l2.[MED_Size_2021] AS [MED Size 2021 Product Indicator]
        ,m0.[MED_Size_2021] AS [MED Size 2021 Return Month]
        ,n0.[MED_Size_2021] AS [MED Size 2021 Return Year]
        ,o0.[MED_Size_2021] AS [MED Size 2021 Traveller Count]
        ,p0.[MED_Size_2021] AS [MED Size 2021 Trip Length]
        ,q2.[MED_Size_2021] AS [MED Size 2021 Scale]
        ,r2.[MED_Size_2021] AS [MED Size 2021 Large]

        ,a0.[CAN_Freq_2017] AS [CAN Freq 2017 Base]
        ,b0.[CAN_Freq_2017] AS [CAN Freq 2017 Departure Month]
        ,c1.[CAN_Freq_2017] AS [CAN Freq 2017 Destination]
        ,d0.[CAN_Freq_2017] AS [CAN Freq 2017 EMC Band]
        ,e0.[CAN_Freq_2017] AS [CAN Freq 2017 Excess]
        ,f0.[CAN_Freq_2017] AS [CAN Freq 2017 Gender]
        ,g0.[CAN_Freq_2017] AS [CAN Freq 2017 Issue Month]
        ,h1.[CAN_Freq_2017] AS [CAN Freq 2017 JV Description]
        ,i0.[CAN_Freq_2017] AS [CAN Freq 2017 Latest Product]
        ,j0.[CAN_Freq_2017] AS [CAN Freq 2017 Lead Time]
        ,k0.[CAN_Freq_2017] AS [CAN Freq 2017 Oldest Charged Age]
        ,l1.[CAN_Freq_2017] AS [CAN Freq 2017 Product Indicator]
        ,m0.[CAN_Freq_2017] AS [CAN Freq 2017 Return Month]
        ,n0.[CAN_Freq_2017] AS [CAN Freq 2017 Return Year]
        ,o0.[CAN_Freq_2017] AS [CAN Freq 2017 Traveller Count]
        ,p0.[CAN_Freq_2017] AS [CAN Freq 2017 Trip Length]
        ,q1.[CAN_Freq_2017] AS [CAN Freq 2017 Scale]
        ,r1.[CAN_Freq_2017] AS [CAN Freq 2017 Large]

        ,a0.[CAN_Freq_2021] AS [CAN Freq 2021 Base]
        ,b0.[CAN_Freq_2021] AS [CAN Freq 2021 Departure Month]
        ,c2.[CAN_Freq_2021] AS [CAN Freq 2021 Destination]
        ,d0.[CAN_Freq_2021] AS [CAN Freq 2021 EMC Band]
        ,e0.[CAN_Freq_2021] AS [CAN Freq 2021 Excess]
        ,f0.[CAN_Freq_2021] AS [CAN Freq 2021 Gender]
        ,g0.[CAN_Freq_2021] AS [CAN Freq 2021 Issue Month]
        ,h2.[CAN_Freq_2021] AS [CAN Freq 2021 JV Description]
        ,i0.[CAN_Freq_2021] AS [CAN Freq 2021 Latest Product]
        ,j0.[CAN_Freq_2021] AS [CAN Freq 2021 Lead Time]
        ,k0.[CAN_Freq_2021] AS [CAN Freq 2021 Oldest Charged Age]
        ,l2.[CAN_Freq_2021] AS [CAN Freq 2021 Product Indicator]
        ,m0.[CAN_Freq_2021] AS [CAN Freq 2021 Return Month]
        ,n0.[CAN_Freq_2021] AS [CAN Freq 2021 Return Year]
        ,o0.[CAN_Freq_2021] AS [CAN Freq 2021 Traveller Count]
        ,p0.[CAN_Freq_2021] AS [CAN Freq 2021 Trip Length]
        ,q2.[CAN_Freq_2021] AS [CAN Freq 2021 Scale]
        ,r2.[CAN_Freq_2021] AS [CAN Freq 2021 Large]

        ,a0.[CAN_Size_2017] AS [CAN Size 2017 Base]
        ,b0.[CAN_Size_2017] AS [CAN Size 2017 Departure Month]
        ,c1.[CAN_Size_2017] AS [CAN Size 2017 Destination]
        ,d0.[CAN_Size_2017] AS [CAN Size 2017 EMC Band]
        ,e0.[CAN_Size_2017] AS [CAN Size 2017 Excess]
        ,f0.[CAN_Size_2017] AS [CAN Size 2017 Gender]
        ,g0.[CAN_Size_2017] AS [CAN Size 2017 Issue Month]
        ,h1.[CAN_Size_2017] AS [CAN Size 2017 JV Description]
        ,i0.[CAN_Size_2017] AS [CAN Size 2017 Latest Product]
        ,j0.[CAN_Size_2017] AS [CAN Size 2017 Lead Time]
        ,k0.[CAN_Size_2017] AS [CAN Size 2017 Oldest Charged Age]
        ,l1.[CAN_Size_2017] AS [CAN Size 2017 Product Indicator]
        ,m0.[CAN_Size_2017] AS [CAN Size 2017 Return Month]
        ,n0.[CAN_Size_2017] AS [CAN Size 2017 Return Year]
        ,o0.[CAN_Size_2017] AS [CAN Size 2017 Traveller Count]
        ,p0.[CAN_Size_2017] AS [CAN Size 2017 Trip Length]
        ,q1.[CAN_Size_2017] AS [CAN Size 2017 Scale]
        ,r1.[CAN_Size_2017] AS [CAN Size 2017 Large]

        ,a0.[CAN_Size_2021] AS [CAN Size 2021 Base]
        ,b0.[CAN_Size_2021] AS [CAN Size 2021 Departure Month]
        ,c2.[CAN_Size_2021] AS [CAN Size 2021 Destination]
        ,d0.[CAN_Size_2021] AS [CAN Size 2021 EMC Band]
        ,e0.[CAN_Size_2021] AS [CAN Size 2021 Excess]
        ,f0.[CAN_Size_2021] AS [CAN Size 2021 Gender]
        ,g0.[CAN_Size_2021] AS [CAN Size 2021 Issue Month]
        ,h2.[CAN_Size_2021] AS [CAN Size 2021 JV Description]
        ,i0.[CAN_Size_2021] AS [CAN Size 2021 Latest Product]
        ,j0.[CAN_Size_2021] AS [CAN Size 2021 Lead Time]
        ,k0.[CAN_Size_2021] AS [CAN Size 2021 Oldest Charged Age]
        ,l2.[CAN_Size_2021] AS [CAN Size 2021 Product Indicator]
        ,m0.[CAN_Size_2021] AS [CAN Size 2021 Return Month]
        ,n0.[CAN_Size_2021] AS [CAN Size 2021 Return Year]
        ,o0.[CAN_Size_2021] AS [CAN Size 2021 Traveller Count]
        ,p0.[CAN_Size_2021] AS [CAN Size 2021 Trip Length]
        ,q2.[CAN_Size_2021] AS [CAN Size 2021 Scale]
        ,r2.[CAN_Size_2021] AS [CAN Size 2021 Large]

        ,a0.[ADD_Freq_2017] AS [ADD Freq 2017 Base]
        ,b0.[ADD_Freq_2017] AS [ADD Freq 2017 Departure Month]
        ,c1.[ADD_Freq_2017] AS [ADD Freq 2017 Destination]
        ,d0.[ADD_Freq_2017] AS [ADD Freq 2017 EMC Band]
        ,e0.[ADD_Freq_2017] AS [ADD Freq 2017 Excess]
        ,f0.[ADD_Freq_2017] AS [ADD Freq 2017 Gender]
        ,g0.[ADD_Freq_2017] AS [ADD Freq 2017 Issue Month]
        ,h1.[ADD_Freq_2017] AS [ADD Freq 2017 JV Description]
        ,i0.[ADD_Freq_2017] AS [ADD Freq 2017 Latest Product]
        ,j0.[ADD_Freq_2017] AS [ADD Freq 2017 Lead Time]
        ,k0.[ADD_Freq_2017] AS [ADD Freq 2017 Oldest Charged Age]
        ,l1.[ADD_Freq_2017] AS [ADD Freq 2017 Product Indicator]
        ,m0.[ADD_Freq_2017] AS [ADD Freq 2017 Return Month]
        ,n0.[ADD_Freq_2017] AS [ADD Freq 2017 Return Year]
        ,o0.[ADD_Freq_2017] AS [ADD Freq 2017 Traveller Count]
        ,p0.[ADD_Freq_2017] AS [ADD Freq 2017 Trip Length]
        ,q1.[ADD_Freq_2017] AS [ADD Freq 2017 Scale]
        ,r1.[ADD_Freq_2017] AS [ADD Freq 2017 Large]

        ,a0.[ADD_Freq_2021] AS [ADD Freq 2021 Base]
        ,b0.[ADD_Freq_2021] AS [ADD Freq 2021 Departure Month]
        ,c2.[ADD_Freq_2021] AS [ADD Freq 2021 Destination]
        ,d0.[ADD_Freq_2021] AS [ADD Freq 2021 EMC Band]
        ,e0.[ADD_Freq_2021] AS [ADD Freq 2021 Excess]
        ,f0.[ADD_Freq_2021] AS [ADD Freq 2021 Gender]
        ,g0.[ADD_Freq_2021] AS [ADD Freq 2021 Issue Month]
        ,h2.[ADD_Freq_2021] AS [ADD Freq 2021 JV Description]
        ,i0.[ADD_Freq_2021] AS [ADD Freq 2021 Latest Product]
        ,j0.[ADD_Freq_2021] AS [ADD Freq 2021 Lead Time]
        ,k0.[ADD_Freq_2021] AS [ADD Freq 2021 Oldest Charged Age]
        ,l2.[ADD_Freq_2021] AS [ADD Freq 2021 Product Indicator]
        ,m0.[ADD_Freq_2021] AS [ADD Freq 2021 Return Month]
        ,n0.[ADD_Freq_2021] AS [ADD Freq 2021 Return Year]
        ,o0.[ADD_Freq_2021] AS [ADD Freq 2021 Traveller Count]
        ,p0.[ADD_Freq_2021] AS [ADD Freq 2021 Trip Length]
        ,q2.[ADD_Freq_2021] AS [ADD Freq 2021 Scale]
        ,r2.[ADD_Freq_2021] AS [ADD Freq 2021 Large]

        ,a0.[ADD_Size_2017] AS [ADD Size 2017 Base]
        ,b0.[ADD_Size_2017] AS [ADD Size 2017 Departure Month]
        ,c1.[ADD_Size_2017] AS [ADD Size 2017 Destination]
        ,d0.[ADD_Size_2017] AS [ADD Size 2017 EMC Band]
        ,e0.[ADD_Size_2017] AS [ADD Size 2017 Excess]
        ,f0.[ADD_Size_2017] AS [ADD Size 2017 Gender]
        ,g0.[ADD_Size_2017] AS [ADD Size 2017 Issue Month]
        ,h1.[ADD_Size_2017] AS [ADD Size 2017 JV Description]
        ,i0.[ADD_Size_2017] AS [ADD Size 2017 Latest Product]
        ,j0.[ADD_Size_2017] AS [ADD Size 2017 Lead Time]
        ,k0.[ADD_Size_2017] AS [ADD Size 2017 Oldest Charged Age]
        ,l1.[ADD_Size_2017] AS [ADD Size 2017 Product Indicator]
        ,m0.[ADD_Size_2017] AS [ADD Size 2017 Return Month]
        ,n0.[ADD_Size_2017] AS [ADD Size 2017 Return Year]
        ,o0.[ADD_Size_2017] AS [ADD Size 2017 Traveller Count]
        ,p0.[ADD_Size_2017] AS [ADD Size 2017 Trip Length]
        ,q1.[ADD_Size_2017] AS [ADD Size 2017 Scale]
        ,r1.[ADD_Size_2017] AS [ADD Size 2017 Large]

        ,a0.[ADD_Size_2021] AS [ADD Size 2021 Base]
        ,b0.[ADD_Size_2021] AS [ADD Size 2021 Departure Month]
        ,c2.[ADD_Size_2021] AS [ADD Size 2021 Destination]
        ,d0.[ADD_Size_2021] AS [ADD Size 2021 EMC Band]
        ,e0.[ADD_Size_2021] AS [ADD Size 2021 Excess]
        ,f0.[ADD_Size_2021] AS [ADD Size 2021 Gender]
        ,g0.[ADD_Size_2021] AS [ADD Size 2021 Issue Month]
        ,h2.[ADD_Size_2021] AS [ADD Size 2021 JV Description]
        ,i0.[ADD_Size_2021] AS [ADD Size 2021 Latest Product]
        ,j0.[ADD_Size_2021] AS [ADD Size 2021 Lead Time]
        ,k0.[ADD_Size_2021] AS [ADD Size 2021 Oldest Charged Age]
        ,l2.[ADD_Size_2021] AS [ADD Size 2021 Product Indicator]
        ,m0.[ADD_Size_2021] AS [ADD Size 2021 Return Month]
        ,n0.[ADD_Size_2021] AS [ADD Size 2021 Return Year]
        ,o0.[ADD_Size_2021] AS [ADD Size 2021 Traveller Count]
        ,p0.[ADD_Size_2021] AS [ADD Size 2021 Trip Length]
        ,q2.[ADD_Size_2021] AS [ADD Size 2021 Scale]
        ,r2.[ADD_Size_2021] AS [ADD Size 2021 Large]

        ,a0.[OTH_Freq_2017] AS [OTH Freq 2017 Base]
        ,b0.[OTH_Freq_2017] AS [OTH Freq 2017 Departure Month]
        ,c1.[OTH_Freq_2017] AS [OTH Freq 2017 Destination]
        ,d0.[OTH_Freq_2017] AS [OTH Freq 2017 EMC Band]
        ,e0.[OTH_Freq_2017] AS [OTH Freq 2017 Excess]
        ,f0.[OTH_Freq_2017] AS [OTH Freq 2017 Gender]
        ,g0.[OTH_Freq_2017] AS [OTH Freq 2017 Issue Month]
        ,h1.[OTH_Freq_2017] AS [OTH Freq 2017 JV Description]
        ,i0.[OTH_Freq_2017] AS [OTH Freq 2017 Latest Product]
        ,j0.[OTH_Freq_2017] AS [OTH Freq 2017 Lead Time]
        ,k0.[OTH_Freq_2017] AS [OTH Freq 2017 Oldest Charged Age]
        ,l1.[OTH_Freq_2017] AS [OTH Freq 2017 Product Indicator]
        ,m0.[OTH_Freq_2017] AS [OTH Freq 2017 Return Month]
        ,n0.[OTH_Freq_2017] AS [OTH Freq 2017 Return Year]
        ,o0.[OTH_Freq_2017] AS [OTH Freq 2017 Traveller Count]
        ,p0.[OTH_Freq_2017] AS [OTH Freq 2017 Trip Length]
        ,q1.[OTH_Freq_2017] AS [OTH Freq 2017 Scale]
        ,r1.[OTH_Freq_2017] AS [OTH Freq 2017 Large]

        ,a0.[OTH_Freq_2021] AS [OTH Freq 2021 Base]
        ,b0.[OTH_Freq_2021] AS [OTH Freq 2021 Departure Month]
        ,c2.[OTH_Freq_2021] AS [OTH Freq 2021 Destination]
        ,d0.[OTH_Freq_2021] AS [OTH Freq 2021 EMC Band]
        ,e0.[OTH_Freq_2021] AS [OTH Freq 2021 Excess]
        ,f0.[OTH_Freq_2021] AS [OTH Freq 2021 Gender]
        ,g0.[OTH_Freq_2021] AS [OTH Freq 2021 Issue Month]
        ,h2.[OTH_Freq_2021] AS [OTH Freq 2021 JV Description]
        ,i0.[OTH_Freq_2021] AS [OTH Freq 2021 Latest Product]
        ,j0.[OTH_Freq_2021] AS [OTH Freq 2021 Lead Time]
        ,k0.[OTH_Freq_2021] AS [OTH Freq 2021 Oldest Charged Age]
        ,l2.[OTH_Freq_2021] AS [OTH Freq 2021 Product Indicator]
        ,m0.[OTH_Freq_2021] AS [OTH Freq 2021 Return Month]
        ,n0.[OTH_Freq_2021] AS [OTH Freq 2021 Return Year]
        ,o0.[OTH_Freq_2021] AS [OTH Freq 2021 Traveller Count]
        ,p0.[OTH_Freq_2021] AS [OTH Freq 2021 Trip Length]
        ,q2.[OTH_Freq_2021] AS [OTH Freq 2021 Scale]
        ,r2.[OTH_Freq_2021] AS [OTH Freq 2021 Large]

        ,a0.[OTH_Size_2017] AS [OTH Size 2017 Base]
        ,b0.[OTH_Size_2017] AS [OTH Size 2017 Departure Month]
        ,c1.[OTH_Size_2017] AS [OTH Size 2017 Destination]
        ,d0.[OTH_Size_2017] AS [OTH Size 2017 EMC Band]
        ,e0.[OTH_Size_2017] AS [OTH Size 2017 Excess]
        ,f0.[OTH_Size_2017] AS [OTH Size 2017 Gender]
        ,g0.[OTH_Size_2017] AS [OTH Size 2017 Issue Month]
        ,h1.[OTH_Size_2017] AS [OTH Size 2017 JV Description]
        ,i0.[OTH_Size_2017] AS [OTH Size 2017 Latest Product]
        ,j0.[OTH_Size_2017] AS [OTH Size 2017 Lead Time]
        ,k0.[OTH_Size_2017] AS [OTH Size 2017 Oldest Charged Age]
        ,l1.[OTH_Size_2017] AS [OTH Size 2017 Product Indicator]
        ,m0.[OTH_Size_2017] AS [OTH Size 2017 Return Month]
        ,n0.[OTH_Size_2017] AS [OTH Size 2017 Return Year]
        ,o0.[OTH_Size_2017] AS [OTH Size 2017 Traveller Count]
        ,p0.[OTH_Size_2017] AS [OTH Size 2017 Trip Length]
        ,q1.[OTH_Size_2017] AS [OTH Size 2017 Scale]
        ,r1.[OTH_Size_2017] AS [OTH Size 2017 Large]

        ,a0.[OTH_Size_2021] AS [OTH Size 2021 Base]
        ,b0.[OTH_Size_2021] AS [OTH Size 2021 Departure Month]
        ,c2.[OTH_Size_2021] AS [OTH Size 2021 Destination]
        ,d0.[OTH_Size_2021] AS [OTH Size 2021 EMC Band]
        ,e0.[OTH_Size_2021] AS [OTH Size 2021 Excess]
        ,f0.[OTH_Size_2021] AS [OTH Size 2021 Gender]
        ,g0.[OTH_Size_2021] AS [OTH Size 2021 Issue Month]
        ,h2.[OTH_Size_2021] AS [OTH Size 2021 JV Description]
        ,i0.[OTH_Size_2021] AS [OTH Size 2021 Latest Product]
        ,j0.[OTH_Size_2021] AS [OTH Size 2021 Lead Time]
        ,k0.[OTH_Size_2021] AS [OTH Size 2021 Oldest Charged Age]
        ,l2.[OTH_Size_2021] AS [OTH Size 2021 Product Indicator]
        ,m0.[OTH_Size_2021] AS [OTH Size 2021 Return Month]
        ,n0.[OTH_Size_2021] AS [OTH Size 2021 Return Year]
        ,o0.[OTH_Size_2021] AS [OTH Size 2021 Traveller Count]
        ,p0.[OTH_Size_2021] AS [OTH Size 2021 Trip Length]
        ,q2.[OTH_Size_2021] AS [OTH Size 2021 Scale]
        ,r2.[OTH_Size_2021] AS [OTH Size 2021 Large]

        ,a0.[DOM_Freq_2017] AS [DOM Freq 2017 Base]
        ,b0.[DOM_Freq_2017] AS [DOM Freq 2017 Departure Month]
        ,c1.[DOM_Freq_2017] AS [DOM Freq 2017 Destination]
        ,d0.[DOM_Freq_2017] AS [DOM Freq 2017 EMC Band]
        ,e0.[DOM_Freq_2017] AS [DOM Freq 2017 Excess]
        ,f0.[DOM_Freq_2017] AS [DOM Freq 2017 Gender]
        ,g0.[DOM_Freq_2017] AS [DOM Freq 2017 Issue Month]
        ,h1.[DOM_Freq_2017] AS [DOM Freq 2017 JV Description]
        ,i0.[DOM_Freq_2017] AS [DOM Freq 2017 Latest Product]
        ,j0.[DOM_Freq_2017] AS [DOM Freq 2017 Lead Time]
        ,k0.[DOM_Freq_2017] AS [DOM Freq 2017 Oldest Charged Age]
        ,l1.[DOM_Freq_2017] AS [DOM Freq 2017 Product Indicator]
        ,m0.[DOM_Freq_2017] AS [DOM Freq 2017 Return Month]
        ,n0.[DOM_Freq_2017] AS [DOM Freq 2017 Return Year]
        ,o0.[DOM_Freq_2017] AS [DOM Freq 2017 Traveller Count]
        ,p0.[DOM_Freq_2017] AS [DOM Freq 2017 Trip Length]
        ,q1.[DOM_Freq_2017] AS [DOM Freq 2017 Scale]
        ,r1.[DOM_Freq_2017] AS [DOM Freq 2017 Large]

        ,a0.[DOM_Freq_2021] AS [DOM Freq 2021 Base]
        ,b0.[DOM_Freq_2021] AS [DOM Freq 2021 Departure Month]
        ,c2.[DOM_Freq_2021] AS [DOM Freq 2021 Destination]
        ,d0.[DOM_Freq_2021] AS [DOM Freq 2021 EMC Band]
        ,e0.[DOM_Freq_2021] AS [DOM Freq 2021 Excess]
        ,f0.[DOM_Freq_2021] AS [DOM Freq 2021 Gender]
        ,g0.[DOM_Freq_2021] AS [DOM Freq 2021 Issue Month]
        ,h2.[DOM_Freq_2021] AS [DOM Freq 2021 JV Description]
        ,i0.[DOM_Freq_2021] AS [DOM Freq 2021 Latest Product]
        ,j0.[DOM_Freq_2021] AS [DOM Freq 2021 Lead Time]
        ,k0.[DOM_Freq_2021] AS [DOM Freq 2021 Oldest Charged Age]
        ,l2.[DOM_Freq_2021] AS [DOM Freq 2021 Product Indicator]
        ,m0.[DOM_Freq_2021] AS [DOM Freq 2021 Return Month]
        ,n0.[DOM_Freq_2021] AS [DOM Freq 2021 Return Year]
        ,o0.[DOM_Freq_2021] AS [DOM Freq 2021 Traveller Count]
        ,p0.[DOM_Freq_2021] AS [DOM Freq 2021 Trip Length]
        ,q2.[DOM_Freq_2021] AS [DOM Freq 2021 Scale]
        ,r2.[DOM_Freq_2021] AS [DOM Freq 2021 Large]

        ,a0.[DOM_Size_2017] AS [DOM Size 2017 Base]
        ,b0.[DOM_Size_2017] AS [DOM Size 2017 Departure Month]
        ,c1.[DOM_Size_2017] AS [DOM Size 2017 Destination]
        ,d0.[DOM_Size_2017] AS [DOM Size 2017 EMC Band]
        ,e0.[DOM_Size_2017] AS [DOM Size 2017 Excess]
        ,f0.[DOM_Size_2017] AS [DOM Size 2017 Gender]
        ,g0.[DOM_Size_2017] AS [DOM Size 2017 Issue Month]
        ,h1.[DOM_Size_2017] AS [DOM Size 2017 JV Description]
        ,i0.[DOM_Size_2017] AS [DOM Size 2017 Latest Product]
        ,j0.[DOM_Size_2017] AS [DOM Size 2017 Lead Time]
        ,k0.[DOM_Size_2017] AS [DOM Size 2017 Oldest Charged Age]
        ,l1.[DOM_Size_2017] AS [DOM Size 2017 Product Indicator]
        ,m0.[DOM_Size_2017] AS [DOM Size 2017 Return Month]
        ,n0.[DOM_Size_2017] AS [DOM Size 2017 Return Year]
        ,o0.[DOM_Size_2017] AS [DOM Size 2017 Traveller Count]
        ,p0.[DOM_Size_2017] AS [DOM Size 2017 Trip Length]
        ,q1.[DOM_Size_2017] AS [DOM Size 2017 Scale]
        ,r1.[DOM_Size_2017] AS [DOM Size 2017 Large]

        ,a0.[DOM_Size_2021] AS [DOM Size 2021 Base]
        ,b0.[DOM_Size_2021] AS [DOM Size 2021 Departure Month]
        ,c2.[DOM_Size_2021] AS [DOM Size 2021 Destination]
        ,d0.[DOM_Size_2021] AS [DOM Size 2021 EMC Band]
        ,e0.[DOM_Size_2021] AS [DOM Size 2021 Excess]
        ,f0.[DOM_Size_2021] AS [DOM Size 2021 Gender]
        ,g0.[DOM_Size_2021] AS [DOM Size 2021 Issue Month]
        ,h2.[DOM_Size_2021] AS [DOM Size 2021 JV Description]
        ,i0.[DOM_Size_2021] AS [DOM Size 2021 Latest Product]
        ,j0.[DOM_Size_2021] AS [DOM Size 2021 Lead Time]
        ,k0.[DOM_Size_2021] AS [DOM Size 2021 Oldest Charged Age]
        ,l2.[DOM_Size_2021] AS [DOM Size 2021 Product Indicator]
        ,m0.[DOM_Size_2021] AS [DOM Size 2021 Return Month]
        ,n0.[DOM_Size_2021] AS [DOM Size 2021 Return Year]
        ,o0.[DOM_Size_2021] AS [DOM Size 2021 Traveller Count]
        ,p0.[DOM_Size_2021] AS [DOM Size 2021 Trip Length]
        ,q2.[DOM_Size_2021] AS [DOM Size 2021 Scale]
        ,r2.[DOM_Size_2021] AS [DOM Size 2021 Large]

        ,a0.[NZL_Freq_2017] AS [NZL Freq 2017 Base]
        ,b0.[NZL_Freq_2017] AS [NZL Freq 2017 Departure Month]
        ,c1.[NZL_Freq_2017] AS [NZL Freq 2017 Destination]
        ,d0.[NZL_Freq_2017] AS [NZL Freq 2017 EMC Band]
        ,e0.[NZL_Freq_2017] AS [NZL Freq 2017 Excess]
        ,f0.[NZL_Freq_2017] AS [NZL Freq 2017 Gender]
        ,g0.[NZL_Freq_2017] AS [NZL Freq 2017 Issue Month]
        ,h1.[NZL_Freq_2017] AS [NZL Freq 2017 JV Description]
        ,i0.[NZL_Freq_2017] AS [NZL Freq 2017 Latest Product]
        ,j0.[NZL_Freq_2017] AS [NZL Freq 2017 Lead Time]
        ,k0.[NZL_Freq_2017] AS [NZL Freq 2017 Oldest Charged Age]
        ,l1.[NZL_Freq_2017] AS [NZL Freq 2017 Product Indicator]
        ,m0.[NZL_Freq_2017] AS [NZL Freq 2017 Return Month]
        ,n0.[NZL_Freq_2017] AS [NZL Freq 2017 Return Year]
        ,o0.[NZL_Freq_2017] AS [NZL Freq 2017 Traveller Count]
        ,p0.[NZL_Freq_2017] AS [NZL Freq 2017 Trip Length]
        ,q1.[NZL_Freq_2017] AS [NZL Freq 2017 Scale]
        ,r1.[NZL_Freq_2017] AS [NZL Freq 2017 Large]

        ,a0.[NZL_Freq_2021] AS [NZL Freq 2021 Base]
        ,b0.[NZL_Freq_2021] AS [NZL Freq 2021 Departure Month]
        ,c2.[NZL_Freq_2021] AS [NZL Freq 2021 Destination]
        ,d0.[NZL_Freq_2021] AS [NZL Freq 2021 EMC Band]
        ,e0.[NZL_Freq_2021] AS [NZL Freq 2021 Excess]
        ,f0.[NZL_Freq_2021] AS [NZL Freq 2021 Gender]
        ,g0.[NZL_Freq_2021] AS [NZL Freq 2021 Issue Month]
        ,h2.[NZL_Freq_2021] AS [NZL Freq 2021 JV Description]
        ,i0.[NZL_Freq_2021] AS [NZL Freq 2021 Latest Product]
        ,j0.[NZL_Freq_2021] AS [NZL Freq 2021 Lead Time]
        ,k0.[NZL_Freq_2021] AS [NZL Freq 2021 Oldest Charged Age]
        ,l2.[NZL_Freq_2021] AS [NZL Freq 2021 Product Indicator]
        ,m0.[NZL_Freq_2021] AS [NZL Freq 2021 Return Month]
        ,n0.[NZL_Freq_2021] AS [NZL Freq 2021 Return Year]
        ,o0.[NZL_Freq_2021] AS [NZL Freq 2021 Traveller Count]
        ,p0.[NZL_Freq_2021] AS [NZL Freq 2021 Trip Length]
        ,q2.[NZL_Freq_2021] AS [NZL Freq 2021 Scale]
        ,r2.[NZL_Freq_2021] AS [NZL Freq 2021 Large]

        ,a0.[NZL_Size_2017] AS [NZL Size 2017 Base]
        ,b0.[NZL_Size_2017] AS [NZL Size 2017 Departure Month]
        ,c1.[NZL_Size_2017] AS [NZL Size 2017 Destination]
        ,d0.[NZL_Size_2017] AS [NZL Size 2017 EMC Band]
        ,e0.[NZL_Size_2017] AS [NZL Size 2017 Excess]
        ,f0.[NZL_Size_2017] AS [NZL Size 2017 Gender]
        ,g0.[NZL_Size_2017] AS [NZL Size 2017 Issue Month]
        ,h1.[NZL_Size_2017] AS [NZL Size 2017 JV Description]
        ,i0.[NZL_Size_2017] AS [NZL Size 2017 Latest Product]
        ,j0.[NZL_Size_2017] AS [NZL Size 2017 Lead Time]
        ,k0.[NZL_Size_2017] AS [NZL Size 2017 Oldest Charged Age]
        ,l1.[NZL_Size_2017] AS [NZL Size 2017 Product Indicator]
        ,m0.[NZL_Size_2017] AS [NZL Size 2017 Return Month]
        ,n0.[NZL_Size_2017] AS [NZL Size 2017 Return Year]
        ,o0.[NZL_Size_2017] AS [NZL Size 2017 Traveller Count]
        ,p0.[NZL_Size_2017] AS [NZL Size 2017 Trip Length]
        ,q1.[NZL_Size_2017] AS [NZL Size 2017 Scale]
        ,r1.[NZL_Size_2017] AS [NZL Size 2017 Large]

        ,a0.[NZL_Size_2021] AS [NZL Size 2021 Base]
        ,b0.[NZL_Size_2021] AS [NZL Size 2021 Departure Month]
        ,c2.[NZL_Size_2021] AS [NZL Size 2021 Destination]
        ,d0.[NZL_Size_2021] AS [NZL Size 2021 EMC Band]
        ,e0.[NZL_Size_2021] AS [NZL Size 2021 Excess]
        ,f0.[NZL_Size_2021] AS [NZL Size 2021 Gender]
        ,g0.[NZL_Size_2021] AS [NZL Size 2021 Issue Month]
        ,h2.[NZL_Size_2021] AS [NZL Size 2021 JV Description]
        ,i0.[NZL_Size_2021] AS [NZL Size 2021 Latest Product]
        ,j0.[NZL_Size_2021] AS [NZL Size 2021 Lead Time]
        ,k0.[NZL_Size_2021] AS [NZL Size 2021 Oldest Charged Age]
        ,l2.[NZL_Size_2021] AS [NZL Size 2021 Product Indicator]
        ,m0.[NZL_Size_2021] AS [NZL Size 2021 Return Month]
        ,n0.[NZL_Size_2021] AS [NZL Size 2021 Return Year]
        ,o0.[NZL_Size_2021] AS [NZL Size 2021 Traveller Count]
        ,p0.[NZL_Size_2021] AS [NZL Size 2021 Trip Length]
        ,q2.[NZL_Size_2021] AS [NZL Size 2021 Scale]
        ,r2.[NZL_Size_2021] AS [NZL Size 2021 Large]

        ,EXP(a0.[MED_Freq_2017] + b0.[MED_Freq_2017] + c1.[MED_Freq_2017] + d0.[MED_Freq_2017] + e0.[MED_Freq_2017] + f0.[MED_Freq_2017] + g0.[MED_Freq_2017] + h1.[MED_Freq_2017] + i0.[MED_Freq_2017] + j0.[MED_Freq_2017] + k0.[MED_Freq_2017] + l1.[MED_Freq_2017] + m0.[MED_Freq_2017] + n0.[MED_Freq_2017] + o0.[MED_Freq_2017] + p0.[MED_Freq_2017]) * q1.[MED_Freq_2017] * r1.[MED_Freq_2017] AS [MED Freq 2017]
        ,EXP(a0.[MED_Freq_2021] + b0.[MED_Freq_2021] + c2.[MED_Freq_2021] + d0.[MED_Freq_2021] + e0.[MED_Freq_2021] + f0.[MED_Freq_2021] + g0.[MED_Freq_2021] + h2.[MED_Freq_2021] + i0.[MED_Freq_2021] + j0.[MED_Freq_2021] + k0.[MED_Freq_2021] + l2.[MED_Freq_2021] + m0.[MED_Freq_2021] + n0.[MED_Freq_2021] + o0.[MED_Freq_2021] + p0.[MED_Freq_2021]) * q2.[MED_Freq_2021] * r2.[MED_Freq_2021] AS [MED Freq 2021]
        ,EXP(a0.[MED_Size_2017] + b0.[MED_Size_2017] + c1.[MED_Size_2017] + d0.[MED_Size_2017] + e0.[MED_Size_2017] + f0.[MED_Size_2017] + g0.[MED_Size_2017] + h1.[MED_Size_2017] + i0.[MED_Size_2017] + j0.[MED_Size_2017] + k0.[MED_Size_2017] + l1.[MED_Size_2017] + m0.[MED_Size_2017] + n0.[MED_Size_2017] + o0.[MED_Size_2017] + p0.[MED_Size_2017]) * q1.[MED_Size_2017] * r1.[MED_Size_2017] AS [MED Size 2017]
        ,EXP(a0.[MED_Size_2021] + b0.[MED_Size_2021] + c2.[MED_Size_2021] + d0.[MED_Size_2021] + e0.[MED_Size_2021] + f0.[MED_Size_2021] + g0.[MED_Size_2021] + h2.[MED_Size_2021] + i0.[MED_Size_2021] + j0.[MED_Size_2021] + k0.[MED_Size_2021] + l2.[MED_Size_2021] + m0.[MED_Size_2021] + n0.[MED_Size_2021] + o0.[MED_Size_2021] + p0.[MED_Size_2021]) * q2.[MED_Size_2021] * r2.[MED_Size_2021] AS [MED Size 2021]
        ,EXP(a0.[CAN_Freq_2017] + b0.[CAN_Freq_2017] + c1.[CAN_Freq_2017] + d0.[CAN_Freq_2017] + e0.[CAN_Freq_2017] + f0.[CAN_Freq_2017] + g0.[CAN_Freq_2017] + h1.[CAN_Freq_2017] + i0.[CAN_Freq_2017] + j0.[CAN_Freq_2017] + k0.[CAN_Freq_2017] + l1.[CAN_Freq_2017] + m0.[CAN_Freq_2017] + n0.[CAN_Freq_2017] + o0.[CAN_Freq_2017] + p0.[CAN_Freq_2017]) * q1.[CAN_Freq_2017] * r1.[CAN_Freq_2017] AS [CAN Freq 2017]
        ,EXP(a0.[CAN_Freq_2021] + b0.[CAN_Freq_2021] + c2.[CAN_Freq_2021] + d0.[CAN_Freq_2021] + e0.[CAN_Freq_2021] + f0.[CAN_Freq_2021] + g0.[CAN_Freq_2021] + h2.[CAN_Freq_2021] + i0.[CAN_Freq_2021] + j0.[CAN_Freq_2021] + k0.[CAN_Freq_2021] + l2.[CAN_Freq_2021] + m0.[CAN_Freq_2021] + n0.[CAN_Freq_2021] + o0.[CAN_Freq_2021] + p0.[CAN_Freq_2021]) * q2.[CAN_Freq_2021] * r2.[CAN_Freq_2021] AS [CAN Freq 2021]
        ,EXP(a0.[CAN_Size_2017] + b0.[CAN_Size_2017] + c1.[CAN_Size_2017] + d0.[CAN_Size_2017] + e0.[CAN_Size_2017] + f0.[CAN_Size_2017] + g0.[CAN_Size_2017] + h1.[CAN_Size_2017] + i0.[CAN_Size_2017] + j0.[CAN_Size_2017] + k0.[CAN_Size_2017] + l1.[CAN_Size_2017] + m0.[CAN_Size_2017] + n0.[CAN_Size_2017] + o0.[CAN_Size_2017] + p0.[CAN_Size_2017]) * q1.[CAN_Size_2017] * r1.[CAN_Size_2017] AS [CAN Size 2017]
        ,EXP(a0.[CAN_Size_2021] + b0.[CAN_Size_2021] + c2.[CAN_Size_2021] + d0.[CAN_Size_2021] + e0.[CAN_Size_2021] + f0.[CAN_Size_2021] + g0.[CAN_Size_2021] + h2.[CAN_Size_2021] + i0.[CAN_Size_2021] + j0.[CAN_Size_2021] + k0.[CAN_Size_2021] + l2.[CAN_Size_2021] + m0.[CAN_Size_2021] + n0.[CAN_Size_2021] + o0.[CAN_Size_2021] + p0.[CAN_Size_2021]) * q2.[CAN_Size_2021] * r2.[CAN_Size_2021] AS [CAN Size 2021]
        ,EXP(a0.[ADD_Freq_2017] + b0.[ADD_Freq_2017] + c1.[ADD_Freq_2017] + d0.[ADD_Freq_2017] + e0.[ADD_Freq_2017] + f0.[ADD_Freq_2017] + g0.[ADD_Freq_2017] + h1.[ADD_Freq_2017] + i0.[ADD_Freq_2017] + j0.[ADD_Freq_2017] + k0.[ADD_Freq_2017] + l1.[ADD_Freq_2017] + m0.[ADD_Freq_2017] + n0.[ADD_Freq_2017] + o0.[ADD_Freq_2017] + p0.[ADD_Freq_2017]) * q1.[ADD_Freq_2017] * r1.[ADD_Freq_2017] AS [ADD Freq 2017]
        ,EXP(a0.[ADD_Freq_2021] + b0.[ADD_Freq_2021] + c2.[ADD_Freq_2021] + d0.[ADD_Freq_2021] + e0.[ADD_Freq_2021] + f0.[ADD_Freq_2021] + g0.[ADD_Freq_2021] + h2.[ADD_Freq_2021] + i0.[ADD_Freq_2021] + j0.[ADD_Freq_2021] + k0.[ADD_Freq_2021] + l2.[ADD_Freq_2021] + m0.[ADD_Freq_2021] + n0.[ADD_Freq_2021] + o0.[ADD_Freq_2021] + p0.[ADD_Freq_2021]) * q2.[ADD_Freq_2021] * r2.[ADD_Freq_2021] AS [ADD Freq 2021]
        ,EXP(a0.[ADD_Size_2017] + b0.[ADD_Size_2017] + c1.[ADD_Size_2017] + d0.[ADD_Size_2017] + e0.[ADD_Size_2017] + f0.[ADD_Size_2017] + g0.[ADD_Size_2017] + h1.[ADD_Size_2017] + i0.[ADD_Size_2017] + j0.[ADD_Size_2017] + k0.[ADD_Size_2017] + l1.[ADD_Size_2017] + m0.[ADD_Size_2017] + n0.[ADD_Size_2017] + o0.[ADD_Size_2017] + p0.[ADD_Size_2017]) * q1.[ADD_Size_2017] * r1.[ADD_Size_2017] AS [ADD Size 2017]
        ,EXP(a0.[ADD_Size_2021] + b0.[ADD_Size_2021] + c2.[ADD_Size_2021] + d0.[ADD_Size_2021] + e0.[ADD_Size_2021] + f0.[ADD_Size_2021] + g0.[ADD_Size_2021] + h2.[ADD_Size_2021] + i0.[ADD_Size_2021] + j0.[ADD_Size_2021] + k0.[ADD_Size_2021] + l2.[ADD_Size_2021] + m0.[ADD_Size_2021] + n0.[ADD_Size_2021] + o0.[ADD_Size_2021] + p0.[ADD_Size_2021]) * q2.[ADD_Size_2021] * r2.[ADD_Size_2021] AS [ADD Size 2021]
        ,EXP(a0.[OTH_Freq_2017] + b0.[OTH_Freq_2017] + c1.[OTH_Freq_2017] + d0.[OTH_Freq_2017] + e0.[OTH_Freq_2017] + f0.[OTH_Freq_2017] + g0.[OTH_Freq_2017] + h1.[OTH_Freq_2017] + i0.[OTH_Freq_2017] + j0.[OTH_Freq_2017] + k0.[OTH_Freq_2017] + l1.[OTH_Freq_2017] + m0.[OTH_Freq_2017] + n0.[OTH_Freq_2017] + o0.[OTH_Freq_2017] + p0.[OTH_Freq_2017]) * q1.[OTH_Freq_2017] * r1.[OTH_Freq_2017] AS [OTH Freq 2017]
        ,EXP(a0.[OTH_Freq_2021] + b0.[OTH_Freq_2021] + c2.[OTH_Freq_2021] + d0.[OTH_Freq_2021] + e0.[OTH_Freq_2021] + f0.[OTH_Freq_2021] + g0.[OTH_Freq_2021] + h2.[OTH_Freq_2021] + i0.[OTH_Freq_2021] + j0.[OTH_Freq_2021] + k0.[OTH_Freq_2021] + l2.[OTH_Freq_2021] + m0.[OTH_Freq_2021] + n0.[OTH_Freq_2021] + o0.[OTH_Freq_2021] + p0.[OTH_Freq_2021]) * q2.[OTH_Freq_2021] * r2.[OTH_Freq_2021] AS [OTH Freq 2021]
        ,EXP(a0.[OTH_Size_2017] + b0.[OTH_Size_2017] + c1.[OTH_Size_2017] + d0.[OTH_Size_2017] + e0.[OTH_Size_2017] + f0.[OTH_Size_2017] + g0.[OTH_Size_2017] + h1.[OTH_Size_2017] + i0.[OTH_Size_2017] + j0.[OTH_Size_2017] + k0.[OTH_Size_2017] + l1.[OTH_Size_2017] + m0.[OTH_Size_2017] + n0.[OTH_Size_2017] + o0.[OTH_Size_2017] + p0.[OTH_Size_2017]) * q1.[OTH_Size_2017] * r1.[OTH_Size_2017] AS [OTH Size 2017]
        ,EXP(a0.[OTH_Size_2021] + b0.[OTH_Size_2021] + c2.[OTH_Size_2021] + d0.[OTH_Size_2021] + e0.[OTH_Size_2021] + f0.[OTH_Size_2021] + g0.[OTH_Size_2021] + h2.[OTH_Size_2021] + i0.[OTH_Size_2021] + j0.[OTH_Size_2021] + k0.[OTH_Size_2021] + l2.[OTH_Size_2021] + m0.[OTH_Size_2021] + n0.[OTH_Size_2021] + o0.[OTH_Size_2021] + p0.[OTH_Size_2021]) * q2.[OTH_Size_2021] * r2.[OTH_Size_2021] AS [OTH Size 2021]
        ,EXP(a0.[DOM_Freq_2017] + b0.[DOM_Freq_2017] + c1.[DOM_Freq_2017] + d0.[DOM_Freq_2017] + e0.[DOM_Freq_2017] + f0.[DOM_Freq_2017] + g0.[DOM_Freq_2017] + h1.[DOM_Freq_2017] + i0.[DOM_Freq_2017] + j0.[DOM_Freq_2017] + k0.[DOM_Freq_2017] + l1.[DOM_Freq_2017] + m0.[DOM_Freq_2017] + n0.[DOM_Freq_2017] + o0.[DOM_Freq_2017] + p0.[DOM_Freq_2017]) * q1.[DOM_Freq_2017] * r1.[DOM_Freq_2017] AS [DOM Freq 2017]
        ,EXP(a0.[DOM_Freq_2021] + b0.[DOM_Freq_2021] + c2.[DOM_Freq_2021] + d0.[DOM_Freq_2021] + e0.[DOM_Freq_2021] + f0.[DOM_Freq_2021] + g0.[DOM_Freq_2021] + h2.[DOM_Freq_2021] + i0.[DOM_Freq_2021] + j0.[DOM_Freq_2021] + k0.[DOM_Freq_2021] + l2.[DOM_Freq_2021] + m0.[DOM_Freq_2021] + n0.[DOM_Freq_2021] + o0.[DOM_Freq_2021] + p0.[DOM_Freq_2021]) * q2.[DOM_Freq_2021] * r2.[DOM_Freq_2021] AS [DOM Freq 2021]
        ,EXP(a0.[DOM_Size_2017] + b0.[DOM_Size_2017] + c1.[DOM_Size_2017] + d0.[DOM_Size_2017] + e0.[DOM_Size_2017] + f0.[DOM_Size_2017] + g0.[DOM_Size_2017] + h1.[DOM_Size_2017] + i0.[DOM_Size_2017] + j0.[DOM_Size_2017] + k0.[DOM_Size_2017] + l1.[DOM_Size_2017] + m0.[DOM_Size_2017] + n0.[DOM_Size_2017] + o0.[DOM_Size_2017] + p0.[DOM_Size_2017]) * q1.[DOM_Size_2017] * r1.[DOM_Size_2017] AS [DOM Size 2017]
        ,EXP(a0.[DOM_Size_2021] + b0.[DOM_Size_2021] + c2.[DOM_Size_2021] + d0.[DOM_Size_2021] + e0.[DOM_Size_2021] + f0.[DOM_Size_2021] + g0.[DOM_Size_2021] + h2.[DOM_Size_2021] + i0.[DOM_Size_2021] + j0.[DOM_Size_2021] + k0.[DOM_Size_2021] + l2.[DOM_Size_2021] + m0.[DOM_Size_2021] + n0.[DOM_Size_2021] + o0.[DOM_Size_2021] + p0.[DOM_Size_2021]) * q2.[DOM_Size_2021] * r2.[DOM_Size_2021] AS [DOM Size 2021]
        ,EXP(a0.[NZL_Freq_2017] + b0.[NZL_Freq_2017] + c1.[NZL_Freq_2017] + d0.[NZL_Freq_2017] + e0.[NZL_Freq_2017] + f0.[NZL_Freq_2017] + g0.[NZL_Freq_2017] + h1.[NZL_Freq_2017] + i0.[NZL_Freq_2017] + j0.[NZL_Freq_2017] + k0.[NZL_Freq_2017] + l1.[NZL_Freq_2017] + m0.[NZL_Freq_2017] + n0.[NZL_Freq_2017] + o0.[NZL_Freq_2017] + p0.[NZL_Freq_2017]) * q1.[NZL_Freq_2017] * r1.[NZL_Freq_2017] AS [NZL Freq 2017]
        ,EXP(a0.[NZL_Freq_2021] + b0.[NZL_Freq_2021] + c2.[NZL_Freq_2021] + d0.[NZL_Freq_2021] + e0.[NZL_Freq_2021] + f0.[NZL_Freq_2021] + g0.[NZL_Freq_2021] + h2.[NZL_Freq_2021] + i0.[NZL_Freq_2021] + j0.[NZL_Freq_2021] + k0.[NZL_Freq_2021] + l2.[NZL_Freq_2021] + m0.[NZL_Freq_2021] + n0.[NZL_Freq_2021] + o0.[NZL_Freq_2021] + p0.[NZL_Freq_2021]) * q2.[NZL_Freq_2021] * r2.[NZL_Freq_2021] AS [NZL Freq 2021]
        ,EXP(a0.[NZL_Size_2017] + b0.[NZL_Size_2017] + c1.[NZL_Size_2017] + d0.[NZL_Size_2017] + e0.[NZL_Size_2017] + f0.[NZL_Size_2017] + g0.[NZL_Size_2017] + h1.[NZL_Size_2017] + i0.[NZL_Size_2017] + j0.[NZL_Size_2017] + k0.[NZL_Size_2017] + l1.[NZL_Size_2017] + m0.[NZL_Size_2017] + n0.[NZL_Size_2017] + o0.[NZL_Size_2017] + p0.[NZL_Size_2017]) * q1.[NZL_Size_2017] * r1.[NZL_Size_2017] AS [NZL Size 2017]
        ,EXP(a0.[NZL_Size_2021] + b0.[NZL_Size_2021] + c2.[NZL_Size_2021] + d0.[NZL_Size_2021] + e0.[NZL_Size_2021] + f0.[NZL_Size_2021] + g0.[NZL_Size_2021] + h2.[NZL_Size_2021] + i0.[NZL_Size_2021] + j0.[NZL_Size_2021] + k0.[NZL_Size_2021] + l2.[NZL_Size_2021] + m0.[NZL_Size_2021] + n0.[NZL_Size_2021] + o0.[NZL_Size_2021] + p0.[NZL_Size_2021]) * q2.[NZL_Size_2021] * r2.[NZL_Size_2021] AS [NZL Size 2021]

    FROM Policy_Header_01   hdr
    LEFT JOIN UW_Factors    a0  ON a0.[Factor] = 'Base'
    LEFT JOIN UW_Factors    b0  ON b0.[Factor] = 'Departure Month'    AND b0.[Level] = hdr.[UW Departure Month]
    LEFT JOIN UW_Factors    c1  ON c1.[Factor] = 'Destination'        AND c1.[Level] = hdr.[UW Destination 2017]
    LEFT JOIN UW_Factors    c2  ON c2.[Factor] = 'Destination'        AND c2.[Level] = hdr.[UW Destination 2021]
    LEFT JOIN UW_Factors    d0  ON d0.[Factor] = 'EMC Band'           AND d0.[Level] = hdr.[UW EMC Band]
    LEFT JOIN UW_Factors    e0  ON e0.[Factor] = 'Excess'             AND e0.[Level] = hdr.[UW Excess]
    LEFT JOIN UW_Factors    f0  ON f0.[Factor] = 'Gender'             AND f0.[Level] = hdr.[UW Gender]
    LEFT JOIN UW_Factors    g0  ON g0.[Factor] = 'Issue Month'        AND g0.[Level] = hdr.[UW Issue Month]
    LEFT JOIN UW_Factors    h1  ON h1.[Factor] = 'JV Description'     AND h1.[Level] = hdr.[UW JV Description 2017]
    LEFT JOIN UW_Factors    h2  ON h2.[Factor] = 'JV Description'     AND h2.[Level] = hdr.[UW JV Description 2021]
    LEFT JOIN UW_Factors    i0  ON i0.[Factor] = 'Latest Product'     AND i0.[Level] = hdr.[UW Latest Product]
    LEFT JOIN UW_Factors    j0  ON j0.[Factor] = 'Lead Time'          AND j0.[Level] = hdr.[UW Lead Time]
    LEFT JOIN UW_Factors    k0  ON k0.[Factor] = 'Oldest Charged Age' AND k0.[Level] = hdr.[UW Oldest Charged Age]
    LEFT JOIN UW_Factors    l1  ON l1.[Factor] = 'Product Indicator'  AND l1.[Level] = hdr.[UW Product Indicator 2017]
    LEFT JOIN UW_Factors    l2  ON l2.[Factor] = 'Product Indicator'  AND l2.[Level] = hdr.[UW Product Indicator 2021]
    LEFT JOIN UW_Factors    m0  ON m0.[Factor] = 'Return Month'       AND m0.[Level] = hdr.[UW Return Month]
    LEFT JOIN UW_Factors    n0  ON n0.[Factor] = 'Return Year'        AND n0.[Level] = hdr.[UW Return Year]
    LEFT JOIN UW_Factors    o0  ON o0.[Factor] = 'Traveller Count'    AND o0.[Level] = hdr.[UW Traveller Count]
    LEFT JOIN UW_Factors    p0  ON p0.[Factor] = 'Trip Length'        AND p0.[Level] = hdr.[UW Trip Length]
    LEFT JOIN UW_Factors    q1  ON q1.[Factor] = 'Scale'              AND q1.[Level] = CAST(hdr.[UW Issue Year] as varchar)+'Q'+CAST(hdr.[UW Issue Quarter] AS varchar)
    LEFT JOIN UW_Factors    q2  ON q2.[Factor] = 'Scale Destination'  AND q2.[Level] = CAST(hdr.[UW Issue Year] as varchar)+'Q'+CAST(hdr.[UW Issue Quarter] AS varchar)+' '+hdr.[UW Destination 2021 Scale]
    LEFT JOIN UW_Factors    r1  ON r1.[Factor] = 'Large'              AND r1.[Level] = CAST(hdr.[UW Issue Year] as varchar)+'Q'+CAST(hdr.[UW Issue Quarter] AS varchar)
    LEFT JOIN UW_Factors    r2  ON r2.[Factor] = 'Large Destination'  AND r2.[Level] = CAST(hdr.[UW Issue Year] as varchar)+'Q'+CAST(hdr.[UW Issue Quarter] AS varchar)+' '+hdr.[UW Destination 2021 Scale]
),

--Predict cost per policy
Policy_Header_03 AS (
    SELECT 
         *

        ,[MED Freq 2017] * [MED Size 2017] AS [MED CPP 2017]
        ,[MED Freq 2021] * [MED Size 2021] AS [MED CPP 2021]

        ,[CAN Freq 2017] * [CAN Size 2017] AS [CAN CPP 2017]
        ,[CAN Freq 2021] * [CAN Size 2021] AS [CAN CPP 2021]

        ,[ADD Freq 2017] * [ADD Size 2017] AS [ADD CPP 2017]
        ,[ADD Freq 2021] * [ADD Size 2021] AS [ADD CPP 2021]

        ,[OTH Freq 2017] * [OTH Size 2017] AS [OTH CPP 2017]
        ,[OTH Freq 2021] * [OTH Size 2021] AS [OTH CPP 2021]

        ,[MED Freq 2017] * [MED Size 2017] + 
         [CAN Freq 2017] * [CAN Size 2017] +
         [ADD Freq 2017] * [ADD Size 2017] +
         [OTH Freq 2017] * [OTH Size 2017] AS [AUS CPP 2017]
        ,[MED Freq 2021] * [MED Size 2021] + 
         [CAN Freq 2021] * [CAN Size 2021] +
         [ADD Freq 2021] * [ADD Size 2021] +
         [OTH Freq 2021] * [OTH Size 2021] AS [AUS CPP 2021]

        ,[DOM Freq 2017] * [DOM Size 2017] AS [DOM CPP 2017]
        ,[DOM Freq 2021] * [DOM Size 2021] AS [DOM CPP 2021]

        ,[NZL Freq 2017] * [NZL Size 2017] AS [NZL CPP 2017]
        ,[NZL Freq 2021] * [NZL Size 2021] AS [NZL CPP 2021]

    FROM Policy_Header_02
),

--Risk Premium
Policy_Header_04 AS (
    SELECT 
         hdr.*

        ,COALESCE(1.00 + prd.[Loading]  ,1.00)  AS [Product Loading]
        ,COALESCE(adj.[2020_JV_Increase],1.00)  AS [2020 JV Increase]
        ,COALESCE(flx.[Loading]         ,1.00)  AS [2022 Flex Loading]
        ,COALESCE(jvl.[Loading]         ,1.00)  AS [2022 JV Flex Loading]

        ,CASE 
            WHEN [Domain Country] = 'AU' AND LEFT([UW Product Indicator 2017],3) = 'Int' THEN [AUS CPP 2017] * COALESCE(1.00 + prd.[Loading],1.00) * COALESCE(adj.[2020_JV_Increase],1.00)
            WHEN [Domain Country] = 'AU' AND LEFT([UW Product Indicator 2017],3) = 'Dom' THEN [DOM CPP 2017] * COALESCE(1.00 + prd.[Loading],1.00) * COALESCE(adj.[2020_JV_Increase],1.00)
            WHEN [Domain Country] = 'NZ'                                                 THEN [NZL CPP 2017] * COALESCE(1.00 + prd.[Loading],1.00) * COALESCE(adj.[2020_JV_Increase],1.00)
         END AS [Risk Premium 2017]

        ,CASE 
            WHEN [Domain Country] = 'AU' AND LEFT([UW Product Indicator 2021],3) = 'Int' THEN [AUS CPP 2021] * COALESCE(flx.[Loading],1.00) * COALESCE(jvl.[Loading],1.00)
            WHEN [Domain Country] = 'AU' AND LEFT([UW Product Indicator 2021],3) = 'Dom' THEN [DOM CPP 2021] * COALESCE(flx.[Loading],1.00) * COALESCE(jvl.[Loading],1.00)
            WHEN [Domain Country] = 'NZ'                                                 THEN [NZL CPP 2021] * COALESCE(flx.[Loading],1.00) * COALESCE(jvl.[Loading],1.00)
         END AS [Risk Premium 2021]

    FROM Policy_Header_03 hdr
    LEFT JOIN UW_2020_JV_Increase adj ON hdr.[Domain Country] = adj.[Domain_Country] AND hdr.[UW JV Description 2021] = adj.[JV_Description_Orig] AND hdr.[UW Issue Year] = 2020
    LEFT JOIN UW_Factors          prd ON prd.[Factor] = 'Product Loading' AND prd.[Level] = hdr.[Product Code]+' '+hdr.[Plan Type]
    LEFT JOIN UW_Factors          flx ON flx.[Factor] = 'Flex Loading'    AND flx.[Level] = CAST(hdr.[UW Issue Year] as varchar)+REPLACE(STR(hdr.[UW Issue Month],2),' ','0')+' '+hdr.[UW Destination 2021 Flex]
    LEFT JOIN UW_Factors          jvl ON jvl.[Factor] = 'JV Flex Loading' AND jvl.[Level] = CAST(hdr.[UW Issue Year] as varchar)+REPLACE(STR(hdr.[UW Issue Month],2),' ','0')+' '+hdr.[UW Destination 2021 Flex]+' '+hdr.[UW JV Description 2021]
),

--UW Premium
Policy_Header_05 AS (
    SELECT 
         hdr.*
        ,cat.[Loading] AS [CAT Loading]
        ,tlr.[Loading] AS [TLR]
        ,[Risk Premium 2017] * cat.[Loading] / tlr.[Loading] AS [UW Premium 2017]
        ,[Risk Premium 2021] * cat.[Loading] / tlr.[Loading] AS [UW Premium 2021]

    FROM Policy_Header_04 hdr
    LEFT JOIN UW_Factors  cat ON cat.[Factor] = 'CAT' AND cat.[Level] = hdr.[UW Issue Year]
    LEFT JOIN UW_Factors  tlr ON tlr.[Factor] = 'TLR' AND tlr.[Level] = hdr.[UW Issue Year]
),

Policy_Header_06 AS (
    SELECT 
         hdr.*
        ,CASE 
            WHEN [Issue Date] <= '2020-02-28' AND [Sell Price] > 0              THEN [UW Premium 2017]
            WHEN [Issue Date] <= '2020-12-31' AND [UW Policy Status] = 'Active' THEN [UW Premium 2017]
            WHEN [Issue Date] >  '2020-12-31' AND [UW Policy Status] = 'Active' THEN [UW Premium 2021]
            ELSE 0
         END AS [UW Premium Score]

    FROM Policy_Header_05 hdr
)

SELECT * 
FROM Policy_Header_06
;
GO
