USE [SSISDB]
GO
/****** Object:  UserDefinedDataType [internal].[adt_component_id]    Script Date: 20/02/2025 10:29:28 AM ******/
CREATE TYPE [internal].[adt_component_id] FROM [nvarchar](50) NULL
GO
