USE [SSISDB]
GO
/****** Object:  UserDefinedDataType [internal].[adt_message_text]    Script Date: 20/02/2025 10:29:28 AM ******/
CREATE TYPE [internal].[adt_message_text] FROM [nvarchar](max) NULL
GO
