USE [SSISDB]
GO
/****** Object:  UserDefinedDataType [internal].[adt_description]    Script Date: 20/02/2025 10:29:28 AM ******/
CREATE TYPE [internal].[adt_description] FROM [nvarchar](1024) NULL
GO
