USE [SSISDB]
GO
/****** Object:  UserDefinedDataType [internal].[adt_sub_component]    Script Date: 20/02/2025 10:29:28 AM ******/
CREATE TYPE [internal].[adt_sub_component] FROM [nvarchar](200) NULL
GO
